[2013-09-28 11:23] Pablo-Merino opened #1 "Guide to building more packages?"
Hey! I wanted to contribute with some packages, but I don't really understand the process of packaging them. Could you make some kind of guide so I could build a few? Thanks!

[2013-09-29 10:32] #1 closed, assigned to nobody

[2013-10-02 00:59] moocow1452 opened #2 "Chromebrew Install Woes"
crosh> shell
chronos@localhost / $ cd ~
chronos@localhost ~ $ wget -q -O - https://raw.github.com/skycocker/chromebrew/master/install.sh | bash
Downloading ruby...
wget: missing URL
Usage: wget [OPTION]... [URL]...

Try `wget --help' for more options.
Extracting ruby (this may take a while)...
tar: ruby-2.0.0p247-chromeos-x86_64.tar.gz: Cannot open: No such file or directory
tar: Error is not reco

[2013-10-02 19:46] #2 closed, assigned to nobody

[2013-10-23 19:56] srs81 opened #3 "Installing X packages (Thunderbird, Eclipse) using Chromebrew?"
Hi, thanks for Chromebrew! This isn't really an issue - but more a question.

Is it possible to install X packages (and related dependencies) like Thunderbird, Eclipse, etc on Chrome OS using Chromebrew?

Is it possible at all - or too hard to get X packages running on Chrome OS?

[2013-10-23 20:29] #3 closed, assigned to nobody

[2013-11-13 18:02] nlilja opened #4 "Cross compiling on x86 to ARM?"
I was wondering could the current packages be cross-compiled for port to ARM chrome os?

[2014-04-03 20:18] stephentcannon opened #9 "How to remove chromebrew"
Can we get instructions on removing chromebrew?

[2014-04-05 16:21] stephentcannon opened #10 "cups package"
A cups package would be a nice addition if cups can work on chromeos.  It should.

[2014-04-20 12:58] #9 closed, assigned to nobody

[2014-05-18 08:05] ldong opened #11 "compile vim74 manually"
Hi @skycocker, I've downloaded vim74 and try to compile it locally. Because I want it to have python support, while current packag-vim doesn't have that.

[code]

can you help me for that? gcc and make are installed, thank you.

[2014-05-18 08:17] ldong opened #12 "update python to 3.4?"
Could you provide a new package for python3.4, since python3.4 ships with pip and it's definitely good to have.

[2014-06-20 23:15] thirdreplicator opened #13 ""crew install vim" fails"
chronos@localhost ~ $ crew install vim
Found vim, version 7.4
Following packages also need to be installed:
ncurses
Do you agree? [Y/n]
Y
Proceeding...
Found ncurses, version 5.9-chromeos1
Package ncurses already installed, skipping...
Found vim, version 7.4
No precompiled binary available for your platform, downloading source...
--2014-06-20 16:11:16--  ftp://ftp.vim.org/pub/vim/unix/vim-7.4.tar.

[2014-07-26 07:14] appelgriebsch opened #16 "Ruby 2.0: gem install rails failed"
The default installed Ruby 2.0 doesn't allow to install additional modules like Rails via 'gem install <package>':

ERROR:  Loading command: install (LoadError)
        /usr/local/lib/ruby/2.0.0/x86_64-linux/openssl.so: undefined symbol: d2i_ECPKParameters - /usr/local/lib/ruby/2.0.0/x86_64-linux/openssl.so
ERROR:  While executing gem ... (NoMethodError)
    undefined method `invoke_with_build_arg

[2014-07-28 06:57] #16 closed, assigned to nobody

[2014-09-12 10:53] iamchanghyunpark opened #27 "Could we get Man-pages?"
Okay, this may not be a chromebrew specific issue,
But I was looking for a way to install man pages into crosh...

I checked out the following man-pages, and I've installed the manuals from below
https://www.kernel.org/doc/man-pages/

however, I haven't been able to find the actual man 'reader' binary, or source code...

Any ideas?

[2014-09-17 17:33] dev-edo opened #28 "python 2.7"
How do I use python 2.7 instead of 3.x by defult?

[2014-09-18 09:39] julian-klode opened #30 "Multiple GPL & LGPL license violations"
There are two sorts of license violations I have noticed on a quick look:

You have provided several packages licensed under the GPL or LGPL in binary form only, without their source code or a note on how to get the source code, and are thus in violation of their licenses. Please see the licenses for the concrete requirements you have to follow.

You have linked git against openssl, thus violating

[2014-10-23 23:07] 0E800 opened #32 "Unable to install chromebrew - out of disk space error"
Apologies, I just posted a comment and then realized it was closed.

Im using build Camd64OS-20141023010101.img by ArnoldtheBat. When I run the install script it installs ruby and gcc but shortly after that I notice a lot of cannot mkdir, no space left errors. The script fails.

Do I need to install Chrome OS to the HD in order to install chromebrew? The usb stick I am using is 16gb.

[2014-11-01 19:40] thonixx opened #34 "zsh installation misses libncursesw.so.5"
After successfully installing zsh it fails because of missing library libncursesw.so.5.

[code]

[2014-11-01 22:53] xran-deex opened #35 "nano install fails - missing curses.h"
So, I had to wipe my chromebook and as I reinstalled all my software from chromebrew, I ran into this missing header file while installing nano. I must have already had the header file from when I installed nano prior to writing the chromebrew script. Anyway, ncurses is installed, I think, from a binary file. Could the ncurses script be changed to downloading the source and compiling the binary fr

[2014-11-19 04:59] jbaum98 opened #37 "Initial permissions on dest"
The initial permissions on `/usr/local/tmp/crew/dest' are that the owner and group are`root`. This means anything that is compiled locally fails, but anything with a precompiled binary is fine. Can be fixed with

[code]

Running install.sh line by line and checking the permissions each line, I found that while it is definitely created with the correct permissions, after running line [Line 97](http

[2014-11-19 06:08] jbaum98 opened #39 "Messes up order of 2 layers of dependencies"
For example, if `autoconf` requires `m4`, and `m4` requires `libsigsegv`, although `crew install m4` will install `libsigsegv` first correctly, `crew install autoconf` will try to install `m4` before `libsigsegv`.

[2014-11-19 16:31] #30 closed, assigned to nobody

[2014-11-19 16:33] #11 closed, assigned to nobody

[2014-11-19 16:33] #13 closed, assigned to nobody

[2014-11-19 16:36] #35 closed, assigned to nobody

[2014-11-19 16:36] #32 closed, assigned to nobody

[2014-11-19 16:37] #28 closed, assigned to nobody

[2014-11-19 16:38] #37 closed, assigned to nobody

[2014-11-20 00:44] jbaum98 opened #41 "No way to update crew command itself"
Maybe we should symlink to `/usr/local/bin` so a `git pull` from `/usr/local/lib/crew/` will update it.

[2014-11-20 13:24] #41 closed, assigned to nobody

[2014-11-21 14:49] #34 closed, assigned to nobody

[2014-11-21 22:03] #39 closed, assigned to nobody

[2014-11-25 08:23] thonixx opened #48 "No error handling when ruby download fails"
I have the situation that I upgraded with `sudo crew upgrade` and encountered an HTTP error 401 while downloading ruby. Now obviously ruby is gone and I can not execute crew again. I have to reinstall it with reinstallation.

Maybe it would be good to have some kind of error handling in such cases where the old version is getting held until the new one is installed successfully.

Quote:
[code]

[2014-12-05 01:20] jbaum98 opened #49 "Rpath not set for anything"
I realized that the rpath is not set for any of the precompiled binaries included in Chrombrew. This is a problem, especially because we don't have write permissions on /etc/ld.so.cache so we cannot rely on `ldconfig` at all. This also manifests itself in the problem with `ncurses` and why we need the hacky solution. This can be fixed by recompiling the prebuilt binaries with the right LD_FLAGS. A

[2014-12-08 06:19] jbaum98 opened #50 "Chromebrew can be used to install Linuxbrew"
Because chromebrew provides `gcc`, `git`, and `ruby`, it can be used to install [Linuxbrew](https://github.com/Homebrew/linuxbrew), and with it most of the packages there. Therefore maybe Chromebrew should change focus to creating a one-script-install process that results in a Linuxbrew installation.

[2014-12-08 15:16] #50 closed, assigned to nobody

[2014-12-29 04:43] dmcaulay opened #52 "crew openssl installation breaks https certificate verification"
It looks like this issue was simply ignored by adding the `--no-check-certificate` option in https://github.com/skycocker/chromebrew/commit/8b773b1b46d7a2b8b404f591f1768f022c7aa51d. I verified that removing the chromebrew openssl installation fixed the issue for me. If I have more free time I'll continue to investigate.

[2015-01-03 04:39] antoniotorres opened #55 "Nodejs Package Binary - 404 Not Found"
Nodejs binaray (x86_64) package has a broken URL.

[2015-01-03 23:39] skycocker commented on #55
Sadly, I removed it, since I had no other copy or anything. The contributor has removed the file, not much I can do about it :(

Thanks for letting me know.

[2015-01-03 23:39] #55 closed

[2015-01-06 09:12] frontalot opened #56 "Lots of configure: error when installing packages"
For example, when installing nano, I see the output:

[code]

Is this normal? If not, any ideas on what went wrong and how to fix it?

[2015-01-07 21:17] skycocker commented on #56
Not normal unfortunately. Could you paste your output of `echo $PATH` ?

[2015-01-08 08:10] ghost opened #57 "ruby dowload fail - 401 not authorized"
--2015-01-08 10:08:45--  https://dl.dropboxusercontent.com/s/bwb315aluunam6b/ruby-2.0.0-p247-chromeos1-chromeos-x86_86.tar.gz?token_hash=AAGYQhHhEpgAHCKtVVonVlXIJKZOWzq3arNsirxcRJQgLA&dl=1
Resolving dl.dropboxusercontent.com... 23.21.210.59, 23.21.216.250, 23.21.244.13, ...
Connecting to dl.dropboxusercontent.com|23.21.210.59|:443... connected.
WARNING: cannot verify dl.dropboxusercontent.com's ce

[2015-01-09 00:24] faddah commented on #57
@skycocker ,

i'm seeing this also with both the ruby and vim packages. +1. happens whether or not i prefix the command with ```sudo```. anything to be done about this? wait for an update for these packages? please advise.

best,

--  faddah
    portland, oregon

[2015-01-09 08:55] skycocker commented on #57
@faddah @hiswitness I'll be looking at it in the evening or tomorrow.

[2015-01-09 08:58] faddah commented on #57
@skycocker,

thanks! do keep us updated.

--  faddah
    portland, oregon, u.s.

[2015-01-09 13:40] hiswitness commented on #57
@skycocker

Thanks very much for the quick response, really appreciated. Crew is a great idea, just what I needed!!

Adam

[2015-01-10 12:14] skycocker commented on #57
@hiswitness `crew update` and let me know if Ruby works now.
@faddah with vim? could you `crew update` and then post me the output of `crew install vim`? For me vim is working fine.

[2015-01-10 20:16] hiswitness commented on #57
@skycocker I did <code>crew update</code> and ran into a different error

<code>
chronos@localhost / $ crew install ruby
Found ruby, version 2.0.0p247-chromeos1
Following packages also need to be installed:
binutils gmp mpc mpfr glibc gcc make linuxheaders buildessential readline zlibpkg
Do you agree? [Y/n]
y
Proceeding...
Found binutils, version 2.23.2
Package binutils already installed, skipping

[2015-01-13 19:45] frontalot commented on #56
chronos@localhost / $ echo $PATH
/usr/local/bin:/usr/bin:/bin:/opt/bin

[2015-01-13 19:45] frontalot commented on #56
I'm also getting this error when attempting to install nano:

chronos@localhost / $ sudo crew install nano
Found nano, version 2.3.6
Following packages also need to be installed:
libsigsegv diffutils binutils gmp mpc mpfr glibc gcc make linuxheaders buildessential ncurses
Do you agree? [Y/n]
y
Proceeding...
Found libsigsegv, version 2.10
No precompiled binary available for your platform, downloadi

[2015-01-13 19:47] frontalot commented on #57
I'm encountering the same error.

[2015-01-13 20:36] skycocker commented on #56
Ok, I'll be looking at it once I set up a virtual machine, so maybe somewhere this weekend. Sorry for the delay but I'm working a lot :/

[2015-01-13 22:45] faddah commented on #57
hi @skycocker ,

ok, here's the output when i do ```crew update``` and then ```crew install ruby``` --

[code]

this happens each and every time i try and install with ```crew``` for the ruby package. now here is the results for vim --

[code]

... so there you go. checksum mismatches, each time, both packages. the funny thing is, i can get to them in my shell, but if i do ```crew search``` on the

[2015-01-16 23:36] jreut opened #58 "dartsdk links no longer exist"
When installing the `dartsdk` package, the installation is aborted due to a 'checksum mismatch'. A quick check of the URLs in the package reveals that they return status 404: Not Found.

[2015-01-19 21:40] faddah opened #59 "nano & emacs packages shown as installed but do not launch from command line -- $PATH ?"
hello @skycocker ,

using your chromebrew tool, i installed both nano and emacs to have some choices in command line word processing. they show as installed when i do `crew search`  --

[code]

and here is what happens if i try and install again, the packages show as all ready installed, as here with nano --

[code]

... and here with emacs --

[code]

however, each and every time i attempt to lau

[2015-01-20 21:22] skycocker commented on #59
It's probably not your fault. I'll be looking at it when I find some spare time.

[2015-01-23 21:54] jrschumacher opened #60 "Read-only file system"
When trying to change permissions

[code]

[2015-01-29 00:00] faddah commented on #59
hi @skycocker ,

is there any update on these issues yet? please advise when you can. thank you.

best,

—  faddah
     portland, oregon, u.s.a.

[2015-01-29 00:01] faddah commented on #57
hi @skycocker ,

is there any update on these issues yet? please advise when you can. thank you.

best,

—  faddah
     portland, oregon, u.s.a.

[2015-01-30 17:21] tommyvanduyne commented on #60
I think I have a solution:
I ran this code,
    sudo /usr/share/vboot/bin/make_dev_ssd.sh --remove_rootfs_verification

and I got this returned:
<<ERROR: YOU ARE TRYING TO MODIFY THE LIVE SYSTEM IMAGE /dev/sda.
  The system may become unusable after that change, especially when you have
  some auto updates in progress. To make it safer, we suggest you to only
  change the partition you have booted

[2015-01-31 15:19] skycocker commented on #60
It's all about chrome os, not chromebrew. Closing.

[2015-01-31 15:19] #60 closed

[2015-01-31 15:39] jrschumacher commented on #60
@tommyvanduyne thanks for the tips

[2015-02-04 19:44] mrzmmr commented on #59
@faddah ,
I was able to install both nano and emacs without a problem.
Did you make sure that /usr/local/bin was in your $PATH
[code]
also did you check /usr/local/bin to see if either nano or emacs binaries were in there? If they are and /usr/local/bin is in your path then you could try just adding an alias to ~/.bashrc

[code]

[2015-02-06 22:33] faddah commented on #59
hello @mrzmmr & @skycocker ,

thank you for responding. still waiting to hear an update from @skycocker, however.

yes, i know ```$echo $PATH``` and yes, ```/usr/local/bin``` is in my ```$PATH``` statement.

however, if i do ```ls -a /usr/local/bin```, that comes back showing no nano or emacs in that directory, whatsoever. however, if i do ```crew install nano``` or ```crew install emacs```, what

[2015-02-06 22:55] faddah commented on #59
@skycocker & @mrzmmr,

**update**:

i did a ```sudo crew remove nano``` and ```sudo crew remove emacs``` and removed both applications, then made sure both showed as not installed with ```crew search``` and that was indeed the case.

then i reinstalled both with ```crew install nano``` and ```crew install emacs```.

now both are installed fine — they are both in the ```/usr/local/bin``` directory

[2015-02-06 23:03] faddah commented on #57
hi @skycocker,

still waiting to hear on this. have tried ```crew update```, then trying to remove ruby if it thinks it is installed with ```sudo crew remove ruby```, but get —

[code]

and if i try to install it, still, with ```crew install ruby``` after the update, i still get —

[code]

any help in fixing this would be appreciated. thank you.

best,

—  faddah
     portland, oregon, u.s.a.

[2015-02-17 17:05] pollardfamily commented on #4
Hello all,

I just wanted to pop in and share. I have an old CR-48 http://cr-48.wikispaces.com/Specifications and this worked for me.

[2015-02-24 00:19] noahleigh opened #62 "Update python27 package to Python 2.7.9 ?"
Is it upgradable just by replacing the source_url and source_sha1 to the latest versions? Or does it require more testing?

[2015-03-02 20:00] colemickens opened #63 "Package mosh client"
Hello,

I attempted to do this myself but ran into enough pitfalls that I decided to just file an issue and see if someone else has the chops for it.

I'd like to see "mosh" built for Chromebrew. I got part of the way there and then got stuck trying to get protocol buffers to build for Chrome OS.

[2015-03-17 18:19] mjfriedmann commented on #56
same here, unfortunately.  on an acer c720 installing emacs (output below).

Thanks for the awesome tool (this issue notwithstanding ;) )

emacs-24.4.tar.xz                     100%[========================================================================>]  37.89M   735KB/s   in 78s

2015-03-17 14:07:05 (496 KB/s) - 'emacs-24.4.tar.xz' saved [39733124]
Archive downloaded
Unpacking archive, this ma

[2015-03-19 04:16] create commented on #48
+1

[2015-03-26 13:28] HLFH opened #65 "OpenSSL version mismatch. Built against 1000200f, you have 1000105f | need update"
Hi,

I got the following issue:
[code]

Please update openssl.rb to the last version: 1.0.2a.

[2015-03-27 17:37] HLFH opened #66 "We need rdesktop / freerdp package"
Hi,

Please add rdesktop package. With rdesktop, you could easily connect to a VirtualBox VM, so you won't use any shitty Chrome apps or the rdesktop package running via Crouton & Ubuntu Trusty.

Thanks in advance,
HLFH

[2015-03-31 20:02] Downchuck commented on #66
freerdp is an alternative. It'd be nice to have a good RDP client; the Chrome apps market does not have a reliable offering.

[2015-03-31 20:07] Downchuck opened #68 "Create more binary_url package offerings"
It'd be nice to add some packages which already have a binary URL via chromebrew, as it's easier to install them through crew than through tar and move (and such).

[2015-03-31 20:16] Downchuck opened #69 "Redirect error on AWS fetch"
From an attempt at installing ldc:

[code]

curl has multiple warnings and finally, a failure on the redirect. The URL works fine when copied directly into curl -LO on command line.

Terminal dump:
[code]

[2015-03-31 20:23] Downchuck commented on #52
Seems like libcurl could use libcurl-gnutls.so.4 -- not sure if that's related.

[2015-03-31 23:33] Downchuck commented on #69
It appears that curl is now included with ChromeOS.

[2015-04-01 19:21] Downchuck opened #70 "Support tinycore packages"
To support tinycore 64 bit:

Create a glibc wrapper.
/usr/local/bin/wrap:

[code]

Grab a tinycore package, like binutils:

[code]

Now you can run it with your wrapper:

[code]

Tinycore (6.x) binutils is about 2.5megs vs the 37meg chromebrew binutils; chromebrew decompresses to 100megs whereas tcz files are mounted via loopback. Feels like a big win.

-Charles

[2015-04-11 22:26] Downchuck commented on #70
There's also patchelf: https://nixos.org/patchelf.html

[2015-04-12 00:53] jiacontrerasp opened #71 "libsigsegv can't be installed"
Chromium OS by ArnoldTheBat
Versión 44.0.2365.0 (64-bit)
Plataforma 6963.0.2015_04_11_0624 (Developer Build - devbot-x64) developer-build amd64-generic

When I try run: sudo crew install libsigsegv

Show me-->

Build Tools:
checking for a BSD-compatible install... /usr/bin/install -c
checking whether build environment is sane... yes
checking for a thread-safe mkdir -p... /bin/mkdir -p
checking for

[2015-04-12 03:07] tonyxue opened #72 "Add Git folder check at every update"
At the moment, crew will directly run the git fetch command at every update but does not check whether the directory is a valid git directory. In this case, if the directory is not a git folder, git will return error but crew will still prompt `up to date`.
So a check on whether the remote is correct should be added in prior, and fix folder if it is not a git directory.

[2015-04-12 03:15] cigan1 opened #73 "Your device is not supported by Chromebrew yet."
I am trying to install on HP Chromebook 11. I am getting a message "Your device is not supported by Chromebrew yet.".
It would be nice to have a list of supported devices.

Thank you!

[2015-04-12 03:36] gregkrsak commented on #73
no Teresa
On Apr 11, 2015 8:15 PM, "Yonatan Rybinski" <notifications@github.com>
wrote:

[2015-04-12 03:38] gregkrsak commented on #73
(Apologies if I sent a random message-- some visiting kids were playing
with my Moto 360 and activated the voice control.)
On Apr 11, 2015 8:36 PM, "Greg Krsak" <greg.krsak@gmail.com> wrote:

[2015-04-16 20:30] guegrer opened #74 "env: ruby: No such file or directory"
i had an issue with my chromebook now when i run crew i got this error : env: ruby: No such file or directory

is there a way to reinstall crew ???

thanks in advance

[2015-04-16 21:10] l3li3l commented on #73
Chromebrew does not yet support ARM devices. This is readily understood by reading the source but I'll try to make an edit to the readme.

[2015-04-17 22:25] skycocker commented on #73
Readme updated in https://github.com/skycocker/chromebrew/pull/75

[2015-04-17 22:25] #73 closed

[2015-04-17 22:38] skycocker commented on #74
It would be best if you wiped out your whole `/usr/local` directory in such case, since your "issue" might have left some now wrongly addressed stuff. Are you using any other custom software on your chromebook besided chromebrew? If not, it would be easiest to just
`sudo rm -r /usr/local/*`
And then simply install chromebrew again. But if you're not certain if there's something else you might actu

[2015-04-18 00:46] guegrer commented on #74
thanks for your quick answer yes i have install castnow (nodejs) after my crew install about castnow there is ffmpeg feature that can transcode to mp4 is there will have a package fmpeg one day or impossible?

sorry for my poor english

[2015-04-18 12:08] skycocker commented on #74
One day there will be, once someone decides to create one. Did you succeed in fixing your chromebrew? You can always wipe your `/usr/local`, reinstall chromebrew and then install back castnow.

[2015-04-22 23:44] tmccisdj commented on #56
I have the same type of error with vim:
checking for gcc... gcc
checking whether the C compiler works... no

any fix yet?

[2015-04-29 10:14] dev-edo opened #77 "bash: crew: command not found"
When I type crew in it says:

bash: crew: command not found

even though I just installed Chromebrew:

Chromebrew installed successfully and package lists updated.

[2015-05-15 03:18] tmccisdj commented on #56
I had this problem, did you install crew as root? After I tried installing as chronos then I was able to install vim.

[2015-05-24 17:21] liamness opened #79 "Can't install things globally using node or rubygems"
Installing like so

[code]

results in the following error

[code]

Installing an npm module

[code]

does something similar:

[code]

Looks like at least one other person has had this issue too:

http://stackoverflow.com/questions/28334768/ruby-gems-area-not-writeable

This is a filesystem issue, they are trying to write into /root/ which is read only. But why aren't they installing nicely into m

[2015-05-27 17:05] DGO143 commented on #77
Did you try sudo crew?
Also try restarting/reinstalling.
Maybe you could check the directory crew is installed to, I don't know exactly where that is.

[2015-05-30 06:18] frontalot commented on #56
Yes, I installed crew as root.

[2015-05-30 20:58] mrzmmr commented on #79
It looks like you have to change the prefix for npm. just run
[code]
and that should work. You can also run npm config ls -l to see all options.
For ruby gems you can make a ~/.gemrc and include
[code]
Npm has a lot of information on configuration. Heres where I got the answer above:
https://docs.npmjs.com/getting-started/fixing-npm-permissions

[2015-05-31 10:00] liamness commented on #79
This solved things for me:

    sudo chown -R chronos:chronos /usr/local

Then you can install things with rubygems / npm without sudo. If you run with sudo, it tries to install things for the root user, which apparently results in the config being incorrect. So the problem seems to be that things are installing as root, not chronos.

[2015-05-31 12:36] #79 closed

[2015-06-07 01:02] tmccisdj commented on #56
Try installing it as chronos and see if that fixes your problem. It did for me.

[2015-06-07 15:35] naushit commented on #65
I am also affected by this , latest  chromebook update breaks ssh !!   Please update ssh to 1.0.2a

[2015-06-07 20:07] andrew-christianson commented on #65
I'm seeing the same issue on beta channel (currently 43.0.2357 but I've been seeing it for a while)

[2015-06-08 05:00] ngamradt commented on #65
I too am having this issue running the following:

Version 43.0.2357.81 (64-bit)
Platform 6946.55.0 (Official Build) stable-channel falco
Firmware Google_Falco.4389.92.0

[2015-06-08 05:45] ngamradt commented on #65
Actually, it appears that there is now a standard version of openssl located at...

/usr/bin/openssl

...if you uninstall the crew version...

sudo crew remove openssl

...then the error goes away.  I can now SSH.  A check of the version (openssl version) shows...

OpenSSL 1.0.2a 19 Mar 2015

[2015-06-08 11:15] naushit commented on #65
Thanks , removing  openssl from chromebrew  fixed the issue.

[2015-06-08 11:33] HLFH commented on #65
Yep, solved this way too. Chromebrew seems discontinued. It would be great if their openssl package could be updated or removed.

[2015-06-08 18:59] ngamradt commented on #65
I wouldn't say that Chromebrew is discontinued.  Since it is open source, I
believe anyone could contribute a package if they would like, but it also
means that a package could be easily abandoned.  It appears that nodejs was
updated not that long ago.  In the case of the openssl package, it appears
that Google is going to now provide one out-of-the-box since they support
SFTP in the Files App.  T

[2015-06-08 19:25] HLFH commented on #65
@ngamradt You're right. Thank you for the recall and precision. So I made a PR https://github.com/skycocker/chromebrew/pull/82 to remove the Chromebrew OpenSSL package.

[2015-06-08 19:25] #65 closed

[2015-06-08 22:20] skycocker commented on #77
@dev-edo you're gonna have to install crew again (and possibly remove the earlier created by install script files). Let me know if it works now - the install script is fixed.

[2015-06-08 22:20] #74 closed

[2015-06-08 22:21] skycocker commented on #69
@Downchuck can we close this?

[2015-06-08 22:22] skycocker commented on #57
@faddah could you try completely reinstalling chromebrew? I guess it's fixed in latest version.

[2015-06-08 22:23] skycocker commented on #58
Dartsdk formula removed from repo. Thanks!

[2015-06-08 22:23] #58 closed

[2015-06-11 04:46] tdingman commented on #65
I'm still getting this error, and I've tried `sudo crew remove openssl`. I'm getting `package openssl not found :(` as a result, which makes sense given the PR above. Any ideas on how I can remove Chromebrew's OpenSSL and let the native version take over?

[2015-06-11 05:09] tdingman commented on #65
OK, for anyone who runs into my same problem, here's the move:

1. `cd /usr/local/lib/crew/packages/`
2. `vim openssl.rb`
3. Copy and paste the contents of [this file](https://github.com/skycocker/chromebrew/blob/470e7e0e9b31e644b00088779fb1ab4bd5b952f0/packages/openssl.rb) in there
4. `sudo crew remove openssl`

[2015-06-11 16:06] Tivoli opened #83 "Tmux no longer installs"
Looks like there are missing headers with the built in Openssl, which causes Tmux to not install anymore.

[code]

[2015-06-11 17:33] skycocker commented on #65
@tdingman do you think we can close this?

[2015-06-11 17:35] tdingman commented on #65
@skycocker it's already closed, no?

[2015-06-11 17:36] skycocker commented on #65
@tdingman oh, sorry, I must have thought it's still open once I got a notification.

[2015-06-14 05:15] hiswitness commented on #57
@skycocker great! but (forgive my ignorance) how would I uninstall chromebrew?? (I only know how to uninstall packages using apt-get in ubuntu :confused: ?

[2015-06-14 19:10] skycocker commented on #57
@hiswitness you have to run `crew search`, this will show you all the available packages, with `(i) ` at the beginning of the ones you have installed. Then for every package that has such `(i)` run `crew remove packagename` (with `packagename` substituted with the package name, ex. `crew remove ruby`).

After you remove every package installed with crew, run:
`sudo rm -rf /usr/local/lib/crew`
`sud

[2015-06-24 05:21] tmccisdj commented on #83
I just ran across this myself. I'm starting to think something like crouton installation without a gui might be the better way of going for myself. I love the idea of chromebrew but I keep running into problems that seem to take more time then it might be worth :(

[2015-07-07 14:05] ruoyu0088 opened #84 "Can't install nodejs"
here is the error message:

`Checksum mismatch :/ try again`

it seems that the checksum in http://nodejs.org/dist/v0.12.0/SHASUMS.txt is not the same as the checksum in nodejs.rb.

[2015-07-10 02:22] nathansmyth commented on #65
Thanks @ngamradt, worked on my hp chromebook 14 to

[code]

now I'm getting

[code]

also big thanks to @skycocker for chromebrew, I'm able to have a sane (almost no crouton now with all the new packages this year) dev environment on my chromebook, of all places!

[2015-07-10 22:37] kresli opened #86 "Unable to install iojs"
Toshiba chromebook 2, intel, 4gb ram
[code]

[2015-07-12 11:55] akalin opened #87 "Go build fails in test phase"
I get this:

[code]

[2015-07-12 13:38] lyxell commented on #86
Line 399-404:
[code]
I will try to reproduce later. I have the same setup.

Could you post the output of `which python` and `python -v`?

[2015-07-19 03:15] akalin commented on #87
Ah, this is probably because /tmp (and a bunch of other partitions) are mounted as noexec.

[2015-07-19 03:21] akalin commented on #87
Ugh, also one of the tests tries to mkdir from /, which fails because it's mounted as read-only.

[2015-07-19 13:18] misfirerm commented on #84
Same thing here. All dependencies install ok, but not nodejs:
==============================================

Found nodejs, version 0.12.0
No precompiled binary available for your platform, downloading source...
WARNING: timestamping does nothing in combination with -O. See the manual
for details.

--2015-07-19 08:12:27--  http://nodejs.org/dist/v0.12.0/node-v0.12.0.tar.gz
Resolving nodejs.org...

[2015-07-30 23:06] lagerratrobe commented on #87
Confirmed.  I can get past the /tmp problem by remounting it, but the attempt to write at / is still a problem.
[code]

[2015-08-05 22:10] rac3rx commented on #56
I have the same problem; any suggestions?

[2015-08-07 22:37] kresli opened #93 "checksum not matched for vim"
`Checksum mismatch :/ try again`

[2015-08-09 20:32] fkunze opened #94 "emacs no info nodes"
I love chromebrew!
the message "can't find the Info directory node is displayed in response to ^h i
Fritz Kunze
fkunze@gmail.com
version GNU Emacs 24.4.1 (x86_64-unknown-linux-gnu)                              |
 of 2015-06-08 on localhost"

[2015-08-11 19:02] clshortfuse commented on #71
I did a couple of things I got it to installl.

I get this error when I try to do sudo ./compile

try without the sudo. you can also try running it from ~ or from /usr/local/tmp/crew

[2015-08-14 19:18] Tivoli commented on #86
@kresli This should have been fixed with the last merge, can you try again?

[2015-08-15 16:15] samuelwight opened #96 "Can't install nodejs"
I was able to install it a few days ago, but I had to remove it. I tried reinstalling it, but I get an error:

ln: failed to create symbolic link ‘/usr/local/bin/cc’: File exists
nodejs failed to install: `sudo ln -s /usr/local/bin/gcc /usr/local/bin/cc` exited with 1

Help please!

[2015-08-17 14:01] skycocker commented on #96
Please paste the output of
`ls -lh /usr/local/bin/gcc`
`ls -lh /usr/local`
`ls -lh /usr/local/bin/cc`

[2015-08-24 05:20] jwhipp opened #97 "Various installs fail due to un-resolvable url"
--2015-08-23 23:13:33--  http://softlayer-dal.dl.sourceforge.net/project/zsh/zsh/5.0.7/zsh-5.0.7.tar.gz
Resolving softlayer-dal.dl.sourceforge.net... failed: Unknown host.
wget: unable to resolve host address 'softlayer-dal.dl.sourceforge.net'
Checksum mismatch :/ try again

I was able to install htop right before I tried ZSH.  I'm guessing a bad URL in the recipe.

[2015-08-24 05:23] jwhipp commented on #93
Did this fail due to an invalid URL?

[2015-08-24 12:22] #97 closed

[2015-08-24 12:22] skycocker commented on #97
Zsh should now work fine. Please open new issues if you find something else not working. Thanks! :)

[2015-08-24 12:24] skycocker commented on #93
@kresli please run `crew update` and try again. If the problem persists, please paste the whole console output (more than just 1 line).

[2015-08-27 10:07] skycocker commented on #96
@samuelwight is the issue still alive? Please run `crew update` and try again, then let me know.

[2015-08-27 10:08] skycocker commented on #86
@kresli can we close this?

[2015-08-27 10:08] #77 closed

[2015-08-27 12:44] samuelwight commented on #96
@skycocker I found out the problem. I had installed the v package from npm. When I uninstalled node, it left some stuff behind. I powerwashed my Chromebook and everything works fine now. Thanks for the help!

[2015-08-27 12:44] #96 closed

[2015-08-27 23:16] skycocker commented on #96
@samuelwight thanks for letting know! :)

[2015-08-29 20:37] lyxell commented on #86
This problem occurs when /usr/env python is not version 2.7, io.js (as well as node.js) expects version 2.7 to be the default python.

[2015-09-03 16:28] kresli commented on #86
@skycocker Sorry for late response. Unfortunately Im not using chromebrew anymore. Can't help further. Sorry

[2015-09-03 17:04] skycocker commented on #86
@kresli no problem.
@lyxell I'll try to find some time to alter the io.js install script to set the default python to the right one.

[2015-09-03 17:07] Tivoli commented on #86
@skycocker it already has python27 as a requirement. The error that was posted was an issue with cc to gcc which was fixed.

[2015-09-03 22:06] jagalbraith opened #98 "crew upgrade breaks ruby"
Once you have installed chrome brew, run a crew update it works. Then crew upgrade and it fails and crew is broken at that point and needing to be re-installed. It throws an error that ruby cannot be found.

[2015-09-04 13:14] lyxell commented on #86
@Tivoli Why do you think that? "SyntaxError: invalid syntax" is clearly an error from the python interpreter.

[2015-09-04 23:51] lyxell commented on #86
@Tivoli Ah, alright. Does "depends_on" ensure that "/bin/env python" is version 2.7?

[2015-09-05 17:55] skycocker commented on #86
@Tivoli @lyxell yeah, this *default* python is the thing that I'm worrying about

[2015-09-07 14:58] lyxell commented on #86
I guess
[code]
would work on most (all?) systems.

[2015-09-09 16:35] jwhipp opened #99 "Package Request: rdesktop or freerdp"
Chromeos lacks a decent RDP app.   Not sure how X apps work though, so this really a just a feeler to see if it's even possible to compile and run them on ChromeOS

[2015-09-11 19:52] h-bar opened #100 "cannot execute g++ compiled output files"
After I compiled my c++ code I cannot use execute it and get the message "bash ./a.out permission denied"

[2015-09-11 20:00] Tivoli commented on #100
Where are you running them from @h-bar? There are permissions on the home directories that don't allow you to execute from it. You can update the permissions to allow you to run from your home directory with the following;

[code]

Or you can make a directory in /usr/local and then symlink it in your home directory.

[2015-09-11 22:53] h-bar commented on #100
@Tivoli  Thanks! It's now working '_>' I thought it was due the lack of something in the chromebrew.

[2015-09-14 14:18] cassial commented on #83
same problem here.Thank for your effort.

[2015-09-14 16:16] #86 closed

[2015-09-14 16:17] #62 closed

[2015-09-14 16:18] #100 closed

[2015-09-14 18:59] h-bar opened #103 "libmpc.so.2: cannot open shared object file"
I failed to past the gcc test when I install git from source. It says "C compiler cannot create executables". And then I tried to compile a simple c hello world program. It also failed and the error massage is /usr/local/lib/gcc/x86_64-unknown-linux-gnu/4.8.1/../../../../x86_64-unknown-linux-gnu/bin/ld:cce: file format not recognized; treating as linker script
/usr/local/lib/gcc/x86_64-unknown-lin

[2015-09-14 19:32] Kriskras99 commented on #4
I've got a working version of crew running on my Acer Chromebook 13, will create a pull request tomorrow.

[2015-09-14 20:30] lyxell commented on #83
It might be a good idea to add openssl as a dependency again. Even though the binary now is included natively, the headers like "openssl/bio.h" seem to be excluded.

[2015-09-14 20:58] skycocker commented on #103
what is your device?

[2015-09-14 21:07] h-bar commented on #103
Toshiba chromebook 2

[2015-09-15 14:32] lyxell commented on #103
This is probably due to a missing `--libdir=/usr/local/lib64` for a configure script somewhere. Was git the only thing you tried to install from source?

[2015-09-15 14:40] h-bar commented on #103
nope, anything with gcc test (as far as I konw) fails. And using gcc compiler itself gets the error ld returned 1 exit status.

[2015-09-15 14:48] lyxell commented on #103
Alright, but when did the problem occur? After installing git from source or after installing a git dependency?

[2015-09-15 14:53] h-bar commented on #103
when I doing ./configure for github. Haven't think about dependency yet

[2015-09-15 14:56] lyxell commented on #103
Could you provide a link for the tarball you tried to install?

[2015-09-15 15:17] h-bar commented on #103
I download it from git-scm.com. here is the download link https://www.kernel.org/pub/software/scm/git/git-2.5.2.tar.gz

[2015-09-15 15:45] lyxell commented on #103
Can you ensure you got binutils, gmp, mpc, mpfr and glibc installed?

[2015-09-15 16:08] h-bar commented on #103
chromebrew tells me that I've installed all things you list when I use 'crew search'. Is there any other way to check that without using crew?

[2015-09-15 16:25] h-bar commented on #103
I checked the config.log file and found that there was an error
configure:2819: gcc    conftest.c  >&5
/usr/local/libexec/gcc/x86_64-unknown-linux-gnu/4.8.1/cc1: error while loading shared libraries: libmpc.so.2: cannot open shared object file: No such file or directory
is this due to the mpc package is missing. But when I do  'crew instll mpc', it prints 'I have no idea how to do instll :('

[2015-09-15 17:12] cassial commented on #103
no idea how to install

On Wed, Sep 16, 2015, 00:25 h-bar <notifications@github.com> wrote:

[2015-09-15 21:19] lyxell commented on #103
Remove chromebrew and install it again or reinstall libmpc manually.

[2015-09-17 17:40] elkangaroo commented on #99
Duplicate of #66 .

[2015-09-17 17:45] elkangaroo commented on #12
I think this issue can be closed, as there is a Python 3.4 package: https://github.com/skycocker/chromebrew/blob/master/packages/python34.rb

[2015-09-23 14:22] #12 closed

[2015-09-23 14:22] skycocker commented on #12
@elkangaroo right.

[2015-09-23 14:23] #99 closed

[2015-09-25 00:09] heri commented on #4
awesome @Kriskras99

I have one of the new Chromebook Flip. Am interested in testing

[2015-09-25 21:03] heri commented on #4
Hi all

my understanding is that each package (go, curl, nodejs etc.) needs to be compiled by someone having an ARM chromebook before this can be done?

I'm working on something in a repo

[2015-09-25 21:05] skycocker commented on #4
@heri not every package - just those that are a part of `buildessential`. Once they work, you should be able to compile pretty much everything you need and then create a package.rb file.

[2015-09-25 21:36] heri commented on #4
@skycocker thanks, will do tests

[2015-10-12 20:53] Camarde commented on #93
I get the same problem. I believe the problem isn't with the VIM-package, but with the ruby package.

see output when downloading ruby. I get the same error when trying to install ruby or installoing vim:

[code]

[2015-10-24 05:48] pbrady commented on #103
I'm getting the same configure error about missing libmpc when trying to `crew install python27`.  It turns out that I can compile a simple helloworld program in C and I also have mpc installed:

[code]

`gcc` also apears to be linking to the libraries correctly:
[code]

So it seems like maybe this is a path issue.  Does launching the configure/build script from ruby clobber the environment variab

[2015-10-24 20:52] pbrady commented on #103
It's an issue with RPATH.  Following the advice in #49 fixed the my errors.  `patchelf` can be aquired from the archlinux repos https://www.archlinux.org/packages/community/x86_64/patchelf/

[2015-10-30 11:02] alpinegizmo commented on #103
I'm stuck on this too. I tried to follow the advice above, and sort of installed patchelf, but I can't figure out how to convince the OS to let me execute it. I also tried to compile a simple hello world program. gcc built an executable, but the OS refuses to execute it ("permission denied", even though it is world executable).

Is there a way to cleanly uninstall chromebrew? I might want to start

[2015-10-30 11:28] alpinegizmo commented on #103
I'm stuck on this too, but my situation is different. Although I have a 64-bit machine, I don't have a /usr/local/lib64. I have a working gcc and ruby, etc, but they're all 32-bit for some reason. I wanted to install emacs, but can't:

    checking for gcc... gcc -m64
    checking whether the C compiler works... no
    configure: error: in `/usr/local/tmp/crew/libsigsegv-2.10':
    configure: erro

[2015-11-03 15:28] alpinegizmo commented on #71
This is failing for me as well. The problem seems to be related to 64-bit vs 32-bit -- I'm running cloudready, and everything is 32-bit even though I have a 64-bit machine. configure decided to use -m64 and wants to find /usr/local/lib64, but that doesn't exist.

sudo or not, makes no difference.

chronos@localhost / $ cd ~
chronos@localhost ~ $ crew install libsigsegv
Found libsigsegv, version 2.

[2015-11-04 21:34] Tivoli commented on #84
This issue should be fixed @skycocker, if someone else wants to verify.

[2015-11-04 23:27] faddee opened #110 "Not able to create symlinks with npm"
Trying to install rimraf with `$ npm i rimraf` and i get the following error:

npm ERR! Error: EPERM: operation not permitted, symlink '../rimraf/bin.js'
npm ERR!     at Error (native)
npm ERR!  { [Error: EPERM: operation not permitted, symlink '../rimraf/bin.js'
npm ERR!   errno: -1,
npm ERR!   code: 'EPERM',
npm ERR!   syscall: 'symlink',
npm ERR!   path: '../rimraf/bin.js',
npm ERR! Please try

[2015-11-09 20:16] faddee commented on #110
Found out that Chrome OS formats external drives with FAT32 which doesn't support symlinks. Formatted my SD to ext4 and it works now.

[2015-11-09 20:16] #110 closed

[2015-11-09 20:45] faddee opened #111 "cc command not found"
When installing node-sass with npm I got the following error: `make: cc: Command not found`

Solved it by creating a cc-symlink to gcc: `$ ln -s /usr/local/bin/gcc /usr/local/bin/cc`

Just wanna let you know. Not sure if this is your issue but it would probably save someones headache if you created it when you install gcc.

[2015-11-24 17:29] joeyscully opened #113 "Install nodejs"
getting ' package nodejs not found :( '

tried the curl package and that works fine.  nodejs is also not showing up following the search command.

[2015-11-24 17:46] #113 closed

[2015-12-08 17:51] ryanpcmcquen commented on #71
This fixes it:

https://github.com/skycocker/chromebrew/pull/114

[2015-12-08 19:16] ryanpcmcquen commented on #71
Actually this makes the architecture value modular:

https://github.com/skycocker/chromebrew/pull/116

[2015-12-08 19:29] ryanpcmcquen commented on #103
I wonder if this would help at all? https://github.com/skycocker/chromebrew/pull/116

[2015-12-09 20:48] ptarjan opened #117 "Installation instructions aren't clear"
It gives me a command to run on my chromebook, but where do I run it? If I try the terminal (which I open by pressing CTRL + ALT + T) I get `Unknown command: 'wget'`. Where else I can run your command? Do I have to do developer mode? Is so, please mention that and maybe point to a full tutorial.

[2015-12-09 20:58] Kriskras99 commented on #117
You first need to type shell to get in the real terminal. If that gives an error developer mode isn't enabled and you will need to enable it.

[2015-12-09 20:59] ptarjan commented on #117
I'll try that, but all I ask is that you add it to your README please.

[2015-12-09 21:18] Kriskras99 commented on #117
Please see my pull request (#118), and say if you think anything else should be added.

[2015-12-09 21:24] ptarjan commented on #117
Thanks for being so quick. It looks good but I would tell people the common error when you type shell on a non-developer mode and point them back to the above section.

Sent from my iPhone

[2015-12-09 21:32] Kriskras99 commented on #117
Any more ideas?

[2015-12-10 00:45] ptarjan commented on #117
lgtm
shipit

Sent from my iPhone

[2015-12-10 08:18] Kriskras99 commented on #117
Then it's waiting for @skycocker to merge it.

[2015-12-10 10:49] #117 closed

[2015-12-10 10:50] #71 closed

[2015-12-10 10:51] skycocker commented on #103
@alpinegizmo, @pbrady @h-bar please reinstall Chromebrew and let us know whether the problem is now solved.

[2015-12-10 14:27] ryanpcmcquen commented on #49
We could also get around this by updating the `gcc` and `glibc` toolchain, and building it with rpath set. @skycocker seemed interested in doing this but we may need some help from the community.

[2015-12-12 00:44] emran26 opened #119 "Can't use traditional linux commands such as apropos and man for example"
There are some others too but I keep getting command not found. I am following the steps in:

http://cli.learncodethehardway.org/book/

and I can't do some of the commands that are listed there. Is there something I'm doing wrong?

[2015-12-12 08:13] Kriskras99 commented on #119
You're doing nothing wrong, if you used these commands on ubuntu for example they would work. The Chrome OS CLI is just really basic so some commands won't work.

[2015-12-19 14:48] thedamian opened #125 "JDK8 package for 64bit is missing (404 error) on dropbox"
in the JDK8 package (https://github.com/skycocker/chromebrew/blob/master/packages/jdk8.rb) for the x86_64 you are pointing to: "https://www.dropbox.com/s/2zohwl033i6rol2/jdk1.8.0_25_x86_64.tar.gz?dl=0"

it's a 404 error, and drop box does not have that file.

It throws a "Checksum mismatch :/ try again" But it's the fact the file is missing in dropbox that's the issue.

Thank you. and I LOVE this

[2015-12-19 20:49] idvoretskyi commented on #83
I have the same issue. Please, provide us with the informations of how-to solve it.

[2015-12-22 00:04] whitneyit opened #128 "Support for xclip"
Would it be possible to add support for `xclip` or something similar?

[2015-12-23 12:24] thedamian commented on #128
Can I suggest you:
1) crew install buildessential
2) download and unzip the xclip code: http://sourceforge.net/projects/xclip/
3) follow these instructions (except for the last step of creating the man files) https://github.com/milki/xclip/blob/master/INSTALL
4) copy the xclip bin to /usr/local/bin (with sudo): sudo cp xclip /usr/local/bin

(if it's a whole library the correct way is to copy the w

[2015-12-23 12:29] thedamian commented on #125
I have a pull request to fix this link in the package file:
https://github.com/skycocker/chromebrew/pull/127

But I can suggest looking for your own jdk8.rb file (I thnk it's in the /usr/local/lib/chromebrew/packages) and copying the 32bit version of the JDK to the 64bit version. install the jdk8 package using crew and then going to the official jdk8 link (http://www.oracle.com/technetwork/java/ja

[2015-12-23 12:38] thedamian commented on #93
This is the same problem as the JDK8 package.

Here's how to fix it.

Your package (ruby.rb) file is out of date. I don't know how to update it (which command updates the package file itself) but it's easy to do manually.

Edit the ruby.rb file already on your computer that should be in somewhere like /usr/local/lib/crew/packages (or look for it)

Now copy the content of the latest file (it's a si

[2015-12-23 12:40] thedamian commented on #70
Great suggestion. Thank you both!

[2015-12-23 14:51] thedamian commented on #98
Fixed in this issue: https://github.com/skycocker/chromebrew/issues/93

[2015-12-23 15:05] thedamian commented on #94
I think you'll get an answer faster if you give us what you were doing, and what happened when you did.

[2015-12-23 15:09] thedamian commented on #48
Fixed by updating your ruby.rb file
See fix here: https://github.com/skycocker/chromebrew/issues/93

[2015-12-23 15:12] thedamian commented on #83
What package is this from?

[2015-12-23 21:55] skycocker commented on #125
shoud I consider it fixed as you PR was merged?

[2015-12-24 03:56] thedamian commented on #125
Yes. That PR is my copy of the file on my box I used to install jdk8 on a 64bit Chromebook pixel.
So I'm closing the issue.

[2015-12-24 03:56] #125 closed

[2015-12-24 04:37] thedamian commented on #48
To fix any issue with the "Checksum mismatch :/ try again" simply run

crew update

This will update all the /usr/local/lib/crew/packages/*.rb files and usually fixes any broken links (or broken checksum mismatches (which really are usually broken download links)

Still not working? Simply update your /usr/local/lib/crew/packages/ruby.rb with the contents on this page:
https://raw.githubuserconten

[2015-12-24 04:37] thedamian commented on #48
This issue should be closed.

[2015-12-24 04:37] thedamian commented on #98
To fix any issue with the "Checksum mismatch :/ try again" simply run

crew update

This will update all the /usr/local/lib/crew/packages/*.rb files and usually fixes any broken links (or broken checksum mismatches (which really are usually broken download links)

Still not working? Simply update your /usr/local/lib/crew/packages/ruby.rb with the contents on this page:
https://raw.githubuserconten

[2015-12-24 04:38] thedamian commented on #98
I think this issue should be closed.

[2015-12-24 04:40] thedamian commented on #93
I suggest this issue be closed.

[2015-12-24 04:42] thedamian commented on #84
There's a new change that fixes this.

Just run:
crew update
then crew upgrade nodejs
(or crew install nodejs if you haven't installed it yet)

You should be fine after that.

Still not working? Simply update your /usr/local/lib/crew/packages/nodejs.rb with the contents on this page:
https://raw.githubusercontent.com/skycocker/chromebrew/master/packages/nodejs.rb

[2015-12-24 04:42] thedamian commented on #84
I suggest closing this issue

[2015-12-24 04:48] thedamian commented on #52
Now I don't know if I didn't install something from crew that will break this. But when trying to test this and  trying the line in that check in that you mentioned and running it from the shell:

wget https://raw.github.com/skycocker/chromebrew/master/lib/package.rb

It works on my box and I have crew and about 10 packages from there installed (including ruby and node and nano etc)

What can I ru

[2015-12-24 04:57] thedamian commented on #94
crew install emacs works perfectly.

Not working for you?
Try crew update
then crew install emacs or crew upgrade emacs.

It should work then.

[2015-12-24 04:57] thedamian commented on #94
I suggest closing this issue.

[2015-12-24 05:00] thedamian commented on #111
Just a quick node. the line is:
ln -s /usr/local/bin/gcc /usr/local/bin/cc

(you had /user)

Other than that. GREAT Suggestion.

[2015-12-24 05:00] thedamian commented on #111
an amazing suggestion. but it's not part of the crew project as a whole unless skycocker decides to add it to the initial scripts (which sounds like a good idea)

So I suggest closing this issue.

[2015-12-24 08:00] Camarde commented on #93
Thanks! I will try to manually update my ruby package.

[2015-12-25 00:45] faddee commented on #111
Thanks for the heads-up with the typo. Edited my comment just in case someone finds this solution without reading the comments. :-)

[2015-12-25 23:53] thedamian commented on #111
The suggestion is excellent. And I did it right away after seeing it. That's how I found the typo. But regardless it a fantastic trick!

[2015-12-26 09:47] yoki123 commented on #87
I download binary golang package from office website, just look at https://github.com/golang/go/wiki/ChromeOS#install-go

[2015-12-26 21:33] idvoretskyi commented on #83
@thedamian what do you mean?

[2015-12-27 23:38] RolluS commented on #103
Hello,

I'm using the latest ArnoldTheBat 64 bits build to date: Version 49.0.2600.0 (64-bit)
Plateform 7769.0.2015_12_26_0614 (Developer Build - devbot-x64) developer-build amd64-generic

I had a similar issue with libmpc 64 not installed.

/usr/local/libexec/gcc/x86_64-unknown-linux-gnu/4.8.1/cc1: error while loading shared libraries: libmpc.so.2: cannot open shared object file: No such file or

[2015-12-28 22:19] create commented on #83
Same issue here. libevent fails to install with
```bufferevent_openssl.c:60:25: fatal error: openssl/bio.h: No such file or directory```

[2015-12-28 22:54] thedamian commented on #83
I tried installing all the openssl includes into the /usr/include but it's mounted as read only.

So would the fix of adding the ssl package back fix this? You can't copy the includes? Or how is this fixed?

P.S. ignore my packges comment (Didn't see it was TMUX)

[2015-12-31 19:57] RolluS opened #131 "Nano: compilation error"
Hello,

First thanks for this awsome package manager!

The problem below can be reproduced on ArnoldTheBat (ATB) i686 and Neverware cloudready (i686 also). Didn't happen on ATB amd64 if I recall correctly, because of precompiled package available.
Dependencies were fine, precompiled or compiled.

Starting from a clean install, compiling nano leads to error :(

Any idea please?

Thanks, Reynald

[2015-12-31 22:45] Kriskras99 commented on #131
Looks like the nano.rb is missing a dependency, libmagic (also known as files).
Download the most recent version at this link: ftp://ftp.astron.com/pub/file/ and build it from source.
Then try installing nano again.

[2016-01-01 14:24] idvoretskyi commented on #83
Folks, so what's the actual status of a fix on the issue?

[2016-01-01 20:26] RolluS commented on #131
Thank you. I'm a noob at that, any tips to configure, make, make install please? Even a step by step would be awsome

[2016-01-01 21:43] thedamian commented on #83
@idvoretskyi like everything in open source. If you don't fix it it doesn't get fixed.

I tried to fix it and I can't figure out how without mounting /etc as writable.

Can you make a suggestion?

[2016-01-01 22:01] Kriskras99 commented on #131
Step-by-step:
[code]
That should work, otherwise just report the errors back.

[2016-01-01 23:05] RolluS commented on #131
Thank you ver much.

I was only missing the prefix argument for configure..

I have an error during ./configure:
`configure:3913: ./conftest
./configure: line 3915: ./conftest: Permission denied
configure:3917: $? = 126`

[2016-01-01 23:17] Kriskras99 commented on #131
There seems to be something wrong with your compiler, try reinstalling buildessential.
If that doesnt work use the following commands and post the output:
[code]
Good luck

[2016-01-01 23:24] RolluS commented on #131
Thanks for your time ;)

[code]

[2016-01-01 23:30] RolluS commented on #131
I'm going to clean my installation and will come back.

[2016-01-01 23:47] Kriskras99 commented on #131
The permission denied is my fault because I forget to say that the home partition is mounted as noexec, sorry. You can temporarily (until the next reboot) mount it as exec with `$ sudo mount -i -o remount,exec /home/chronos/user/`.

[2016-01-02 00:14] RolluS commented on #131
OK, now that's OK:

[2016-01-02 00:15] Kriskras99 commented on #131
And compiling files still gives the same error?

[2016-01-02 00:17] RolluS commented on #131
I'm compiling nano again, actually compiling dependencies...

[2016-01-02 00:22] RolluS commented on #131
OK, thank you very much Kriskras99.

Here is how we solved my issue:
[code]

Thank you so much.

Now, I will edit my fstab to remove the noexec flag of my home partition. I will edit with... Nano haha many thanks

[2016-01-02 00:22] Kriskras99 commented on #131
You dont need fstab just reboot

[2016-01-02 00:23] Kriskras99 commented on #131
And you're welcome

[2016-01-02 00:25] RolluS commented on #131
fstab is empty, I then edit mtab. My goal is to remove the noexec flag, and chmod +x if I want in my home folder. because for sure I won't remember, plus /home is not critical as /

[2016-01-02 17:00] thedamian commented on #131
Not to just add another drip in the ocean, but I've installed the nano.rb package on a x64 chromebook without issues. Just want to calm anyone that has an x64 machine and wants the incredibly useful nano on their machine.

the the problem is with the 32bit version only???

[2016-01-02 17:52] Kriskras99 commented on #131
It looks like that, but I don't have a i686 chromebook to test it myself.

[2016-01-02 23:25] RolluS commented on #131
I think the problem is on 32 bit, because it didn't happen on ArnoldTheBat amd64 if I recall correctly.
Dependencies and nano were fine, but I think everything was already precompiled.

[2016-01-02 23:33] RolluS commented on #131
It haven't happen on ArnoldTheBat amd64 build if I recall correctly, because of precompiled package available, for dependencies and nano.

[2016-01-03 02:36] thedamian opened #132 "New Feature Request Thread"
I suggest making only ONE thread for new features so that we don't fill the "issues" section with REQUESTS.

Also I'll try to make a Wiki (unless someone beats me to it) to show how to create a new Package yourself.

So Please feel free to use this thread to make a request of a package you want. WHERE we can find it. and WHY you need it.

I suggest closing all the other request Issues unless Skyco

[2016-01-03 09:00] Kriskras99 commented on #132
Good idea, here are the current package/feature requests:

Current open package requests:
#10 [Cups](https://www.cups.org/)
#27 Man-pages ([man-db](http://man-db.nongnu.org/) and [less](https://www.gnu.org/software/less/))
#63 [Mosh](https://mosh.mit.edu/)
#66 [rdesktop](http://www.rdesktop.org/) / [freerdp](http://www.freerdp.com/)
#128 [xclip](http://sourceforge.net/projects/xclip/)

Current ope

[2016-01-03 11:22] idvoretskyi commented on #83
@thedamian the same.
I'm not a senior expert in this, so I asked on some suggestions regarding that.

BTW, haven't anybody tried to install tmux using the `dev_install` tool?

[2016-01-04 19:13] lyxell commented on #83
https://github.com/skycocker/chromebrew/blob/470e7e0e9b31e644b00088779fb1ab4bd5b952f0/packages/openssl.rb

Adding this file to the packages folder and installing openssl via chromebrew would probably work.

[2016-01-05 12:23] thedamian commented on #83
Great suggestion lyxell;

would copying the file that it's complaining about to /usr/local/include also work?
Here's the original: https://raw.githubusercontent.com/openssl/openssl/master/include/openssl/bio.h

I know it's suppose to go to /etc/include but where is make/gcc actually looking for it? and are there more dependencies?

[2016-01-05 12:42] thedamian commented on #119
@emran26 I think crouton (http://www.howtogeek.com/162120/how-to-install-ubuntu-linux-on-your-chromebook-with-crouton/) is the answer for you.

It gives you a full linux machine when you want to learn linux. and it gives you chromebook speed and security when you don't.

[2016-01-05 14:50] jparagon commented on #119
And the great thing is eventually with things like chromebrew and linux brew you will have the advantage of a chrome UI / linux command / full linux

I have most of it working right now but there are still some kinks. https://github.com/Homebrew/linuxbrew/wiki/Chromebook-Install-Instructions

[2016-01-05 15:10] jparagon commented on #98
This is still breaking for me..

ruby could be updated from 2.0.0p247 to 2.0.0p247-chromeos1

Run 'crew upgrade' to upgrade everything or 'crew upgrade <packageName>' to upgrade a specific package.
chronos@localhost / $ crew upgrade
Updating packages...
Found ruby, version 2.0.0p247-chromeos1
Ruby removed!
Following packages also need to be installed:
binutils gmp mpc mpfr glibc gcc make linuxhead

[2016-01-05 16:14] thedamian commented on #119
@jparagon I like that link to brew. But @emran26 problem isn't that he has a problem with this version of homebrew and not yours. It's that he wants a full linux machine so he can follow along on his book.

Following your instructions would NOT fix this problem as brew doesn't have a forumal for installing man pages or anything else he wants.

He still needs to either get a shell on any of the fre

[2016-01-05 16:16] thedamian commented on #98
@jparagon help me out. My scroll up key on my mouse is broken. Can you scroll up two comments from yours to see the fix.

thanks.

[2016-01-05 16:31] jparagon commented on #119
I was offering an observation, not a solution.

[2016-01-05 16:36] jparagon commented on #98
Wow..   really?  Look I'm pointing out that by using the default suggestion to upgrade it is breaking things, even after crew update, not so much that there isn't a "fix".

[2016-01-05 16:53] Kriskras99 commented on #98
@jparagon here's a temporary fix:
[code]

[2016-01-05 16:56] jagalbraith commented on #98
Updating the ruby.rb file seemed to do the trick for my system. Thank you. Did these comments get a little snippy or am I reading in to things?

[2016-01-05 17:31] jparagon commented on #98
Thanks,  I probably wasn't clear. I know there is a fix.. I was responding to this

"To fix any issue with the "Checksum mismatch :/ try again" simply run

crew update

Still not working? ""

I was assuming at this point there was a thought that this may be fixed without having to manually update the file.  So I was attempting to help with feedback, not with a problem to solve. Sorry for anyone's

[2016-01-05 18:37] jagalbraith commented on #98
My point is that if there is a problem, lets work together and solve it in the most professional matter.

[2016-01-05 19:09] thedamian commented on #98
It's "Update" not "upgrade"

If you do a "crew update" then the package files get updated.
You still need to do a "crew upgrade ruby" (for example) AFTER the "crew update"

HAVING SAID THAT... I completely understand the confusion @jparagon I looked at your post a couple of times and was scratching my head and thinking that SHOULD have worked!

I think we should think of different names other than

[2016-01-05 19:56] jagalbraith commented on #98
I agree. The terminology, though by nature follows aptitude / apt-get, is confusing. Something simple like crew getpackages and crew upgrade would set them apart.

[2016-01-05 21:02] jparagon commented on #98
@thedamian cool thanks for the info. So I did install -> update -> upgrade -> (checksum mismatch) -> update or upgrade (result in env: ruby: No such file or directory)

Seems like the removal of Ruby followed by the checksum mismatch leaves crew in an inoperable state, which I guess makes sense since Ruby is removed and then the installer has forcibly quit.

chronos@localhost / $ crew upgrade
Upda

[2016-01-05 21:18] jparagon commented on #98
Personally I don't have a problem with the terminology. Update vs upgrade is pretty standard (unless I'm totally missing something here).

Vanilla install
986937249 539 /usr/local/lib/crew/packages/ruby.rb
after crew update
986937249 539 /usr/local/lib/crew/packages/ruby.rb
updated file is
1071586258 31261 ruby.rb

[2016-01-06 21:29] skycocker commented on #98
can we consider it fixed now or is there anything more we could do for the people with broken ruby?

[2016-01-06 21:31] #84 closed

[2016-01-06 21:32] skycocker commented on #84
let's close this for now, if someone comes up with still broken nodejs, he should be able to find this issue quickly and reopen it.

[2016-01-06 21:36] jparagon commented on #98
I looked into this a little more today just trying to understand what is happening and to me it seems that the original ruby.rb file is served and the update never updates the file. As show above the checksum after the update is the same. Is this only a subset of people that this is happening to? If you were to install > update ruby.rm > upgrade does everything work okay?

[2016-01-06 21:37] skycocker commented on #111
AFAIR it should be fixable without the symlinks through come configure or make flag. Anyway, do you think the issue could be closed now?

[2016-01-06 21:38] #93 closed

[2016-01-06 21:38] skycocker commented on #93
Let us know if there are any more problems.

[2016-01-06 21:38] #94 closed

[2016-01-06 21:39] #48 closed

[2016-01-06 22:43] jparagon commented on #98
Okay so I do see a bit of the update / upgrade confusion now. For me it was this message:
$ crew upgrade
Updating packages...

Then looking at the code (sorry, finally got a chance) I can see where it is intermingled. e.g.
[code]

[code]
I'll submit a suggestion for this if I come up with a thought.

But I am still curious, why does the upgrade not work if it is using the file that @thedamian chec

[2016-01-06 22:56] thedamian commented on #98
@jparagon

Please type:
crew update
crew upgrade ruby

And see if that works.

(please copy and paste what you see above because I think you're getting confused.

[2016-01-06 23:29] jparagon commented on #98
@thedamian that is the exact workflow I've been doing, does that work for everyone else? Here is the full output:

[code]

[2016-01-07 06:55] #111 closed

[2016-01-07 16:07] thedamian commented on #98
You are indeed doing everything right @jparagon

To test I screwed up ruby and crew (thanks to @Kriskras99  I'm back)

I did the following

crew remove ruby    <~-- Be careful. This screws up crew
(then followed @Kriskras99 to get it back)

But Luckily it was an older version of ruby.
So I could successfully do "crew upgrade ruby" with complete success.

Here's my output:

chronos@localhost ~/Down

[2016-01-07 16:16] thedamian commented on #98
OH CRAP! I have an updated ruby.rb file from @Tivoli https://github.com/skycocker/chromebrew/pull/124/files

Maybe that's why that worked so well. Damn!

Hmmm...Having said that I'm going back to what else I thought might be the issue. I'm getting a different sha signature for that ruby file in the current ruby.rb

@jparagon can you update manually your /usr/local/lib/crew/packages/ruby.rb and the

[2016-01-07 17:26] thedamian commented on #98
@jparagon

I've made a pull request with this fix:
https://github.com/skycocker/chromebrew/pull/134

Please copy the contents of this file:
/usr/local/lib/crew/packages/ruby.rb  with this: https://raw.githubusercontent.com/thedamian/chromebrew/master/packages/ruby.rb

If this fixes the issue please let us know and more importantly close this issue AND PLEASE comment on the pull.

thank you

[2016-01-07 20:59] lyxell commented on #83
Yes, /usr/local/include would work fine, it is usually searched before /usr/include.
Please note that *only* copying `bio.h` would not work, `bio.h` depends on other files too, such as `crypto.h` etc.

[2016-01-07 21:42] thedamian commented on #98
@jparagon you're life just because very easy thanks to our amazing leader @skycocker

He's just merged https://github.com/skycocker/chromebrew/pull/134

Now just do

crew update
crew upgrade ruby

Or even better yet.

crew update
crew install ruby_latest

Newest version of ruby for you.

[2016-01-08 14:31] jparagon commented on #98
"@jparagon you're life just because very easy thanks to our amazing leader @skycocker"
@thedamian  What? LOL

So I had some time to test (holy crap!) before getting to my email and seeing these updates. But just to confirm I went down the same path and added some debug
[code]
Confirms my confusion as to why this would only break for a subset of users, anyone could try and break right?

Just to be

[2016-01-08 15:03] thedamian commented on #98
@jparagon and @jagalbraith

can you do a
crew update
crew upgrade ruby

one more time. We have a fix that's already on.

If this fixes it for both of you please @jagalbraith close the ticket.

thanks @jparagon for your input in this.

[2016-01-09 03:18] jagalbraith commented on #98
@jparagon  You are dead on with it only breaks for a subset of users. It continues to break for parallels version of chromeOS but on the Chromebook sitting next to me it works. I am chalking this up as a Parallels problem and closing the ticket. Thank you for all your effort guys. My temp fix for this is to build a ruby repair script in bash in the case that I do a crew upgrade.

Again, thanks fel

[2016-01-09 03:18] #98 closed

[2016-01-12 13:17] idvoretskyi commented on #83
@lyxell could you please provide the brief instructions - I will test that on my own.

Thank you.

[2016-01-12 19:17] lyxell commented on #83
@idvoretskyi
`cd /usr/local/lib/crew/packages`
`wget https://raw.githubusercontent.com/skycocker/chromebrew/470e7e0e9b31e644b00088779fb1ab4bd5b952f0/packages/openssl.rb`
`brew install openssl`
`brew install tmux`

[2016-01-12 19:25] lyxell commented on #27
@jbaum98 I don't have a chromebook at the moment to test this myself, could you provide what errors you get when trying the recipe you attached?

[2016-01-13 01:00] jbaum98 commented on #27
Sorry I don't use chromebrew on my chromebook anymore, so I can't test. I wish I'd written down the errors for other people though... sorry.

[2016-01-13 05:17] dhasenan opened #136 "Document / install step for partitions mounted noexec"
Some versions of chromeos mount many partitions with the `noexec` flag. This means that, while gcc can create executables in those directories, configure scripts can't execute them. So the configure scripts fail, claiming that GCC can't produce executables. That kind of makes it hard to install software

If it were at least documented which directory is used for compiling things, I could remount t

[2016-01-13 21:45] thedamian commented on #136
Now I believe all compilation and installations happen in the tmp directories. which DO allow executable (that's why all current packages work)

Can you give us your example or where it failed you?

Also can you explain what you'd like chromebrew to do about this issue?

[2016-01-15 19:52] ttroutman commented on #83
@lyxell
Thank you. This worked perfectly for me.

[2016-01-15 20:32] thedamian opened #138 "Node and node_stable"
I added a new pull https://github.com/skycocker/chromebrew/pull/137 which renames the "nodejs" package to "node" to match how the package on rpm and deb are called now.

They changed from nodejs to node when they joined back with io.js a little while back.

Also updated it .0.1 version to the offical LTS version 4.2.4

I added a "node_stable" package to match node's official "STABLE" version which

[2016-01-16 02:42] lyxell commented on #83
I added a pull request which restores the removed openssl package.

[2016-01-16 02:50] lyxell commented on #138
Is there a reason to why you used the uncompiled version instead of the precompiled in https://github.com/thedamian/chromebrew/commit/faaf0b5272a81a50311c44397944eafca577e309?

[2016-01-16 02:58] lyxell commented on #52
This is impossible to recreate at the moment since chromebrew no longer installs it's own openssl. This issue can safely be closed.

[2016-01-16 14:17] thedamian commented on #138
Because it was easier and closer to what the original package was.

I prefer doing things that work on both x86 and 64x since I only have a 64x Chromebook to test it on.

It does take considerably longer but the reßults are the same.

[2016-01-17 02:18] thedamian opened #140 "Binary Packages or compiled?"
Alright. it's time to brawl!

Do you create packages with binaries that install quickly but need a i686 (32bit) and x64 (64bit) versions?

Or do we have everyone compile everything.

Binary:
PRO - Fast, REALLY FAST! you can be done in maybe 2 minutes)
CON - 32bit and 64bit versions. No one realized java had it's 64bit version missing until I tried it (because the 32bit version works flawlessly)

C

[2016-01-17 15:31] Tivoli commented on #140
I prefer compiling, not just for the easier updating, but as you get into more complex packages, like postgresql for example, that have multiple binaries for its tools would have to be supported and even more of a complex update process. With nodejs, you have npm and node that get installed, so you would have to do multi package updates with that possibly.

[2016-01-17 16:29] jbaum98 commented on #140
I feel like we can emulate Homebrew here, which uses "formulas," which are compiled on every computer, as well as "bottles" which I think are precompoled binaries. You just can have a list of binaries and a way of determining whether or not they are applicable on the machine and compile it yourself as a fallback.

[2016-01-17 22:45] Tivoli commented on #140
I like that idea. :+1:

[2016-01-18 16:55] thedamian commented on #140
cool! In brew do the forumals have these "bottles" ready to go and fall back on them? or you choose "binary or compiled" somehow?

[2016-01-18 22:07] jbaum98 commented on #140
I think if the precompiled "bottle" is available, it will be used unless the user specifies not to. They describe exactly how they decide which to use [here](https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/FAQ.md#why-do-you-compile-everything]).

[2016-01-19 12:16] lyxell commented on #140
One idea could be to set up a server with a hook to this repository which compiled things automatically as soon as the master branch is updated, it's a bit of work but totally possible.

[2016-01-19 14:23] jbaum98 commented on #140
Homebrew uses [Bintray](https://bintray.com/homebrew/bottles).

[2016-01-19 18:16] #52 closed

[2016-01-26 00:12] skycocker commented on #140
I guess we currently kind of resemble homebrew's behavior - precompiled binaries where possible (or necessary), and source builds where there is no binary available. One good thing would be to precompile as much as we can an store it somewhere like mentioned Bintray - but this would require us to have all the possible chromebook architecture variations available somewhere (arm, i686 and x86_64).

[2016-01-26 00:13] #83 closed

[2016-01-26 00:18] skycocker commented on #136
@dhasenan as @thedamian mentioned, chromebrew brew directories should allow file execution. If I understood you correctly - the request you are making is to make some kind of readme/wiki about that?

[2016-01-26 01:05] dhasenan commented on #136
Perhaps this isn't universally applied. I have been able to install some packages, but libsigsegv-2.10 claims that GCC can't create executables, and the simplest explanation would be that it's running configure on a partition that's marked noexec.

Is there a way to print the directory in which it's running configure?

[2016-01-26 11:04] skycocker commented on #136
@dhasenan this is probably a completely different problem than the noexec flag. Could you paste the whole sigsegv build output?

[2016-01-26 15:55] dhasenan commented on #136
[code]

It claims it's working in /usr/local/tmp/crew/libsigsegv-2.10, but I don't see any files that it creates there.

When I compile a hello world program and stick it on a partition that allows executing files, it works.

[2016-01-26 21:02] thedamian commented on #136
Google-ing "C compiler cannot create executables" doesn't reply much with permissions problems but with you either compiling with the wrong flages (64bit on a 32bit platforms)

OR (more likely)

You missing the "crew install buildessential" and "crew install gcc" BEFORE you try to install what ever you're having trouble with.

Let us know if this works.

[2016-01-26 21:49] thedamian commented on #140
Ok. I've done the minimum which is register on bittray but like an idiot I just realized it's under my name.
https://dl.bintray.com/thedamian/ChromeBrew/

do we want to make an official bintray.com/chromebrew

and I don't know to have many people submit to it etc.

[2016-01-27 06:44] dhasenan commented on #136
The "more likely" didn't pan out:

[code]

[2016-01-27 16:11] thedamian commented on #136
Indeed @dhasenan

Can you try this line:

$ ln -s /usr/local/bin/gcc /usr/local/bin/cc

then run the "crew install buildessential gcc"

no need for sudo. (try without it first)

[2016-01-27 18:13] dhasenan commented on #136
No change. sudo was required (probably because I'd used it when first installing crew? -- guessing here)

[2016-01-27 18:40] thedamian commented on #136
When testing you have to be as verbose as possible. @dhasenan

1) You tried the ln and then tried the same line as you did before. and no change.
2) you tried the ln and then you tried WITHOUT sudo and no change.
3) you tried the ln and nothing, and no change?

Help us with which one.

ALSO what platform are you on.

And have you tried: "crew update" first (and then the lines above again)

step us

[2016-01-27 18:57] dhasenan commented on #136
sudo seems to be required for all commands modifying /usr/local, which is owned by root and chmodded 755. I created a symlink from /usr/local/bin/cc to /usr/local/bin/gcc and it didn't help. After running crew update, the original error persisted.

Running on ChromeOS:
Version 49.0.2623.0 dev (64-bit)
Platform 7834.0.0 (Official Build) dev-channel parrot
Firmware Google_Parrot.2685.37.0

[code]

[2016-01-27 19:01] dhasenan commented on #136
As for trying to compile a 64-bit executable on a 32-bit OS, I wrote a program to detect pointer size. It says that sizeof(void*) is 8. /proc/cpuinfo says that the cpu is an Intel(R) Celeron(R) CPU 847 @ 1.10GHz.

[2016-01-30 03:35] thedamian opened #142 "configure: error: C compiler cannot create executables [SOLVED]"
So I think I've fixed the lines that usually include:

configure: error: C compiler cannot create executables
See `config.log' for more details
libsigsegv failed to install:`./configure ..... exited with 77

So if you DO open the "config.log"
and you'll find some reference to the conpiler NOT finding libmpc.so.2

This line seemed to fix it for me:

ln -s /usr/local/lib64/libmpc.so.3 /usr/local/lib

[2016-01-30 14:10] skycocker commented on #142
before we go into ugly symlinking - could you try running `./configure --libdir=/usr/local/lib64` or `./configure --libdir=/usr/local/lib32` (depending on your `getconf LONG_BIT` output) instead of just `./configure`? if this would fix our problems, this is much cleaner solution.

[2016-01-31 14:16] thedamian commented on #142
Good! This is why I created an issue first to get a better idea.

I'm sure I tried the libdir=/usr/local/lib64 before and it did not help it

I was working on adding the new version of git as a package when I was running into that issue and I remember that someone else was getting the same error and this is how I fixed it.

What's the difference between libmpc.so.2 and 3?

I'll document it more an

[2016-01-31 23:00] skycocker commented on #142
@thedamian this is basically something like differences in API versions - v2 might differ in usage from v3, therefore it's explicitly written so you know some calls may not work in newer versions. The fact that sometimes there is no issue with it doesn't mean there won't be problems while doing different tasks.

http://unix.stackexchange.com/questions/475/how-do-so-shared-object-numbers-work

This

[2016-02-01 01:16] thedamian commented on #142
Can I keep it open for just a little while longer. I think there's already a issue that is having the "c compiler not found" which is related to this libmpc.so.2 and I ran into this while compiling .net core, and please excuse me but I'm almost sure I was using the suggestion you mAde. Give me a day more and I'll close it i find that your better solution correctly fixes it.

[2016-02-01 14:24] skycocker commented on #142
Sure - feel free to use this issue while working on all these problems.

[2016-02-03 23:37] thedamian commented on #136
I made a suggestion for this fix. Look into the config.log for that libsigsegv project.

If you see a missing reference to : libmpc.so.2 I think I may have a quick and dirty trick to fix it here: https://github.com/skycocker/chromebrew/issues/142

Tell me first if that's the error you're getting.

[2016-02-03 23:39] thedamian commented on #142
@skycocker
if the issue: https://github.com/skycocker/chromebrew/issues/136 he's talking about getting an error which I'm almost sure is a lib reference problem. if @dhasenan that is is a missing libmpc.so.2
and if his configure looks like this:
./configure --libdir=/usr/local/lib64/ CC="gcc -m64" CFLAGS=" -fPIC"

what other (than what I agree is a dirty symlink trick) would fix this?

[2016-02-04 05:10] bannostookaylo opened #143 "Can't Install Node Stable"
I get these errors when trying to run
`sudo crew install node_stable`

[code]

[code]

[2016-02-04 11:38] skycocker commented on #143
@bannostookaylo you cannot use `crew` with sudo - this is likely the cause of any issues. Remove all your chromebrew-installed packages (if any), then remove chromebrew itself, reinstall chromebrew as non-root user, and then try to install everything you need without sudo. If the problem persists - let us know then. If you need any help with this - don't hestitate to ask as well.

[2016-02-06 02:24] bannostookaylo commented on #143
@skycocker  I did as you said and removed it and re-installed without sudo ... now when I run it I get this

`Build Tools:
checking for a BSD-compatible install... /usr/bin/install -c
checking whether build environment is sane... yes
checking for a thread-safe mkdir -p... /bin/mkdir -p
checking for gawk... no
checking for mawk... mawk
checking whether /usr/local/bin/make: sets $(MAKE)... no
checki

[2016-02-08 12:00] ealgase commented on #143
Happens to me, too.

[2016-02-08 12:01] ealgase commented on #27
I'd like this, too.  I need a man reader and don't want to use Crouton.

[2016-02-08 12:05] ealgase commented on #132
One package I'd like to add is the X windows manager.  You could also install Xfce and Gnome as separate packages.

[2016-02-08 15:45] thedamian commented on #143
can you guys look at the config.log like we asked?

I think it might be in the /usr/local/tmp/crew/**Package name** (try "buildtools" or somethign like that, what ever is newest)

[2016-02-08 16:26] thedamian commented on #27
@ealgase Perfect: Grab the package the amazing @jbaum98 made: https://github.com/jbaum98/chromebrew/commit/f0474699da70ebd2352c1eb2559db37f1b19bb8a

put it in your /usr/local/lib/crew/packages

then run "crew install man_pages"

and tell us the error it gives you (because he says there's an error)

If it tells you to look for a file for the error spit it out.

I'm at work and can't try this.

[2016-02-08 16:27] thedamian commented on #27
oops. I did a quick check and it looks like @jbaum98 deleted the file in dropbox.

I can host it for you @jbaum98 give me a link to download it and I'll try it and reupload it somewhere

[2016-02-10 03:49] jbaum98 commented on #27
I'm sorry but I can't find the binary. It seems weird that I would have deleted it especially because I'm still hosting the JDK8 binary. I just reinstalled Chromebrew though, so I'll take another crack at this formula in the next couple days.

[2016-02-10 04:24] bannostookaylo commented on #143
I can't seem to find the config.log file

[2016-02-11 05:14] bannostookaylo commented on #143
looks like this is an error  i get trying to install anything

[2016-02-11 05:18] thedamian commented on #143
So just to be clear. You are getting an error installing any package? If so please create a new issue. It is most likely just you. You should start from the beginning. But it won't help to put the details in this issue.

[2016-02-11 05:25] bannostookaylo commented on #143
nevermind... i got this error trying to install tmux however i was just able to install openssl without any issues

[2016-02-11 16:14] thedamian commented on #143
@bannostookaylo can you try running each of the following lines ONE AT A TIME and then after EACH line do a crew install tmux

1) ln -s /usr/local/bin/gcc /usr/local/bin/cc
THEN RUN "crew install node_stable"
didn't work?
2) ln -s /usr/local/lib64/libmpc.so.3 /usr/local/lib64/libmpc.so.2
then run "crew install node_stable"

- Worked? POST THAT IT WORKED AND WHAT WORKED HERE PLEASE.
- DIDN'T WORK?

[2016-02-12 05:34] bannostookaylo commented on #143
@thedamian Sorry it did not work...

[code]

[2016-02-12 06:12] bannostookaylo commented on #143
So i made my system writable and read the config.log files from trying to compile and install Python 2.7 ... anyway doing the fixes for that now lets me get further in the crew install process.

[code]

now i am down to this error
[code]

[2016-02-25 01:36] Tenn1518 opened #146 "Can't install vim"
I installed chromebrew today and it's been working well for me so far. Nano installed without a hitch. However, vim is not installing for me. I attempted an install with "crew install vim", and here is a log of what happened. I'm using an x86-64 Dell Chromebook 11.

chronos@localhost ~ $ crew install vim
Found vim, version 7.4
Following packages also need to be installed:
binutils gmp mpc mpfr gli

[2016-03-04 22:30] trisk opened #149 "crew upgrade fails on new install, removes ruby"
I just installed chromebrew for the first time (on CloudReady 46.1.20), and then ran `crew upgrade`:

[code]

[2016-03-04 23:12] trisk opened #150 "readline can't install on i386, missing source_url"
Exceprt from `wget -q -O - https://raw.github.com/skycocker/chromebrew/master/install.sh | bash`

[code]

Also:

[code]

[2016-03-04 23:14] trisk opened #151 "git package fails to create /usr/local/bin/cc symlink"
Excerpt from install script (same as `crew install git`):

[code]

[2016-03-04 23:34] trisk opened #152 "libevent missing openssl dependency"
`crew install libevent` fails with:
[code]
Either the OpenSSL support should be disabled or `openssl` declared as a dependency for libevent.

[2016-03-06 00:31] garevans commented on #4
Sorry to dredge up an old thread, but what's the current status of arm support?

[2016-03-07 00:06] alexmigf opened #153 "Suggestion: Add redshift to packages"
Chrome OS doesn't have an f.lux or redshift good extension or app, and i prefer to use Chromebrew instead of crouton.

Will be good to have at least redshift included in the packages to people that work many hours in front of computer screens.

[2016-03-12 01:25] PascalTemel opened #155 "Errors installing node"
Whenever I try installing node I get the following error:

[code]

This does not happen when I try installing other tools like htop.

[2016-03-15 13:52] Speenah opened #156 "JDK8 does not install correctly"
Most of the error messages look like this:
`mv: cannot stat ‘/usr/local/tmp/crew//usr/local/opt/java/....’: No such file or directory`

Every now and then there's one like
`mv: cannot move ‘/usr/local/tmp/crew//usr/local/opt/java/’ to ‘/usr/local/opt/java/java’: Directory not empty`

I'm assuming none of the files get moved properly since it's a long list of 'cannot stat' and 'cannot move' errors.

[2016-03-15 22:03] idvoretskyi opened #157 "Chromebrew source location on private Dropbox"
When one is going to install the Chromebrew, it's sources are located on the Dropbox - https://github.com/skycocker/chromebrew/blob/master/install.sh#L35

I suppose, it's a bit insecure and may bring the issues to install Chromebrew if the Dropbox account is unavailable/closed/down etc.

What is the reason for this solution?

If there are no objections, I may start to work with source migrating to

[2016-03-15 23:26] idvoretskyi commented on #146
The same for me.

[2016-03-16 01:36] RyanNHG commented on #155
This is an issue in the node.rb file.

The class name is 'Nodejs' instead of 'Node'.

I made my revision over [here](https://github.com/RyanNHG/chromebrew/commit/b0c6ff99e848822d75a33f16d201b0a3982688ce).

Hopefully, @skycocker can merge this change into master.

[2016-03-16 21:26] Bifros7 commented on #155
@RyanNHG I tried your patch but now it doesn't recognize the package "Node" at all. Maybe I'm doing something wrong, I don't know. I'm trying to install node_stable now, I hope it will compile fine.

[2016-03-17 11:55] Bifros7 commented on #155
I was able to fix the 'cannot find ld' error by manually setting the configure parameter --without-snapshot

[2016-03-17 14:14] RyanNHG commented on #155
@Bifros7, that's great news.

I'll try the "--without-snapshot" parameter today.

I had the same issue with ld and couldn't find the right parameter to fix it.

[2016-03-17 18:22] idvoretskyi commented on #157
@skycocker, I'd like to hear your point-of-view.

[2016-03-18 16:31] ryanpcmcquen commented on #157
Also it would be great if the toolchain got an update. There are some things I want to bring to Chromebrew that will not work on the old version of GCC.

[2016-03-19 16:19] kofdog commented on #153
+1

[2016-03-19 17:50] yangwao commented on #4
Hello, I'm ARMed with Asus Chromebook Flip C100PA, how I can help to make chromebrew work on ARM based chromebooks?

[2016-03-19 17:57] skycocker commented on #157
@idvoretskyi would moving to [bintray](https://bintray.com/) be a good solution?

[2016-03-19 18:06] ryanpcmcquen commented on #157
Is there a reason not to use GitHub? None of the files are that big, a separate `chromebrew-bin` repo would work well.

[2016-03-19 18:09] skycocker commented on #157
@ryanmjacobs github is not a file hosting platform, and the fact that no files *yet* are that big doesn't mean there will never be such. Why would github be better than dropbox anyway?

[2016-03-19 18:23] ryanpcmcquen commented on #157
Versioning. Looks more credible. It is also unlikely that toolchain files will ever get that big ... whatever _big_ means in this context.

Also the rest of chromebrew is already on GitHub, it makes the project more centralized. Should make collaboration easier than bintray.

[2016-03-20 01:56] idvoretskyi commented on #157
@skycocker, well, bintray doesn't look like a bad solution (it is better than Dropbox, yes).

But I'd rather vote +1 for @ryanpcmcquen's proposal (GitHub).

[2016-03-22 04:45] jabyrd3 commented on #132
I'd kill for arm support. Can we raise a bounty or something?

[2016-03-23 22:24] idvoretskyi commented on #157
@skycocker. Are there (on Dropbox) vanilla ruby packages placed or patched in some way?

[2016-03-26 23:20] jabyrd3 commented on #4
I have a c100 and am looking to help too; i poked around install.sh and found a precompiled ruby binary for armv7 and got it installed before i realized we'd need the entire toolchain cross compiled, and I'm not exactly sure how to do that. If someone could help me i could update install.sh to properly install everything.

[2016-03-27 19:30] localredhead commented on #142
I am experiencing similar issues on my 2015 pixel ls.  I do not see any libmpc.so, either 2 or 3.. neither exists, but the same module does error during install.

I am unable to install anything due to this, but I'm sure it must be some easy work around.

If I could find an easy way of getting the logs up here, I would.  Would a picture of it suffice?

[2016-03-28 02:38] bfayers commented on #132
One package I'd like to add is the X windows manager. You could also install Xfce and Gnome as separate packages.

I'm sure this can be done relatively easily, just with some compiling, heck you could probably do it yourself? Gnome has its source avaliable anyways. [https://github.com/GNOME/gnome-desktop](https://github.com/GNOME/gnome-desktop) [https://github.com/GNOME/gnome-shell](https://github

[2016-03-28 07:35] bfayers commented on #157
@skycocker @idvoretskyi @ryanpcmcquen Perhaps [https://git-lfs.github.com/](GIT-LFS) still hosted by github and still has versioning just meant for larger documents. [https://github.com/blog/1986-announcing-git-large-file-storage-lfs](More info in a Github blog post here.) Looks like every user and/or org has 1GB of free storage and 1GB of quota/month. You can easily buy more.

[2016-03-31 07:47] bfayers commented on #132
One package I'd like to add is the X windows manager. You could also install Xfce and Gnome as separate packages.

I'm sure this can be done relatively easily, just with some compiling, heck you could probably do it yourself? Gnome has its source avaliable anyways. https://github.com/GNOME/gnome-desktop https://github.com/GNOME/gnome-shell or is it harder than i think?

@ealgase
Around my house in

[2016-04-01 05:59] bfayers commented on #66
[https://github.com/FreeRDP/FreeRDP/wiki/Compilation](https://github.com/FreeRDP/FreeRDP/wiki/Compilation) FreeRDP provides a guide on how to compile it, take a look and make sure you have `crew install make` already done.

[2016-04-03 19:59] lyxell commented on #151
Try this:
`user=$(whoami) && sudo chown -R $user:$user /usr/local`

[2016-04-03 21:34] skycocker commented on #157
@idvoretskyi built with the initial gcc/buildessential stack on Chrome OS with chromebrew, without any patches.

[2016-04-07 09:23] bfayers commented on #132
Something I would love to see is wine, they provide source [here](https://dl.winehq.org/wine/source/1.9/wine-1.9.7.tar.bz2)  mainly because it would be super cool to be able to run windows programs.

[2016-04-11 19:46] trisk commented on #151
A reasonable workaround would just be the create the `cc` symlink by hand; `/usr/local` should be owned by `root:root`.

[2016-04-11 19:53] trisk commented on #142
Hitting this on a fresh install on CloudReady x86_64 if I use `crew install` for anything that requires the compiler, e.g. `crew install libsigsegv`.

The actual error is:
[code]
These files exist:
[code]
But there isn't a copy of libmpc in `/usr/local/lib64`, so it appears gcc can't run on x86_64.

@thedamian
Someone needs to rebuild gcc against the correct libmpc version and *ship that version*.

[2016-04-13 09:35] lyxell commented on #151
I have hard to imagine that you would run in to any errors if it's not, but if you're concerned about that you could just chown /usr/local to root after issuing the recursive chown.
[code]

[2016-04-13 19:14] lyxell commented on #150
i386 is not yet supported, which chromebook do you use?

[2016-04-14 01:46] faddah commented on #155
+1 in seeing this also - it would be nice to incorporate @RyanNHG fix as pull request on this one. @skycocker - are you seeing this, please? really hard to get the node to install.

best,

‒  faddah
    portland, oregon, u.s.a.

[2016-04-14 01:53] faddah commented on #143
+1 - i get another error, but i can't get either the 'node' or 'node_stable" packages to build all the way through, i get an error similar to @bannostookaylo first post. @skycocker - can anything be done about this please?

best,

‒  faddah
    portland, oregon, u.s.a.

[2016-04-14 02:31] faddah commented on #155
ok, further on the above for @skycocker -- i tried doing ```crew update```, and it said it had a included a pull request @RyanNHG , so i assume that was for the node install.  i then ran ‒

```$ crew install node --without-snapshot```

when i do this, it goes almost all the way through the install, it does the ```./configure``` then the ```make```, but as it starts the ```sudo make install```, i g

[2016-04-14 05:34] Bifros7 commented on #155
@faddah you seem to be having the same issue I had:  `collect2: fatal error: cannot find 'ld'`

I set the --without-snapshot parameter inside the node.rb file, I'm not sure if you can add parameters when running the crew command.

[2016-04-14 16:14] lyxell commented on #157
@skycocker Could you provide information on how you built the initial gcc/buildessential stack?

[2016-04-14 16:15] bfayers commented on #142
@trisk How did you get crew working on cloudready atall, doesnt work for me.

[2016-04-14 21:37] trisk commented on #150
This was a Chromium OS install (via CloudReady).

[2016-04-14 21:45] trisk commented on #142
@bfayers The install script works mostly fine for me on both i386 and amd64. Some packages are missing or broken on i386. Very few packages work at all on amd64, since gcc cannot be used there because of the libmpc issue.

[2016-04-14 21:46] trisk commented on #150
The package builds correctly for any platform as long as the missing source_url is set.

[2016-04-15 00:18] lyxell commented on #150
My bad, does this work for you?
https://github.com/lyxell/chromebrew/blob/master/packages/readline.rb

[2016-04-15 06:48] bfayers commented on #142
@trisk weird I used CTRL+ALT+F2 chronos and chrome and then sudo su then copied out the wget and the | bash from another screen & crew says unknown command...

[2016-04-15 06:50] bfayers commented on #132
Does [this](https://github.com/ludoo/chromebrew-arm-bootstrap) help with ARM atall?

[2016-04-15 14:07] jabyrd3 commented on #132
Bump.

Would really love to be able to use this on C100.

[2016-04-15 19:45] trisk commented on #142
@bfayers The script can be run as the chronos user. Instead of switch to another console, just open a terminal with Ctrl-Alt-T or install the crosh window app.

[2016-04-15 19:51] bfayers commented on #142
@trisk but I can't get a shell from cross.

[2016-04-19 09:05] skycocker commented on #155
@faddah why would it run as sudo? do you run crew with sudo?

[2016-04-19 09:06] skycocker commented on #151
@trisk does chowning `/usr/local` fix the issue? symlinking cc by hand isn't too smart in long term usage - crew probably won't be able to create/change any files

[2016-04-19 09:08] skycocker commented on #157
@lyxell sure. Used crouton to start ubuntu, compiled gcc/buildessential, extracted the files to chrome os, then used them to compile gcc/buildessential on chrome os itself, then compiled the final version again on chrome os.

[2016-04-19 09:17] bfayers commented on #132
@jabyrd3 hi, I've started work on getting chrome brew to work on arm, at I'm having to crosscompile gcc & buildessential on my Ubuntu vm. WARNING IT DOESN'T WORK AT THE MOMENT SINCE THE RUBY PACKAGES I USED ARE Broke.

[2016-04-19 09:27] bfayers commented on #157
@skycocker On the install script it installs a few things,  which are the important ones? (Trying to make crew work on arm) Also is crouton compiling a better idea than cross compiling in an Ubuntu vm.

[2016-04-19 14:19] trisk commented on #151
Cr/Chrome OS still has some security considerations of a multi-user system, so `/usr/local` shouldn't be writable by chronos because it's in the default PATH. crew correctly invokes `sudo` during the installation steps for other packages when started as a normal user, so it appears only the git package has this problem. (Not having the `cc` symlink doesn't appear to break anything using autoconf,

[2016-04-19 14:21] trisk commented on #142
@bfayers did you type `shell`?

[2016-04-19 14:36] bfayers commented on #142
@trisk yes. unknown cmd, in neverware doesn't matter anyway, im trying to get it to work on my arm chromebook now, yes ik crew doesnt support arm, but im trying to make it.

[2016-04-19 14:48] trisk commented on #152
It appears https://github.com/skycocker/chromebrew/pull/82 reverts to using system OpenSSL, but the header is still necessary for libevent in this configuration. `sudo crew remove openssl` fixes the runtime issue with `OpenSSL version mismatch. Built against 1000204f, you have 1000105f` afterward. The `libevent` package can't be built without `crew install openssl` though.

[2016-04-19 20:52] lyxell commented on #151
@trisk Is this really something that would be meaningful in practice? If developer mode is activated, even the guest user has sudo-rights.

[2016-04-20 02:48] JALsnipe commented on #156
Can reproduce on my Chromebook Pixel:

Version 49.0.2623.112 (64-bit)
Platform 7834.70.0 (Official Build) stable-channel link
Firmware Google_Link.2695.1.169

Looking into this...

[2016-04-20 09:10] drbree82 opened #159 "Upgrade of crew fails, now crew won't work"
Upon running
`sudo crew update`
was told that there was a package(ruby) which needed upgrading.

So, I obliged and ran
`sudo crew upgrade`

It failed, saying it couldn't find a binary so it was looking for source, which failed too(missed error, cannot repeat)

now crew doesn't work
Error: `env: ruby: No such file or directory`

[2016-04-20 09:21] skycocker commented on #159
why did you run it with `sudo` in the first place?

[2016-04-20 14:29] jabyrd3 commented on #132
@bfayers i will buy you as much beer / coffee as you can drink.

[2016-04-20 14:32] bfayers commented on #132
@jabyrd3 haha, thanks I'm currently compiling GCC on crouton (cross compiling was a mistake) its been going for ~7hours and still going... I'm just leaving it plugged into power waiting, just waiting.

[2016-04-20 17:53] Speenah commented on #156
For clarification, I have an Acer C720 Chromebook.

Version 49.0.2623.112 (64-bit)
Platform 7834.70.0 (Official Build) stable-channel peppy
Firmware Google_Peppy.4389.93.0

[2016-04-20 17:57] bfayers commented on #156
@Speenah try `sudo crew remove jdk8` then try `crew install jdk8`

[2016-04-20 18:01] Speenah commented on #156
I've done that a few times already. My guess is there's a mix up in the directory prefixes since there's two `/user/local/` directories concatenated together in the `mv` command.

[2016-04-20 18:03] bfayers commented on #156
Yeah, I think ` ‘/usr/local/tmp/crew//usr/local/opt/java/’ ` is this issue here.

[2016-04-20 19:35] faddah commented on #155
@Bifros7 & @skycocker -- sorry, just seeing your comments now.

@skycocker - i don't believe i said i ran any command from ```crew``` with ```sudo```, anywhere. where are you seeing that? i don't believe i did that, at all. but this is over a week since i looked at this, so i could be wrong.

@Bifros7 - i am trying again right now with ```crew install node_stable``` and seeing if it works. i will

[2016-04-20 20:44] faddah commented on #155
@Bifros7 & @skycocker -

ok, i just did ```crew update``` yet again then ran ```crew install node``` to get node.js v4.3.0 on my chromebook. it came back and gave the exact same error i listed above.

so i did what @Bifros7 suggested and found the crew ```node.rb``` file and edited so after ```./configure``` i had the ```--without-snapshot``` flag. still didn't work, same error after ~45 minutes o

[2016-04-20 21:29] Bifros7 commented on #155
@faddah What I did was edit the line `system "CC='gcc' python2.7 ./configure"` to `system "CC='gcc' python2.7 ./configure --without-snapshot"`. It sounds like you did exactly that. Are you sure you edited the right package (node or node_stable)? Also, after running crew update, this file resets to the default and reverts your changes, so make sure you change the file AFTER updating.

[2016-04-20 21:38] faddah commented on #155
@Bifros7 - it was the node.rb for node, not node_stable, because it was pulling down the version i wanted, node.js v4.3.0. yes, i edited that line just the same way. still get that error in compile.

btw, exact same thing happens with the node_stable install. i'll willing provide any system info necessary on my acer chromebook if it'll help fix this. please advise.

best,

--  faddah
    portland,

[2016-04-20 22:00] Bifros7 commented on #155
@faddah Can you tell me the path to the file you're editing? If I remember correctly, crew installs the packages to another folder, so you shouldn't be editing the file in the cloned git folder because that won't make a difference. I don't quite remember where the file you need to edit is located (or if this is even the true), maybe you can search for it with `find`? Sorry I can't help you more, m

[2016-04-20 22:34] faddah commented on #155
@Bifros7 ‒

/usr/local/lib/crew/packages/node.rb
/usr/local/lib/crew/packages/node_stable.rb

that's where they be. there are several other node.rb's all over my system, none related to crew, though.

and my python is python v2.7.10.

best,

‒  faddah
    portland, oregon, u.s.a.

[2016-04-20 23:36] faddah commented on #155
hi @Bifros7 & @skycocker ,

ok, so i got node_stable, v5.3.0, installed by adding the ```--without-snapshot``` to the node_stable.rb file. that worked, then i updated npm to the latest (npm v3.8.6) and installed the npm ```n``` package that is a node.js version manager, updated to the latest (v5.10.1), and also added the LTS version (v4.4.3). so it's ok for now. one you have node, easy enough to a

[2016-04-21 07:12] Bifros7 commented on #155
@faddah Glad you got it working.

[2016-04-21 22:16] drbree82 commented on #159
Because I get "Permission Denied" if I don't.

[2016-04-22 00:56] drbree82 commented on #132
Mutt email client would be handy.

[2016-04-22 01:00] drbree82 opened #161 "Nano displays weirdly"
Installed Nano on my Samsung Series 5 chromebook, installation went well.

When I ran nano, the terminal flickered, as if it was competing with the prompt for display time or something. I say this because the flicker was intermittently showing the uncleared command prompt, then back to nano.

Will probably just have to use vim instead, but if this gets fixed, that would be awesome.

[2016-04-22 01:12] drbree82 opened #162 "Dedicated server space"
Hi all,

Chromebrew is a cool project and I love it/want to see it as a more solid replacement for crouton based linux installs.

Would there be any benefit to setting up a dedicated server/mirror network? I have not really poked through the code, but I noticed that everything is ruby script with wget dragging files off dropbox. While this is an awesome start, would it be better for consistency if

[2016-04-22 08:07] spaceface777 commented on #156
Same thing happens to me

[2016-04-22 11:48] lyxell commented on #161
I can't reproduce this, could you provide the log for the nano installation?

[2016-04-22 22:47] drbree82 commented on #161
Wish I could, switched back to standard mode and wiped the logs. Stupid I know. I will try it when I have time(probably tonight)

If the log doesn't show any faults, I'll try getting a video for you.

[2016-04-22 23:43] lagerratrobe commented on #79
Make sure you also update the "tmp" prefix as well.  I had to change it from /tmp to someplace writable.

`npm config set tmp /usr/local/tmp`

[2016-04-23 18:00] lyxell commented on #161
Even if the logs doesn't show any faults they could be useful.

[2016-04-23 21:46] jabyrd3 commented on #132
@bfayers any luck getting gcc to build? if you can send it to me i'd be eternally grateful; I got ruby installed and running before the enormity of compiling gcc in crouton scared me off pursuing it. If you got that side figured out I'm pretty sure I can get it running.

[2016-04-23 22:40] drbree82 commented on #132
In reference to building for ARM, has anyone built a qemu-kvm image with the Chromebook ARM architecture? This would help with building for ARM.

[2016-04-24 06:38] bfayers commented on #132
@jabyrd3  @drbree82 As far as I know no there is not, If i new how id make one, having a hard time compiling gcc in crouton, would definitely appreciate any help.

[2016-04-25 13:22] apathinwalking opened #163 "tmux install fails"
Here's what was output:

--2016-04-25 09:14:37--  http://downloads.sourceforge.net/tmux/tmux-1.9a.tar.gz
Resolving downloads.sourceforge.net... 216.34.181.59
Connecting to downloads.sourceforge.net|216.34.181.59|:80... connected.
HTTP request sent, awaiting response... 307 Temporary Redirect
Location: http://sourceforge.net/downloads [following]
--2016-04-25 09:14:37--  http://sourceforge.net/down

[2016-04-27 01:36] JALsnipe commented on #156
Is the bug where chromebrew builds the directory to unpack the tarball to?

    topdir = `tar -tf #{meta[:filename]} | sed -e 's@/.*@@' | uniq`.chomp!

[2016-04-27 02:35] ryanpcmcquen commented on #157
@skycocker any idea if doing the compiling under CloudReady would work? I do not have access to a _real_ Chromebook ... Also, did you actually compile all of `build-essential`, or just `apt-get install` it?

[2016-04-27 12:00] lyxell commented on #157
I've been trying to compile build-essential for ARM by cross-compiling via docker. GCC works via this method, but glibc will unsurprisingly produce a segmentation fault
https://gist.githubusercontent.com/lyxell/6f544b2c63f5b0fe33820a0617f6d9c9/raw/350acc6ed3dc88c48897c3a65ae5edd5b0aad095/Dockerfile
Does anyone have an idea on how to make glibc compatible with the target system by cross-compiling?

[2016-04-27 12:33] bfayers commented on #157
@lyxell not sure about glibc, however if you can upload the binaries for amv7l, that'd be great and I can take a look.

[2016-04-27 12:43] lyxell commented on #157
@bfayers Sure, which binaries do you want? Could you provide your full output of `uname -a`?

[2016-04-27 12:47] lyxell commented on #163
We should probably use https://github.com/tmux/tmux/releases instead of the current sourceforge link.

[2016-04-27 12:58] ryanpcmcquen commented on #157
@lyxell, I thought from my LFS days that `gcc` and `glibc` both had to be compiled _twice_ to function properly ... are you doing that?

[2016-04-27 13:33] lyxell commented on #157
@ryanpcmcquen Yes, the native compiler builds a cross compiler which builds the native compiler for the host.

[2016-04-27 13:44] ryanpcmcquen commented on #157
@lyxell, but does the cross compiler need to be built twice?

[2016-04-27 14:33] lyxell commented on #157
@ryanpcmcquen Yes, see the source provided in my original comment.

[2016-04-27 14:37] bfayers commented on #157
@lyxell Sure can! Linux localhost 3.8.11 #1 SMP Wed Apr 20 16:24:29 PDT 2016 amv7l ARMv7 Processor rev 4 (v71) SAMSUNG EXYNOS5 (Flattened Device Tree) GNU/Linux

[2016-04-27 14:57] lyxell opened #164 "Libevent depends on OpenSSL"
Libevent has a missing dependency, OpenSSL.
This may be platform specific.

uname -a
`Linux localhost 3.10.18 #1 SMP Sat Apr 9 17:50:02 PDT 2016 x86_64 Intel(R) Celeron(R) CPU N2840 @ 2.16GHz GenuineIntel GNU/Linux`

version
`7834.70.0 (Official Build) stable-channel swanky `

How to reproduce:
* install chromebrew
* run `crew install libevent`

[code]

[2016-04-27 15:31] lyxell commented on #164
This seems to be a duplicate of #152

[2016-04-27 15:34] ryanpcmcquen commented on #157
@lyxell, thanks! Your method is awesome and should also be used for the Intel toolchain.  :-)

[2016-04-27 17:09] lyxell opened #167 "Remove runtime dependencies for Git and update install.sh accordingly"
All the listed dependencies for git:

[code]

could be removed. Curl and SSH is already provided by Chrome OS and the rest is build time dependencies.

Removing these dependencies and updating `install.sh` accordingly makes Chromebrew install successfully in ~20 seconds instead of ~7 minutes (making installation 21 times faster) on my machine.

See branch https://github.com/lyxell/chromebrew/tree/

[2016-04-27 19:27] lyxell opened #168 "Add support for ARM"
Creating a new issue to follow up the discussion in #157.

Here's my first try at compiling gcc for armv7l-cros-linux-gnueabi
https://www.dropbox.com/s/og3ru96u0nqdc4p/armv7l-cros-linux-gnueabi-gcc-4.9.3.tar.gz?dl=1

It does not include glibc. Tell me if you need it.

@bfayers Could you try this out?

[2016-04-27 19:29] lyxell commented on #168
Related issues: #132 #4

[2016-04-27 22:11] lyxell opened #169 "Fix the certificates for OpenSSL"
Right now wget and similiar software which depends on OpenSSL will need the flag "--no-check-certificates" when the Chromebrew OpenSSL has been installed, this is because the Chromebrew OpenSSL can't find the certificates provided by Chrome OS.

This can be solved by adding the symbolic link:
`sudo ln -s /etc/ssl/certs /usr/local/ssl/certs`
or the alternative workaround, copying the certificates v

[2016-04-28 06:26] bfayers commented on #168
@lyxell Sure can try this out! thanks!

[2016-04-28 07:00] bfayers commented on #168
@lyxell Looks like crew wants these
depends_on binutils

depends_on gmp

depends_on mpc

depends_on mpfr

depends_on glibc

dependencies.

[2016-04-28 07:13] lyxell commented on #168
If you install the files from the tarball into /usr/local by
[code]

What error will it print when trying to compile:
[code]
and
[code]

[2016-04-28 07:14] bfayers commented on #168
@lyxell I'll try it out when I get home! Thanks!

[2016-04-28 09:38] lyxell commented on #168
Here's binutils
https://www.dropbox.com/s/b69vmmac74ob58j/armv7l-cros-linux-gnueabi-binutils-2.26.tar.gz?dl=0

[2016-04-28 11:09] bfayers commented on #168
@lyxell alright,  thanks I'll take a look when I get home as far as I know gcc should have mpc mpfr and gap already inside it?

[2016-04-28 11:22] lyxell commented on #168
@bfayers Yes, gcc is compiled with gmp, mpfr, mpc, cloog and isl within the directory tree. It should work fine as it is.

[2016-04-28 14:21] bfayers commented on #168
@lyxell Just tested this, heres the output. `bash: gcc: command not found` here is what /usr/local/bin looks like. [http://i.imgur.com/eN8TGH9.png](http://i.imgur.com/eN8TGH9.png). It would seem it perhaps didn't copy correctly? (python and things on that screenshot are from dev_install that comes with chromeos)

[2016-04-28 14:42] lyxell commented on #168
It copied correctly but it is not compatible with your system, need to make some more research about your platform, will post updates soon.

[2016-04-28 14:42] bfayers commented on #168
@lyxell okay, thanks.

[2016-04-28 14:43] lyxell commented on #168
@bfayers What tuple does `ls /etc/pango` report?

[2016-04-28 14:46] bfayers commented on #168
`armv7a-cros-linux-gnueabi`

[2016-04-28 15:38] lyxell commented on #168
@bfayers How about this? https://www.dropbox.com/s/iewqce53ptam3lv/armv7a-cros-linux-gnueabi-gcc-4.9.3.tar.gz?dl=1

[2016-04-28 17:06] bfayers commented on #168
@lyxell still getting `bash: gcc: command not found`

[2016-04-28 17:12] lyxell commented on #168
What happens if you run `cd /usr/local/bin && ./gcc`? Does all the executables give the same result?

[2016-04-28 17:13] bfayers commented on #168
@lyxell `bash: ./gcc: No such file or directory`

[2016-04-28 17:20] lyxell commented on #168
Are you executing the commands as the `chronos`-user?

[2016-04-28 17:21] bfayers commented on #168
@lyxell yes.

[2016-04-28 17:25] bfayers commented on #168
@lyxell interesting sudo sh ./gcc produces this: `./gcc: 1: Syntax error: word unexpected (expecting ")")`

[2016-04-28 17:41] lyxell commented on #168
Whats your output of `cat /etc/lsb-release`?

[2016-04-28 17:55] bfayers commented on #168
CHROMEOS_AUSERVER=https://tools.google.com/service/update2
CHROMEOS_BOARD_APPID={D851316B-7E57-4805-A7CE-01829AC1443E}
CHROMEOS_CANARY_APPID={90F229CE-83E2-4FAF-8479-E368A34938B1}
CHROMEOS_DEVSERVER=
CHROMEOS_RELEASE_APPID={D851316B-7E57-4805-A7CE-01829AC1443E}
CHROMEOS_RELEASE_BOARD=daisy-signed-mp-v3keys
CHROMEOS_RELEASE_BRANCH_NUMBER=62
CHROMEOS_RELEASE_BUILD_NUMBER=7978
CHROMEOS_RELEASE_BUILD_

[2016-04-28 18:42] lyxell commented on #168
@bfayers This is tuned specifically for your chip:
https://www.dropbox.com/s/iewqce53ptam3lv/armv7a-cros-linux-gnueabi-gcc-4.9.3.tar.gz?dl=0

[2016-04-28 18:53] bfayers commented on #168
@lyxell That kind of works. `gcc: error trying to exec 'as': execvp: No such file or directory`

[2016-04-28 18:54] lyxell commented on #168
Nice, one step forward, the error message means it's missing binutils, compiling it now.

[2016-04-28 18:54] bfayers commented on #168
@lyxell okay, thanks. Does this mean that possibly everyone will need a finely tuned binary for gcc?

[2016-04-28 18:59] lyxell commented on #168
Hopefully not. I have to look into what made the general binary not work for you.
These are the options that I added specifically for your board:
`-march=armv7-a -mtune=cortex-a15 -mfpu=neon -mfloat-abi=hard`
According to https://en.wikipedia.org/wiki/Chromebook all ARM-chromebooks has Cortex-chips just like your board so it should be possible to make a general build.

[2016-04-28 19:01] bfayers commented on #168
@lyxell ah good. I got ruby to compile for me in crouton.

[2016-04-28 19:25] lyxell commented on #168
Here's binutils https://www.dropbox.com/s/fs6v7y014niwqry/armv7a-cros-linux-gnueabi-binutils-2.26.tar.gz?dl=0

[2016-04-28 20:07] bfayers commented on #168
@lyxell New set of errors! `/usr/local/lib/gcc/armv7a-cros-linux-gnueabi/4.9.3/../../../../armv7a-cros-linux-gnueabi/bin/ld: cannot find crt1.o: No such file or directory
/usr/local/lib/gcc/armv7a-cros-linux-gnueabi/4.9.3/../../../../armv7a-cros-linux-gnueabi/bin/ld: cannot find crti.o: No such file or directory
collect2: error: ld returned 1 exit status`

[2016-04-28 20:09] lyxell commented on #168
Alright, crt1.o and crti.o should be in the glibc tarball I added to my previous post.

[2016-04-28 20:10] bfayers commented on #168
@lyxell ill try em in a minute!

[2016-04-28 20:21] bfayers commented on #168
@lyxell that got rid of those errors. Now we have new ones! `/usr/bin/coreutils: error while loading shared libraries: /usr/local/lib/librt.so.1: internal error`

[2016-04-28 20:23] bfayers commented on #168
@lyxell nevermind. These are the weird behaviours you said about, ls doesn't even work now.

[2016-04-28 20:24] lyxell commented on #168
Alright, run `sudo su` and clean out `/usr/local`. I'll try compiling an alternative to glibc.

[2016-04-28 20:24] bfayers commented on #168
@lyxell I dont think I can clear it out. rm gives me the same error.

[2016-04-28 20:25] bfayers commented on #168
@lyxell nevermind. got rm to work.

[2016-04-28 20:27] bfayers commented on #168
@lyxell could it be to do with the glibc being a armv7l and not a armv7a

[2016-04-28 20:34] lyxell commented on #168
Oh, did you use the first glibc i provided?
Try this instead: https://www.dropbox.com/s/ubbeag3i336b14u/armv7a-cros-linux-gnueabi-glibc-2.23.tar.gz?dl=1

[2016-04-28 20:35] bfayers commented on #168
@lyxell Yes, i did. oops didnt see the second one.

[2016-04-28 20:41] bfayers commented on #168
@lyxell Its causing segmentation faults now.

[2016-04-28 20:42] lyxell commented on #168
Alright, that's pretty expected, I will build some alternatives.

[2016-04-28 20:42] bfayers commented on #168
@lyxell okay, thanks.

[2016-04-28 21:06] lyxell commented on #168
Here's musl as an alternative to glibc https://www.dropbox.com/s/qiig51ktuiawvgy/armv7a-cros-linux-gnueabi-musl-1.1.14.tar.gz?dl=1
It would be interesting to know how well it works.

[2016-04-28 21:13] bfayers commented on #168
@lyxell no missing library stuff now, this instead.

`/usr/local/lib/gcc/armv7a-cros-linux-gnueabi/4.9.3/../../../../armv7a-cros-linux-gnueabi/bin/ld: error: a.out uses VFP register arguments, /tmp/ccurNkYK.o does not
/usr/local/lib/gcc/armv7a-cros-linux-gnueabi/4.9.3/../../../../armv7a-cros-linux-gnueabi/bin/ld: failed to merge target specific data of file /tmp/ccurNkYK.o
collect2: error: ld retu

[2016-04-28 21:15] lyxell commented on #168
Interesting, I will have to investigate some more and get back to you regarding libc. Thanks for all the help so far.

[2016-04-28 21:21] bfayers commented on #168
@lyxell perfectly fine, thank YOU for the help with building the stuff. I had issues trying, likely just didnt have all dependencies.

[2016-04-28 21:51] bfayers commented on #168
@lyxell IT works fine if i use `gcc -mfloat-abi=hard` according to http://stackoverflow.com/questions/9753749/arm-compilation-error-vpf-registered-used-by-executable-not-object-file/13891763#13891763 its something to do with gcc bein crosscompiled.

[2016-04-28 21:57] lyxell commented on #168
@bfayers What does `gcc --version` print?

[2016-04-28 21:59] bfayers commented on #168
this is gcc -v
`Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/usr/local/libexec/gcc/armv7a-cros-linux-gnueabi/4.9.3/lto-wrapper
Target: armv7a-cros-linux-gnueabi
Configured with: /src/gcc-4.9.3/configure --prefix=/usr/local --build=x86_64-pc-linux-gnu --host=armv7a-cros-linux-gnueabi --target=armv7a-cros-linux-gnueabi --enable-languages=c,c++ --disable-multilib
Thread model: posix
gcc

[2016-04-28 22:01] lyxell commented on #168
Great, the error regarding VFP is probably due to the --disable-multilib flag, I'm compiling without that flag now.

[2016-04-28 22:38] lyxell commented on #168
Here's gcc with multilib enabled https://www.dropbox.com/s/iewqce53ptam3lv/armv7a-cros-linux-gnueabi-gcc-4.9.3.tar.gz?dl=1

[2016-04-28 23:54] lyxell commented on #168
@jbaum98 Could you give any directions on how to set the rpath during compilation as described in #49?

[2016-04-29 00:53] jbaum98 commented on #168
I'm not sure exactly what directions I could offer. I used patchelf to set the rpath to `/usr/local/lib:/usr/local/lib64` for gcc and ruby as shown in #49. Other than that I'm not sure how to help. I didn't set the rpath during compilation, I set it after.

[2016-04-29 06:28] bfayers commented on #168
@lyxell still the VFP thing. requireing me to use gcc -mfloat-abi=hard

These are the options that I added specifically for your board:
-march=armv7-a -mtune=cortex-a15 -mfpu=neon -mfloat-abi=hard
According to https://en.wikipedia.org/wiki/Chromebook#Chromebook_models all ARM-chromebooks has Cortex-chips just like your board so it should be possible to make a general build.

couldn't be the fact g

[2016-04-29 06:43] bfayers commented on #168
@lyxell Also, i tried compiling make 3.82 and got this:
`checking for a BSD-compatible install... /usr/bin/install -c
checking whether build environment is sane... yes
checking for a thread-safe mkdir -p... /bin/mkdir -p
checking for gawk... no
checking for mawk... mawk
checking whether make sets $(MAKE)... no
checking for gcc... gcc
checking whether the C compiler works... no
configure: error: in

[2016-04-29 08:59] lyxell commented on #168
Here's everything without the `-mfloat-abi` flag:
https://www.dropbox.com/s/qiig51ktuiawvgy/armv7a-cros-linux-gnueabi-musl-1.1.14.tar.gz?dl=1
https://www.dropbox.com/s/fs6v7y014niwqry/armv7a-cros-linux-gnueabi-binutils-2.26.tar.gz?dl=1
https://www.dropbox.com/s/iewqce53ptam3lv/armv7a-cros-linux-gnueabi-gcc-4.9.3.tar.gz?dl=1

[2016-04-29 09:09] bfayers commented on #168
@lyxell thanks, I'll try it when I get home,  I have a feeling the Checking C compiler...  No is to do with missing build-essentiala

[2016-04-29 14:16] bfayers commented on #168
@lyxell We're back to `bash: /usr/local/bin/gcc: No such file or directory` without the -mfloat-abi

[2016-04-29 20:09] lyxell commented on #168
That's a bummer. I will try new flags tomorrow.

[2016-05-01 00:30] lyxell commented on #168
I have a theory that musl is not respecting the CFLAGS, the solution may be to build glibc without shared objects.

[2016-05-01 19:32] lyxell commented on #168
--disable-shared seems broken for glibc < 2.20.
Making a build now with glibc 2.20 + gcc 4.9.3

[2016-05-02 22:29] drbree82 commented on #132
@bfayers Ok, here's the basics.
Run `sudo apt-get install qemu`
Even if you already have qemu installed, do this, as the base package doesn't have all the machines.
You'll need to go download the open source chromeOS image from somewhere. Not sure how, but I'd probably start with the chromeOS recovery tool in chrome browser
run
`qemu-system-arm -h`
Set a source image(chromeOS image) and a target.

[2016-05-03 14:12] bfayers commented on #132
@drbree82 You can get the chromium os images from http://chromium.arnoldthebat.co.uk/index.php?dir=weekly%2F

[2016-05-04 21:10] drbree82 commented on #132
Is Chromium OS the same as Chrome OS? Either way, sounds like you've got enough to go along with.

[2016-05-05 19:42] minektur opened #171 "ldconfig destroys /usr/local/lib"
Might be related to issue #49 ...

I've been playing around with building a few things using the chromebrew tool chain.  (end goal:  lxc, gpg)

anything that installs a library and uses autoconf will eventually end up, as part of the install, calling libtool --finish   which, among other things will run '/sbin/ldconfig /usr/local/lib', which totally screws up the libraries replacing them with bogu

[2016-05-05 19:52] minektur opened #172 "sudo/root needed at all?"
I've installed (manually) uninstalled chromebrew 30 or so times in the last couple days...  I've been wondering why chromebrew needs to use sudo for some commands.

Maybe it's just my lenovo n21 chromebook, but all of /usr/local starts out writable by chronos user.

If the binary bootstrap packages didn't install as root-owned, you could theoretically have everything in /usr/local owned by and wri

[2016-05-05 21:52] lyxell commented on #172
I agree totally with this.

[2016-05-06 11:22] lyxell commented on #171
What happens if you remove /usr/local/sbin/ldconfig and configures libpipeline?

[2016-05-06 23:12] minektur commented on #171
The binaries core-dump when run.  - I'll try removing /usr/local/sbin/ldconfig  and re-running the build/install.  I'm concerned that it will still find the one in /usr/bin/ which i can't remove.  Perhaps I should replace the one in /usr/local with a script that does nothing.... I'll experiment.

[2016-05-12 17:33] bfayers commented on #168
@lyxell Did you get any further with that build?

[2016-05-19 15:41] bfayers commented on #168
@lyxell Hi! I have found an article on [Thomas Loughlin's blog](http://thomasloughlin.com/) called [Compile Your Favorite Programs on Chrome OS](http://thomasloughlin.com/compile-on-chrome-os/) who has the same device as me and provides instructions on how he got his working, giving it a try now.

[2016-05-22 17:37] jabyrd3 commented on #132
Where'd we net out on this? Is anybody working on it, and if so, can I help you out if you're stuck? I got as far as getting ruby running in chromium and editing chromebrew to attempt to install, but there's a lot of packages that need to be built for arm before it'll actually work.

[2016-05-22 20:08] Prosserc commented on #132
I would love to see a package added for pip (package manager for Python libraries). I would be happy to have a go at this, I'm not really familiar with ruby, but the other packages look pretty straight forward from what I've seen.

[2016-05-22 20:10] Prosserc commented on #132
Another feature request, it would be nice to be able to include wildcards in the search e.g. `crew search py*` could return:

[2016-05-23 00:11] dragon788 commented on #146
This currently isn't happening on my Chromebook Pixel, is it still happening to you guys?

[2016-05-23 00:22] dragon788 commented on #169
I wonder if it would make more sense to use the system openssl and symlink it for tmux and libevent rather than installing a Chromebrew version.

[2016-05-23 01:15] dragon788 commented on #163
@lyxell wget can follow redirects, but it doesn't do so unless you increase the --max-redirect from the default, which for security reasons is of course 0. Would that help at all?

[2016-05-23 16:21] bfayers commented on #132
@jabyrd3 No, not much further I get stuck with C compiler cannot build executables. no matter what.

[2016-05-23 16:23] bfayers commented on #168
@lyxell Tried the above method. still C compiler cannot create executables.

[2016-05-23 22:49] lyxell commented on #168
I will try some new builds in the next couple of days.

[2016-05-24 01:58] lyxell commented on #169
The system OpenSSL does not ship with the headers, so there should at least be a package for these.

[2016-05-24 01:59] lyxell commented on #163
I guess it would, but it seems like a rather hackish solution, it would be better to properly fix what's broken.

[2016-05-27 14:48] thedamian commented on #143
Fixed in pull https://github.com/skycocker/chromebrew/pull/173

[2016-05-27 14:51] thedamian commented on #155
Fixed in pull https://github.com/skycocker/chromebrew/pull/173

[2016-05-27 14:51] thedamian commented on #138
Fixed in pull https://github.com/skycocker/chromebrew/pull/173

[2016-05-27 14:52] #138 closed

[2016-05-29 04:47] alexzapatka opened #174 "screen.rb .. got tired of tmux issues."
so i wrote a little screen package because i got tired of all the hackyness of trying to get tmux to work.  though i am having some issues with screen too.  here is the screen.rb file... and it installs fine.. but it unless you run screen as root (i.e. sudo screen) it complains that /var/run/utmp does not exist.  anyway...if anyone has any ideas i'd love to hear them...

[code]

[2016-05-29 19:41] Alanaktion commented on #162
I've got a few unmetered 1 Gbps dedicated servers in Canada I'd be happy to use to mirror things as well.

[2016-06-01 15:28] Brunux opened #175 "Old packages"
Hi everybody  just a question I can see that there are some old package is there a reason to maintain all those old packages, like those can't be updated because local dependencies in chromeos or it is just happen that hasn't been updated?

[2016-06-01 15:31] thedamian commented on #175
Is there any packages that aren't working? If they're failing you can do a pull request to fix that.

[2016-06-01 15:41] Brunux commented on #175
Hi @thedamian is not that so far package are working just fine, but I was wondering if there is a reason to have old package, maybe some dependencies in chromeOS or it is just that hasn't been updated?

[2016-06-01 16:17] thedamian commented on #175
@Brunux you've created a new issue. If there is something to fix please specify what you think should be fixed. Or better yet submit a fix. If you thought you were just opening a thread for conversation, this is the wrong place for that.

[2016-06-01 16:19] thedamian commented on #174
Awesome! Can you make a pull request and refer to this issue. and then close the issue so that skycocker can include it in our package list.

[2016-06-01 16:25] Brunux commented on #175
I thought there was a question tag for issues here, sorry my mistake.

[2016-06-01 17:05] thedamian commented on #175
Don't be sorry. I should be. This is the place for discussion.

Please make a suggestion because your issue is a little too general

[2016-06-01 17:23] alexzapatka commented on #174
Thank would simply that I actually know something about using git....

Give me a day and I will figure it out... :)
On Jun 1, 2016 12:19 PM, "Damian Montero" <notifications@github.com> wrote:

[2016-06-01 18:35] minektur commented on #69
pull request #177 fixes this (changed command line options for wget)

[2016-06-01 18:36] minektur commented on #164
pull request #177 fixes this

[2016-06-01 18:36] minektur commented on #152
pull request #177 fixes this

[2016-06-01 18:37] minektur commented on #163
the issue with wget and aws 403s is our usage of --content-disposition which the aws servers do not support.  removing --content-disposition fixes the download problem.

[2016-06-01 18:37] minektur commented on #163
and pull 177 fixes tmux builds, and updates to the latest version

[2016-06-01 18:40] minektur commented on #174
If you get stuck/frustrated, ask - and or I can just make the full request for you.  As an aside, I just updated the tmux (and libevent) pacakges to make tmux build - there is a pending pull request.

[2016-06-02 04:41] Brunux commented on #175
Thank you for your kindness @thedamian well basically I'm building nmap package so I was check for  dependencies in the package folder when I realize that the base system, gcc and make for example are kind of old so I was wondering if that happen for a reason like to match the base system of the chromeos or it happens just because those are not been updated lately. Thank you!

[2016-06-02 13:59] thedamian commented on #175
@Brunux I had this problem before. Ruby is an example of this (personally git being the older version was an issue for me  too for version of dotnet that I was working on)

I "hacked" this (and skycoker wasn't too happy, but was kind to me and let it go through) by adding a "ruby_latest" package.

So technically there's a ruby.rb and ruby_latest.rb file to fix this. (this is different than node an

[2016-06-02 15:18] Brunux opened #179 "Package Flex-2.5.39 fails to download"
Hi guys package [Flex](https://github.com/skycocker/chromebrew/blob/master/packages/flex.rb) fails to download due to ERROR 410: Gone.

So I just fix the sourcer now it works as before.

how can I push my changes to master branch?

Thanks

[2016-06-02 15:39] Brunux commented on #175
Oh right, that's good to know, for now I'm going to build nmap and maybe we can do a plan to update the base system later on, thanks.

[2016-06-02 16:10] thedamian commented on #179
Only @skycocker has merge capabilities. He'll do it soon.

[2016-06-02 20:12] Brunux commented on #179
Great I'll make the PR for review.

[2016-06-02 21:30] minektur commented on #179
out of curiosity, what are you using flex for?  <secretly hoping for a more recent gcc build>

[2016-06-02 22:25] Brunux commented on #179
lol not happening now (gcc) but hopefully we will have pcaplib a few other libs and finally nmap

[2016-06-03 15:25] Brunux opened #182 "Compiling to 'sbin/' should be linked to 'bin/' at /usr/local"
Hi guys,

Yesterday I was compiling e2fsprogs #179 commit bf7e395 and since some binaries are call 'essentials'  they got install at /usr/local/sbin/ the issue here is that the $PATH for the non root users by default (/etc/profile) do not include /usr/local/sbin/.

So having said this, I want to check your thoughts about to make a core functionality in order to check for newly created files (after

[2016-06-03 20:02] Brunux opened #183 "Package maintainer"
Hi guys,

Since compiling package can be a little bit tricky and when someone manage to build a package successfully, sometimes with quick fixes or patches. I believe there should be a references for the "maintainer" in the package.rb so if somebody has a question about how to build or whatever, knows where to refer the question or whatever needs.

Any thoughts?

[2016-06-03 21:30] minektur commented on #183
sounds like a good idea - then you know who to talk to about issues.... I guess you could get that same info from git commit logs.... hm...

[2016-06-03 21:31] minektur commented on #182
Are you just saying that we should put everything in /usr/local/bin?  or that we should symlink?  or recommend to people to add /usr/local/sbin/ to their path?  Those are the three options, I think.

[2016-06-03 23:27] Brunux commented on #182
Hi @minektur be honest

[2016-06-03 23:30] minektur commented on #182
? what do you mean?

[2016-06-03 23:43] Brunux commented on #183
Yeah and I think that this could give some sort of responsibility to make a good package but I don't know if this is a good or bad thing for the maintainer

[2016-06-05 14:42] minektur commented on #183
Nothing is preventing current package authors from putting their contact info in them now as a comment :).  I should go and do that with the few that I've submitted.

[2016-06-05 21:40] alexzapatka commented on #174
i think i got it figured out and filed a pull request...  we will see what happens...

here is a second question... screen has this issue where (on chromeos and others) it fails unless running as root because it can't write to the /var/run directory.  there is a patch out there, so i am trying to apply the patch as part of the install, but i cant figure out how to do it.  anyway in the ruby instal

[2016-06-07 22:40] lyxell commented on #174
@alexzapatka Could you post a link to the patch? It might be possible to merge it with the installation recipe.

[2016-06-07 23:22] lyxell commented on #164
Closing in favour of #177 and #181

[2016-06-07 23:22] #164 closed

[2016-06-07 23:31] lyxell commented on #169
Closing in favour of #181

[2016-06-07 23:31] #169 closed

[2016-06-08 01:12] alexzapatka commented on #174
@lyxell the patch i found is here https://gist.githubusercontent.com/yujinakayama/4608863/raw/76b9f89af5e5a2e97d9a0f36aac989fb56cf1447/gistfile1.diff

i tried something along these lines in the recipe, but it didn't work for me... probably a simple solution, but i am by no means a ruby developer, so why it is barfing i dont know...

first i made it include patch as a requirement... and curl

`depe

[2016-06-08 01:15] lyxell commented on #174
This is a pretty small patch so it could probably be solved using only sed. I will look into it.

[2016-06-08 01:56] lyxell commented on #174
These lines apply the patch, however, I don't think this patch fixes the issue.

[code]

[2016-06-08 02:11] lyxell commented on #168
`--disable-shared` seems broken for all of the latest glibc versions.

@bfayers This might be far fetched, but could you try these again?
https://www.dropbox.com/s/iewqce53ptam3lv/armv7a-cros-linux-gnueabi-gcc-4.9.3.tar.gz?dl=1
https://www.dropbox.com/s/fs6v7y014niwqry/armv7a-cros-linux-gnueabi-binutils-2.26.tar.gz?dl=1
https://www.dropbox.com/s/ubbeag3i336b14u/armv7a-cros-linux-gnueabi-glibc-2.23

[2016-06-08 06:43] bfayers commented on #168
@lyxell that gcc gives me the  `bash: /usr/local/bin/gcc: No such file or directory`

[2016-06-08 15:50] lyxell commented on #168
For those who wants to experiment, the tune flags for ARM can be found here: https://chromium.googlesource.com/chromiumos/overlays/board-overlays/+/509a2fdf474f9870c35c07498a7c3961e701ecb9/overlay-arm-generic/make.conf

[2016-06-08 15:51] bfayers commented on #168
Could the reason for that GCC not working be that it doesn't have the mfloat-abi=hard ?

[2016-06-08 15:55] lyxell commented on #168
Yes, much likely, I thought the gcc I posted had that flag, but I must have accidently overwritten the old version when i uploaded it to dropbox. Give me a moment and I'll upload the correct version.

[2016-06-08 16:18] lyxell commented on #168
@bfayers What output does `sudo find / | grep librt.so.1` give for you?

[2016-06-08 16:27] bfayers commented on #168
@lyxell `sudo find / | grep librt.so.1 prodcues /lib/librt.so.1` and `sudo find / | grep libc.so produces /usr/lib/libc.so
/lib/libc.so.6`

[2016-06-08 16:27] lyxell commented on #168
@bfayers Thanks!

[2016-06-08 17:29] lyxell commented on #168
Here's gcc, glibc and binutils
https://www.dropbox.com/s/4hk4172v7nxdrnn/armv7l-cros-linux-gnueabi-toolchain.tar.gz

@bfayers could you try this?
[code]

This is compiled with the following Dockerfile (compilation takes approximately 1.5 hours on a modern four core machine):
[code]

[2016-06-08 17:43] bfayers commented on #168
@lyxell okay, just tried this using `rm -rf /usr/local/testcompiler && mkdir /usr/local/testcompiler && cd /usr/local/testcompiler && wget https://gist.github.com/lyxell/d78b7b6d7dcf24321cc235b5cbb4fd20/raw/28386a65e091fd04b9417c2549038638d43ee937/empty.c && gcc empty.c && ./a.out
` it produces this: `/usr/local/bin/../lib/gcc/armv7a-cros-linux-gnueabi/4.9.3/../../../../armv7a-cros-linux-gnueabi/b

[2016-06-08 17:49] lyxell commented on #168
Hm. What does `gcc -print-multi-lib` report?

[2016-06-08 17:52] bfayers commented on #168
@lyxell `.;` that's it.

[2016-06-08 17:58] bfayers commented on #132
@Prosserc you can get pip by doing this:

`sudo su -`

`wget https://bootstrap.pypa.io/get-pip.py`

`python get-pip.py`

pip then works as usual.

[2016-06-08 17:58] lyxell commented on #168
Alright. And if you use `rm -rf /usr/local/testcompiler && mkdir /usr/local/testcompiler && cd /usr/local/testcompiler && wget https://gist.github.com/lyxell/d78b7b6d7dcf24321cc235b5cbb4fd20/raw/28386a65e091fd04b9417c2549038638d43ee937/empty.c && gcc -mfloat-abi=hard empty.c && ./a.out`, compiling works, right?

[2016-06-08 17:59] bfayers commented on #168
@lyxell Nope! `Segmentation fault (core dumped)`

[2016-06-08 18:01] lyxell commented on #168
Interesting, the libraries provided by Chrome OS seems to have soft floating point, in contrast to what the git repository https://chromium.googlesource.com/chromiumos/overlays/board-overlays/+/master/overlay-arm-generic/make.conf here suggests.

[2016-06-08 18:04] bfayers commented on #168
@lyxell that's kind of strange. btw i tried with my own test which was [https://gist.githubusercontent.com/bfayers/7ea237aaefb4a8e62e90e2cc489dc270/raw/a03a29eed1e20c8c6552fa449ba9ea2f1676cc1e/test.c](https://gist.githubusercontent.com/bfayers/7ea237aaefb4a8e62e90e2cc489dc270/raw/a03a29eed1e20c8c6552fa449ba9ea2f1676cc1e/test.c) basically prints Hello World, that segfaults too.

[2016-06-08 18:09] lyxell commented on #168
What does `rm -rf /usr/local/testcompiler && mkdir /usr/local/testcompiler && cd /usr/local/testcompiler && wget https://gist.github.com/lyxell/d78b7b6d7dcf24321cc235b5cbb4fd20/raw/28386a65e091fd04b9417c2549038638d43ee937/empty.c && gcc --verbose empty.c` report?

[2016-06-08 18:41] minektur commented on #132
not without a working openssl - if you build one of the from-source pythons without my openssl headers, because the crew openssl is kind of broken, you end up not being able to install pip because you can't install the python openssl pacakges which pip relies on.

It was that fact that got me looking at fixing openssl, and then instead doing the openssl headers package.

[2016-06-08 18:46] minektur commented on #132
(I have 80% of a pip package done - when I get unbusy this weekend....)

[2016-06-08 18:59] bfayers commented on #168
@lyxell not sure what you mean by

however output from that command is: [https://gist.githubusercontent.com/bfayers/9733089ee75eeee7d4126dbf2c037446/raw/33893846fc69f1705f45778eb288bde9ec8439aa/gccverboseoutput.txt](https://gist.githubusercontent.com/bfayers/9733089ee75eeee7d4126dbf2c037446/raw/33893846fc69f1705f45778eb288bde9ec8439aa/gccverboseoutput.txt)

[2016-06-08 20:57] lyxell commented on #168
I tried compiling everything with enforced softfloat:
https://www.dropbox.com/s/7tnpa5mht7cj6o1/armv7l-cros-linux-gnueabi-toolchain-softfloat.tar.gz

[code]

[2016-06-08 21:06] bfayers commented on #168
@lyxell We're back to `bash: /usr/local/bin/gcc: No such file or directory`

[2016-06-08 21:08] lyxell commented on #168
I find this a bit strange, I can't find a reason as to why any chip would not accept emulated floating-point operations.

[2016-06-08 21:12] bfayers commented on #168
@lyxell hmm, I can try uninstalling then reinstalling it.

[2016-06-08 21:21] lyxell commented on #168
Ah, wait, I think I got an idea. Rebuilding.

[2016-06-08 21:22] bfayers commented on #168
alright.

[2016-06-08 22:10] lyxell commented on #168
@bfayers I have a theory that the previous error about `a.out uses VFP register arguments` was because binutils was compiled without flags telling it to produce hard float, this is fixed here:
https://www.dropbox.com/s/1c02fks82hbd29z/armv7l-cros-linux-gnueabi-toolchain-ver2.tar.gz

Try the same procedure:
[code]

[2016-06-08 22:20] bfayers commented on #168
@lyxell Compiling, but segfault on run.

[2016-06-08 22:22] lyxell commented on #168
What output does it give with `--verbose`?

[2016-06-08 22:26] bfayers commented on #168
https://gist.githubusercontent.com/bfayers/0ee9ca95f741fff47d2ea3120b619043/raw/da5e3e50a34f431e9b4716bb1f4f6db1735ea027/gccverboseoutput2.txt

[2016-06-08 22:38] lyxell commented on #168
The compilation stage looks fine, I wonder what is causing the segfault. Need to do some research.

[2016-06-08 22:51] lyxell commented on #168
This is the same toolchain but with musl instead of glibc:
https://www.dropbox.com/s/y43i0s3rzp79zos/armv7l-cros-linux-gnueabi-toolchain-musl.tar.gz

Musl shouldn't conflict with any of the existing libraries, so the rm-stage should not be needed:
[code]

[2016-06-08 22:54] alexzapatka commented on #174
unfortunately, you are right...

after futzing with it for a while, i am having the same issue.  back to the
drawing board.

what is interesting is that screen seems to think that utmp is supposed to
live in /etc/, whereas the library is returning /var/run instead....
hmmmmmm...

On Tue, Jun 7, 2016 at 9:56 PM, lyxell <notifications@github.com> wrote:

--
 -o)
  /\\    Message void if penguin viol

[2016-06-09 06:44] bfayers commented on #168
@lyxell Sorry for late reply, IT works! no segfaults just returns nothing. tried my Hello World, that works too!

[2016-06-09 13:17] Kriskras99 commented on #168
Also works on the Acer Chromebook 13.
Nice work!

[2016-06-09 14:08] bfayers commented on #168
@Kriskras99 Great to know it works for you too! We just need ruby and some other requirements for chromebrew and we're ready.

[2016-06-09 15:55] lyxell commented on #168
Cool!

[2016-06-09 15:58] bfayers commented on #168
It sure is! I'm just trying to be able to build nano, it  requires ncurses which is being rather annoying.

[2016-06-09 16:02] lyxell commented on #168
Tell me if you need anything and I can cross compile it for you.

[2016-06-09 16:05] bfayers commented on #168
totally unrelated, but I had to recover my chromebook due to it was being weird with rootfs verification, its fine now though.

[2016-06-09 16:07] bfayers commented on #168
it seems to be make-ing longer this time, maybe because I fixed my rootfs issues.

[2016-06-09 16:13] bfayers commented on #168
@lyxell Okay! nano is being an issue here is my output of make, not really sure what the issue is but its saying keys like scrollock which chromebooks do not have. [https://gist.githubusercontent.com/bfayers/ed0e75b4bb562f68d3e2aca894268038/raw/8d9997e95f49b165aa7a7d9c081380c43098fad7/makenano.txt](https://gist.githubusercontent.com/bfayers/ed0e75b4bb562f68d3e2aca894268038/raw/8d9997e95f49b165aa7a

[2016-06-09 16:14] lyxell commented on #168
This looks like it's failing to find ncurses.

[2016-06-09 16:15] bfayers commented on #168
strange, I have it installed (./configure && make && make install)

[2016-06-09 16:23] lyxell commented on #168
It doesn't seem to find (nor try to link) the header file, libncurses.so.

[2016-06-09 16:24] bfayers commented on #168
hmm, that's strange

[2016-06-09 16:29] bfayers commented on #168
Could it be to do with this? found in INSTALL

`USING NCURSES WITH GPM:
        Ncurses 4.1 and up can be configured to use GPM (General Purpose Mouse)
        which is used with Linux console.  Be aware that GPM is commonly
        installed as a shared library which contains a wrapper for the curses
        wgetch() function (libcurses.o).  Some integrators have simplified
        linking applic

[2016-06-09 16:35] bfayers commented on #168
sorry for the long chain here, but after install ncurses 6.0 I get a different error with nano to what i did with ncurses 5.9, this time its

https://gist.githubusercontent.com/bfayers/ed0e75b4bb562f68d3e2aca894268038/raw/0f6919e27b437bb3f677519cf80cdb2451e580a8/makenano.txt

[2016-06-09 16:38] lyxell commented on #168
I think your best bet for these problems are google.
However, for nano, you could try `./configure && CFLAGS="-lncurses" make`

[2016-06-09 16:41] bfayers commented on #168
okay, using that tells me my best bet is to install ncurses which i already have D: ill try another version of ncurses.

[2016-06-09 17:04] bfayers commented on #168
ah. ncurses appears to depend on glibc for ldconfig, but we have that through musl I think, well I can run ldconfig BUT it just throws this error: `ldconfig: /usr/local/lib/libstdc++.so.6.0.20-gdb.py is not an ELF file - it has the wrong magic bytes at the start.`

[2016-06-09 17:16] lyxell commented on #168
That's not an error, that's expected behaviour.

[2016-06-09 17:17] bfayers commented on #168
Oh,  well I'll do some more digging but nothing seems to be linking to ncurses

[2016-06-09 17:19] lyxell commented on #168
Alright, I'll start working on a pull request implementing ARM.

Here's the final Dockerfile if someone is interested in building the toolchain themselves:

[code]

[2016-06-09 17:34] lyxell commented on #171
Could this be because there's symlinks from `/usr/local/lib*` into `/usr/lib*` and `/lib*`? The current glibc is kind of hackish since there's a lot of shared libraries from glibc already on the OS natively which would get overridden if they were put in `/usr/local/lib*`.

[2016-06-09 18:16] bfayers commented on #168
update. when trying to compile nano with ./configure CFLAGS="-lnconfigure" i get the old error C Compiler cannot create executables.

[2016-06-09 19:01] lyxell commented on #168
@bfayers This is because there's no flag called "-lnconfigure".

[2016-06-09 19:04] bfayers commented on #168
My bad,  I meant -lncurses I must be going crazy!

[2016-06-09 19:05] lyxell commented on #168
I think you might have run into #171

Try reinstalling the toolchain.

[2016-06-09 19:28] lyxell commented on #168
@bfayers Here's the linux headers: https://www.dropbox.com/s/tv4mhx979a550kd/armv7l-cros-linux-gnueabi-linuxheaders.tar.gz

[2016-06-09 19:50] bfayers commented on #168
Hi! I'll reinstall the toolchain but first heres my config.log https://gist.githubusercontent.com/bfayers/cced7174ce82338e98d5681ce2643a83/raw/9711a741a5513de83c214b4ff4bbcd794366c140/makeconfig.log

[2016-06-09 19:57] lyxell commented on #168
Yeah, looks like at least part of the issue would be resolved by installing the linux headers.

[2016-06-09 19:58] bfayers commented on #168
alright, just reinstalled the toolchain doing the headers now.

[2016-06-09 20:30] bfayers commented on #168
hmm, still get the same issues im using `./configure CFLAGS="-I/opt/ncurses/include/ncurses -I/opt/ncurses/include" CPPFLAGS="-I/opt/ncurses/include/ncurses -I/opt/ncurses/include"` on nano (deliberately have ncurses there, however have tried with it in a standard location and still get the error basically telling me to install ncurses and if I use -lncurses i get C compiler cannot create executab

[2016-06-09 20:35] lyxell commented on #168
Does ncurses compile correctly?
What is the output of `sudo find / | grep libncurses`?

[2016-06-09 20:40] bfayers commented on #168
I think so? It doesn't throw any obvious easy to see errors and nothing at the end. here the output

/lib/libncurses.so.5.9
/lib/libncurses.so.5
/opt/ncurses/lib/libncurses++.a
/opt/ncurses/lib/libncurses_g.a
/opt/ncurses/lib/libncurses.a
/home/user/2f6ce2fbbc523f8b96c407e63121d0c97150e09f/Downloads/dev/ncurses/ncurses-6.0/lib/libncurses_g.a
/home/user/2f6ce2fbbc523f8b96c407e63121d0c97150e09f/Down

[2016-06-09 20:42] lyxell commented on #168
Oh, you installed it directly to the file system, I guess that's not recommended, but it should still work.
What is the new output of config.log?

[2016-06-09 20:55] bfayers commented on #168
Had to use ./configure CFLAGS="-I/opt/ncurses/include/ncurses -I/opt/ncurses/include" CPPFLAGS="-I/opt/ncurses/include/ncurses -I/opt/ncurses/include" --host armv7l-cros-linux-gnueabi to configure because it basically forced me to use a --host parameter anyway, heres the config.log

checking build system type... armv7l-unknown-linux-gnueabihf
checking host system type... armv7l-cros-linux-gnueabi

[2016-06-09 21:08] lyxell commented on #168
I don't think I can really debug this without having an arm-machine myself, but I'll try to look into it. Tell me if you get any progress.

[2016-06-09 21:10] bfayers commented on #168
okay.

[2016-06-10 01:35] lyxell commented on #168
@bfayers I found the error, nano is trying to use the Chrome OS native libncurses, which tries to use the systems native glibc, which doesn't exist, hence the error.

[2016-06-10 02:32] lyxell commented on #168
@bfayers I'm pretty sure I had a typo which messed up the rpaths, here's an fixed version: https://www.dropbox.com/s/xik5smbv591djm5/armv7a-cros-linux-gnueabi-buildessential.tar.gz

This contains gcc, binutils, linux headers, musl and make.

Try this, however, this time, use `--prefix=/usr/local` when installing ncurses, this way the system shouldn't pick up your ncurses version instead of the Chr

[2016-06-10 03:05] lyxell commented on #174
@alexzapatka What is your architecture? I get the error message but screen runs fine anyway (without sudo) on x86_64.

[2016-06-10 06:29] bfayers commented on #168
Okay, thanks I'm trying this, now compiling diffutils.

[2016-06-10 06:36] bfayers commented on #168
Strange, nano segfaults. thogh it does find ncurses

[2016-06-10 06:37] lyxell commented on #168
I expected that would happen, I noticed the same behaviour a moment ago. I'm looking into it.

[2016-06-10 06:37] bfayers commented on #168
also, htop doesnt even find ncurses.

[2016-06-10 06:38] lyxell commented on #168
Htop would probably also need CPPFLAGS="-I/usr/local/include/ncurses"

[2016-06-10 06:47] bfayers commented on #168
I used that with htop.

[2016-06-10 06:49] lyxell commented on #168
Alright, debugging.

[2016-06-10 07:20] lyxell commented on #168
Here's the backtrace for the segfault:
[code]

[2016-06-10 07:26] bfayers commented on #168
So there is an issue with libc? As if I need the libc-dev package.

[2016-06-10 07:26] lyxell commented on #168
No, it looks like it's ncurses.

[2016-06-10 07:28] bfayers commented on #168
Oh,  well that's strange

[2016-06-10 08:17] lyxell commented on #168
I found the bug, all calls to nl_langinfo and nl_langinfo_l, like this:
[code]
is causing segfault with musl, which it certainly shouldn't.

Fixing.

[2016-06-10 08:58] lyxell commented on #168
Backtrace with debug:
[code]

function is in http://git.musl-libc.org/cgit/musl/tree/src/locale/langinfo.c

[2016-06-10 10:34] lyxell commented on #168
@bfayers Does nano run if you run it via `/usr/local/lib/libc.so /usr/local/bin/nano`?

[2016-06-10 11:02] alexzapatka commented on #174
You are right, after digging in to the code a bit, regardless of /var/run/utmp, screen should run fine...

I think it is permissions on the socket, though I am baffled as to why it works for you and not me.

I am x86_64 on a acrr c720.

Sent from my kfhdx7

On June 9, 2016, at 11:05 PM, lyxell <notifications@github.com> wrote:

@alexzapatka What is your architecture? I get the error message but sc

[2016-06-10 14:10] bfayers commented on #168
@lyxell Sorry for the wait, yes it does.

[2016-06-10 17:44] bfayers commented on #132
@minektur Ah, openssl see I dont have the crew one because I dont have crew (ARM)

[2016-06-10 21:31] lyxell commented on #168
So the problem is that it is picking up the wrong linker, `readelf -a /usr/local/bin/nano | grep "Requesting program interpreter"` should confirm this, and adding `CFLAGS="-Wl,-dynamic-linker /usr/local/lib/libc.so"` when compiling should make everything run fine.

[2016-06-11 04:23] bfayers commented on #168
@Yes, Its linking to /lib/ld-linux-armhf.so.3.

[2016-06-11 04:37] lyxell commented on #168
@bfayers I created a new repository: https://github.com/lyxell/chromeos-toolchains

These compilers should work for anything you throw at them.

[2016-06-11 04:43] bfayers commented on #168
@So if i use these I wont need the `FLAGS="-Wl,-dynamic-linker,/usr/local/lib/libc.so"` bit.

[2016-06-11 04:43] lyxell commented on #168
@bfayers Correct.

[2016-06-11 04:45] bfayers commented on #168
Cool, trying this now.

[2016-06-11 04:54] lyxell commented on #168
Thanks! It is probably a good idea to clean out /usr/local before starting.

[2016-06-11 04:54] bfayers commented on #168
Did that already, wanted to make sure I was working from a clean slate.

[2016-06-11 05:10] bfayers commented on #168
@lyxell Strange. ncurses is refusing to make now..

`d ../objects;   -I../c++ -I../include -I. -DHAVE_CONFIG_H  -DNDEBUG -I. -I../include -I/usr/local/include/ncurses  -c ../c++/cursesf.cc
/bin/sh: -I../c++: not found
make[1]: *** [../objects/cursesf.o] Error 127
make[1]: Leaving directory `/home/chronos/user/Downloads/dev/ncurses/ncurses-5.9/c++'
make: *** [all] Error 2`

[2016-06-11 05:12] lyxell commented on #168
Oh, forgot to mention, make is not included.

[2016-06-11 05:13] lyxell commented on #168
Sorry, that's not it, you'll need `--without-cxx`.

[2016-06-11 05:13] bfayers commented on #168
I already rebuilt and installed make. That output is from make trying to make ncurses.

[2016-06-11 05:14] bfayers commented on #168
Ok, reconfiguring now.

[2016-06-11 05:19] bfayers commented on #168
That worked, will I need --without-cxx for anything else?

[2016-06-11 05:23] lyxell commented on #168
Not for anything in Chromebrew as far as I know.

[2016-06-11 05:23] bfayers commented on #168
So, ultimately all we need now is ruby and a pull request.

[2016-06-11 05:36] lyxell commented on #168
Pretty much, and figure out which strategy to use for C++. However this clib is a bit different than glibc, so it might be an idea to change the toolchain for x86_64 and i686 as well. This would solve some issues for those architectures as well.

[2016-06-11 05:37] bfayers commented on #168
Alright, once again thanks for doing all the compiling.

[2016-06-11 05:40] lyxell commented on #168
No problems, thanks for all the help and all the testing.

[2016-06-11 05:47] bfayers commented on #168
I did manage to compile python 2.7.10 it did warn me of some things missing but it does seem to work better than googles dev_install python, if you ran sudo with that python it would faill not being able to find a certain .so however this one I can use sudo with. just a little note.

things it missed incase you're interested: https://gist.githubusercontent.com/bfayers/73c57d853987d4dc632b5f80fea96

[2016-06-11 05:51] lyxell commented on #168
Alright, thanks, I'll look into why it is complaining about sudo.

[2016-06-11 05:52] bfayers commented on #168
My compiled version doesnt, the one that you can install via dev_install does.

[2016-06-11 05:53] lyxell commented on #168
Ah, ok, great.

[2016-06-11 05:56] bfayers commented on #168
Nice! got tmux to work flawlessly too.

[2016-06-11 06:48] lyxell opened #185 "Update the toolchains"
I've cross compiled a gcc-toolchain for ARM and created a repository for it (see https://github.com/lyxell/chromeos-toolchains, thanks @bfayers for all the testing).

While I was at it I also cross compiled the same toolchain for x86_64 and i686.

These toolchains uses musl (https://www.musl-libc.org/) instead of glibc to create encapsulation inside /usr/local. Unlike glibc, musl will not interfer

[2016-06-11 06:49] bfayers commented on #168
Also ended up uninstalling python it seems to absolutely need all the things it sys its missing, I shall have to either compile those, which is proving problematic.

[2016-06-11 06:52] lyxell commented on #168
At least zlib and readline is probably needed, you may also need CPPFLAGS="-I/usr/local/include/ncurses" and similar.

[2016-06-11 19:58] bfayers commented on #168
@lyxell I installed most of the dependencies and it python wont pick them up even with -I/usr/local/lib sorry, but you may have to cross compile it.

[2016-06-15 04:35] minektur commented on #168
can you test this in a vm?  like using neverware's cloudready?  I only have an intel chromebook... I'd need a virtual something to test on

[2016-06-15 04:40] minektur commented on #185
I personally would like a self-hosting compiler build.  I'm fine using a boot-strapped something or other from crouton, but we should be able to get to a gcc build with the gcc we install - e.g. start with the cross-compiled one, build a temporary gcc and use that to build a 'real' gcc which should be the same as the temporary one... Or something like that.

[2016-06-16 00:18] lyxell commented on #185
@minektur I'm not really sure on what you mean, could you elaborate? Why would there be any advantages of using a self-hosted build? The rest of the OS is cross compiled with the same settings.

[2016-06-17 04:48] minektur commented on #185
well.... call me a purist? but... Ok I found someone else who explained it pretty well.  Read this http://programmers.stackexchange.com/questions/263651/why-are-self-hosting-compilers-considered-a-rite-of-passage-for-new-languages    stackoverflow question and find the answer by DefinitelyNotSteve, where he paraphrases steve yegge.

Here is my summary of his summary and thoughts, well point 3 anyw

[2016-06-17 06:10] lyxell commented on #185
@minektur Well, I guess it is good to do some testing to make sure it is working, but if it is, there's actually no sane reason at all to use a bootstrapped compiler instead of a cross compiled one and I can't think of an operating system in the world which are doing this.

[2016-06-17 12:33] hsharrison opened #187 "How to test package file?"
The homepage describes how to create a rb file for a new package but not how to use a local rb file. How do I actually run it? Do I have to uninstall the canonical chromebrew then reinstall my own copy, or is there an easier way?

[2016-06-17 14:54] lyxell commented on #187
Move the file to `/usr/local/lib/crew/packages`, e.g. `/usr/local/lib/crew/packages/mypackage.rb`, then run `crew install mypackage`.

This should probably be added to the README.md.

[2016-06-17 16:26] hsharrison commented on #187
Excellent, thanks for the info.

[2016-06-20 04:05] minektur commented on #187
If anyone can explain how the file registration works - how chromebrew picks up what files got installed - I'd love to hear - it should be part of any "here is how to make a package" instructions.  I got it to work by mindlessly coping what another package did, but I don't have a deep enough understanding to know why it works...

[2016-06-20 23:37] lyxell commented on #187
@minektur When a package is installed all files are first moved to `/usr/local/tmp/crew/dest`, then, using the `file` command, a file containing all the resulting filenames are saved into `/usr/local/etc/crew/meta/`. Most of it happens here: https://github.com/skycocker/chromebrew/blob/8eef57d094e11e9235ba424ee1e9f66ac88c34d1/crew#L245-L286

[2016-06-21 22:05] #69 closed

[2016-06-21 22:06] skycocker commented on #163
@apathinwalking, @lyxell - should we consider it fixed by now?

[2016-06-21 22:06] #152 closed

[2016-06-21 22:17] skycocker commented on #183
what about some git blame usage?

[2016-06-21 22:18] stevenjgilmore opened #189 "ig"

[2016-06-21 22:19] skycocker commented on #189
?

[2016-06-21 22:33] stevenjgilmore commented on #189
Not sure how I opened this, accidental combination of keys..

I am currently having the same issue reference here when I try to install vim: #56

Sorry for the clutter.

[2016-06-21 22:33] #189 closed

[2016-06-22 00:07] lyxell commented on #168
@minektur I've never tried Cloudready myself but I guess it should work if Cloudready is available for ARM.

[2016-06-22 00:13] lyxell commented on #163
@skycocker Yes.

[2016-06-22 14:38] bfayers commented on #168
@minektur @lyxell Nope, there isn't an ARM one.

[2016-06-22 16:21] hsharrison opened #190 "readline causes error: undefined symbol: rl_signal_event_hook"
I get this error when trying to run bash: `bash: symbol lookup error: bash: undefined symbol: rl_signal_event_hook`

`sudo crew remove readline` fixes it and doesn't seem to break anything. So I have to run this after every time I install something with a readline dependency.

I think the problem stems from a mismatch between the crew readline and the one that ChromeOS's original bash was built wi

[2016-06-22 16:36] hsharrison commented on #179
How did you get this to work without yacc? I tried changing the source_url, version, and source_sha1 fields, but it still needs yacc.

[2016-06-22 16:40] hsharrison commented on #187
@minektur The packages get compiled, so it's up to the package what files are included. crew simply downloads the file in the source_url field, checks it hash against the source_sha1 field, then runs the commands under `self.build`.

[2016-06-22 16:53] Brunux commented on #179
Yep correct, like Lex = Flex you need to symlink those

[2016-06-22 17:05] hsharrison commented on #179
I got it to work just by installing bison. Should I also be symlinking something?

[2016-06-22 17:11] Brunux commented on #179
I guess it depends on the package that you are trying to build as a good practice you could symlink BSD style tools to GNU style tools but only if those are compatible like Bison and Flex vs Yacc and Lex respectively.

[2016-06-22 17:44] minektur commented on #168
I'll have to keep an eye out on craigslist for a cheap used one...

[2016-06-22 17:54] thedamian commented on #190
I saw this in the dev channel. This "bash: undefined symbol: rl_signal_event_hook" is a problem with the latest version of bash 4.3

Does anyone know how to fix this?

@hsharrison are you in the dev channel on your chromebook?

https://www.google.com/search?q=bash%3A+undefined+symbol%3A+rl_signal_event_hook

[2016-06-22 19:05] hsharrison commented on #190
I'm on beta. As I said, `sudo crew remove readline` fixed it for me and doesn't seem to cause any problems.

[2016-06-22 19:07] hsharrison commented on #190
@thedamian Is there a specific search result you're trying to draw attention to with that link?

[2016-06-22 19:31] thedamian commented on #190
The error is for more than just for this package.
If you've fixed the issue please close it or let's rename it to the rl_singal_event_hook error because as the code from the "DEV" Channel rolls into the regular channel we'll all see these errors throughout our code.

I take it bash 4.3 has gone to the beta channel already so this event will come soon enough.

[2016-06-22 20:24] hsharrison commented on #190
The error stems from a mismatch between the version of readline that bash was compiled with and the version of readline installed on the computer. That's why others have experienced it in different contexts.

[2016-06-22 22:13] lyxell commented on #190
Some packages depend on readline to be built.

Possible solutions:
* Use static libraries for readline
* Use the system readline

[2016-06-22 22:17] lyxell commented on #187
@hsharrison Can we close this issue?

[2016-06-22 23:19] hsharrison commented on #187
Fine with me. Only reason I didn't already is that you mentioned changing the README.

[2016-06-22 23:19] #187 closed

[2016-06-23 04:56] minektur commented on #187
what I mean is not source_url/sha1 hash (incidentally, we should switch to a stronger hash some time), but how the list of files that got installed is automagically recorded so you can crew remove them later -  /usr/local/etc/crew/meta/foo.directorylist and foo.flielist  for package foo.

I copied what another package did, and it seemed to do the right thing, but when I did slightly different ruby

[2016-06-23 16:10] lyxell commented on #187
@minektur Read my comment again. All the files are first installed into `/usr/local/tmp/crew/dest` which is an empty directory, that way, it is possible to record the filenames of all installed files for later use.

[2016-06-23 16:24] lyxell commented on #187
@hsharrison I added the required steps to the wiki https://github.com/skycocker/chromebrew/wiki/Creating-a-package

[2016-06-23 22:15] lyxell commented on #168
Closing in favour of #185

[2016-06-23 22:15] #168 closed

[2016-06-23 22:16] lyxell commented on #171
This would probably be solved by #185

[2016-06-23 22:17] lyxell commented on #175
@Brunux Can we close this?

[2016-06-23 22:20] lyxell commented on #142
@trisk Do you still have these issues?

[2016-06-23 22:56] Brunux commented on #175
Sure, thanks guys

[2016-06-23 22:56] #175 closed

[2016-06-23 22:57] Brunux commented on #183
Yeah sure

[2016-06-23 22:57] #183 closed

[2016-06-23 22:57] #182 closed

[2016-06-24 00:07] trisk commented on #142
@lyxell
Reinstalling mpc gets me a copy of /usr/local/lib/libmpc.so.3.0.0 for amd64 now, though /usr/local/libexec/gcc/x86_64-unknown-linux-gnu/4.8.1/cc1 is still linked to libmpc.so.2. There's a symlink from libmpc.so.2 to libmpc.so.3.0.0. gcc seems to work, but forcing an incompatible version of libmpc is a really bad idea and it should be rebuilt.

[2016-06-26 00:34] MaxPleaner commented on #156
same issue.

[2016-06-26 21:47] #163 closed

[2016-07-02 12:00] bfayers commented on #185
@lyxell Hey, I never did get python to compile don't really know why it was having issues with dependencies even though they where compiled and installed. even tried linking them.

[2016-07-02 12:47] lyxell commented on #185
@bfayers Alright, I'll look into it.

[2016-07-11 02:56] bmorris22 opened #198 "Bash error "Segmentation fault (core dumped)" results after compiling with gcc"
What I was doing: Compiling (using the gcc toolchain provided by chromebrew) and installing a small library using the standard
`./configure
make
sudo make install`

What happened: No errors were reported from make or gcc during this process In fact it installed correctly on my machine. Now when I call bash I get
`/bin/bash: symbol lookup error: /bin/bash: undefined symbol: rl_signal_event_hook`
if

[2016-07-11 05:52] lyxell commented on #198
Duplicate of #190?

[2016-07-12 01:57] #198 closed

[2016-07-15 21:23] faddah opened #199 "libpng install cannot download, checksum mismatch"
i've tried to install libpng with `crew install libpng` on my acer chromebook C720P-2600.

when i do, it can't even finish after the download, due to a checksum mismatch ‒

[code]

so i think this needs to be pointed at a correct download with a corrected checksum.

best,

—  faddah
     portland, oregon, u.s.a.

[2016-07-16 15:22] samuelwight commented on #143
I had to do a reinstall of chromebrew and tried to install node and I'm getting the same error.

[code]

[2016-07-16 17:26] bfayers commented on #185
@lyxell Did you get any further? Fine if you didnt I've tried a few times to build with 0 succcess so far.

[2016-07-16 19:46] faddah opened #200 "node_current does not install"
hello,

i am finding this on all the node installs, but particularly with the one i want, `node_current`. i do a `$ crew install node_current`, it goes on for for quite a while configuring, compiling & installing, about an hour each time, and then it always fails and exits on the install with —

[code]

this happens every time, and after it going on with the install for nearly an hour. why is this

[2016-07-18 02:42] thedamian commented on #200
you asked three questions, and I'll go in backwards order for speed
1) Why does it ask for password: Because we set permissions so you can npm i -g without sudo
2) why does it say npm: not found (for the same reason as #3
3) Why does it fail to install (regardless of how long it takes)

THIS is all the same issue. I know that each time I install it I have to do something in addition that regular c

[2016-07-18 18:07] thedamian commented on #200
Alright.

Just wiped my chromebook clean and I'm running the Dev Channel (TO make sure) and I'm having the same issue.

I fixed it by copying the files manually.

Do me a favour:
1) Make sure you're using my newest file (not the regular one in chromebrew's regular git
2) get RID of the line I put at the end:
system "sudo chown -R $(whoami) $(npm config get prefix)/{lib/node_modules,bin,share}"

yo

[2016-07-18 18:14] thedamian commented on #200
Ok. @faddah You took too long (more than 2 minutes ;-P ) so I did it for you.

See pull https://github.com/skycocker/chromebrew/pull/197

Just copy the node_current.rb and place it in your /usr/local/lib/crew/packages directory.
Do the same with the openssl_devel.rb

then try it again. It'll go MUCH faster this time (which isn't saying much) and please report if it installs it.

[2016-07-21 00:46] faddah commented on #200
@thedamian (& @skycocker ) —

ok, sorry, i took a few days off. i wasn't expecting someone to be checking for my posts and doing fixes and PRs, like, every two minutes.  ;)  but i thank you for your attentiveness.

so i did as you said, got the `node_current.rb` and the `openssl-devel.rb` from your PR #197, and tried running the install but the damn Acer C720P-2600 crashed on me 2/3s of the way th

[2016-07-21 02:24] thedamian commented on #200
Put the 10 or so last lines after it failed to install. Or is it the kind of a crash that reboot the machine. Crew should nEVER do that.

[2016-07-21 05:42] faddah commented on #200
@thedamian & @skycocker —

hi. well, it failed. i tried it about three times, as it kept doing that query for my admin Password, and the first couple of times it also failed (same failure, not finding npm), as i didn't give it the password in time (doing chores around the house while it takes an hour or so each time to compile the source). the third time i input the password correctly on time, but

[2016-07-21 12:15] thedamian commented on #200
Edit the node_current.rb file in /usr/local/lib/crew/packages

Take out the second to last line or so that should say

System "`sudo chown -R chronos.....

Then run it again.

I will uninstall node and try that myself but I can't be sure if it works for me it'll work for you.

It should no longer ask you for your password and now no longer fail.

[2016-07-21 17:10] thedamian commented on #200
ok @faddah

I just updated my pull. Update the /usr/local/lib/crew/packages/node_current.rb with the file below (linked at the bottom)

then run the crew install node_current

you shouldn't have to "catch the login" and just try this and see if it installs node.

https://raw.githubusercontent.com/thedamian/chromebrew/cc998495853b668ab0ee8aabebd5235b4858836e/packages/node_current.rb

[2016-07-22 20:52] TheLonelyGhost commented on #132
Just wanted to throw my hat into the ring for support of other package repositories, similar to Homebrew's tap functionality.

[2016-07-23 08:00] mike-pomodoro opened #201 "python2 -c 'import ssl' fails"
I'm using Chromebrew, version 0.2.1 on an Acer C720 laptop.
I ran: crew install python27
And learned python 2.7 is not compiled/built with ssl support so this command fails:
    python -c 'import ssl'

To fix this  I downloaded python27  source (crew download python27) and added line 792 and line 806.

/usr/local/tmp/crew/Python-2.7.10/setup.py
 791         search_for_ssl_incs_in = [
 792

[2016-07-23 09:41] mike-pomodoro commented on #201
Actually I think the only problem is that openssl needs to be installed first, and then python27; so this dependency should probably be added.

[2016-07-23 10:14] mike-pomodoro commented on #201
The new openssl package broke  ssh.

chronos@localhost ~$ ssh sdf
OpenSSL version mismatch. Built against 1000207f, you have 1000105f

[2016-07-23 18:28] mike-pomodoro commented on #190
I powerwashed my Acer c720 chromebook. After installing chromebrew, bash gives this error:

Copy of shell output:  http://pastebin.com/8iUjFaBi

Seems bash (and a bunch of other commands) breaks anytime chromebrew is installed :(

Removing readline does get bash to work again:

[2016-07-23 18:37] mike-pomodoro commented on #201
removing openssl allows ssh to work again:

[2016-07-24 03:42] mike-pomodoro commented on #174
I downloaded the latest stable screen source code. Ran configure, make, then make install. It works fine no issues with /var/run/utmp.

I'm using the latest chromebrew on an Acer c720.

[2016-07-24 04:09] mike-pomodoro commented on #174
to fix the /var/run/utmp issue try:  sudo crew remove readline
the version of readline installed by chromebrew  causes many programs to break.

[2016-07-24 04:18] alexzapatka commented on #174
works perfectly when i removed readline!!  it was driving me nuts!

tmux does the same thing to me... so my guess is readline will fix that
issue too.

many many thanks.

On Sun, Jul 24, 2016 at 12:09 AM, mike-pomodoro <notifications@github.com>
wrote:

--
 -o)
  /\\    Message void if penguin violated
_\_V    Don't mess with the penguin

[2016-07-24 16:17] bfayers commented on #185
@lyxell, there is a bit of an issue with the toolchain (for arm) I decided to reinstall chromeos and the toolchain is 299M and the root partition (/) only has 288M avaliable, so the only way is to put it in a folder and use PATH and EXPORT, any solution? might it be that im on chrome stable?

[2016-07-24 17:10] lyxell commented on #185
@bfayers That sounds strange, shouldn't the Samsung Chromebook have like 16GB storage? The reserved space should be the same on the beta and stable channels.

[2016-07-24 19:24] bfayers commented on #185
@lyxell Its always been like that,  small amount in / its /home/chronos/user that has about 8gb

[2016-07-24 23:44] faddah commented on #200
@thedamian & @skycocker  —

so i did download the latest `node_current.rb` and replaced it from what was in my `/usr/local/lib/crew/packages/` directory. i then ran the `$ crew install node_current`. it goes further, seeming to install most everything, after its usual hour or so of needing compile, but unfortunately, it _*still*_ does not install node or npm. i get a lot of "installing" messages a

[2016-07-25 02:28] thedamian commented on #200
@faddah  That explained it all

I've done a check in that will fix the issue.

Again copy the node_current.rb to your /usr/local/lib/crew/packages just like last time but this time use the new versions I just uploaded.

https://raw.githubusercontent.com/thedamian/chromebrew/f0202173fe415d6cd0f3dd998f72c5e6ea8cf539/packages/node_current.rb

Thanks for the help @faddah

[2016-07-25 22:50] faddah commented on #190
the `sudo crew remove readline` did it for me — i used that and i suddenly didn't get`error: undefined symbol: rl_signal_event_hook` issue anymore, especially on npm installed packages that should run fine on their own, like `n` or `http-server` or `json-server`. they all work now, didn't before, kept getting the error with `rl_signal_event_hook`. as stated above, this seems to be a conflict betwe

[2016-07-26 01:17] faddah commented on #200
@thedamian & @skycocker —

unfortunately, i didn't wait much longer. i was able to install Node.JS v6.3.0 and npm v3.10.3 from source after much back and forth on ChromeOS reddit forum (see here — https://www.reddit.com/r/chromeos/comments/4t6oh9/acer_c720p_in_dev_mode_with_chromebrew_cannot_do/), i got it to install from source.

so i have Node.JS v6.3.1 &  npm v3.10.3 installed, and, to be hones

[2016-07-27 01:48] thedamian commented on #200
@faddah
you didn't take my advice and install my package correctly.

luckly node update to 6.3.1 so I had a chance to do it myself.

I instlaled it with the node_current.rb in the pull that's waiting to be approved.

and here's the output that successfully worked:

....
installing /usr/local/tmp/crew/dest/usr/local/include/node/openssl/archs/darwin-i386-cc/opensslconf.h
installing /usr/local/tmp/c

[2016-07-27 01:50] thedamian commented on #200
p.s. I'm using the latest developer channel

Version 53.0.2785.23 dev (64-bit)
Platform 8530.24.0 (Official Build) dev-channel link
Firmware Google_Link.2695.1.169

so it works on all chromebooks now with any version.

Enjoy.

[2016-07-27 13:37] lyxell commented on #185
@bfayers I'll look into it when I'm back from vacation. I think I've managed to get Python working as well.

[2016-07-27 15:53] bfayers commented on #185
@lyxell okay, cool. Just looks like finding a location withing /home (which has 8.2GB) and using /etc/environment to set it all.

[2016-07-27 16:39] thedamian commented on #200
Readline's "undefined symbol: rl_signal_event_hook" issue fixed in latest pull https://github.com/skycocker/chromebrew/pull/197

[2016-07-27 16:41] thedamian commented on #190
Readline updated to 6.3 to fix the "undefined symbol: rl_signal_event_hook "

https://github.com/skycocker/chromebrew/pull/197

@hsharrison  please close this issue once you've tested the solution.
(if you don't know what to do is copy the readline.rb from that pull, copy it to your /usr/local/lib/crew/packages directory and then do a 'crew upgrade readline')

Enjoy!

[2016-07-28 03:41] thedamian opened #202 "How to install Ruby 2.3.1 in chromebook - Comments please!"
Alright.

This is NOT an issue. but something I will post on the wiki. But first I need to know what you think.

I have ruby 2.3.1 AND RVM (so Rails next?)

Here's how I did it.

1) I installed rvm
curl -sSL https://get.rvm.io | bash -s stable
# It will fail installing ruby because of openssl and because it can't find which version of linux we have

2) install openssl 1.0.2f
crew install openssl_d

[2016-07-28 08:25] mike-pomodoro commented on #202
Prefer putting it in the package.

Otherwise I'd manually install rvm, have it fail, google the error and may or may not  find the wiki on how to fix it. Having it in a package would probably save an hour or more of troubleshooting.

[2016-07-28 11:57] lyxell commented on #190
@thedamian Your solution will break if Chrome OS updates readline again. A better solution would be to either use the system readline or a static version of readline.

[2016-07-28 12:09] thedamian commented on #190
the issue IS with our version of readline. We need the readline package for some other packaged here and the version checked in doesn't work well with the current version of bash installed.

So correct me where I'm wrong to upgrade readline.

[2016-07-28 12:36] lyxell commented on #190
The issue started to occur when Google updated the system version of readline inside Chrome OS, making it mismatch the one installed by Chromebrew. If you update it again, it will work, but it would break if Google decides to update readline again. To make sure it won't break again, one could either use the system version of readline (not sure that this is possible) or only install the static libr

[2016-08-05 17:53] thedamian commented on #201
actually this pull request (it's an old one) already fixes this issue: https://github.com/skycocker/chromebrew/pull/207

please close this issue if this fixes the issue.

[2016-08-05 18:05] thedamian commented on #199
type to be a contributor @faddah
the issue is either the sha1 calculation or the actual file is missing.

you can see the words "404 not found" not "checksum mismatch" that you see below the real error.

So you have to find out why.

p.s. I can tell if it's because they changed to a new version an ddon't keep the old versions in the same place. so the new file is:

http://downloads.sourceforge.net

[2016-08-05 18:12] thedamian opened #208 "How to get a package from a .deb file.... PLEASE COMMENT AND CORRECT ME!"
OK. So you find the package you want but it's from a .deb file.
Our packages can't handle .deb files YET.

Here's what you do.
Download the file to some temporary directory.
ar vx {filename.deb}
create a new directory that represents this software, maybe same as the "filename" in "filename.deb" file and go into that directory.
tar xcvf ../data.tar.gz file (that's not ANY file. it's the actual data

[2016-08-05 20:59] lyxell commented on #208
Yes, this is the correct way to unpack a .deb-file. Most packages will work out-of-the-box, however, Debian-packages often have a very Debian-specific configuration which may result in undesired behaviour.

[2016-08-05 21:03] lyxell commented on #201
@thedamian Pull request #207 does not change OpenSSL in it's current state.

[2016-08-07 12:36] thedamian commented on #201
@lyxell your statement is.true but @Mike-pomodoro was trying.to install python eith openssl and that pull does that and so I think my statement stands.

[2016-08-07 12:42] thedamian commented on #208
What I'm thinking is that if we add support for.dev files to the crew command then we can add packages that instead of looking only at.tar.gz files will use chosen.dev files as well.

I'm working on a new package that had some dependencies that were simply some header files and were available in.dev form.

So instead of me doing this .deb trick manually and making my own tar.xz version that eventu

[2016-08-10 23:00] faddah commented on #200
@thedamian & @skycocker ‒

that last fixed it for me. node all installed, v6.3.1, along with npm and _lot_ o' packages. thank you for hand-holding me through all the help. ok to close this one out? do we need to keep it to make sure a fix is PR'd for this? please let me know. and thank you again.

best,

‒  faddah
    portland, oregon,. u.s.a.

[2016-08-10 23:52] faddah opened #210 "thttpd failed to install: `make DESTDIR=/usr/local/tmp/crew//dest install` exited with 2"
hi all,

thttpd is the closest thing we have to apache (correct?) nand i need it for doing WordPress development locally. however, each time i try and install it with `$ crew install thttpd` i get the following error, every time. this is on an Acer Chrombook C720P-2600. here are the specs on my Chromebook —

Version 52.0.2743.116 (64-bit)
Platform 8350.68.0 (Official Build) stable-channel peppy
Fi

[2016-08-10 23:57] faddah opened #211 "package/feature request — can we add MySQL?"
Hello,

Is it possible to add MySQL 5.6 or 5.7 to the list of install-able packages for Chromebrew, here, please? I need it for WordPress development. WordPress still will not work with any other SQL database except for MySQL, so SQLIte will not do.

Please let me know on this. Thank you.

best,

— faddah
     portland, oregon, u.s.a.

[2016-08-11 00:17] faddah opened #212 "package/feature request — can we add PHP 7.x?"
Hello,

Is it possible to add PHP 7.x (whatever is current stable version) to the list of install-able packages for Chromebrew, here, please? I need it for WordPress development. WordPress still will not work without PHP.

Please let me know on this. Thank you.

best,

— faddah
     portland, oregon, u.s.a.

[2016-08-11 02:31] thedamian commented on #200
No. You can close this issue and the PR will love along with .

You COULD do us all a favor and always comment on the PR 's thread saying it worked for you with tmsome details so that it'll be more quickly merged.

[2016-08-11 02:40] thedamian commented on #210
I don't think Thttpd will do php

So I don't think it'll help.

Look into code9 or codeanywhere for for a better solution to your issue

[2016-08-11 15:56] faddah commented on #200
ok, i'll comment on the PR thread. thanks! consider this closed.

best,

—  faddah
     portland, oregon, u.s.a.

[2016-08-11 16:26] faddah commented on #210
@thedamian & @skycocker —

well, ok. that's all well and good. but this install of `thttpd` is still not working, at all. what can be done to fix that? my needs for WordPress & PHP do not change the fact that this install still does not work.

best,

—  faddah
     portland, oregon, u.s.a.

[2016-08-11 16:27] #200 closed

[2016-08-14 03:40] mike-pomodoro commented on #201
Just installed chromebrew few minutes ago:

But still getting this error:

Laptop was powerwashed few minutes before installing Chromebrew (so it's freshly installed with nothing else mucking up the configuration):

Am I missing something or did this issue not get fixed?

[2016-08-14 03:41] mike-pomodoro commented on #190
Just installed chromebrew few minutes ago:

But still getting this error:

Laptop was powerwashed few minutes before installing Chromebrew (so it's freshly installed with nothing else mucking up the configuration):

Am I missing something or did this issue not get fixed?

[2016-08-14 07:23] mike-pomodoro commented on #201
I someone got it working.

python can import ssl, ssh also works, but the readline error in issue #190 is still there can removing readline does not fix it.

It's better to use chromebrew from the master branch since all 3 of these issues can be worked around.

[2016-08-15 18:43] thedamian commented on #201
There's already pull requests fixing all of these issues.

[2016-08-16 18:28] rhughes89 commented on #146
I agree with @dragon788 I was able to install vim with no problems today on a Chromebook pixel

[2016-08-22 04:04] TheLonelyGhost commented on #202
I'm also interested in Ruby 2.3.1 on a chromebook, but would definitely be dissuaded by the automatic inclusion of RVM.

What makes this different from updating the SHA, source URL, and dependencies in the `Ruby_latest` package?

Can RVM be its own package instead? Have you tried porting something simpler like chruby with ruby-install?

[2016-08-22 17:01] dryamJS opened #213 "Java package error"
mv: cannot stat ‘/usr/local/tmp/crew//usr/local/opt/java/bin/javac’: No such file or directory
mv: cannot stat ‘/usr/local/tmp/crew//usr/local/opt/java/bin/jvisualvm’: No such file or directory
mv: cannot stat ‘/usr/local/tmp/crew//usr/local/opt/java/bin/jcontrol’: No such file or directory
Jdk8 installed!

A little mistake.

[2016-08-25 12:52] plunkinguitar opened #214 "How are you doing this? Can it scale?"
A friend of mine and I are doing something similar and are wondering how you are doing this, would it be possible to develop something like a real package manager to work with the ubuntu repository? Also, how do you manage dependencies and the different file structure that chromeos(gentoo based) has as opposed to the file structure of ubuntu(debian based)?

[2016-08-25 16:45] PoisonNinja commented on #214
Hi @plunkinguitar, strange to see you here :).

I don't know the exact implementation details, but if it's anything like Homebrew, this should be reasonably correct.

1. Chromebrew downloads the source package from the link specified from the package recipe. You can see them in the packages directory.
2. Chromebrew then extracts the packages and verifies the checksums
3. It then builds the package

[2016-08-25 16:56] smerkousdavid commented on #214
Hey Jason, I didn't expect you to be on this thread. We have also got dpkg and apt-get working on the chrome-side but it's really hacky and fails about %30 of the time because of the wrong configs. Also since so many depend on the non modified (by gentoo) libc library that we receive segmentation faults constantly. I am still trying to figure out how to fix it without completely ruining chrome os

[2016-08-25 17:03] PoisonNinja commented on #214
Yeah, another problem was I kept on running out of space. I hacked around that by binding a folder on the bigger partition over /usr/local, but it's disgusting. On a side note, do you get seg faults with Chromebrew if you run ldconfig?

[2016-08-25 17:07] smerkousdavid commented on #214
@PoisonNinja Yeah I had the same problems that usr/local would run out of space and to expand it we would have to rootmount which means a double reboot and a pain since if they cancel the remount which is not fun on lower level folder (@plunkinguitar has tried) can screw up chromeos and it takes multiple shots. Also I don't think I remember getting seg faults with ldconfig. I haven't used chromebr

[2016-08-25 17:14] smerkousdavid commented on #211
@faddah
Have you thought about doing it yourself from source? Maybe it could be added to the list but for now you can use gcc,cmake and make which chromebrew supports
https://dev.mysql.com/doc/refman/5.6/en/installing-source-distribution.html

[2016-08-25 18:30] PoisonNinja commented on #214
@smerkousdavid https://github.com/PoisonNinja/uoc is the repo with my attempt at getting dpkg and apt-get to work on Chrome OS

[2016-08-30 15:54] rlobrecht opened #216 "The path "/usr/local/include/linux" is not a valid path to the 4.4.14+ kernel headers"
I am new to this Github thing, so if I'm asking this in the wrong place, please let me know.

I have a [Cloudready ](https://neverware.zendesk.com/hc/en-us/articles/214564457--UPDATED-Un-Official-CloudReady-Virtual-Machine-Images-)ChromeOS virtual machine running in VMWare.  I have installed chromebrew, and with it linuxheaders, which seems to be version 3.4.0.

Would it be possible to get an upda

[2016-08-31 19:59] benlowry opened #217 "Website doesn't link to packages or github repo..."
https://skycocker.github.io/chromebrew/

[2016-09-07 16:08] jkoudys commented on #212
+1

[2016-09-21 15:13] TheLonelyGhost commented on #214
Slightly off-topic from how this current thread is going, but relevant to the original topic:

Has anyone considered how Homebrew, the project this was clearly based off of, has been recently refactored to allow [cross-platform support](https://github.com/Homebrew/brew/pull/168)? Why not reuse the architecture from Homebrew and just focus remaining efforts on supporting packages on ChromeOS?

[2016-09-22 04:02] krruzic opened #218 "Compiling Irssi"
This isn't an issue persay with chromebrew, but more the process in actually compiling stuff on chromeOS. I have a Acer R 11 for reference. Anyway, I'm trying to compile irssi so I grabbed the tar.gz of github for the latest tag release. I run `configure` and get an error and check the config.log and here's what I see:

[code]

There's  a few problems here but the first two are easy enough to solv

[2016-09-22 15:11] krruzic commented on #218
Found out the problem. ~ is mounted as noexec, once I removed r/w restrictions and remounted with exec I can try to compile. No glib.h though so not sure where to go

[2016-09-22 15:11] #218 closed

[2016-09-22 21:49] krruzic opened #219 "Compiling a program that relies on libtool breaks libc"
In @thedamian's fork he has libtool built and it seems to work. Now I want to build [pcre](http://www.pcre.org/) but when I do, it runs the libtool install and ends up segfaulting. This breaks libc and all my programs start segfaulting. I'm working on building it without autotools to get around this, but any explanation for this would be helpful.

[2016-09-22 21:54] krruzic commented on #219
Maybe relevant, I tried `make install` after compiling pcre but set the prefix to something other than `/usr/local` and it worked no problem. I was thinking of copying the stuff over after doing this as a possible solution but I don't know. My knowledge on linking and building is very limited.

[2016-09-23 07:24] krruzic commented on #219
After following the `creating-a-package` guide and only installing to `/usr/local` with `crew` I've managed to avoid this issue. It seems that when you set `--DEST-DIR` with `make install` it doesn't run libtool.

[2016-09-23 07:24] #219 closed

[2016-09-23 07:26] krruzic commented on #153
I'm working on this but am having a problem with one of redshifts dependencies. `intltool` requires a perl module but the perl bundled with crew isn't configured to allow dynamic loading of modules. I tried compiling perl myself but didn't know how. If someone could do that this would hopefully be possible. Although I have a feeling it won't work anyway

[2016-09-23 18:12] krruzic commented on #217
In the top right it links to "fork me on github" click that and you'll get the repo. Packages should maybe be listed

[2016-09-25 01:07] alexmigf commented on #153
What about f.lux or iris?

[2016-09-25 02:07] krruzic commented on #153
k got a new perl by using linuxbrew (I actually suggest people just use that as it's easier and seems to work). I'll try compiling this again. I'll also check out flux

[2016-09-25 18:54] krruzic commented on #153
like I thought, redshift won't work. If you have android apps try things like Twilight. It changes the screen colour but seems to act like a big window on top of everything. No click or touch events pass through it

[2016-09-25 19:46] alexmigf commented on #153
Ok, thanks anyway for the efforts ;)

[2016-09-30 05:56] clouds56 opened #220 "Openssl need to update"
now the prebuilt version 1.0.1e is affected by heartbleed, please consider upgrade it to the latest version.

[2016-10-01 15:53] 4k-developer opened #221 "Can't use ./"
I can't do ./configure because it keeps saying permission denied. I tried chmod but still says that and i'm doing this in my internal SSD so I know its ext. Can someone help please.

[2016-10-02 02:11] thedamian commented on #220
I've seen a lot of complains that are fixed in the pull requests.

For open source software please check pull requests before starting new "issues"

[2016-10-02 02:12] thedamian commented on #221
You'll have to be more specific. You don't do ./configure unless you're manually building some software which is related to an issue somewhere other than here.

[2016-10-02 02:14] thedamian commented on #217
Packages are listed.
Please look for the words "packages" which is Germán for "Packages"

[2016-10-02 02:16] 4k-developer commented on #221
Sorry forgot to close. I figured it out ChromeOS has the home dir mounted noexec

[2016-10-02 02:16] #221 closed

[2016-10-02 02:16] thedamian commented on #216
I think that version of chromium has a newer kernel than the "real chromebooks"

That may explain your issue

[2016-10-02 02:17] thedamian commented on #213
Created the jdk8 package back in the carter administration but can you run "java"?

[2016-10-02 02:19] thedamian commented on #201
Mike my install.sh isn't the solution. The package that installs python is.

Of course I'm saying this for the next person that runs into this since you're all set without our help (best solution ;-)

[2016-10-02 05:32] krruzic commented on #217
They aren't listed anywhere on the website.

Where are you seeing them?

[2016-10-03 11:37] thedamian commented on #217
Either we are thinking of two different things when you say packages or you're going blind like me.

If you're seeing this text (on github not on your email client) then click on "Code" and look for packages

You can use control-F on Linux and windows or command-F on a Mac to help with this.

Don't we all need Ctrl-F in our lives!

[2016-10-03 17:41] krruzic commented on #217
The website being https://skycocker.github.io/chromebrew/ I know the packages are listed in the code repository. We are thinking of two different things haha

[2016-10-04 01:36] thedamian commented on #217
The website can't link to the packed because
1)they change too frequently
2) it wouldn't fit the standard of brew we're following which is that the search is in the app not a website.

[2016-10-04 01:37] thedamian commented on #217
@kruzics please close this issue since even if you think you're right there's a repository for the website and this ain't it.

[2016-10-04 22:41] krruzic commented on #217
I didn't make this issue... and you're right. @benlowry

[2016-10-10 22:00] thedamian commented on #220
Just for reference he's the pull that fixes this very issue you're talking about:
https://github.com/skycocker/chromebrew/pull/181/files

Now I agree completely. the openssl installed originally (and the same for python or ruby and anything else installed) should be updated for the latest, but that pull will at least help you with the issue you've brought up.

[2016-10-11 13:50] clouds56 commented on #220
Thanks!

[2016-10-11 18:51] Camarde commented on #213
I have the same problem with jdk, just tried it again. I get the following error:
`chronos@localhost / $ java
Error: could not find libjava.so
Error: Could not find Java SE Runtime Environment.`

See attachment for complete log during "crew install jdk":

[feedbackJdb8.txt](https://github.com/skycocker/chromebrew/files/522678/feedbackJdb8.txt)

[2016-10-24 12:43] danilofreire opened #228 "Add R to the list of packages?"
Is there any way to install [R](https://www.r-project.org/) with Chromebrew? Thanks! :)

[2016-10-24 12:55] bfayers commented on #228
http://unix.stackexchange.com/questions/149451/install-r-in-my-own-directory

Try follow those directions.

[2016-10-24 13:09] danilofreire commented on #228
@bfayers thanks for the link. I've downloaded the file successfully but this command doesn't seem to work `./configure --prefix=$HOME/R`. I've tried different directories (`$HOME`, `$HOME/R/bin` and `$HOME/bin`) but I keep getting this error: `configure: error: No F77 compiler found`. Any suggestions?