[2018-12-30 02:03] sajjaadf commented on #2993
*Sajjaadf is on slack

[2018-12-30 02:03] JL2210 commented on #2993
Sure. No problem with that.

[2018-12-30 02:41] sajjaadf commented on #2999
@caglewebsolutions Im using crouton and chromebrew at the same time

[2018-12-30 02:41] sajjaadf commented on #2999
I installed a simple nongui chroot with sommelier and crew for sommelier for testing

[2018-12-30 02:42] sajjaadf commented on #2998
FINALY!!!!

[2018-12-30 02:43] sajjaadf commented on #3022
what is `[libticonv]`

[2018-12-30 02:44] JL2210 commented on #2999
@sajjaadf Installing Crouton and Chromebrew together is unsupported. Use one or the other or we can't help you.

[2018-12-30 02:45] uberhacker commented on #3022
The package name is between the brackets.

[2018-12-30 17:00] caglewebsolutions commented on #2999
Exactly. I want to set it up on a separate system so it could be supported. Yes, I totally could use both on the same system but a) my internal space on this Chromebook is very limited to begin with b) they've stated using both on the same system is unsupported.

Because of space alone, I only want to use one or the other for regular use. I'd love to switch to Chromebrew for regular use when it's

[2018-12-30 17:00] sajjaadf commented on #2999
@JL2210 I know

[2018-12-30 17:01] sajjaadf commented on #2999
my Chromebook has android apps too

[2018-12-30 17:01] sajjaadf commented on #2999
all on my sd card

[2018-12-30 17:02] sajjaadf commented on #3021
Well, that is bad news for me

[2018-12-30 17:04] caglewebsolutions commented on #2999
That's nice. But some of us are interested in this solution or Crouton because our Chromebooks have yet to receive official support from Google for Linux apps. And then I'm sure there are still those who prefer Crouton or Chromebrew over Google's solution for Linux.

It's cool if you're able to use both but at least with Chromebrew, they won't be able to help you if you have any issues. So that's

[2018-12-30 18:10] sajjaadf commented on #2999
yup

[2018-12-30 18:11] sajjaadf commented on #2999
I know

[2018-12-30 23:16] sajjaadf commented on #2993
now somenewserverupdatesinthebackground

[2018-12-30 23:16] sajjaadf commented on #2993
whops

[2018-12-31 04:59] skiman6010 commented on #2999
@sajjaadf I'm not going to warn you again, stop with the spammy messages that add nothing to the conversation. One comment is enough and if you need to add more, you can always edit. Thanks in advance! :)

@caglewebsolutions I'm going to leave this open and the Code issue open for us to track the problem, but if you don't want to hear anymore about this I would recommend unsubscribing to the issue

[2018-12-31 17:17] #2902 closed

[2018-12-31 21:43] JL2210 opened #3032 "`alsa_plugins` package installs files in /usr/local/lib6464 on x86_64"
[code]

[2019-01-01 01:49] nosarthur opened #3033 "package update request: protobuf"
The current protobuf in crew is 3.5.1, which was released on Dec 20, 2017
[code]
The latest release is 3.6.1
https://github.com/protocolbuffers/protobuf/releases

[2019-01-01 01:59] JL2210 commented on #3033
@uberhacker Can you assign me to this?

[2019-01-01 06:22] #2991 closed

[2019-01-01 07:09] uberhacker opened #3037 "[protobuf] Check fails"
[code]

[2019-01-01 07:38] uberhacker opened #3038 "[rhino] Unable to build"
[code]

[2019-01-01 15:46] JL2210 commented on #3038
It has to be an uninterrupted build. Restart, open one tab, and build Rhino in that tab without letting your Chromebook fall asleep. Here's something that can fix that issue: [Keep Awake](https://chrome.google.com/webstore/detail/keep-awake/bijihlabcfdnabacffofojgmehjdielb)

[2019-01-01 15:53] JL2210 commented on #3037
That package supposedly needs the Googletest sources to check. You can go ahead and remove the `def self.build` section.

[2019-01-01 16:13] uberhacker commented on #3038
I have it set to keep the display on when idle so that is not it.

[2019-01-01 16:14] uberhacker commented on #3037
You mean the `def self.check` section?

[2019-01-01 16:17] JL2210 commented on #3037
Yes. Sorry.

[2019-01-01 16:18] JL2210 commented on #3038
I don't think that works. Anyway:

[2019-01-01 16:18] JL2210 commented on #3038
It builds fine for me, on a fresh Chromebrew installation.

[2019-01-01 16:58] sajjaadf opened #3039 "Fix cursor Bug"
so you don't get a bug for GUI apps

[2019-01-01 17:43] #3038 closed

[2019-01-01 17:48] uberhacker commented on #3039
@sajjaadf: What bug do you notice?  When you open an issue, please enter a brief description of the issue you are experiencing or we won't be able to help with a "fix".  Screenshots would be helpful also, if needed. IOW, we need to know what you mean by a bug.

[2019-01-01 18:14] skiman6010 commented on #2985
@JL2210 @uberhacker On top of that, the stable channel is rolled out in batches over a week or so with different devices getting the update at different times or held back for an issue that is fixed, sometimes the "check for updates" button doesn't pull the update because the update isn't available for your board.

Anyway, I can actually reproduce this issue unlike the others, so I will work on so

[2019-01-01 19:18] uberhacker opened #3043 "[tilp2] Cannot execute tilp"
[code]

[2019-01-01 20:31] vincowl opened #3044 "Cannot install or upgrade GUI apps due to xsetroot error"
## Description
Several apps cannot be installed or upgraded due to xsetroot compilation error. Major failure !!

If you executed a specific command:
[code]

Output:
[code]

## Versions and system information
chromebrew: `crew --version`

ChromeOS: `cat /etc/lsb-release`

Model: YOUR MODEL HERE

Architecture: `uname -m`

## Addtional information
Mention things we might need to know. Like:

What I t

[2019-01-01 20:33] skiman6010 commented on #3044
Can you edit your issues with your Version and system information? Also what specific commands are you running?

Thank you!

[2019-01-01 20:35] vincowl commented on #3044
Yep... I am just doing it right now. I needed the issue reference before. Indeed, not the cleanest way to report errors

[2019-01-01 20:46] vincowl commented on #3044
Here is the config.log from
[code]
[config.log](https://github.com/skycocker/chromebrew/files/2719625/config.log)

[2019-01-01 20:51] skiman6010 commented on #3044
Only the stable channel is supported by `crew`.

[code]

[2019-01-01 20:59] vincowl commented on #3044
Damn !! Didn't get this info... Thanks ! Going to revert to stable channel and test this. #2890 is pretty clear.... Any idea if dev channel or beta one may be supported one day ? Don't want to spend too much time recompiling low level libraries : I will have to make choices between dev channel or chromebrew.  ...sigh...

[2019-01-01 21:20] skiman6010 commented on #3044
Most of the time the dev and beta channel works, it's just when Google makes a change we don't account for it until it reaches stable. It's just easier since none of us get paid for this.

[2019-01-01 23:53] #3043 closed

[2019-01-01 23:53] #3032 closed

[2019-01-02 01:51] vincowl commented on #2998
Any news on this issue ? Having the same problem here on a fresh install : vscode cannot run given a GTK error (cannot open Display :0)

[2019-01-02 03:03] JL2210 commented on #2998
@vincowl Have you installed `sommelier` and run the **blue text** at the bottom? That might fix your issue.

[2019-01-02 03:08] JL2210 commented on #3039
@sajjaadf Can you please give us your system details? We may be able to help you if you do.

[2019-01-02 03:09] JL2210 commented on #3012
@sajjaadf That would fit into "web".

[2019-01-02 08:52] vincowl commented on #2998
@JL2210 Yes I did and apps like gimp, filezilla or inkscape are displaying in a normal way. I am trying to reinstall code using ```crew install -S code```.

[2019-01-02 10:52] siddhantsid opened #3047 "how to delete chromebrew"
i want to delete chrome-brew directory   please tell how to delete it

[2019-01-02 12:20] vincowl commented on #2998
Still this error message while running `code-oss` in a shell
[code]
Here is my `~/.bashrc`
[code]
**Here are the packages I installed**. Everything is up to date.
[installed_packages.txt](https://github.com/skycocker/chromebrew/files/2720703/installed_packages.txt)

## Versions and system information
**chromebrew:** 1.0.6

**ChromeOS:**
`CHROMEOS_ARC_ANDROID_SDK_VERSION=25
CHROMEOS_ARC_VERSION=516

[2019-01-02 13:53] vincowl commented on #3047
Please have a look at #9.
If you want to remove also installed apps, maybe not the cleanest way but here is my process `crew list installed | xargs crew remove`

[2019-01-02 14:40] rafi16jan commented on #2900
Guys, your wine build is defaultly installs to 64 bit wine on x86_64. Don't drop support to all i686 packages because we still need 32 bit wine

[2019-01-02 15:33] uberhacker commented on #2900
@rafi16jan: How would you suggest we change to support i686 on x86_64 systems?

[2019-01-02 15:42] rafi16jan commented on #2900
@uberhacker I don't know. I mean packages like 32 bit wine is still critical, many of the legacy windows apps (which is where wine is good at, like the old MS Office) can only be ran on 32 bit wine. Maybe just make wine the only supported GUI 32 bit app?

Besides, can you elaborate about the build_cros_gcc script? I can't make it work although the command prints valid targets but it does nothing

[2019-01-02 15:45] uberhacker commented on #2900
We can build a 32-bit wine but it would only be installable on i686 systems.  I will let @JL2210 answer the build_cros_gcc script question since he is convinced it works.

[2019-01-02 15:54] skiman6010 commented on #2900
@rafi16jan Can you not use wine prefixes? This is the recommended way of running 32 bit programs on wine.

https://askubuntu.com/questions/74690/how-to-install-32-bit-wine-on-64-bit-ubuntu

[2019-01-02 15:57] rafi16jan commented on #2900
@skiman6010 I tried, but wine command is actually a simlinked to wine64 and winecfg, winefiles and stuff are all 64 bit. It gives an error "winecfg is a 32-bit installation, it cannot support 64-bit applications." if I put WINEPREFIX to a 32 bit prefix or WINEARCH=win32.

[2019-01-02 16:00] skiman6010 commented on #2900
@rafi16jan Okay... can you please create a new issue for wine then? Thanks.

[2019-01-02 17:08] sajjaadf commented on #3047
does this need to be in the wiki?

[2019-01-02 17:09] #3039 closed

[2019-01-02 21:13] skiman6010 commented on #3039
@jl2210 your hostility recently is getting to be unacceptable. Please keep it civil. We're all here to help one another.

Thank you for understanding.

[2019-01-02 21:52] JL2210 commented on #3039
@skiman6010 @sajjaadf I'm sorry. I just... get frustrated when people know something's not supported, do it anyway, and file an issue when it doesn't work. I'll try and help. @sajjaadf, what's the issue that you're having?

[2019-01-02 21:54] uberhacker commented on #3039
@JL2210: How do you even know what bug he is talking about if he hasn't described it yet? :1st_place_medal:

[2019-01-02 21:57] JL2210 commented on #3039
I just asked what the issue he was having was.

[2019-01-02 23:43] revolutionnaire commented on #1633
Is there an issue with using the distributed tarball [https://nodejs.org/dist/v10.15.0/node-v10.15.0.tar.xz](url)? I was able to install it on my Chromebook.

[2019-01-03 00:09] JL2210 commented on #1633
@revolutionnaire Nope. That's what Nodebrew does, anyway. If you want to install `node` from source, just run `nodebrew install-source <version>`.

[2019-01-03 08:06] uberhacker opened #3048 "[sommelier] Unable to install due to dependency loop"
Waited over 5 min on a fresh install without dependencies resolved.  Finally hit Ctrl+C to interrupt.  This is likely caused by libdrm or mesa.

[2019-01-03 12:04] JL2210 commented on #3048
How many lines were in the output? If there were only ~42 then you just
have to wait a while longer. Otherwise, check `tests/`.

[2019-01-03 12:33] rafi16jan opened #3049 "Wine is only 64 bit on x86_64, can't use 32 bit prefix neither WINEARCH=win32"
## Before you submit an issue
Please look up our issues, maybe your problem was mentioned before.

## Description
Wine is only 64 bit on x86_64, can't use 32 bit prefix neither WINEARCH=win32
See #3048 (for reference)

If you executed a specific command:
[code]

or even

[code]

Output:
[code]

## Versions and system information
chromebrew: 1.0.4

ChromeOS:
[code]
Model: Not a chromebook (Fyde OS)

[2019-01-03 12:34] rafi16jan commented on #2900
#3049 @skiman6010

[2019-01-03 13:40] JL2210 opened #3050 "[vim_runtime] Unable to build on x86_64"
Error building `vim_runtime` on x86_64:
[code]

[2019-01-03 13:53] JL2210 commented on #3048
Here we go:
[code]

[2019-01-03 13:54] JL2210 commented on #3048
That looks like it's it.

[2019-01-03 13:58] JL2210 commented on #3049
Anyway, the `build_cross_gcc` script was mainly meant for bootstrapping a Chromebrew installation, not general cross compilation.

[2019-01-03 15:11] rafi16jan commented on #3049
@JL2210 I think bootstrapping crew or even chroot (and install separate crew with ARCH changed to i686) is needed here. I remember I use to setup i686 crouton instead of amd64, and it works. It should work with chromebrew too with extra steps

[2019-01-03 20:20] JL2210 commented on #3050
`crew install`

[2019-01-03 20:23] JL2210 commented on #3050
However, Python support is only used if you enable it. It shouldn't cause any issues with `vim` itself. What I think we need is to have a link from `/usr/local/include/Python.h` to `python3.7m/Python.h`.

[2019-01-03 20:55] uberhacker commented on #3050
Think about what you just said.  I didn't enable python but yet it's asking for it when I try to install?  Looks to me like python is needed whether you want to use it or not.

[2019-01-03 20:57] JL2210 commented on #3048
I'm working on a PR with misc. fixes, so this should be easy to add.

[2019-01-03 21:04] sajjaadf commented on #3039
I reinstalled sommelier and it fixed itself

[2019-01-03 21:54] JL2210 commented on #3050
It's needed at compile time, but it's not needed at the time `vim` is run.

[2019-01-03 22:00] JL2210 commented on #3047
@uberhacker `rm -rf /usr/local` won't remove the chroots, only the comands to enter the chroots. You can reinstall those files and your data won't be lost. The reason being, `/usr/local/chroots` is a symlink, and is not removed recursively.

[2019-01-03 22:09] uberhacker commented on #3047
I haven't installed Crouton or any other chroot in a long time.  What directory is the symlink targeting?  If that is a subdirectory of `/usr/local` also then you lose the chroot files.

[2019-01-03 22:11] JL2210 commented on #3047
`/mnt/stateful_partition/crouton/chroots`

[2019-01-04 06:43] uberhacker opened #3053 "[mesa] Unable to build"
[code]

[2019-01-04 20:30] JL2210 commented on #3048
@uberhacker "Merging this is probably going to come back and bite us later but we'll deal with it then, I guess."
[code]

[2019-01-04 21:01] kaiminglee opened #3054 "[mosh] fails to run due to protobuf upgrade"
## Description
Protobuf was recently updated, but mosh is still linked against an older version.

[code]

Output:
[code]

What I think needs to be done:
- [ ] recompile mosh with current protobuff
- [ ] test

[2019-01-04 22:17] skiman6010 commented on #3054
Hey @kaiminglee thanks for the issue!

Is this an issue when mosh is installed via binaries only or an issue with binaries and source?

You can check by installing mosh via `crew install mosh -s`.

[2019-01-04 22:48] HebrewToYou commented on #3053
Same experience here.

[2019-01-04 23:00] JL2210 commented on #3053
We need to disable LLVM anyway. I'll fix it.

[2019-01-05 02:11] sajjaadf opened #3055 "Proposal: Remove outdated or unnecessary issues"
So we clear up space.

[2019-01-05 02:13] JL2210 commented on #3055
Trust me. We close all "outdated or unnecessary issues". If you are having
a real problem with Chromebrew, please report it.

[2019-01-05 02:14] #3055 closed

[2019-01-05 02:15] sajjaadf commented on #3055
Well I can't because I have chroot by the _unsupported_ crouton

[2019-01-05 02:16] JL2210 commented on #3055
Read the FAQ. I removed it :)

[2019-01-05 02:17] uberhacker commented on #2882
This might be a possibility once release 72 rolls.

[2019-01-05 02:17] JL2210 commented on #3055
The FAQ entry was unnecessary and causing... controversy.

[2019-01-05 02:19] JL2210 commented on #2882
I don't understand why 72 might fix this. We could always just build from
source. We have rust and cargo.

[2019-01-05 02:20] uberhacker commented on #2882
Release 72 will have libc 2.27 which this requires.

[2019-01-05 02:42] sajjaadf commented on #3055
What!!!

[2019-01-05 07:14] kaiminglee commented on #3054
Rebuilding fixes the issue.  I'd do it myself, but I don't know how to contribute binaries (also for all the other architectures).

[2019-01-05 17:00] JL2210 commented on #3054
@kaminglee Don't bother. That's @uberhacker's job.

[2019-01-05 18:41] wwwiiilll commented on #3050
@JL2210 it's trying to find the python headers in your home, either you have a weird python build, or you have wonky things in your env variables:
[code]

[2019-01-06 01:40] rafi16jan commented on #3049
Reading from the FAQ, you guys have a dpkg package? Can we install .deb wine package or i686 gcc?

[2019-01-06 01:44] JL2210 commented on #3049
Most certainly not. First of all, we're going to remove support for installing packages with `dpkg`. Second of all, if we were able to install packages with `dpkg`, those packages would fail as they install files in `/usr` and `/`. Third of all, even if we did install those packages, they most certainly would not work because of the missing 32-bit dynamic linker and system C libraries.

[2019-01-06 04:00] sajjaadf opened #3058 "would this help?"
@JL2210 This might be useful https://github.com/headmelted/archie

[2019-01-06 06:19] revolutionnaire opened #3059 "Is there an issue with Chromebrew and the new version of Ruby?"
## Description
I just installed Chromebrew and tried installing Jekyll to run an existing GitHub page that currently works, but an error occurs when I run the server locally. I'm not sure if it's related to issue #79

`bundle exec jekyll serve`

Output:
`Traceback (most recent call last):
        2: from /usr/local/bin/bundle:23:in '<main>'
        1: from /usr/local/lib64/ruby/2.5.0/rubygems.rb:3

[2019-01-06 15:45] JL2210 commented on #3058
Nope. @uberhacker, could you close this?

[2019-01-06 15:46] JL2210 commented on #3059
Did you try reinstalling Chromebrew?

[2019-01-06 16:49] eeshed opened #3061 "crew install vim does not work"
Freshly installed Chromebrew (though devmode is on (obviously) and I've run a couple of crouton chroots) and continued to install vim as per instructions on the homepage. Does not work.

I've tried multiple times to "install vim". Something seems off with the gcc install? I can't even compile a simple Hello World.

[code]

[2019-01-06 16:52] JL2210 commented on #3061
Sorry. The beta, dev, and Canary channels are not supported. Revert back to the stable channel and try again. See the [FAQ](https://github.com/skycocker/chromebrew/wiki/FAQ) for more details.

[2019-01-06 16:53] eeshed commented on #3061
OK, will do!

[2019-01-06 16:53] JL2210 commented on #3061
We need to put this somewhere more obvious. I've seen at least 10 issues about this in the 6 days that we've had in 2019.

[2019-01-06 21:53] #3058 closed

[2019-01-06 21:53] skiman6010 commented on #3058
Please keep casual conversation like this to Slack or email. No need to clutter up the issue list.

Thanks!

[2019-01-06 22:07] #3053 closed

[2019-01-06 22:11] revolutionnaire commented on #3059
I did.

I get this error when I first try running `bundle exec jekyll serve` after cloning the repository:
`bash: bundle: command not found`

Then, I run `gem install bundler` and `bundle exec jekyll serve` and it gives me this error instead:
`Traceback (most recent call last):
        2: from /usr/local/bin/bundle:23:in '<main>'
        1: from /usr/local/lib64/ruby/2.5.0/rubygems.rb:308:in 'acti

[2019-01-06 22:12] JL2210 commented on #3059
What repository?

[2019-01-06 22:14] revolutionnaire commented on #3059
Sorry, forgot to specify that it's the repository of the Jekyll run GitHub page I'm trying to run locally.

[2019-01-07 00:30] revolutionnaire commented on #3059
I apologize if I left that part out.

[Here](https://revolutionnaire.github.io/) it is.

[2019-01-07 00:38] JL2210 commented on #3059
Thank you. Let me take a look.
[This](https://stackoverflow.com/questions/47026174/find-spec-for-exe-cant-find-gem-bundler-0-a-gemgemnotfoundexception) website may be relevant.

[2019-01-07 00:39] uberhacker commented on #3059
@revolutionnaire: Thank you for reporting.  Sorry, I'm not following the issue here.  Did you run some `gem` commands to install jekyll and bundle?

[2019-01-07 00:41] revolutionnaire commented on #3059
I did, @uberhacker .

[2019-01-07 00:42] uberhacker commented on #3059
Can you please show us the history of the commands you executed?

[2019-01-07 00:43] JL2210 commented on #3059
https://github.com/skycocker/chromebrew/issues/3059#issue-396231966
https://github.com/skycocker/chromebrew/issues/3059#issuecomment-451779686

[2019-01-07 00:44] uberhacker commented on #3059
That doesn't help me @JL2210.

[2019-01-07 00:45] codekrafter commented on #2955
I reinstalled it, and it was able to successfully install the essentials (All I really needed was Git). It is saying it cannot find `/usr/local/etc/crew/device.json`

[2019-01-07 00:47] JL2210 commented on #2955
Try replacing `/usr/local` with the directory you installed Chromebrew in in the file
`<install_directory>/lib/crew/lib/const.rb`.

[2019-01-07 00:52] revolutionnaire commented on #3059
I'm not sure if I can still pull a log of the commands because I've already _powerwashed_ this Chromebook again, @uberhacker .

Basically, it's just the following steps:
- Updated Ruby
- Cloned the repository
- Installed the Jekyll gem
- Installed the Bundler gem
- Changed permissions of some folders
- Powerwash the Chromebook
- Reinstall Chromebrew
- Run `sudo mount -i -o remount,exec /home/chron

[2019-01-07 00:54] uberhacker commented on #3059
How did you install the gems?  Did you prefix with sudo?  Did you install locally or globally?  This is the kind of detailed info we need to try and troubleshoot.

[2019-01-07 00:55] revolutionnaire commented on #3059
I tried both ways and tried uinstalling both ways also. Sorry, forgot to add the latter step in the list.

[2019-01-07 00:57] uberhacker commented on #3059
Well, please try and reproduce the issue and send us your log history and that will help us to help you.

[2019-01-07 01:06] revolutionnaire commented on #3059
Is there a log file I can pull somewhere that lists all the activity I've done since the last _powerwash_?

[2019-01-07 12:01] JL2210 commented on #3059
He said since. There is a fairly good file for that purpose :
'~/.bash_history' and the output of 'history'.

[2019-01-07 13:55] uberhacker commented on #3059
His last step above is `_Powerwash_ it again`.

[2019-01-07 15:09] JL2210 commented on #3059
done *since* the last *powerwash*?

[2019-01-07 16:32] skiman6010 commented on #3059
@revolutionnaire I think the next step here is to do the exact same steps you have done to before but this time before you powerwash it would be great to get us `~/.bash_history` so we can try and see where the failure is.

[2019-01-07 17:47] #3054 closed

[2019-01-08 03:40] sajjaadf opened #3066 "Is this a good idea?"
I have a chroot installed (crouton), then have virtualbox in the chroot and installed [ArnoldTheBat CHROMIUM OS](https://chromium.arnoldthebat.co.uk) installed in it with chromebrew installed in the virtualbox in the chroot. Is this a good Idea and would it work like normal chromebrew?

[2019-01-08 03:43] sajjaadf commented on #3066
and what is this pro thing @sajjaadf
![screen shot 2019-01-07 at 7 41 38 pm](https://user-images.githubusercontent.com/32078755/50808640-4efb0e00-12b4-11e9-8dd7-22583f6b4934.png)
when hover my name, it says pro... what is that?

[2019-01-08 03:52] skiman6010 commented on #3066
You can't use VirtualBox inside a Crouton chroot on a Chromebook.

But anyway, this doesn't relate to Chromebrew really at all and is not an issue. Please stop spamming the issue feed.

[2019-01-08 03:52] #3066 closed

[2019-01-08 03:54] sajjaadf commented on #3066
Qemu I meant

[2019-01-08 03:54] sajjaadf commented on #3066
Would that work?

[2019-01-08 03:58] skiman6010 commented on #3066
Yeah most likely.

[2019-01-08 11:58] JL2210 commented on #2998
Try setting LIBRARY_PATH like we do in GCC.

[2019-01-09 06:23] uberhacker opened #3072 "[gvim] Unable to execute"
With sommelier running:
[code]
The same error occurs on all architectures.  @wwwiiilll: Did you want to try and fix this?

Also should note there are no environment variables set such as VIMRUNTIME or LC_ALL.

[2019-01-09 06:32] uberhacker commented on #3048
Resolved with the latest pre-built binaries.

[2019-01-09 06:32] #3048 closed

[2019-01-09 14:53] JL2210 commented on #3072
`sommelier -X gvim`?

[2019-01-09 15:41] uberhacker commented on #3072
[code]

[2019-01-09 15:44] JL2210 commented on #3072
`echo GDK_BACKEND=${GDK_BACKEND} && cat ~/.bashrc`, please.

[2019-01-09 15:46] uberhacker commented on #3072
[code]

[2019-01-09 15:47] JL2210 commented on #3072
Not helping. I need to see all of it.

[2019-01-09 15:52] uberhacker commented on #3072
This is the only relevant part that could be affecting the issue.  I already know what the problem is but since you guys didn't listen and were insisting that we build the way that _every_ major distro does it without understanding the impact, this is the result.

[2019-01-09 15:54] JL2210 commented on #3072
I need to see if there are any other commands in there that might overwrite
the environment variables. All of the other GTK+3 apps that I use work.

[2019-01-09 15:55] JL2210 commented on #3072
`echo ${DISPLAY}`

On Wed, Jan 9, 2019, 10:53 AM James Larrowe <larrowe.semaj11@gmail.com
wrote:

[2019-01-09 15:58] uberhacker commented on #3072
:0

[2019-01-09 15:59] JL2210 commented on #3072
Have you tried it with `Xwayland :0` running?

[2019-01-09 16:02] uberhacker commented on #3072
startx and running from xterm produces the same result.

[2019-01-09 18:18] JL2210 commented on #3072
I'm looking into it.

[2019-01-09 18:24] JL2210 commented on #3072
Give this a shot `yes | crew install xhost; xhost +`

[2019-01-09 18:34] JL2210 commented on #3072
OK. Can you please unlock #3059? I may have a solution.

[2019-01-09 18:42] JL2210 commented on #3059
@revolutionnaire Run these commands in your repository to fix the issue:
[code]
If you'd like to save the changes and push them to GitHub, run this:
[code]

[2019-01-09 18:46] JL2210 commented on #3059
Just make sure to change/remove `Gemfile.lock` every time there's an update to `bundler`.

[2019-01-09 18:47] JL2210 commented on #3059
![screenshot 2019-01-09 at 1 47 12 pm](https://user-images.githubusercontent.com/38843657/50921079-1c1c5b80-1415-11e9-8375-91849c8a803c.png)

[2019-01-09 23:06] revolutionnaire commented on #3059
Thank you!

[2019-01-09 23:45] uberhacker commented on #3072
[code]

[2019-01-10 22:19] jpeezzy opened #3074 "Update SHA256 Hash for qt.rb"
## Before you submit an issue
Can you guys update the x64 hash for qt.rb?
new hash for 11.2 is b9dfef211d3122ab2f1b1e96aa7e2357ebdeb068c750eeb423b9396a3f55d619
current hash in qt.rb is 3926eff634f7a798bd8f7f8a3625d8e9db8179e7efaf4c59eeff9f1eae7e95f5
for 64bit.
http://download.qt.io/official_releases/qt/5.11/5.11.2/md5sums.txt
## Description
Provide a short description of your problem here.

If you

[2019-01-10 22:24] uberhacker commented on #3074
Thank you for the report @jpeezzy.  Those are m5sums, not sha256sums so I don't believe they will work.  Do you get a checksum mismatch when installing?  Please update with the exact command you executed and the error output.  Something like:
[code]

[2019-01-10 22:24] jpeezzy commented on #3074
Sorry, I made an edit. I'll post my output here

[2019-01-10 22:32] jpeezzy commented on #3074
I honestly don't know. One thing I know is that I manually downloaded the x64 installation, and i checked the hash with sha256sum and I got this:
7e28fe65cc4b90998ed84839bb856331306b227047e8add36919b89dc8aae312 . I may be wrong, try downloading it manually and check yourselves:
wget http://download.qt.io/official_releases/online_installers/qt-unified-linux-x64-online.run

[2019-01-10 22:34] JL2210 commented on #3074
That's because we have to use a versioned installer. Why aren't we doing
that?

[2019-01-10 22:35] jpeezzy commented on #3074
I got this command from qt.rb , it's on line 70.  the hash you guys have currently is 3926eff634f7a798bd8f7f8a3625d8e9db8179e7efaf4c59eeff9f1eae7e95f5. It doesn't match.

[2019-01-10 22:37] JL2210 commented on #3074
I'm currently working on building QT from source anyway. I'll just do that.
I don't like using binaries as `source_url`s. Just not the right thing to
do.

On Thu, Jan 10, 2019, 5:35 PM jpeezzy <notifications@github.com wrote:

[2019-01-10 23:02] jpeezzy commented on #3074
alright, i'll close this for now.

[2019-01-10 23:02] #3074 closed

[2019-01-11 18:53] codekrafter commented on #2955
It works! Thank you

[2019-01-11 18:53] #2955 closed

[2019-01-12 16:20] blu commented on #2890
Just a heads-up: r72 has landed on the beta channel, bringing along the same problem.

[2019-01-12 17:57] JL2210 commented on #2890
@uberhacker, it's `glibc`, not `glib`. `glib` stands for GNOME Library.
`glibc` stands for GNU libc.

[2019-01-12 17:59] JL2210 commented on #2890
Sorry about that. I was on my email, and didn't see the edit you made.

[2019-01-12 18:00] JL2210 commented on #2890
@blu Check the `update-glibc-2.23-2.27` branch on @uberhacker's fork of Chromebrew.
How's Wayland development going?

[2019-01-12 18:01] JL2210 commented on #3059
@revolutionnaire Can this be closed?

[2019-01-12 20:01] blu commented on #2890
@JL2210 Thanks, will do! Wayland's on the backburner ATM, hopefully I'll kick back into it full swing in a couple of weeks.

[2019-01-13 04:43] revolutionnaire commented on #3059
Yes. And, I'm really sorry I troubled you with an unrelated issue to Chromebrew.

[2019-01-13 04:46] #3059 closed

[2019-01-13 04:47] JL2210 commented on #3059
No biggie. That's what we're here for.

[2019-01-13 09:44] JL2210 commented on #3072
... We can probably revert to GTK+ 2, however I can't find a reason why updating would break anything.

[2019-01-13 15:38] sajjaadf opened #3079 "sommelier HAS dock icons"
this is native chromeos 73!

[2019-01-13 15:43] sajjaadf commented on #3079
![screenshot 2019-01-13 at 7 40 14 am](https://user-images.githubusercontent.com/32078755/51087336-d60e1300-1706-11e9-8c00-35a6d814e08a.png)

[2019-01-13 15:50] JL2210 commented on #3079
Nice. Now please go back to the stable channel and wait for that incredible feature. Actually, I have it in stable channel right now, just not for GTK apps.

[2019-01-13 17:52] uberhacker commented on #3079
This is actually not an issue but it would be nice to post in Slack so everybody is aware.

[2019-01-13 17:52] #3079 closed

[2019-01-13 20:42] JL2210 opened #3080 "Applying for Google Summer of Code"
I think that applying for Google's Summer of Code would be a good idea to help continuing development of Chromebrew at a faster rate. As some of the packages are incredibly old, I believe that this would also be a good idea to keep them updated. On January 15th, we can apply [here](https://summerofcode.withgoogle.com/get-started/).

[2019-01-15 04:51] uberhacker commented on #3080
This sounds like a good idea.  Do you want to participate?

[2019-01-15 12:05] JL2210 commented on #3080
Yes.

[2019-01-15 13:23] JL2210 commented on #3080
I'll sign up at 3:00.

[2019-01-15 22:42] JL2210 commented on #3080
@uberhacker, can you sign up for me? I'm below the age limit. [Link](https://summerofcode.withgoogle.com/org-signup/)

[2019-01-16 19:15] JL2210 opened #3090 "Slack integration test"
Mary had a little lamb
Little lamb, little lamb
Mary had a little lamb
Its fleece was white as snow
And everywhere that Mary went
Mary went, Mary went
Everywhere that Mary went
The lamb was sure to go

He followed her to school one day
School one day, school one day
He followed her to school one day
Which was against the rule
It made the children laugh and play
Laugh and play, laugh and play
It ma

[2019-01-16 19:16] #3090 closed

[2019-01-16 21:58] sajjaadf commented on #3090
LOL!
[image: Picture]
Sajjaad Farzad
About Me
<https://about.me/sajjaadf?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=gmail_api&utm_content=thumb>

On Wed, Jan 16, 2019 at 11:16 AM James Larrowe <notifications@github.com>
wrote:

[2019-01-17 12:33] JL2210 commented on #3047
@uberhacker, can you close this?

[2019-01-17 14:35] uberhacker commented on #3047
Before we close this, I need a better explanation of https://github.com/skycocker/chromebrew/issues/3047#issuecomment-451291281.  Please explain how to restore the chroots in Layman's terms.  If you can add the instructions in the wiki, that would be even better.

[2019-01-17 15:17] JL2210 commented on #3047
It is in the wiki. Check the `How-to-delete-chromebrew` page.

[2019-01-17 22:21] HebrewToYou opened #3092 "cairo cannot be updated to 1.16.0"
## Description
Cairo fails to upgrade to v1.16.0 due to not locating gcc

Command:
[code]

Output:
[code]

## Versions and system information
chromebrew: v1.1.0

ChromeOS:
[code]

Model: Asus Chromebox C60

Architecture: x86_64

[2019-01-17 23:15] uberhacker commented on #3092
@HebrewToYou: Thank you for the issue.  Please return to the stable channel.  The beta channel has a different version of glibc that is currently incompatible with Chromebrew.  We hope to have this fixed once release 72 becomes the stable channel.

[2019-01-18 12:04] JL2210 commented on #2726
Just reinstall. We have instructions to restore Crouton in the Wiki now
(How-to-remove-chromebrew).

[2019-01-18 20:19] JL2210 commented on #3049
@rafi16jan I'm working on a fix for this, but for now just run [ReactOS](https://reactos.org) in QEMU (`crew install qemu`).

[2019-01-19 02:48] nosarthur commented on #2897
What's the difference between `aws` and `aws_shell` packages?

[2019-01-19 02:51] JL2210 commented on #2897
From here, it looks like `aws_shell` is more of a shell, like Bash.

[2019-01-19 02:56] JL2210 commented on #2897
But, it requires a whole lot of manual resolution of `pip2` dependencies.

[2019-01-19 02:58] nosarthur commented on #2897
Ah, just installed both, it seems `aws` is the correct one, i.e., it's the shell command for AWS. `aws-shell` is [this repo](https://github.com/awslabs/aws-shell)

[2019-01-19 03:00] JL2210 commented on #2897
OK. Glad I could help. :)

[2019-01-19 14:21] rafi16jan commented on #3049
@JL2210 I think I won't use qemu, my macbook air fan turn into a jet engine if I play an Android game. I'll just wait.

Anyway, is this relevant? [](https://wiki.winehq.org/Building_Wine#Shared_WoW64)

[2019-01-19 14:31] JL2210 commented on #3049
Yes, however it won't work. Trust me, I've tried and tried. Your best bet is to install another operating system if all you want to do is run Windows apps. Anyway, ReactOS is a very light operating system, so I really suggest you give it a shot in QEMU.

[2019-01-19 14:32] rafi16jan commented on #3049
@JL2210 Well I checked and ReactOS have poor directx support. So maybe I'll just emulate Windows XP instead.

[2019-01-20 00:11] JL2210 commented on #997
I'm fairly sure that this can be closed for now. If need be, we can reopen it later.

[2019-01-20 00:13] JL2210 commented on #1049
I don't think this is relevant anymore. Can it be closed?

[2019-01-20 00:16] JL2210 commented on #1123
I'm fairly sure this can be closed. We chose 1.

[2019-01-20 00:19] JL2210 commented on #1311
I don't think that would be necessary. This is probably only going to be used in very few packages, such as `arduino_ide`, `guile`, `ocaml`, and `go`.

[2019-01-20 00:31] JL2210 commented on #1487
I'd like to rephrase that:
If I visit any ftp site, I get hanging. This appears to be a bug.

[2019-01-20 00:42] JL2210 commented on #1531
I think this has been fixed by #1756.

[2019-01-20 00:44] JL2210 commented on #1585
@uberhacker Please change `gcc` to use `https://ftpmirror.gnu.org/gcc/gcc-8.2.0/gcc-8.2.0.tar.xz`.

[2019-01-20 01:32] JL2210 commented on #2246
It looks like they're using Pip.

[2019-01-20 01:33] uberhacker commented on #1487
Like I've said before, I hope it dies a slow and painful death. :)

[2019-01-20 01:34] JL2210 commented on #2332
I'm going to work on a better D compiler than `ldc` and `dub`.

[2019-01-20 01:35] JL2210 commented on #2333
This specific error has been a pain in the @$$ for a while. I've chalked it up to not using the LLVM C++ library and headers with Clang++.

[2019-01-20 01:38] JL2210 commented on #2401
I agree. @uberhacker?

[2019-01-20 01:45] JL2210 commented on #2563
I think it's safe for this to be closed. The issue isn't causing any fatal errors anymore, is it?

[2019-01-20 01:45] uberhacker commented on #1049
Yes, bintray has been very generous and we should thank them on every opportunity to do so.  They have been very instrumental in the success of this project.

[2019-01-20 01:45] #1049 closed

[2019-01-20 01:46] JL2210 commented on #2580
I think this can be closed. We already have Gimp. (needs `gnome_icon_theme`)

[2019-01-20 01:47] JL2210 commented on #2590
I think this can be closed, too.

[2019-01-20 01:47] JL2210 commented on #2617
Oh well. This has gone stale and is totally useless.

[2019-01-20 01:47] #2617 closed

[2019-01-20 01:49] JL2210 commented on #2640
This can be closed. The update fixed it.

[2019-01-20 01:51] uberhacker commented on #2563
Yes, everybody should be on at least release 70 or higher by now unless they haven't turned their Chromebook on in the last year.

[2019-01-20 01:51] #2563 closed

[2019-01-20 01:53] #2640 closed

[2019-01-20 01:55] uberhacker commented on #2590
This is actually still a legit request.  Several apps including gimp could benefit from this package.

[2019-01-20 01:58] #2580 closed

[2019-01-20 01:59] #2401 closed

[2019-01-20 01:59] JL2210 commented on #2642
@laerm0 I think I know why: The Clang update broke Clang. We can use `clc` now and fix the issue.

[2019-01-20 02:08] uberhacker commented on #997
Why don't you write up a wiki article to explain the testing procedure?  After that, we can link here and close this issue.

[2019-01-20 02:10] JL2210 commented on #997
I don't think that tests would be appropriate for the average user. I'll go ahead, though.

[2019-01-20 02:50] JL2210 commented on #997
OK. See Testing-procedure.

[2019-01-20 02:52] uberhacker commented on #997
See https://github.com/skycocker/chromebrew/wiki/Testing-procedure.

[2019-01-20 02:52] #997 closed

[2019-01-20 02:53] #3092 closed

[2019-01-20 16:33] JL2210 opened #3100 "[feature request]: New --check option"
To execute the `def self.check` section, we currently need to use `crew build <package-name>`. If we added a new `--check` option, we could run this command to run the checks while installing a package: `crew install --check <package-name>`. Is this possible?

It would be preferable to eventually have the `--check` option be the default for `crew install`.

[2019-01-20 17:51] JL2210 commented on #3049
@rafi16jan To install 32-bit Wine on your Chromebook:
Download this script:
[code]
Run it:
[code]
When asked if you want to install a 32-bit Prefix, type `y`.
Grab a coffee. This will take a while.
After it's done, run this command:
[code]
After doing so, run this command:
[code]
Then, run `wine <application>` and be happy.

[2019-01-20 17:57] uberhacker commented on #3100
We definitely don't want to check by default for `crew install`, especially when installing from binaries.  It might make sense to have the option available when installing from source, however.  A new command would be overkill.  The switch option makes more sense.  Just my two cents.

[2019-01-20 18:00] JL2210 commented on #3100
Fair enough.

Sorry, I forgot to elaborate: Only when installing from sources.

That seems reasonable.

[2019-01-22 13:47] superloach commented on #66
I'm working on this, unfortunately the dependency tree is pretty large and `crew` sucks at handling it. Other than that, I'm fairly sure this package should work.

[2019-01-22 14:33] superloach opened #3107 "FreeRDP ffmpeg errors"
Cannot compile FreeRDP due to errors involving ffmpeg.
No difference with or without `-DCMAKE_INSTALL_PREFIX=#{CREW_PREFIX}` on `cmake .`.
When running `cmake --build .`:
[code]

[2019-01-22 14:36] superloach commented on #66
Stuck at #3107

[2019-01-22 23:30] JL2210 commented on #1585
Where are you hosting your binaries?

[2019-01-22 23:30] superloach commented on #1585
Ah, I see. Anyone here willing to build for `aarch64`, `armv7l`, or `i686`? I can give you access to the binary hosting if you'd like.

[2019-01-22 23:32] JL2210 commented on #1585
Just ask @uberhacker for access to Bintray. You need to sign up, but it's
not that hard. I already have it set up.

[2019-01-22 23:37] superloach commented on #1585
I'm hosting on my own server! It's run by a friend of mine who works in cyber-security and hosts a few other sites, and has had consistent uptime for nearly a year. I find that easier than Bintray, and it also gives us the option to have a website there.

[2019-01-22 23:39] JL2210 commented on #1585
What's the URL? How much storage?

[2019-01-22 23:41] superloach commented on #1585
https://crew.superloa.ch/
It's got 31.25GiB, ~27.83 unused (probably more after I do some cleaning).

[2019-01-23 00:44] JL2210 commented on #3107
I don't blame you if you use `2.0.0-rc4`. The "stable" versions are ancient.

[2019-01-23 00:45] JL2210 commented on #66
I worked on this a while back. It was frustrating.

[2019-01-23 01:07] superloach commented on #3107
Alright, I'll try 2.0.0-rc4.

[2019-01-23 01:08] superloach commented on #1585
Alright. Would you mind if I hosted my binaries there? A mirror never hurts.

[2019-01-23 01:09] JL2210 commented on #1585
No problem. Just please don't use it in any packages.

[2019-01-23 01:09] superloach commented on #1585
Sounds good :)

[2019-01-23 01:21] superloach commented on #66
FreeRDP has compiled! 🎉
#3106 will fix the dependency tree issue.
Now I just need to clean up the package and test it :)

[2019-01-23 02:01] JL2210 commented on #3107
Can this be closed?

[2019-01-23 02:06] superloach commented on #3107
Yes 👍

[2019-01-24 00:07] #66 closed

[2019-01-24 06:26] uberhacker opened #3114 "[freerdp] Unable to build"
[code]

[2019-01-24 13:16] JL2210 commented on #3114
Can you give the full error log? What you gave here is useless. Also, please set `CREW_NPROC=1` before giving the error log.

[2019-01-24 14:40] uberhacker commented on #3114
It's not useless.  The error occurred on line 152 of Makefile.  That should give you enough information.

[2019-01-24 14:53] JL2210 commented on #3114
Just give me the error log. The fact that the error occurred on line 152 of `Makefile` isn't helping. It builds just fine for me.

[2019-01-24 14:59] JL2210 commented on #3114
This would have been a much better error log:
[code]

[2019-01-24 15:01] JL2210 commented on #3114
I can take it from here.

[2019-01-24 20:43] JL2210 commented on #3079
I do, too. Did you just change your name from "Terra Branford" to "Terra Brown"?

[2019-01-25 13:20] superloach commented on #3079
Yeah, don't worry about it. I'm just weird with names.

[2019-01-25 14:46] #3002 closed

[2019-01-26 13:42] JL2210 opened #3122 "biew: invalid architecture naming"
Just noticed this while working on switching Chromebrew to musl:
[code]
Nice try, but I believe that it's `armv7l` :)

[2019-01-27 06:32] quinnj opened #3123 "Error building openssl"
## Description
Tried doing `crew upgrade` after a while and I'm now seeing an error building openssl; something about not being able to find libc.

If you executed a specific command:
[code]

Output:
[code]

## Versions and system information
chromebrew: `crew --version`
[code]

ChromeOS: `cat /etc/lsb-release`
[code]
Model: Pixelbook

Architecture: `uname -m`
[code]

[2019-01-27 13:06] uberhacker commented on #3123
Thank you for reporting this issue @quinnj.  PR #3120 should fix your problem.

[2019-01-27 13:18] uberhacker opened #3124 "[rsu_client] Unable to build"
See attached build log.
[rsu_client.log](https://github.com/skycocker/chromebrew/files/2800062/rsu_client.log)

[2019-01-27 13:19] uberhacker commented on #3114
See attached build log.
[freerdp.log](https://github.com/skycocker/chromebrew/files/2800064/freerdp.log)

[2019-01-27 16:45] JL2210 commented on #3123
The dev channel is not supported. Please revert to the stable channel and try again.

[2019-01-27 16:55] JL2210 commented on #3124
👏
This is what a good build log should be.

[2019-01-27 17:49] JL2210 commented on #3124
Great. This is architecture independent, too. It's looking for the user's home directory, which is actually `/home/chronos/u-*`, but we got `/home/chronos/user`. Sometimes I just hate the $h*t Chrome OS pulls.

[2019-01-28 13:33] #3123 closed

[2019-01-29 10:53] themoonisacheese opened #3126 "Code package problems on armv7l"
EDIT: this issue was originally for a problem with computing dependencies for the `code` package, but a fix has since been applied. There are some more issues described in this thread that have not been fixed, please look through the thread before dismissing it as not helpful. Most of these issues appear to be armv7l related, but they may still apply to you anyway.

## Description
i'm trying to in

[2019-01-29 13:38] themoonisacheese commented on #3126
after looking into it, it seems like code requires gtk2, which requires gdk_pixbuf. its dependencies eventually require librsvg, which requires gdk_pixbuf again. there might also be problems with cairo and pango in this chain.

[2019-01-29 14:02] JL2210 commented on #3126
There's always problems with cairo and pango :$. Code doesn't work yet,
anyway. You'd have a better chance of another editor working.

[2019-01-29 14:44] themoonisacheese commented on #3126
I figured out how to merge #3106 on my local version and it has solved this specific problem. it computed dependencies in less that 5 seconds and installed them (or compiled them in the case of cairo). the compilation of code itself still fails (because libpthread is missing), but it's an improvement.

[2019-01-29 20:55] themoonisacheese commented on #3126
reverting back to stable prevents me from running `crew install code` for testing (even though i am well aware that it's not working at later steps).
as I understand it, this pull request (i only merged it on local, i did not go to any beta branch) only changes dependency resolution and should not affect any other behavior.
Currently i'm trying to get ld to see libpthread_nonshared.a in /usr/local

[2019-01-29 22:11] skiman6010 commented on #3126
Go for it, bru! Since you seem willing to hunt down a fix, we can use this issue as a "homebase" for VSCode debugging for this issue.

[2019-01-29 22:35] JL2210 commented on #3126
I have an idea: Set `LIBRARY_PATH` like we do for gcc.
Sorry about that, @themoonisacheese. I didn't read your system info first. You're on the stable channel.

[2019-01-29 23:04] themoonisacheese commented on #3126
i have tried setting both `LD_LIBRARY_PATH` and `LIBRARY_PATH` but it doesn't seem to have taken. the only error before the stack trace is still
[code]
both variables are still set to `/usr/local/lib` after this.

quick update:
I was prodding around to see if i could dirty fix it by editing the makefile that was used, but it is repopulated everytime I do `yarn install`. since the makefile was in n

[2019-01-29 23:12] JL2210 commented on #3126
Actually, it's in the `def self.build` section where it does all of the compiling. The program needs to have system bindings so it can have GUI support, such as GTK. Along with that, my bet is that because it uses Electron to render the GUI, it's also using that.

[2019-01-29 23:19] JL2210 commented on #3126
It seems that the process has continued for me. Please try this and post your build log:
[code]

[2019-01-29 23:32] themoonisacheese commented on #3126
my version of the file had vs code 1.30.1 instead of 1.30.2 but i replaced it anyway and still no dice:
´´´shell
crew/packages [ crew install code                                                                                                     norec ] 12:27 AM
code: Visual Studio Code is a source code editor developed by Microsoft for Windows, Linux and macOS.
https://code.visualstudio.com/
ver

[2019-01-29 23:41] themoonisacheese commented on #3126
i accidentally tried it again with the same version of code.rb, actual log coming up soon

[2019-01-29 23:43] JL2210 commented on #3126
OK. I'm still installing mine. The build seems to be going along nicely:
[code]
I can't be sure on `armv7l`, however.

[2019-01-29 23:45] themoonisacheese commented on #3126
still no dice:
´´´shell
crew/packages [ crew install code                                                                                                   norec * ] 12:35 AM
code: Visual Studio Code is a source code editor developed by Microsoft for Windows, Linux and macOS.
https://code.visualstudio.com/
version 1.30.2
No precompiled binary available for your platform, downloading source...

[2019-01-29 23:50] JL2210 commented on #3126
I'll see if I can fix this upstream. Microsoft is really being a pain with this, stating that they "don't support Chrome OS" and closing the issue without even addressing it.

[2019-01-29 23:52] JL2210 commented on #3126
Can you give me the output of `cat /usr/local/lib/libpthread.so`? Don't worry, it should definitely be a text file.

[2019-01-29 23:58] themoonisacheese commented on #3126
it would seem so. mine is
´´´
/* GNU ld script
   Use the shared library, but some functions are only in
   the static library, so try that secondarily.  */
OUTPUT_FORMAT(elf32-littlearm)
GROUP ( /lib/libpthread.so.0 /usr/lib/libpthread_nonshared.a )
´´´
so of course it looks in /usr/lib
unfortunately this file cannot be edited, because it is in /usr/lib which is read only. the plot thickens.

[2019-01-30 00:07] JL2210 commented on #3126
I got it! Install `ld_default`, and run `ld_default b` afterwards!

[2019-01-30 00:11] JL2210 commented on #3126
[code.rb.txt](https://github.com/skycocker/chromebrew/files/2810264/code.rb.txt)

[2019-01-30 00:19] themoonisacheese commented on #3126
doing it manually has done the trick, but yeah it should be automatic. also shouldn't ld_default be a dependency of code in that case? I don't see it in the file you linked.

just for educational purposes, can you explain what that did? did it just tell ld to look in a different place or is there something else to it?

if the install finishes correctly, i can provide armv7l binaries (but honestly

[2019-01-30 00:33] JL2210 commented on #3124
Solution: Not the best, but remove `make test` and/or `make check` from the build scripts.

[2019-01-30 00:50] themoonisacheese commented on #3126
that works too I guess.
the install has been going on for 40 minutes and although there is no message telling me what's happening, gulp is apparently doing a bunch of things judging by processor usage. it might be stuck or it might just take a long time, but i'm going to bed for the night so i'll just leave it running with the screen turned off. massive thanks for your help, have a good one!

[2019-01-30 00:52] JL2210 commented on #3126
No problem; it's what I'm here for!

[2019-01-30 00:58] themoonisacheese commented on #3126
don't worry, i did the ld_default command manually before you posted the new version.

[2019-01-30 00:58] JL2210 commented on #3126
OK. You shouldn't have any problem then. Good night!

[2019-01-30 01:45] JL2210 commented on #3114
I just tested. Pushing PR now.

[2019-01-30 03:40] #3114 closed

[2019-01-30 13:45] JL2210 commented on #3126
Great... Google Keep Awake.

[2019-01-30 15:02] themoonisacheese commented on #3126
that was very helpful thanks. it successfully installed this time (compile time: 4 hours).
onto the next problem, which i believe has been stated in #2998 :

[code]

[2019-01-30 15:04] JL2210 commented on #3126
`unset DISPLAY && stopsommelier && sommelier -X code-oss --verbose`

[2019-01-30 15:07] themoonisacheese commented on #3126
[code]

[2019-01-30 15:09] JL2210 commented on #3126
`crew install xhost && xhost + && stopsommelier && Xwayland :0 && code-oss`

[2019-01-30 15:10] themoonisacheese commented on #3126
[code]

[2019-01-30 15:14] themoonisacheese commented on #3126
the second to last command actually created a black window, here is the log:
[code]

[2019-01-30 15:21] JL2210 commented on #3126
`stopsommelier && Xwayland :0 && export DISPLAY=:0 && xhost + && unset DISPLAY && code-oss`
or
`stopsommelier && Xwayland :0 && export DISPLAY=:0 && xhost + && code-oss`

[2019-01-30 15:28] themoonisacheese commented on #3126
everytime Xwayland :0 runs, it shows a fully black window. the mouse cursor is not visible on it and it has no decorations. I ^C'd it after a few minutes ( just in case it was slow to load). the console has the above logs  with the addition of: `^Cxhost:  unable to open display ":0"`
the next commands obviously don't run after that.

[2019-01-30 15:31] JL2210 commented on #3126
Oh. Yeah, that black box is the X server running.
`stopsommelier ; Xwayland :0 & export DISPLAY=:0 ; xhost + ; unset DISPLAY ; code-oss --disable-gpu`
or
`stopsommelier ; Xwayland :0 & export DISPLAY=:0 ; xhost + ; code-oss --disable-gpu`

[2019-01-30 15:36] themoonisacheese commented on #3126
[code]

the other command gives the same logs but without `:0` at the end.

[2019-01-30 15:38] JL2210 commented on #3126
`sommelier -X code-oss --verbose --disable-gpu`

[2019-01-30 15:44] themoonisacheese commented on #3126
[code]
it's trying to open display :1 even though i explicitely set $DISPLAY to :0 :/

[2019-01-30 15:47] JL2210 commented on #3126
OK: Full command list:
[code]
Can you run this when using `/bin/bash`?

[2019-01-30 15:51] themoonisacheese commented on #3126
ah, sorry.

[code]
by the way, I put the commands sommelier told me to put in my bashrc ( and zshrc)

[2019-01-30 15:52] JL2210 commented on #3126
That should be fine.

[2019-01-30 15:58] JL2210 commented on #3126
Try running `sommelier -X code --disable-gpu`

[2019-01-30 15:59] themoonisacheese commented on #3126
same problem.

[2019-01-30 16:01] JL2210 commented on #3126
`sommelier -X --no-exit-with-child code --verbose --disable-gpu`
Wait for 15 minutes, and if nothing, `^C`.
If you had to cancel the command, run this:
`sommelier -X --verbose --disable-gpu`
and let it run its course.

[2019-01-30 16:16] JL2210 opened #3130 "GitHub integration"
@skycocker

[2019-01-30 16:19] #3130 closed

[2019-01-30 17:11] themoonisacheese commented on #3126
I did as you told me. the second command I assume is missing `code` but even after adding it it has no effect.

[2019-01-30 17:34] JL2210 commented on #889
`code` works now, I'll update it. I think this may finally be able to be closed.

[2019-01-30 17:35] JL2210 commented on #1123
@uberhacker

[2019-01-30 17:37] JL2210 commented on #1681
@uberhacker Can this be closed? `diffutils` is a core package.

[2019-01-30 17:37] JL2210 commented on #1719
This won't be possible without Docker, and Docker won't be possible without Docker and 8GB of RAM.

[2019-01-30 17:41] JL2210 commented on #2212
I believe this is untrue. It just takes a while, going over ~1000 packages to see if they're installed and if they have updates and changing dependencies and such.

[2019-01-30 17:45] JL2210 commented on #2564
No. If you're talking about the proprietary implementation by Microsoft, then we can't package that.

[2019-01-30 17:56] #1681 closed

[2019-01-30 17:58] skycocker commented on #3100
Do we want to abort the build if any of the checks fail?

[2019-01-30 18:02] JL2210 commented on #3100
Yes.

[2019-01-30 18:04] uberhacker commented on #3100
@skycocker: That would be reasonable.  I envision this will only be needed when installing from source, not from binaries.  That said, we should do a good job of checking during builds so there are no errors.

[2019-01-30 19:36] JL2210 commented on #185
@lyxell Sorry if I'm bothering you, but I'm really thinking about creating a fork/branch of Chromebrew for Musl, just like your idea. If you could help in any way, or maybe bring back your repository, please do.

[2019-01-30 19:37] #1123 closed

[2019-01-30 22:31] JL2210 commented on #3126
Can you give me the build log and the output of `cat /usr/local/bin/code`? I'm really clueless at this point as to why it's not working.

[2019-01-31 00:04] JL2210 commented on #3126
OK, I'm going to ask you to do something you're probably not going to want to do:
[code]

[2019-01-31 00:08] themoonisacheese commented on #3126
I changed my shell to bash for as long as I am testing, so that we at least get this amount of consistency.

[2019-01-31 00:11] JL2210 commented on #3126
OK. Thanks. An off-topic question here, but what makes `zsh` appeal to you?

[2019-01-31 10:14] themoonisacheese commented on #3126
[code-build.log](https://github.com/skycocker/chromebrew/files/2816661/code-build.log)

[2019-01-31 11:45] themoonisacheese commented on #3126
@nosarthur #3106 fixes this.

[2019-01-31 14:04] JL2210 commented on #3126
@themoonisacheese @nosarthur Actually, #3131 is definitely a better fix. It was originally named "Fix dependency loops", but I included a few improvements to GCC in there, so `@uberhacker` renamed it to "Update gcc7 and gcc8 packages"

[2019-01-31 14:08] JL2210 commented on #3126
@themoonisacheese Thank you for the build log. I'll look at it.

[2019-01-31 14:17] JL2210 commented on #3126
Stupid Visual Studio Code... It downloads a precompiled binary of Electron and FFmpeg instead of compiling them.

[2019-01-31 14:18] JL2210 commented on #3126
Try this command: `sommelier -X /usr/local/share/code/code-oss --verbose`

[2019-01-31 14:55] themoonisacheese commented on #3126
[code]
same error as before.
i'm starting to think that you have a package installed that code is dependent on, but is not listed as a dependency. for example, i do not have xinit or xauth installed, but I would expect them to be installed on normal non-chromeOS configs.

[2019-01-31 15:05] JL2210 commented on #3126
Oh. `crew install xinit`.
Try commenting out the sommelier configs from both your `~/.*shrc`s and restarting the shell.
Then the above command may work.

[2019-01-31 15:41] themoonisacheese commented on #3126
yep that worked. code should depend on xinit then.
also maybe think about making wayland apps automatically launch through sommelier with a script? for example, I don't see any reason why you would want to call xclock without it, etc.

[2019-01-31 16:42] JL2210 commented on #3126
What packages were installed when you ran `crew install xinit`?
I want users to have a choice between Sommelier and `Xwayland`. The way we have it right now with `sommelierd` is probably the closest to what we're going to get. Also, `sommelier` is old and can't be updated. We really need a better solution.

[2019-01-31 16:42] JL2210 commented on #3126
I want users to have a choice between Sommelier and `Xwayland`. The way we have it right now with `sommelierd` is probably the closest to what we're going to get. Also, `sommelier` is old and can't be updated. We really need a better solution.

[2019-01-31 16:45] themoonisacheese commented on #3126
Ah, I see.
My Chromebook ran out of battery  shorlty After (it's old and batteries are 30€ which I don't have) but i remember it installed xauth and 2 libs.

[2019-01-31 16:45] JL2210 commented on #3126
Please reopen, as the issue described in the original comment has not been fixed yet.

[2019-01-31 16:45] JL2210 commented on #3126
Got it. I'll check and see what those two libs are. Must be important.

[2019-02-01 01:55] nosarthur commented on #3126
Thanks @themoonisacheese for the instruction. Unfortunately that pull request is not available anymore ...

[2019-02-01 02:54] codekrafter commented on #2564
I am not talking about packaging it, but they could download binaries from the Microsoft site. It is also not propriety, it is open source. [https://github.com/dotnet/core](https://github.com/dotnet/core)

[2019-02-02 17:52] skiman6010 commented on #3126
Yes @nosarthur the oss version of Code does not have extensions enabled.

Perform the steps [here](https://github.com/Microsoft/vscode/issues/2647#issuecomment-269403183) to enable them.

[2019-02-02 18:17] JL2210 commented on #3126
@nosarthur What was installed when you ran `crew install xinit`?

[2019-02-02 19:32] nosarthur commented on #3126
@JL2210
[code]

[2019-02-02 19:56] JL2210 commented on #3126
Is this the log from the first time or did you remove it and re-install it when I asked?

[2019-02-02 20:40] nosarthur commented on #3126
I removed it and reinstalled

[2019-02-02 21:06] nosarthur commented on #3126
thanks @skiman6010 It works!

[2019-02-03 21:19] JL2210 commented on #3126
This should be fixed, however I will push an update to `code` in the near future that should change the way `code` is executed and also add documentation on how to add extensions (thanks @skiman6010). Should this be kept open until then?

[2019-02-03 22:11] themoonisacheese commented on #3126
If the original issue has been resolved (cyclic dependencies) i'm for closing this, or at least renaming it to a problem that people can encounter on the stable branch.

[2019-02-03 22:15] JL2210 commented on #3126
I have an idea: `Code doesn't start on 'armv7l'`
What do you say?

[2019-02-04 00:17] themoonisacheese commented on #3126
Sure. I was thinking something like `visual studio code problems` but it does seem specific to armv7l

[2019-02-05 01:15] nosarthur commented on #3126
my chromebook is x68_64 and it seems to have this issue too
[code]

[2019-02-05 23:41] uberhacker opened #3140 "[rsu_client] Unable to build"
Tests fail:
[code]

[2019-02-05 23:47] uberhacker commented on #3140
Closing...duplicate.

[2019-02-05 23:47] #3140 closed

[2019-02-06 14:21] nosarthur commented on #3126
There is another strange thing on my vscode. Everytime it's open, a `cli.js` file is loaded.

[2019-02-06 18:15] themoonisacheese commented on #3126
same thing here

[2019-02-06 20:28] JL2210 commented on #3126
I'm pushing an update. I have the exact same issue on my installation.

Please call it `code` instead of `vscode` for the sake of staying safe from copyright issues.

[2019-02-07 00:26] nosarthur commented on #3126
thanks @JL2210

[2019-02-07 00:38] JL2210 commented on #3126
No problem. Do you mind testing it for me? Please reset to your normal configs before trying it (or follow the commands from `crew postinstall sommelier`).

[2019-02-07 01:50] nosarthur commented on #3126
I checked out PR3142, ran `crew postinstall sommerlier`, then `sommelier -X /usr/local/bin/code .`, that file is still loaded. Did I do something wrong?

[2019-02-07 02:04] JL2210 commented on #3126
Yes. First of all, you need to run `crew postinstall sommelier` and *follow the instructions*. Then you have to run `crew upgrade code`, and then run `code-oss`.

[2019-02-07 02:57] nosarthur commented on #3126
I got traceback
[code]

[2019-02-07 16:18] JL2210 commented on #3126
Have you updated first?
Here's a command list:
[code]
It's probably not a good idea to copy and paste these. Please try running them one at a time.

[2019-02-07 16:26] #3126 closed

[2019-02-07 20:09] JL2210 commented on #3126
I believe that you would have to `git reset --hard origin` or that to be active. Anyway, glad it works!

[2019-02-07 22:59] nosarthur commented on #3126
Yeah, you are right.

I wrote a tool called [gita](https://github.com/nosarthur/gita) which displays the branch and commit message of all repos, and crew was on pr-3142 with the right commit message at that time

I must have done something else wrong ...

[2019-02-08 13:28] JL2210 opened #3145 "CREW_BREW_DIR cleared when selecting `n` in the `Do you agree?` prompt."
`#{CREW_BREW_DIR}` is cleared when `n` is selected in the `Do you agree?` prompt. This is misleading, as it states `No changes made.` This broke a very long upgrade, causing me to have to restart the upgrade. I suggest to not clear `#{CREW_BREW_DIR}` when not needed.

[2019-02-08 19:35] nosarthur opened #3146 "Is there a way to tell which software would potentially break after upgrading a package?"
It happened to me that upgrading one package broke some other software in crew. Is there a way to see the dependencies?

Or is it better to not upgrade anything unless one has to?

[2019-02-08 19:43] uberhacker commented on #3146
@nosarthur: Thank you for the information.  Can you please tell us specifically which package update broke another package?  It is certainly possible there might be some overlap in files provided by multiple packages.  You can compare with `crew files <package>` and see if either package has duplicate files (ie. the same filename and path).

[2019-02-08 20:23] JL2210 commented on #3146
Either way, I'd say there is a very pertinent issue that we need to fix: File collisions.
So many packages conflict with other packages, and this is just one key example of probably hundreds of them.

[2019-02-08 20:24] uberhacker commented on #3146
You are probably over exaggerating but I imagine there could be a few.

[2019-02-08 21:06] JL2210 commented on #3146
Maybe not. There are almost 1000 packages now, you know:
[code]

[2019-02-08 21:35] nosarthur commented on #3146
Sorry I don't have specific information.

A few weeks (or months?) ago, I did `crew upgrade`, and `code` broke. Then every once a while I would install `code` to see if it works (It works now). Now I am a bit nervous about package upgrades.

[2019-02-08 22:05] JL2210 commented on #3146
Oh, no worries. We were using official binaries a while back, but they made some (in my opinion, stupid) changes that broke a lot of people's installations. We're building from source and patching those changes out until we can get them fixed upstream.

You should *not* be worried about package upgrades. In most cases, they are very much advisable, as they can fix bugs and such. We try the best to

[2019-02-08 22:22] nosarthur commented on #3146
Sounds good. I will report specifics if something breaks next time.

Meanwhile, I am curious how crew tracks the package/library dependencies. Is it true that if A and B both need some library L of version 1, there is only 1 copy of L installed?

[2019-02-08 22:35] JL2210 commented on #3146
Yes, unless the binaries are statically linked. They all load one shared library into memory, and all programs use that one shared library. When applications are statically linked, each application loads its own copy of the library.

[2019-02-08 22:35] JL2210 commented on #3146
The dependencies are specified manually in the package files.

[2019-02-09 01:24] nosarthur commented on #3146
Good to know, thanks @JL2210

[2019-02-09 23:26] JL2210 commented on #3146
@uberhacker Please add "[question]" tag.

[2019-02-09 23:27] JL2210 commented on #2998
@caglewebsolutions How does this work now? I pushed an update that hopefully fixed the issue.

[2019-02-10 02:40] JL2210 opened #3158 "OpenSSL upgrade"
Patches needed for OpenSSL to be upgraded to 1.1.1a:
- [x] libssh2 #3151
- [x] Curl https://curl.haxx.se/download/curl-7.64.0.tar.xz
- [ ] PHP7?

[2019-02-10 03:09] uberhacker commented on #3158
This is a good issue.  We need to consider all the packages that are affected by this upgrade.  Packages that should be tested include:
- [ ] az
- [ ] ctorrent
- [ ] curl
- [ ] goaccess
- [ ] haproxy
- [ ] irssi
- [ ] kore
- [ ] libevent
- [ ] libssh2
- [ ] libunwind
- [ ] links
- [ ] metasploit
- [ ] mongodb
- [ ] mutt
- [ ] ncat
- [ ] nettle
- [ ] nping
- [ ] php5
- [ ] php7
- [ ] radare2
- [ ]

[2019-02-10 03:20] JL2210 commented on #3158
Keep in mind that if any of these need updated, we should do that before trying to patch old versions that may not have compatibility.

[2019-02-10 05:00] JL2210 commented on #3158
You can cross off Ruby from your list. 2.6 should fix any issues we currently have.

[2019-02-10 05:06] JL2210 commented on #3158
And Curl should be fixed by a simple upgrade, along with libssh2 and maybe PHP 7.2+

[2019-02-10 17:46] JL2210 commented on #3158
Most of these might actually use GnuTLS.

[2019-02-11 00:10] uberhacker opened #3159 "[hplip] Unable to build"
[code]
This is likely due to a missing library for armv7l.

[2019-02-11 00:23] JL2210 commented on #3159
I doubt it; `/usr/local/bin/ld: skipping incompatible ./prnt/hpcups//libImageProcessor.so when searching for -lImageProcessor` probably means that there's something wrong with that library. Could you please give me the output of `crew build -k hplip; cd /usr/local/tmp/crew; file $(find . -name libImageProcessor.so)`

[2019-02-11 00:31] JL2210 commented on #3159
It looks like 3.18.7 broke this.

[2019-02-11 00:37] JL2210 commented on #3159
3.19.1 is out now, I'll update it.

[2019-02-12 04:43] sajjaadf opened #3161 "Chrome is 72 is Stable and out"
Woo
https://chromeunboxed.com/chrome-os-72-arrives-with-android-app-shortcuts-pip-touch-optimization-and-more/

[2019-02-12 14:11] JL2210 commented on #3161
Yes, it is. We actually knew this a few days ago because of the #feeds channel on Slack.

@uberhacker, could you please close?

[2019-02-12 14:37] vincowl opened #3162 "Fonts display in Gimp and Sublime_text"
## Description
while running gimp or sublime_text on a C302CA with a brand new homecrew installation, fonts are HUGE in menu bar. How can I reduce its size ? Playing with SCALE env var leads to very tiny text in the edit window of sublime_text.

[2019-02-12 14:39] JL2210 commented on #3162
You can use decimal numbers in SCALE. Try 1.2.

[2019-02-12 14:39] JL2210 commented on #3162
May I see a screenshot with and without SCALE set to 1.2?

[2019-02-12 14:54] vincowl commented on #3162
**Scale 1.2**
![screenshot 2019-02-12 at 15 48 23](https://user-images.githubusercontent.com/16786457/52643615-b1f84a00-2edd-11e9-9360-218003c2029d.png)
![screenshot 2019-02-12 at 15 48 00](https://user-images.githubusercontent.com/16786457/52643616-b290e080-2edd-11e9-8ae5-3a910e27e744.png)

**Scale 1**
![screenshot 2019-02-12 at 15 47 05](https://user-images.githubusercontent.com/16786457/5264361

[2019-02-12 14:57] JL2210 commented on #3162
Better question: Why is Gimp even BUILT with GTK+2? GTK+3 is newer and includes Wayland support.

[2019-02-12 15:00] vincowl commented on #3162
Good question....
I am going to have a look at it...

[2019-02-12 15:01] vincowl commented on #3162
![image](https://user-images.githubusercontent.com/16786457/52644591-63e44600-2edf-11e9-9dfb-a025a391e0c9.png)

[2019-02-12 15:03] JL2210 commented on #3162
Try `crew remove gtk2 gimp && sed -i 's,gtk2,gtk3,g' /usr/local/lib/crew/packages/gimp.rb && crew install -S gimp`.

[2019-02-12 15:04] vincowl commented on #3162
More awful with sublime_text : dependency is not correctly defined, even if it should be linked to the old gtk2
![image](https://user-images.githubusercontent.com/16786457/52644769-ba518480-2edf-11e9-8147-56110a5f12ac.png)

[2019-02-12 15:05] vincowl commented on #3162
Command won't produce a clean result since gtk2 seams to be already needed
[code]

[2019-02-12 15:07] JL2210 commented on #3162
OK, first of all, run `crew install gcc8`.

[2019-02-12 15:08] vincowl commented on #3162
It's already installed

[2019-02-12 15:10] JL2210 commented on #3162
`crew remove gcc8 gcc7 && wget -O- https://bintray.com/chromebrew/chromebrew/download_file?file_path=gcc8-8.2.0-chromeos-x86_64.tar.xz | tar xpJ - -C /`

[2019-02-12 15:13] vincowl commented on #3162
OK. Waiting for installation of gcc8...
Meanwhile, I am looking at nested dependencies and here are the packages linked to gtk2

![image](https://user-images.githubusercontent.com/16786457/52645344-e3264980-2ee0-11e9-9488-5f9538d8d879.png)

[2019-02-12 15:13] JL2210 opened #3163 "List of proprietary and non open-source (non GPL-3 compatible) packages in Chromebrew"
- [ ] `sublime_text`

More may be added later.

It would be optimal if these packages were removed from Chromebrew so as to avoid licensing conflicts.

[2019-02-12 15:31] #3161 closed

[2019-02-12 15:32] vincowl commented on #3162
Troubles to install gcc8....
[code]
gcc still linked to x86_64-cros-linux-gnu. Any idea ? I tried to add sudo commands without success

[2019-02-12 17:18] JL2210 commented on #3162
That's normal. Please do **not** use `sudo` when dealing with Chromebrew. Now you have to run:
[code]
Try running `ruby --help` and see what happens.

[2019-02-12 19:03] vincowl commented on #3162
OK. The ruby's command help is displayed correctly with version `ruby 2.5.3p105 (2018-10-18 revision 65156) [x86_64-linux]`

[2019-02-12 22:07] JL2210 commented on #3162
OK, now run `crew install gcc8`.

Then try setting scale to `1.3` in `~/.bashrc`.

[2019-02-12 22:35] vincowl commented on #3162
gcc8 is declared as already installed. Absolutely no impact changing SCALE to 1.3.
I don't really see the link between recompiling gcc8 and the problem with apps depending on GTK2. Don't you think it would be better to first try to reduce dependency to GTK2 ?

[2019-02-12 22:38] JL2210 commented on #3162
What's the output of `crew install gcc`? Just because the files are there doesn't mean the metadata is. I just want to save you some pain with the upgrade.

What happens if you set `SCALE` to, say, `1.4` or `1.5`?

[2019-02-12 22:49] JL2210 opened #3164 "QT fails to install"
[code]

I suggest building from sources if we try to package QT again.

Also, do I get reimbursed for the bandwidth that I lost?

[2019-02-12 22:51] vincowl commented on #3162
[code]
Let's use sublime_text as reference since it is the worst case :
When SCALE is set to 1.5, menu bar's font is smaller, quite normal, but edit panel's font becomes tiny, quite unreadable.
In gimp, text size is quite OK, but icons becomes tiny too...

[2019-02-12 22:56] JL2210 commented on #3162
All right, you mentioned that setting `gtk-font-name="sans-serif 6"` in `~/.gtkrc-2.0` fixed the issue, is that correct?

[2019-02-12 22:57] vincowl commented on #3162
correct.

[2019-02-12 22:58] JL2210 commented on #3162
Add a FAQ entry depicting your issue and its solution and close this issue.

The best FAQ entries are short and sweet, and they describe your problem and its solution entirely.

[2019-02-12 23:07] vincowl commented on #3162
OK. Done in FAQ [here](https://github.com/skycocker/chromebrew/wiki/Troubleshooting-common-problems#troubles-with-font-size-in-apps-depending-on-gtk2)

[2019-02-12 23:07] #3162 closed

[2019-02-12 23:07] vincowl commented on #3162
@JL2210 : Thanks for your very reactive help !

[2019-02-13 01:44] JL2210 commented on #2401
@ukscone You mentioned that you could run an SDL app when rebuilding libSDL. How did you do that? I get a display similar to `X display is not available` on every SDL app I use.

[2019-02-13 04:35] ukscone commented on #2401
@JL2210 It's been a while but I think I just rebuilt SDL turning on nearly every option I could but I might be mistaken. I'll see if I can find notes from then for you

[2019-02-13 06:19] blu opened #3166 "[gdb] 8.2.1 brings along a bunch of x11 dependencies"
## Description
Upgrading crew package gdb from 8.1 to 8.2.1 brings along a bunch of x11 dependencies:
libx11 xorg_proto libxcb xcb_proto libxau libxtrans

Are those really necessary?

## Versions and system information
chromebrew: 1.2.0

[2019-02-13 12:08] JL2210 commented on #3166
I'm pretty sure that's because we enable the GUI debugger.

[2019-02-13 16:56] vincowl opened #3167 "Marketplace does not display extension list"
Once installed and launched, code does not display extensions in the marketplace. It has to be activated as described [here](https://github.com/skycocker/chromebrew/wiki/FAQ)

[2019-02-13 16:56] #3167 closed

[2019-02-14 22:10] KaehLikeTheLetterK opened #3168 "[gtk3] Error 127 when attempting to install"
I've tried several time to install it, but it keeps failing at the post-install script with the error

`gtk3 failed to install: `update-mime-database /usr/local/share/mime` exited with 127`

I'm not sure what could be causing this, and it's consistent, preventing me from installing QEMU and libsdl.

The only unorthodox information I can provide is that I'm on an older version of ChromeOS (65) beca

[2019-02-14 22:24] uberhacker commented on #3168
@KaehLikeTheLetterK: My guess is you don't have the `shared_mime_info` package installed.  Try `crew install shared_mime_info` and see if that fixes the issue.

[2019-02-14 22:26] KaehLikeTheLetterK commented on #3168
@uberhacker Yep, that seems to have solved it. Thank you kindly!

[2019-02-14 22:26] #3168 closed

[2019-02-15 13:34] nosarthur opened #3169 "mouse position is incorrect for code with extended monitor"
With an extended monitor, the mouse position is not correct. Thus one cannot drag/maximize/close `code`. The icons on the left are not accessible either.

These symptoms exist both when the `code` window is in the chromebook monitor and extended monitor.

[2019-02-16 05:09] blu commented on #3166
Oh, nice! Ok, nevermind then.

[2019-02-16 05:10] #3166 closed

[2019-02-16 22:34] skiman6010 commented on #3169
I cannot reproduce this. Can you follow the issue template and give me your system specs and possibly screenshots?

Thanks!

[2019-02-16 22:37] skiman6010 commented on #3146
Looks like all the questions were answered. Closing!

[2019-02-16 22:37] #3146 closed

[2019-02-16 23:38] #3164 closed

[2019-02-17 00:53] nosarthur commented on #3169
Here it is. Thanks

## Description
When the chromebook is connected to an extended monitor, the mouse location for `code` is not correct.

If you executed a specific command:
[code]

Output:
[code]

## Versions and system information
chromebrew: 1.2.0

ChromeOS: `cat /etc/lsb-release`
[code]
Model: Samsung chrombook pro

Architecture: x86_64

[2019-02-17 02:51] nosarthur commented on #3169
Also with external monitor, when the mouse enters the code window, it becomes an x-shaped cross. Normally it’s not like that.

[2019-02-17 05:20] KaehLikeTheLetterK opened #3174 "curl Missing libmetalink.so.3 after downloading"
Happened right after attempting to install clib;

[code]

[2019-02-17 06:00] uberhacker commented on #3174
I think the brotli package is missing the curl dependency.  Try this: `crew upgrade curl`

[2019-02-17 07:19] KaehLikeTheLetterK commented on #3174
@uberhacker Reports curl as up-to-date. I should also mention this breaks curl system-wide, as found when I attempted to use dev_install shortly after.

[2019-02-17 07:21] uberhacker commented on #3174
My guess is curl was corrupted somehow.  I just installed everything fresh and curl and brotli both installed fine.  Maybe try `crew remove curl && crew install curl`?

[2019-02-17 07:23] KaehLikeTheLetterK commented on #3174
That seems to have fixed it. I'm guessing the problem came from curl installing before libmetalink.

[2019-02-17 07:26] uberhacker commented on #3174
It's possible you just needed to `crew update && crew upgrade`.  It appears you were trying to install the previous version of curl.

[2019-02-17 07:27] KaehLikeTheLetterK commented on #3174
Except I literally just installed crew fresh again (dev_install led to me recovering my chromebook via usb) and was able to reproduce the issue.

[2019-02-17 07:28] uberhacker commented on #3174
That is interesting because brotli and libmetalink are now dependencies of curl which should get installed before curl.

[2019-02-17 07:29] KaehLikeTheLetterK commented on #3174
Whatever the case, removing and reinstalling curl by itself did solve it, so thank you!

[2019-02-17 07:32] uberhacker commented on #3174
No problem.  I think the new speedy dependency resolving logic is mixing up the install order.  We'll need to work on fixing that.

[2019-02-17 07:33] KaehLikeTheLetterK commented on #3174
Should I close this one?

[2019-02-17 17:00] ScardracS opened #3176 "Can install program but can't run them"
Hi everybody!

As title said I can install program but I can't see them on my shelf and/or run them via terminal.

For example I've installed inkscape, but when I try t run it on shell (simply typing inkscape) it just tell me "Nothing to do!"

I feel myself a bit idiot asking that, but... I've doing something wrong?
I hope for a quick answer

[2019-02-17 17:03] ScardracS commented on #3176
![screenshot 2019-02-17 at 18 02 23](https://user-images.githubusercontent.com/12005889/52916333-4dbef700-32de-11e9-89c1-0967a6b88c43.png)

[2019-02-17 17:08] ScardracS commented on #3176
P.S. I've cloudready. IDK if this could be a problem

[2019-02-17 17:48] skiman6010 commented on #3169
Fascinating. I still can't reproduce, but if anyone else can chime in with this issue, I would love to diagnose more!

[2019-02-17 18:41] uberhacker commented on #3176
Thank you for reporting this issue @ScardracS.  My guess is you need the sommelier daemon running.  Have you followed the post-install instructions from `crew postinstall sommelier`?

[2019-02-17 22:11] uberhacker commented on #3174
We can keep this open because others have reported issues with curl on other packages.

[2019-02-18 02:48] nealey commented on #2890
Chrome 72 is now stable.

[2019-02-18 07:14] gabre opened #3179 "Problem when installing GTK"
## Description
I tried to install ffmpeg (which installs GTK - note that this is the n-th trial, I always get the same error but some of the packages have been already installed) and got:

[code]

Output:
[code]

## Versions and system information
chromebrew: 1.2.0

ChromeOS:
[code]

Model: Packard Bell Easynote TJ65 (an old laptop, but every feature of the OS works well)

Architecture: x86_64

[2019-02-18 15:54] uberhacker commented on #3179
Thank you for the detailed issue @gabre.  Try `crew install shared_mime_info` and then rinse and repeat and see if that solves it for you.

[2019-02-18 16:02] uberhacker commented on #3163
While sublime text can officially be labeled shareware, I think we can keep it regardless of the license.  The Chromebrew project itself is GPL but any software that is installed is the user's responsibility from a legal standpoint.
[code]

[2019-02-18 17:18] gabre commented on #3179
This worked fine - thank you @uberhacker

[2019-02-19 06:50] KaehLikeTheLetterK opened #3180 "Compiler Error "C compiler cannot create executables""
I'm trying to build Capstone using make provided with Crew, and I'm getting this nasty error saying ld can't find ld-linux-armhf.so.3 or libc.so.6.

Full error output;
[code]

I then attempted to build DeSmuME, which had compiled successfully only two days ago;

[code]

and in config.log:
[code]

This is on a fresh install after having reset my Chromebook yet again, and I'm not sure what the culpr

[2019-02-19 09:30] KaehLikeTheLetterK commented on #3180
I found the problem was improper symlinks to /lib/libc-2.27.so and /lib/ld-2.27.so (crew is symlinking to 2.23, which doesn't exist.)
Solved by setting the proper links.

[2019-02-19 14:55] uberhacker commented on #3180
@KaehLikeTheLetterK: Thank you for reporting.  I have a pending PR ready to fix this problem.  I was just waiting until the Chromebooks started to get updated to release 72 before I rolled it out.  I will leave this open so other folks who experience the same issue can be warned.

[2019-02-19 15:04] JL2210 commented on #3180
It shouldn't cause any issue. I'm having the same problem, though.

[2019-02-20 08:59] blu commented on #2890
This is normal for r72 and current crew. It can be addressed as described here: https://github.com/skycocker/chromebrew/issues/2890#issuecomment-453760111

[2019-02-20 15:26] nealey commented on #2890
Yes, thank you. I just meant to add to the issue that we have now reached a state where no up-to-date version of ChromeOS will have glibc-2.23, because of [this comment](https://github.com/skycocker/chromebrew/issues/2890#issuecomment-441251523):

[2019-02-20 23:31] blu commented on #2662
Heads-up: ZWP_LINUX_BUFFER_PARAMS_V1_FLAGS_Y_INVERT works in r73. I believe this ticket can be closed now.

[2019-02-20 23:33] #2662 closed

[2019-02-21 15:17] JL2210 commented on #3176
Shelf apps don't work yet, but try adding this to `~/.bashrc`:
[code]

[2019-02-21 15:20] JL2210 opened #3185 "Inkscape requires ImageMagick to install"
[code]
Is this required or optional?

[2019-02-21 15:29] JL2210 commented on #3185
Didn't notice that ImageMagick is a library. Closing.

[2019-02-21 15:29] #3185 closed

[2019-02-21 21:40] KaehLikeTheLetterK opened #3186 "Question; Compiling devkitPro on ARMv7"
I have all the requirements installed, including zlib and freeimage, but I keep getting:
[code]

I've tried finding some kind of solution, but to no avail. Any ideas? It seems to compile fine in my Ubuntu chroot, but I've gotten similar errors in other programs I wanted to compile (Audacity, namely), so I'm curious.

[2019-02-21 21:51] uberhacker commented on #3186
@KaehLikeTheLetterK: You could try changing the default linker:
[code]
This would change the default linker to use gold instead of bfd.

[2019-02-21 21:57] KaehLikeTheLetterK commented on #3186
[code]

It still installed, strangely enough.

[2019-02-21 22:07] KaehLikeTheLetterK commented on #3186
Seems like that didn't work. Same error as before.

[2019-02-22 01:13] uberhacker commented on #3186
Sorry to hear it.  Maybe you are missing some extra dependency for the package you are trying to build.  The error message you see is @JL2210's use of `file:///dev/null` to bypass the source.  Not elegant, but it works.

[2019-02-22 01:28] perryh2 opened #3187 "install fails when CREW_PREFIX is preset"
## Description
I encountered 3 failures while attempting to install chromebrew with CREW_PREFIX set (to install in a non-default location).  I was able to work around the first two, but it's not clear (to me) how to get past the third.

1. install.sh does not create ${CREW_PREFIX}/bin
2. install.sh does not add ${CREW_PREFIX}/bin to the PATH before trying to run crew.
3. "crew install ..." attempt

[2019-02-22 02:31] KaehLikeTheLetterK commented on #3186
It works in Ubuntu still, so I suppose no harm done. Sorry for bugging y'all so much with my unique situations! You've been a big help, so thanks :)

[2019-02-22 02:31] #3186 closed

[2019-02-22 19:35] perryh2 commented on #3187
I've found a possible workaround, which (I think) also eliminates the need to add ${CREW_PREFIX}/bin to the PATH, to build packages from source, or even to set CREW_PREFIX in .bashrc: run the attached script (with sudo) ahead of line 204 of install.sh and comment out line 12 of const.rb.  It would probably also be advisable for crew itself to check during initialization whether it is installed in

[2019-02-22 21:59] slakumalla commented on #142
$ gcc
Agreeing to the Xcode/iOS license requires admin privileges, please run “sudo xcodebuild -license” and then retry this command.

$ sudo xcodebuild -license

after the license agreement, gcc should work

[2019-02-23 17:14] nosarthur opened #3191 "a minor glitch on `crew update`"
## Description
I ran `crew update` and got some traceback. Ran it again and it was fine.

[code]

## Versions and system information
chromebrew: `1.2.1`

ChromeOS:
[code]
Model: samsung chromebook pro

Architecture: `x86_64`

[2019-02-23 18:36] skiman6010 commented on #3191
What version of `glibc` do you have installed? We just pushed an update that will install 2.27 that fixed Chrome OS 72 issues.

[2019-02-23 19:29] uberhacker commented on #3191
Thank you for the detailed issue @nosarthur.  I have noticed this also.  What I think happens is the update function tries to process before the new `const.rb` is loaded.  But what you said is correct.  If you run `crew update` again, it continues on without an issue.

[2019-02-23 20:02] nosarthur commented on #3191
`crew update` output:
[code]
Not sure why it says 2.2x

[2019-02-25 06:07] nosarthur commented on #3191
Another strange thing is that `crew update` tells me that my `buildessential could be updated from 1.3 to 1.4`. But `crew upgrade buildessential` tells me that `buildessential is already up to date.`

[code]

[2019-02-25 13:09] JL2210 commented on #3186
Try compiling with LIBS=-ldl appended to the `configure` command.

On Thu, Feb 21, 2019 at 9:31 PM KaehLikeTheLetterK <notifications@github.com>
wrote:

[2019-02-25 13:11] JL2210 commented on #3187
I'm still working on all of this ${CREW_PREFIX} stuff. We're making
progress, but not much.

On Fri, Feb 22, 2019 at 2:36 PM perryh2 <notifications@github.com> wrote:

[2019-02-25 13:12] JL2210 commented on #142
Whoa. This isn't MacOS, you know.

On Fri, Feb 22, 2019 at 4:59 PM slakumalla <notifications@github.com> wrote:

[2019-02-25 13:18] JL2210 commented on #3191
That's a normal issue with fake packages. It's a limitation that we can't
seem to get around.

On Mon, Feb 25, 2019 at 1:07 AM nos <notifications@github.com> wrote:

[2019-02-26 05:44] perryh2 commented on #3187
I started looking into it also, and it seems to be a fair-sized can of worms.  Going to clean everything up and do a "normal" install, so as to at least know how it's supposed to turn out.

[2019-02-26 19:00] bfayers commented on #142
Not only that it's also a 2 year old thread.

[2019-02-28 15:43] nosarthur opened #3195 "[golang update] go 1.12 is released"
https://blog.golang.org/go1.12

[2019-02-28 15:45] JL2210 commented on #3195
Thank you for letting us know. Not sure if go is our highest priority right
now, but I imagine somebody may try to update it.

[2019-02-28 15:49] nosarthur opened #3196 "Is it possible to install a specific version of a package?"
Something like
[code]

[2019-02-28 15:51] JL2210 commented on #3196
No. As packages are upgraded and old versions are removed, it is no longer
possible to install older packages. Build them yourself or download older
binaries from Bintray and install them by hand.

[2019-02-28 15:56] nosarthur commented on #3196
I see, thanks

[2019-02-28 16:01] JL2210 commented on #3196
Which package were you concerned about?

[2019-02-28 16:08] nosarthur commented on #3196
I don't have anything specific in mind. Just curious in general

[2019-02-28 16:12] nosarthur commented on #3195
This is not urgent to me either. Maybe I will learn how to update it and hopefully create a PR

[2019-02-28 16:16] uberhacker commented on #3195
@nosarthur: Apply the attached patch and you can get credit for this update.
[code]
[go-1.12.patch.txt](https://github.com/skycocker/chromebrew/files/2915843/go-1.12.patch.txt)

[2019-02-28 16:20] JL2210 commented on #3195
He's not the one who wrote it, so why should he get credit?

[2019-02-28 16:29] skiman6010 commented on #3195
@JL2210 Because we are trying to get new people involved to create, update and maintain packages so the work isn't all on the few tireless workers. The best way to get people involved is by letting them dip their feet in the water and not just pushing them into the ocean.

@uberhacker has set up a nice way for @nosarthur to clone and see how the repo is laid out while also providing enough help in

[2019-02-28 16:33] JL2210 commented on #3195
You're right. Sorry.

[2019-02-28 16:41] JL2210 opened #3197 "Go doesn't install 'godoc' binary"
After installing the `go` package, only `go` and `gofmt` are installed, but not all of the other programs usually installed with Go. I beleive this is because we install in `/usr/local/share/go` and create symlinks. Is there a better way to do this or do I just have to live without `godoc`?

[2019-02-28 16:43] uberhacker commented on #3197
You could provide a PR with the added symlink.  Shouldn't be difficult.

[2019-02-28 16:52] nealey commented on #2890
This issue appears to have been resolved recently. I can't close the issue but that may be appropriate.

[2019-02-28 17:04] JL2210 commented on #3197
I don't want to add a symlink because other programs may be left out. Is there a way we could install directly to `/usr/local` instead of to an offset? Even if we can't, a better directory for this would be `/usr/local/opt/go`.

[2019-02-28 18:26] #3195 closed

[2019-02-28 19:55] nosarthur commented on #3197
I used `go get -v golang.org/x/tools/cmd/godoc`. It seems to work

[2019-02-28 20:14] JL2210 commented on #3197
Thanks @nos. That works for me.

[2019-03-02 14:00] #3197 closed

[2019-03-02 14:01] JL2210 commented on #3197
I was looking for `go doc`. I have it as an alias in my `~/.bashrc` now.

[2019-03-02 18:13] JL2210 commented on #3191
It breaks when running `crew search`, too.

[2019-03-02 23:27] helge000 opened #3205 "crew should not try to unpack a non-archive"
## Description
crew should not try to extract non-archives

[code]

[2019-03-03 08:23] perryh2 opened #3207 "buildessential's dependency list needs changes"
When install.sh starts to install buildessential, the reported dependency list is not entirely correct.  gcc8 has already been installed, so gcc7 should not be needed; and bz2, xzutils, sed, attr, and bc (and possibly some others) are already included in Chrome OS itself.

## Versions and system information
chromebrew: 1.2.1

ChromeOS:
CHROMEOS_AUSERVER=https://tools.google.com/service/update2
CHR

[2019-03-03 08:38] perryh2 opened #3208 "unzip has a build dependency on wget"
## Description
When attempting to install unzip from source as the first dependency of buildessential, it turns out that wget is needed to retrieve the patches.

[code]

wget has not been installed yet because it is farther down the buidessential dependency list.

## Versions and system information
chromebrew: 1.2.1

ChromeOS:
CHROMEOS_AUSERVER=https://tools.google.com/service/update2
CHROMEOS_BOA

[2019-03-03 08:50] perryh2 opened #3209 "[install] gcc8 needs isl"
## Description
When attempting to compile anything using gcc from the gcc8 package as installed by install.sh, without first installing buildessential from binaries, gcc fails because isl is missing.

[code]

produces

[code]

This makes it impossible to install buildessential and its dependencies from source instead of from prebuilt binary packages.  It can't be fixed by setting LD_LIBRARY_PATH,

[2019-03-03 10:31] ScardracS commented on #3176
I'll try. Thank men!

[2019-03-03 13:21] JL2210 commented on #3208
You need to install buildessential from binaries first, before you install
any other packages.

[2019-03-03 13:22] JL2210 commented on #3207
Is this a fresh reinstall?

[2019-03-03 13:23] JL2210 commented on #3207
If you add the '-S' flag while installing, `gcc7` is pulled in because
already installed packages are not skipped. Lovely, isn't it?

[2019-03-03 18:35] JL2210 commented on #3209
gcc is installed as a dependency to ruby. It's not meant to be used without
installing buildessential.

"buildessential" is a description of what it is: essentials to build
software.

On Sun, Mar 3, 2019 at 3:50 AM perryh2 <notifications@github.com> wrote:

[2019-03-03 21:34] JL2210 commented on #3207
bz2: We need `libbzip2`, the bzip2 decompression library

xzutils: We need `liblzma`, the lzma decompression library

sed: Has some major issues involving Chrome/Chromium forcing a non-optimal decision (blocking `e/r/w` commands) upon its users. Also needed updated.

attr: Needed header files and an update.

bc: Needed an update.

[2019-03-04 08:11] perryh2 commented on #3209
Well, it seems kind of pointless to install something that doesn't work.  If we need gcc as a dependency of ruby, by the same logic we also need the runtime dependencies of gcc.  (Or, alternatively, if ruby doesn't need a _working_ gcc, why not just leave that dependency unmet -- instead of leaving gcc's dependencies unmet -- or install a stub?)

Background:  const.rb attempts (unsuccessfully) to

[2019-03-04 08:16] perryh2 commented on #3208
... and the first thing "crew install buildessential" does is to install unzip.

[2019-03-04 12:22] JL2210 commented on #3209
Ruby requires libssp, which gcc provides. It doesn't require any other
component of gcc.

[2019-03-04 12:24] JL2210 commented on #3209
It's actually meant so you can set CREW_PREFIX after installation, but
we're still working a lot of this stuff out (mainly due to the fact that a
lot of the packages assume /usr/local as the install directory).

[2019-03-04 12:26] JL2210 commented on #3208
That's because you have CREW_PREFIX set. We're still working that all out.
For now, can you close this, as it won't affect (or bother) most users?

[2019-03-08 14:36] JL2210 opened #3213 "Duplicate packages"
Duplicate packages: `bdwgc` and `gc`.

Also, please update to `8.0.4`: https://github.com/ivmai/bdwgc/releases/download/v8.0.4/gc-8.0.4.tar.gz

[2019-03-08 15:04] uberhacker commented on #3213
You are welcome to submit a PR to update and remove the duplicate package.

[2019-03-08 15:06] uberhacker commented on #3213
Just make sure you also update all the other packages that currently depend on the package you plan on removing and replace the dependency with the other package.  That means testing each package afterwards that is affected also.

[2019-03-08 18:27] uberhacker commented on #3207
Should we mention #3187 as the root cause of this issue?  If so, I'm thinking we should close this and continue the conversation on that issue instead?

[2019-03-08 18:32] #3205 closed

[2019-03-08 18:51] uberhacker commented on #3080
Unfortunately, the Chromebrew project was not selected to participate this year.  I guess they don't consider this project viral enough.

[2019-03-08 18:51] #3080 closed

[2019-03-08 20:21] JL2210 commented on #3080
Darn. Always next year, though.

[2019-03-09 18:26] torzod commented on #2882
has any progress been made towards getting firefox working?

[2019-03-09 18:48] JL2210 commented on #2882
It'll take a while.

[2019-03-14 08:58] YYYGH commented on #142
Is't work.

[2019-03-14 14:04] uberhacker commented on #142
@YYYGH: If your compiler isn't working, I would suggest trying to reinstall Chromebrew.
[code]

[2019-03-16 11:59] vincowl opened #3216 "Dot (graphviz) crashes when trying to generate graphs"
With a fresh install, ```dot``` command from graphviz 2.40 may crash. It happens for instance while trying to generate a class diagram.

[2019-03-16 12:00] vincowl commented on #3216
Dot's plugins shall be configured using ```dot -c```.
Added to the FAQ wiki section

[2019-03-16 12:00] #3216 closed

[2019-03-16 12:03] vincowl opened #3217 "Code crashes with a GLib-GIO-ERROR when trying to open a folder"
With a fresh install of code, a click on the "Open Folder" button crashes Code with the following error
[code]

[2019-03-16 12:04] vincowl commented on #3217
GSettings schemas have to be compiled and installed using
[code]
Added to the FAQ
Maybe it should be added to the code's installation process ???

[2019-03-16 13:45] vincowl opened #3218 "tlmgr install XXX throws error : tlmgr: Remote repository is newer than local (2017 < 2018)"
Using ```tlmgr update --self --all``` throws the following error :
[code]

This means we have to update texlive but running ```update-tlmgr-latest(.sh/.exe) --update``` leads to
[code]

[2019-03-16 13:47] vincowl commented on #3218
To run `update-tlmgr-update`, we have to run :
```sudo mount -o remount,rw -io exec /tmp```

[2019-03-16 13:47] #3218 closed

[2019-03-16 14:59] skiman6010 commented on #3217
I don't have this issue on my installation, but good to know.

Thanks!

[2019-03-16 15:02] skiman6010 commented on #3218
A better way to do this is probably `export TMPDIR=/usr/local/tmp`.

[2019-03-16 17:09] blu commented on #2662
To mark the enablement of ZWP_LINUX_BUFFER_PARAMS_V1_FLAGS_Y_INVERT in r73, I've added yet another small test app to https://github.com/blu/hello-chromeos-gles2, but this time app has an apparent up-down orientation ; ) Build via build_chromeos_skeleton_shadow.sh. Cheers!

[2019-03-16 17:13] vincowl commented on #3218
Just for info : why would it be better since it is run only once ? Both would be forget after a reboot and /tmp is not a critical part. Maybe you're thinking to something cleaner while keeping chromebrew's tmp in /usr/local and not mixing it with the chromeOS tmp dir ? Always good for me to learn from others best practices !

[2019-03-17 16:56] JL2210 commented on #3218
Thanks for the FAQ entry! I made it a little more clear and fixed some formatting errors.

[2019-03-17 16:57] JL2210 commented on #3217
This is already done in the `glib` package. Try compiling from source.

[2019-03-17 16:57] JL2210 commented on #3216
Edited. Thanks for the entry!

[2019-03-17 16:58] JL2210 commented on #3205
Nice!

[2019-03-17 17:08] JL2210 opened #3219 "Invalid grammar in `crew`"
A while and awhile have different meanings.
A while is a noun and means “a period of time.”
In contrast, awhile is an adverb, and it means “for a time.”

So `awhile` should be changed to `a while` in `crew`.

[2019-03-17 17:11] uberhacker commented on #3219
Oh no!  The grammar nazis are here again!  Feel free to submit a PR.

[2019-03-17 18:01] skiman6010 commented on #3218
@vincowl I map the temp directly into /usr/local to maintain security over the rest of the device's drive. I also have the export command in my bashrc.

[2019-03-17 18:25] JL2210 commented on #3218
That's not secure at all. That would map the temporary directory into a
directory that is persistent across reboots and is accessible to all users,
even in guest mode.

[2019-03-17 18:55] JL2210 commented on #3219
OK.

[2019-03-17 19:02] #3219 closed

[2019-03-17 19:51] skiman6010 commented on #3218
Literally achieves the same thing as remounting the /tmp directory without remounting anything that isn't already mounted...

It does not make it accessible to users in guest mode by the way. Also I don't have guest mode activated either.

[2019-03-17 21:55] JL2210 commented on #3218
`/tmp` is cleared on reboot.

Guest mode users can access all your `/usr/local` data via. `/mnt/stateful_partition/dev_image/`.

Turning off guest mode would certainly tighten security, but there are ways...

[2019-03-21 17:22] blu commented on #1406
Browsing old issues, and this one picked my attention: this seems like a typical case of the build picking aarch64 as the target for the build, while chros userland is armhf. From there on, `as` does not recognize aarch64 A64 assembly, etc.

@minektur Acer Chromebook R13 and Samsung Chromebook Plus (OG) are two aarch64 (kernel) chromebooks from that period.

[2019-03-24 15:48] JL2210 commented on #3213
There's no need to update if they're both the same package.

[2019-03-24 16:41] JL2210 commented on #3179
@gabre Please close this issue if your problem has been resolved.

[2019-03-24 16:43] JL2210 commented on #3176
@ScardracS Did this work? If so, please close this issue.

[2019-03-24 17:38] uberhacker commented on #3213
You sound so confident.  Always need to test.

[2019-03-24 18:49] JL2210 commented on #3213
It's a little thing called backwards compatibility that every sane project has.

[2019-03-25 00:30] uberhacker commented on #3213
Fixed in #3222.

[2019-03-25 00:30] #3213 closed

[2019-03-25 03:34] JL2210 commented on #3213
There's a reason I didn't add "Fixes" to the description of that PR: There
may be more duplicate packages in the future. Please reopen.

[2019-03-25 03:36] uberhacker commented on #3213
I think this is the only duplicate package.

[2019-03-25 13:13] JL2210 commented on #3213
That I've found so far, yes. But there may be more in the future.

[2019-03-25 14:43] uberhacker commented on #3213
If you find one, let me know and I'll reopen.

[2019-03-25 16:34] JL2210 commented on #3209
@uberhacker This isn't a bug. He's trying to use GCC before installing buildessential. If you don't mind, adding the [invalid] and [installation] tags would be more appropriate.

[2019-03-25 16:35] JL2210 commented on #3208
Not a bug, see my comment on #3209

[2019-03-25 16:36] JL2210 commented on #3207
@uberhacker Can you remove the [x86_64] tag? Not relevant.

[2019-03-25 16:37] JL2210 commented on #3196
@nosarthur Can you close this if your issue has been resolved?

[2019-03-25 16:37] JL2210 commented on #3191
@nosarthur Can you please close this?

Note that solution is to run `crew update` again.

[2019-03-25 16:39] JL2210 commented on #3187
I can solve 1. and 2., but I assume (sadly) that 3. needs to be moved from `const.rb` to `crew`.

[2019-03-25 16:57] #3196 closed

[2019-03-25 16:57] #3191 closed

[2019-03-25 18:06] JL2210 commented on #3205
Although I don't like the message it puts out now. I think it was better before (i.e. `Unpacking archive, this may take a while...` vs. `Unpacking archive using 'tar', this may take a while...`).

[2019-03-25 20:59] uberhacker commented on #3207
His architecture is x86_64 so it is relevant.  But since this issue is stale with no feedback, I will close.

[2019-03-25 20:59] #3207 closed

[2019-03-25 21:18] JL2210 commented on #3207
Yes, but there's literally no correlation between buildessential's dependency list and x86_64, so why have the tag?

[2019-03-25 21:23] uberhacker commented on #3207
Did you see the architecture that was reported in the first comment?

[2019-03-25 22:24] Merith-TK opened #3229 "Install to External ext4 sdcard (via symlink?)"
## Description
How would one install to external SD to save space?

ChromeOS:
chronos [/usr]-> cat /etc/lsb-release
CHROMEOS_AUSERVER=https://tools.google.com/service/update2
CHROMEOS_BOARD_APPID={C776D42E-287A-435E-8BA7-E770BD30B46D}
CHROMEOS_CANARY_APPID={90F229CE-83E2-4FAF-8479-E368A34938B1}
CHROMEOS_DEVSERVER=
CHROMEOS_RELEASE_APPID={C776D42E-287A-435E-8BA7-E770BD30B46D}
CHROMEOS_RELEASE_BOARD

[2019-03-25 22:50] Merith-TK commented on #3229
I have tried symlinks `/usr/local/` to the sdcard, but I can't force it to link as the /usr/local directory is busy for some reason and can't remove it

[2019-03-26 00:04] JL2210 commented on #3229
You have to install to `/usr/local`, move all the files over, and set the
`CREW_PREFIX` environment variable. This doesn't currently work, so it's
not supported. Good luck!

[2019-03-26 15:41] Merith-TK commented on #3229
Okay, kinda confused by that answer,
`set the CREW_PREFIX env variable` and `This doesnt currently work`

laborate please?

[2019-03-26 15:43] Merith-TK commented on #3229
and i think this is what you meant
[code]

[2019-03-26 15:55] JL2210 commented on #3229
Yep. That's what I meant.

[2019-03-26 16:24] Merith-TK commented on #3229
I had actually reset my dot files on my chromebook so... I kinda needed that back in order to ignore the error

[2019-03-26 16:48] Merith-TK commented on #3229
reopened/ping me if this issue is fixed/feature added

[2019-03-26 16:52] JL2210 commented on #3229
I'll ping you (I can't reopen issues yet).

[2019-03-26 16:53] Merith-TK commented on #3229
Alright,

On Tue, Mar 26, 2019, 9:52 AM James Larrowe <notifications@github.com>
wrote:

[2019-03-26 19:55] blu opened #3230 "[crew-install]"
Hi,

Re-installing crew after a powerwash on an R73.0.x-beta aarch64 chromebook, I invariably get the following:

[code]

## Versions and system information
ChromeOS:
CHROMEOS_ARC_ANDROID_SDK_VERSION=25
CHROMEOS_ARC_VERSION=5376510
CHROMEOS_AUSERVER=https://tools.google.com/service/update2
CHROMEOS_BOARD_APPID={564AC308-CBD5-485D-9EF5-EB97DBB5F264}
CHROMEOS_CANARY_APPID={90F229CE-83E2-4FAF-8479-E3

[2019-03-26 20:12] JL2210 commented on #3230
I'll leave this up to @uberhacker.

[2019-03-26 20:46] blu commented on #3230
@JL2210 This seems like a checksum issue, how is that a build type problem?

[2019-03-26 20:49] JL2210 commented on #3230
The old binary was deleted from Bintray and the file downloaded on your end was probably a 404 HTML page.

[2019-03-26 20:50] blu commented on #3230
Gotcha.

[2019-03-26 20:57] uberhacker commented on #3230
The old binary is still there but has a different checksum and this was the reason I put high priority on the latest git build PR which was closed because someone here decided we needed to build it differently.  The static build of git is not necessary but some purist here thinks it is necessary. :)

[2019-03-26 21:03] JL2210 commented on #3230
Do you really want to keep installing more packages in `install.sh` as git's dependency list increases?

[2019-03-26 21:06] blu commented on #3230
Guys, we could all agree we should prioritize like this:
1) make sure crew installs here and now
2) provide a better build type for git once it's ready

: )

[2019-03-27 22:34] gavinfernandes2012 commented on #3230
I agree with @JL2210 that we need to lose some fat from the initial `install.sh`, it does seem a tad bit bloated, but I do also think that there's no harm having the old, non-static binary up with the right checksum so that crew can actually install as @blu said, at least until the new one's ready.

[2019-03-28 02:04] JL2210 commented on #3230
The old Git build has been deleted, so please just bear with us until we
can get the new build up.

[2019-03-28 06:14] blu commented on #3230
No problem. There still a git.xz avaiable for the pertinent `ARCH` at `dl.bintray.com`, so I've installed crew with the following `install.sh` patch (aarch64-only):

[code]

[2019-03-28 13:50] uberhacker commented on #3230
Should be fixed in #3221.

[2019-03-28 13:50] #3230 closed

[2019-03-28 14:30] JL2210 opened #3234 "Package update request: LLVM 8"
Package update available at http://releases.llvm.org/download.html#8.0.0: LLVM 8.
Along with this update, please transfer to using HTTPS and update `clc` and `clc++` to use this logic:

[code]

This will alleviate the need for architecture-dependent scripts, and fix using `clc` after GCC upgrades.

Please include clang extra tools and omit the `-DLLVM_TARGETS_TO_BUILD` flag.

If you don't mind, it

[2019-03-31 11:11] bsiegert commented on #2563
I am still hitting this with an up-to-date Chromebrew (did `crew update` followed by `crew upgrade` just now) on Version 74.0.3729.0 (Offizieller Build) dev (64-Bit).

The linker that gcc uses is still `ld` from binutils 2.31.1.

[code]

So I assert that this is not fixed at all. How do I switch over to using `lld` as linker, short of rebuilding gcc from source?

[2019-03-31 13:02] JL2210 commented on #2563
`gcc -o foo foo.c /usr/local/lib64/libnsl.so` should fix your issue.

If you REALLY want to switch to `lld`, run `crew install ld_default; ld_default l`

[2019-03-31 14:14] adnascent commented on #2731
I have a C302, running into the same issue.

[2019-03-31 14:38] JL2210 commented on #2731
It's an old, forgotten package. Somebody will need to rewrite it for it to
work.

[2019-03-31 16:52] bsiegert commented on #2563
Thanks, `ld_default` helped.

[2019-04-01 10:20] #3179 closed

[2019-04-02 14:26] torzod opened #3236 "Package request: LÖVE (2D lua game engine)"
Seeing as lua and luaJIT are already present, I do not believe this would be terribly difficult to compile and/or port to chromebrew. I am running the samsung xe303c12, armv7l
This would be helpful running games on stabyourself.net on the go, which would be very fun.

[2019-04-02 16:58] JL2210 commented on #3236
You can try it yourself, if you'd like. The process is fairly easy:
https://bitbucket.org/rude/love/src

This is the process for creating a package:
https://github.com/skycocker/chromebrew/wiki/Creating-a-package

[2019-04-03 10:45] torzod commented on #3236
May as well give it a try later today, thanks for the instructions.

[2019-04-03 14:21] torzod commented on #3236
@JL2210 It seems that love requires the openAL library, but i cannot find instructions anywhere on how to build it. could you try to help?

[2019-04-03 18:07] verniyb commented on #3174
the same problem, and reinstallation did work 👍

[2019-04-03 19:28] JL2210 commented on #3236
It doesn't work in Chromebrew, and I haven't been able to find it. Sorry.

[2019-04-05 19:16] MuZhou233 opened #3237 "i get Traceback while installing code"
When i run 'crew install code', i got traceback.

[code]

Output:
[code]

chromebrew version: 1.2.3

and, Chrome72 on x86_64

[2019-04-05 19:44] JL2210 commented on #3237
@uberhacker Can we just toss out the file-manipulation section of the `xdg_base` package and focus on setting environment variables and creating directories? That would eliminate the frustration that it's currently causing.

[2019-04-05 19:45] JL2210 commented on #3236
Could you please post this in #132?

[2019-04-05 19:46] JL2210 commented on #3236
@torzod I think that version of love requires a different version of Lua. It won't work with the (newest) Chromebrew-provided version.

[2019-04-05 21:59] torzod commented on #132
I requested love to play "not tetris 2," which requires a very spwcific version - 0.7.2. Löve in turn requires a specific version of lua, and I was having trouble building that on my xe303c12. Löve's error was that it couldn't find the dependency `lua_pcall`, which is an error I've gotten every machine I've tried to build it on. I do not remember the error I got when building lua, but I was buildi

[2019-04-05 22:10] JL2210 commented on #132
@torzod `lua_pcall` is not a DEPENDENCY, it is a C FUNCTION not provided by newer versions of Lua. Please do not confuse the two (and while you're at it, try linking with `-llua`).

[2019-04-05 22:12] torzod commented on #132
my bad, i knew it was not a 'dependency,' but at the time i couldn't remember the correct name for it. what should i try `-llua` with by the way? building love? or building lua?

[2019-04-05 22:13] JL2210 commented on #132
Love: `LIBS=-llua ./configure ...`

[2019-04-06 06:58] gt945 commented on #3237
There is a workaround:
before install xdg_base
mv ~/.local ~/.local.bak
mv ~/.config ~/.config.bak
after install xdg_base
mv ~/.local.bak/* ~/.local/
mv ~/.config.bak/* ~/.config/

[2019-04-06 15:13] uberhacker commented on #3237
@JL2210: The whole point of that section is to do exactly what @gt945 did as a workaround.  Apparently, the readlink line you entered hasn't been tested.  Let's try to fix that section so users don't lose all their local config everytime this package is installed.

[2019-04-06 15:32] JL2210 commented on #3237
Or we could just remove the section that moves files around entirely. If there are any issues, we can fix them in other packages instead of breaking xdg_base compliance.

[2019-04-06 15:39] Mu-Zhou commented on #3237
@gt945 thanks, it works.
but when i run code-oss, it says

[2019-04-06 15:40] JL2210 commented on #3237
That's normal. You have to run `sommelier -X code-oss`.

[2019-04-06 15:47] Mu-Zhou commented on #3237
wow, it turned on but the window is blurry, can i do something to fix it?

[2019-04-06 15:47] JL2210 commented on #3237
change `SCALE` in `~/.bashrc`.

[2019-04-06 16:25] Mu-Zhou commented on #3237
@JL2210 Thanks for you help.
I can`t find the exact way to set the environment variable, How should I write in the file, could you give me an example

[2019-04-06 16:51] JL2210 commented on #3237
Run 'nano ~/.bashrc' and change 'SCALE=1' to 'SCALE=<some number here>'
until it works.

[2019-04-07 05:10] gt945 opened #3241 "gtk3 wayland app black block cursor"
When I run gtk3 wayland app, eg: geany, filezilla, or gtk3-demo, the cursor is always black block.

After debug wayland and gtk3, I found this is due to wl_shm_pool_resize not work on later chromeos.

So I make a workaround, and issue fixed.
[code]
Is any one meet this issue?
I think this is chromeos wayland server issue, can any one help confirm?
If we can not fix in chromeos, can we add this wor

[2019-04-07 13:44] JL2210 commented on #3241
Thanks for the patch!

[2019-04-07 21:39] torzod commented on #132
executing `LIBS=-llua ./configure` gives a permission denied error, despite me `chmod -x`-ing it. How can I fix this?

[2019-04-07 21:56] JL2210 commented on #132
First of all, it's `chmod +x`. But you have to move it to `/usr/local` due to a decision made by the Chromium team.

[2019-04-08 12:30] torzod commented on #132
i tried `chmod +x`, but i didn't know about the `/usr/local` thing, thanks
for letting me know

On Sun, Apr 7, 2019, 16:56 James Larrowe <notifications@github.com> wrote:

[2019-04-08 15:48] Merith-TK commented on #2401
Would love for this @ukscone as i feel it would be truly amazing if brought to reality

[2019-04-08 17:12] ukscone commented on #2401
not been able to find my notes (think i reused that USB drive) and i'm tied up for a few days but as soon as i'm free (maybe thursday or friday) i'll see if i can replicate getting sldtrs working again. Though I honestly think I just did a normal rebuild from the source tarball and enabled everything sane and it just worked

[2019-04-08 18:34] mikeanthonywild opened #3244 "Virtualenv permission errors"
## Description
Running `pip` from a Virtualenv results in a permissions error.

Steps to reproduce:
[code]

## Versions and system information
chromebrew: 1.2.3

ChromeOS: 11316.165.0

Model: HP Chromebook 11 G1

Architecture: armv7l

## Additional information
Permissions are interesting due to the symlinks:
[code]

Of course, it works if executing the scripts with Python instead:

[code]

[2019-04-08 18:44] mikeanthonywild commented on #3244
Apologies, this is my fault for not RTFM. For anyone else bumping into similar issues, ChromeOS mounts the user home without exec permissions by default. For this to work, you need to re-mount with exec permissions ([as detailed in the FAQ])https://github.com/skycocker/chromebrew/wiki/Troubleshooting-common-problems#im-getting-permission-denied-when-working-inside-my-home-folder_):

[code]

[2019-04-08 18:44] #3244 closed

[2019-04-09 00:57] JL2210 commented on #2401
Xiwi doesn't work in Chromebrew, it's a Crouton-specific script. If you
don't mind, could you close this?

[2019-04-09 15:35] Merith-TK opened #3245 "running `exit` crashes chrome"
## Description
Installed xterm, which installed sommelier, when i run
If you executed a specific command:
[code]
Xterm loads, but when i exit xterm, it crashes hard (entire system,)

## Versions and system information
chromebrew: `1.2.3`

ChromeOS: `CHROMEOS_AUSERVER=https://tools.google.com/service/update2
CHROMEOS_BOARD_APPID={C776D42E-287A-435E-8BA7-E770BD30B46D}
CHROMEOS_CANARY_APPID={90F229CE

[2019-04-09 15:46] uberhacker commented on #3245
Thank you for letting us know about your issue.  It is difficult to support gui apps on i686 since the latest official release is 59.  Google has stopped supporting i686 systems and we can only provide limited support for cli apps in Chromebrew.  We mention this on the [project homepage](https://github.com/skycocker/chromebrew).

[2019-04-09 15:54] Merith-TK commented on #3245
I am aware. I figured that I should at least contact support before I give
up.

I am reinstalling chromebrew and trying again now. Give me a short bit and
I shall reinstall it to try again with a fresh setup

On Tue, Apr 9, 2019, 8:46 AM Ed Reel <notifications@github.com> wrote:

[2019-04-09 18:15] Merith-TK commented on #3245
Same issue.

[2019-04-09 18:15] #3245 closed

[2019-04-09 18:19] Merith-TK commented on #2401
@ukscone could you send me a email so we can have our conversation away from here?

[2019-04-12 03:23] sajjaadf commented on #3241
I got this issue too.

[2019-04-12 19:00] sajjaadf commented on #1585
Wow that's a lot of packages

[2019-04-12 19:01] sajjaadf commented on #1585
@superloach I could do armv7l

[2019-04-12 19:02] sajjaadf commented on #1585
![Screen Shot 2019-04-12 at 12 01 53 PM](https://user-images.githubusercontent.com/32078755/56060142-c8265900-5d1a-11e9-9e31-487c110902b0.png)

[2019-04-12 19:19] JL2210 commented on #1585
You need to do updating strictly on the Chromebook. Otherwise, you won't be
able to test your updates and we can't accept them. That means no Mac.

[2019-04-12 19:52] uberhacker commented on #1585
@JL2210: @sajjaadf can use a Mac but he will need to install ChromeOS in Virtualbox or VMWare if he doesn't have a Chromebook.

[2019-04-12 19:52] uberhacker commented on #1585
@JL2210: @sajjaadf can use a Mac but he will need to install ChromeOS in Virtualbox or VMWare if he doesn't have a Chromebook.

[2019-04-12 20:32] JL2210 commented on #1585
The thing is, he has a Chromebook. He just doesn't use it.

[2019-04-15 01:58] #2993 closed

[2019-04-15 02:00] sajjaadf commented on #2994
@uberhacker close this please

[2019-04-15 15:30] Merith-TK opened #3246 "Unable to install, git not found"
[code]
I have no clue whats borked here, it used to work without issue for me

[2019-04-15 15:31] #3246 closed, assigned to nobody

[2019-04-15 21:04] rsanchej commented on #2967
Hi @uberhacker and @ctuxboy ,
I am having the same or similar issue!  How did it get fix?  What are the steps?
Thanks for the tip!

[2019-04-15 22:12] JL2210 commented on #2967
Reinstall.

[2019-04-15 22:26] uberhacker commented on #2967
@rsanchej:  This issue usually happens when you `crew remove gcc7/8`.  Unfortunately, the only way to fix is to reinstall since ruby depends on gcc.  It would be nice if Chromebrew would prevent you from inadvertently removing dependency packages like other packages mangers.  There is [an issue for this](https://github.com/skycocker/chromebrew/issues/858).

[2019-04-16 16:50] JL2210 commented on #3241
@uberhacker Same here. I suggest applying the patch in the package.

[2019-04-16 17:14] uberhacker commented on #3241
Nothing stopping you from creating a PR.

[2019-04-17 08:45] gt945 commented on #3241
how to submit this patch to this git?

[2019-04-17 11:02] JL2210 commented on #3241
They won't accept it. Google modifies Chrome OS's Wayland server.

[2019-04-19 22:14] JL2210 commented on #3180
@uberhacker Please close this. A fix has been pushed.

[2019-04-19 22:15] JL2210 commented on #3176
@uberhacker Please close this. @ScardracS is unresponsive.

[2019-04-19 22:48] #3180 closed

[2019-04-19 22:49] #3176 closed

[2019-04-19 22:50] uberhacker commented on #3234
See #3248.

[2019-04-19 22:50] #3234 closed

[2019-04-22 11:09] JL2210 commented on #3241
@uberhacker I'm pretty sure this is more a bug-fix than an enhancement.

[2019-04-22 13:28] uberhacker commented on #3241
Aesthetic "fixes" are enhancements, not bugs.  This fix has nothing to do with functionality.

[2019-04-23 23:30] vincowl opened #3253 "emacs and gemacs 26.2"
I previously had troubles with menu-bar fonts using emacs and gemacs 26.1 compiled with lucid. I managed to have a full running emacs and gemacs using 26.2 and gtk+ v3 which allows to display images and manage fonts in a functional way.

Here is what I have done :
[code]
and
[code]
then I remove any emacs or gemacs installation and ran
[code]

Is it worth it to upgrade emacs and gemacs packages an

[2019-04-26 23:27] JL2210 commented on #3253
Go ahead and create a pull request updating the packages.

[2019-04-28 14:14] JL2210 commented on #3241
A graphical bug is still a bug. Just because there is a patch to fix it attached doesn't mean that it's not a bug. I, for one, find it quite hard to use QEMU while not being able to see my cursor.

[2019-04-28 14:15] JL2210 commented on #3241
And what the heck does "no patches from your own repo" mean?

[2019-04-28 15:12] uberhacker commented on #3241
Exactly what it means.  Instead of putting patches on your own repo, they should be included here instead.

[2019-04-28 17:18] JL2210 commented on #3241
I wouldn't do that. That would just be inconsiderate.

[2019-04-28 19:42] #3253 closed

[2019-05-13 14:30] JL2210 opened #3273 "Versions of PHP with security updates"
PHP 5.6 with security updates and OpenSSL 1.1 support: https://github.com/microsoft/php-src/archive/PHP-5.6-security-backports-openssl11.tar.gz

[2019-05-14 00:27] DanielWagaman opened #3274 "OpenSSL installation prevents secure login"
After installing Chromebrew I set a root password in the dev console as recommended. It was verified and accepted. Then trying to login as chronos failed.

Then I tried sudo from the shell:

which prompts for my password. After entering the correct password it outputs:

This leaves no way to login as chronos. After some googling I found a crouton discussion of the [same error trying to encrypt a c

[2019-05-14 00:45] JL2210 commented on #3274
I think we can enable this by passing rc5 to OpenSSL's Configure. It's
disabled by default because it's insecure, but it's still used a lot.

[2019-05-14 01:22] uberhacker commented on #3274
@DanielWagaman: Thank you for reporting this issue.  It appears sudo is attempting to run /usr/bin/openssl instead of /usr/local/bin/openssl.  Yes, the system version is what throws the error, not the the crew version so we don't need to change anything in the config.  What you need is to do is pass `PATH=/usr/local/bin:$PATH` to the environment to make sure the crew version executes instead.

[2019-05-14 15:45] DanielWagaman commented on #3274
@uberhacker This might be a product of my inexperience but that didn't resolve the issue. I added `PATH=/usr/local/bin:$PATH` to `~/.bashrc` and when that didn't work I also added it to `~/.bash_profile`. While openssl is installed in crew I still get undefined symbol error.

Questions:
1) Did I misunderstand your instructions to pass the path to the environment?
2) Is updating the path SOP and I

[2019-05-14 16:01] uberhacker commented on #3274
Hey @DanielWagaman: I think the issue is when you use sudo, it uses the root user environment instead of chronos.  Apparently, the root user environment is missing `/usr/local/bin` in `$PATH`.

[2019-05-14 20:13] JL2210 commented on #3274
Try adding /usr/local/lib64 to LD_LIBRARY_PATH.

[2019-05-14 20:15] JL2210 commented on #3274
Along with that, we can add the rc5 algorithm to the OpenSSL package we
currently have as the passwd program apparently uses it.

[2019-05-14 20:37] DanielWagaman commented on #3274
@JL2210  As I mentioned `export PATH=/usr/local/bin:$PATH` definitely worked. That change is also mentioned as a fix in the comments of a top google hit for "[python on Chromebook](https://wsvincent.com/install-python3-chromebook/)" I'm guessing the path change is common requirements on chromebooks in dev mode. Is the simplest solution to add path change instructions on the installation page?

Als

[2019-05-14 21:33] JL2210 commented on #3274
Leave it open until we enable rc5. It would be best to maintain
compatibility with system versions of OpenSSL.

[2019-05-14 22:19] uberhacker commented on #3274
@JL2210: The problem is not with the crew version of openssl.  The issue is with the system version (`/usr/bin/openssl`).   We don't need to change anything.  @DanielWagaman: The path addition is what forces `/usr/local/bin/openssl` over `/usr/bin/openssl` which hopefully, is all you need to fix that error.

[2019-05-14 22:19] #3274 closed

[2019-05-14 22:21] uberhacker commented on #3273
PRs welcome.  I imagine PHP 7.0 also has a security update available.

[2019-05-14 22:25] JL2210 commented on #3274
We need to maintain compatibility with system-provided libraries or bad
things will happen like segmentation faults. Remember when Chrome OS 62
came out?

[2019-05-14 22:33] uberhacker commented on #3274
Well, considering his error was due to the system provided openssl, I think that is out of our control.  Why would a system provided executable not work with system provided libraries?

[2019-05-15 15:11] lloydhuang opened #3275 "build libxml2 : undefined symbol: UCNV_TO_U_CALLBACK_STOP_62"
For fixing problem, I rebuild libxml2 with below command

[code]
seeming problem is libxml2 with icu4c. Modify libxml2.rb and disable icu support as below. then problem fixed.

[code]
Should I improve icu3c.rb for fixing UCNV_TO_U_CALLBACK_STOP_62 or just disable icu with libxml2?

## Versions and system information
chromebrew: 1.2.4

ChromeOS: `cat /etc/lsb-release`
[code]

Model: YOUR MODEL HERE

[2019-05-15 15:45] JL2210 commented on #3275
Can you try this again on the stable channel? Beta, dev, and canary
channels are unsupported.

[2019-05-15 15:46] JL2210 commented on #3275
We need to update ICU anyway. The current version is 64 and we have 62.

[2019-05-15 16:12] lloydhuang opened #3276 "bind package build problem"
## Description
I rebuild bind, problem happend as below
[code]
Checked, and finded out bind-9-12-2 don't untar to bind-9-12-2.dir. Add self.preinstall session on bind.rb as below. For fixed.

[code]

How do I fix this problem will be better?

[2019-05-15 19:20] JL2210 commented on #3276
This is caused by an issue that I've been trying to fix for a while now.
The new mechanism we use for unpacking files is based on the file extension.

[2019-05-15 21:04] uberhacker commented on #3276
@lloydhuang: You could try updating the package to a newer release and use the following as your `source_url`:
[code]

[2019-05-17 00:01] uberhacker commented on #3241
@gt945:  I applied the patch and tried to launch bluefish and received the following:
[code]

[2019-05-19 12:38] gt945 commented on #3241
@uberhacker  is bluedish works before this patch ?

[2019-05-20 18:27] superloach opened #3284 "Minor Issues with Weston Package"
After installing, `weston` has issues with permissions on `XDG_RUNTIME_DIR`. On my system they're 755, instead of 700.
[code]
It is also missing the dependency `libwebp`.
[code]
In addition, there's a warning at the end of building that states `remember to run 'libtool --finish /usr/local/lib64/weston'`. That should probably be added as well.

-----
I'll probably do a PR for this myself, just want

[2019-05-20 18:48] JL2210 commented on #3284
The `remember to run 'libtool --finish /usr/local/lib64/weston'` part is handled automatically. Nothing needs to be done about it. It's mainly for the developers of the package.

[2019-05-20 18:48] JL2210 commented on #3284
What channel are you on?

[2019-05-20 18:50] superloach commented on #3284
Ah, alright.
I'm on Stable 74.0.3729.125, why do you ask?

[2019-05-20 18:51] JL2210 commented on #3284
Just checking. The permissions seem similar for me:
[code]

Why not update to Weston 5?

[2019-05-20 18:54] superloach commented on #3284
I'm currently working on updating to 6.0.0, but for now I wanted to correct the issues I noticed on 4.0.0. It'll likely require similar permissions and dependencies.

[2019-05-20 18:56] JL2210 commented on #3284
Weston 6 is already out? Wow. It's been a long time since I've checked.

[2019-05-20 18:59] superloach commented on #3284
Yep, released toward the end of March. I'm currently working through a nice little dependency tree for it.

[2019-05-20 19:02] JL2210 commented on #3284
Sigh... Isn't that the best part of package managers?

[2019-05-20 19:02] superloach commented on #3284
Indeed, it is. Love having to find secret systemd-disabling flags on LFS.

[2019-05-20 19:05] JL2210 commented on #3284
This automates the process of installing Gentoo Prefix on a Chromebook:

https://gist.github.com/JL2210/f51a3d5a7a57900983b706949eba9f74

Dependency trees are no problem. (other than when they don't merge, in which case they're a big problem).

[2019-05-20 19:06] superloach commented on #3284
Huh, that's neat.

[2019-05-20 19:08] JL2210 commented on #3284
It makes up for `dev_install` and `emerge` being broken on default Chrome OS.

[2019-05-20 19:20] superloach commented on #3284
Hm, so `weston` depends on `colord`, which depends on `polkit`, which depends on `mozjs-60`. *Fun.*

[2019-05-20 19:21] JL2210 commented on #3284
Are those hard dependencies or just optional? We can leave them out if they're optional.

[2019-05-20 19:22] superloach commented on #3284
I'd love to avoid some of these, but I'm not sure where to look for Meson flags.

[2019-05-20 19:22] JL2210 commented on #3284
`cat meson.build`.

[2019-05-20 19:23] superloach commented on #3284
Thanks, I'll give that a go.

[2019-05-20 19:34] superloach commented on #3284
Alright, so after some fun with Meson options, I've run into a missing header. `linux/input-event-codes.h` seems to be effectively the same as `linux/input.h`, guess I'll patch that?

[2019-05-20 19:37] JL2210 commented on #3284
Yes.

[2019-05-20 19:39] JL2210 commented on #3284
It looks like it was changed right after 3.18 came out, so that should be fine.

[2019-05-20 19:45] superloach commented on #3284
Alright, I'm pretty sure I've got a working Weston 6.0.0 package, I'll just test for dependencies real quick.

[2019-05-20 20:22] superloach commented on #3284
Do you want to include freerdp support? That rakes in a lot more dependencies that Weston doesn't normally need.

[2019-05-20 20:46] JL2210 commented on #3284
You can leave it out until somebody complains.

[2019-05-20 21:02] superloach commented on #3284
Hm, I'm getting this error on most of the Weston demos with 6.0.0.
[code]

[2019-05-20 21:12] superloach commented on #3284
Tried again on the latest commit, same issues.

[2019-05-26 17:10] uberhacker opened #3290 "[gptfdisk] Unable to build"
[code]

[2019-05-26 18:20] #3290 closed

[2019-05-26 20:20] JL2210 commented on #889
@uberhacker Can this be closed? Everything pretty much works, and like you said, any new issues can be created on the issues page instead of being pulled up here.

[2019-05-26 20:22] JL2210 commented on #1626
@uberhacker Can this be closed? I think the issue has been fixed.

[2019-05-26 20:42] #1626 closed

[2019-05-26 22:27] uberhacker commented on #889
The code package is still not working for me and several other users.  I will leave this open until we can make sure all apps that use sommelier are working.

[2019-05-26 23:57] JL2210 commented on #889
The other apps that use Sommelier are working and Code is a lost cause.

[2019-05-28 14:26] uberhacker commented on #3241
@gt945: Sorry for the late reply.  Yes, bluefish is working without the patch.

[2019-05-30 13:32] heronhaye opened #3295 "Outdated keybase, kbfsfuse, and kbfsgit binaries"
Hi,
I'm a developer on the Keybase team. One of our users let us know that the binaries provided in the keybase, kbfsfuse, and kbfsgit packages are out of date (from January 2018). Since Keybase is always getting new improvements and security updates, it'd be nice to have more updated releases.

Looking at https://github.com/skycocker/chromebrew/blob/master/packages/keybase.rb, it looks like there

[2019-05-30 15:06] uberhacker commented on #3295
Hey @heronhaye: PRs are welcome and encouraged.  Please provide everything necessary to make the packages work the best way possible.  You would know better than any of us the best way to do it.  I appreciate the concern and interest!

[2019-05-30 15:12] heronhaye commented on #3295
Well, in particular I think removing the binaries might make builds take longer and depend on go but it would ensure the builds will always be updated (although, in my experience go is a pretty fast compiler). I'll make a PR with those changes.

[2019-06-04 15:28] nealmcb commented on #3295
Thank you, @heronhaye for putting this issue together after our conversation in https://keybase.io/team/keybasefriends

To help others who are having similar problems find this enhancement, here is the error I encountered:

[code]

If you need any help testing, let me know!

[2019-06-04 15:32] heronhaye commented on #3295
@nealmcb Is there a way to tell chromebrew to install from source? Maybe a flag to the install command? (My chromebook has yet to arrive so I can't test my changes just yet).

[2019-06-04 15:37] uberhacker commented on #3295
@heronhaye: There are 2 ways you can force a package to build from source if binaries exist:
1) crew install <package> -s
2) crew install <package> -S
Lowercase `-s` will only compile <package> from source whereas capital `-S` will compile <package> and all dependencies from source.

[2019-06-04 16:00] nealmcb commented on #3295
Wow you folks are fast! I just tried

    crew remove keybase # so it doesn't stop noting that it is already installed
    crew install -k -S -v keybase 2>&1 | tee keybase.build.log

Very fast to do a lot of builds it seems.
Took a while to do "`Preconfiguring package...`"

I got this error:

[code]

[2019-06-04 16:02] heronhaye commented on #3295
What is your `go version`? It should be >1.10. Maybe try it with `-s` instead of `-S`.

[2019-06-04 16:21] nealmcb commented on #3295
I had Go version 1.9.3
Did `crew upgrade go` to get 1.12

Tried keybase again with `-S` and within about four minutes it seems to have compiled and I have keybase version 4.1.0!

Now I get

[code]

I'm looking at some of the other hits for that which seem to be solved in other circumstances.

[2019-06-04 16:39] nealmcb commented on #3295
I also get this when running `keybase git list`:
` ▶ [ERRO keybase main.go:86] 001 Login required: no sessionArgs available since no login path worked`

[2019-06-04 17:03] heronhaye commented on #3295
@nealmcb Could you try again and then if it doesn't work, do a `keybase log send` and make an issue on github.com/keybase/client? Seems this is no longer a chromebrew issue.

[2019-06-04 18:48] blu opened #3301 "[gcc7] checksum mismatch"
## Description
Trying to install gcc7 on aarch64 brings to 'Checksum mismatch'

## Versions and system information
chromebrew: 1.2.4

ChromeOS:
CHROMEOS_ARC_ANDROID_SDK_VERSION=25
CHROMEOS_ARC_VERSION=5608800
CHROMEOS_AUSERVER=https://tools.google.com/service/update2
CHROMEOS_BOARD_APPID={5BF597B2-ADE3-52C9-1DDA-95719C914AFF}
CHROMEOS_CANARY_APPID={90F229CE-83E2-4FAF-8479-E368A34938B1}
CHROMEOS_DE

[2019-06-04 19:21] blu opened #3302 "[gdb] missing dependency lib"
## Description
Installing gdb (v8.2.1) on aarch64 results in a missing library:

[code]
## Versions and system information
chromebrew: 1.2.4

ChromeOS:
CHROMEOS_ARC_ANDROID_SDK_VERSION=25
CHROMEOS_ARC_VERSION=5608800
CHROMEOS_AUSERVER=https://tools.google.com/service/update2
CHROMEOS_BOARD_APPID={564AC308-CBD5-485D-9EF5-EB97DBB5F264}
CHROMEOS_CANARY_APPID={90F229CE-83E2-4FAF-8479-E368A34938B1}
CHR

[2019-06-04 19:32] uberhacker commented on #3301
@blu: From our wiki:
[code]
That said, is there a particular reason you need gcc7 instead of gcc8?

[2019-06-04 19:33] uberhacker commented on #3302
@blu: From our wiki:
[code]
That said, we need to recompile the gdb binaries to fix the readline issue but you still should be able to compile from source on the stable channel.

[2019-06-04 20:07] blu commented on #3301
Just for some regression performance testing, not the biggest of concerns. But the beta channel shouldn't be a problem in this case, no?

[2019-06-04 20:41] uberhacker commented on #3301
It probably depends on the magnitude of the change.  For instance, when we had the upgrade from glibc 2.23 to 2.27, there was a time the beta and stable channels had different versions and the effect was global to everything working or not.

[2019-06-04 20:48] blu commented on #3301
I remember that time -- that was easy to workaround on the beta channel. I had all links under `/usr/local/lib/` patched out to the correct versions under `/usr/lib` and all crew packages I used were working correctly. Actually, I should still have this setup on one of my chromebooks to this day (crew not updated in a long time there).

But my question was different -- I meant that the checksum mi

[2019-06-04 21:14] uberhacker commented on #3301
Right, if the mismatch is on beta, it should also be on stable.  I'll see if I can fix both of these checksum issues for aarch64 (gdb and gcc7).  Gotta wait for the day job to end ... zzz.

[2019-06-04 21:16] JL2210 commented on #3302
Just requires an update. Try installing from source after installing
readline8.

[2019-06-04 21:17] uberhacker commented on #3302
@JL2210: His architecture is aarch64 so the binaries are important in this case.  He may not be able to compile from source.

[2019-06-04 21:21] JL2210 commented on #3302
Nah, that's only for weird configure scripts. GNU configure doesn't do that.

[2019-06-04 22:02] uberhacker commented on #3302
Apparently, you have never attempted to compile on aarch64 architecture.

[2019-06-04 22:36] JL2210 commented on #3302
If you want to know if it works, ask @blu, because, apparently, you don't
own an aarch64 chromebook.

[2019-06-04 22:38] darkoverlordofdata opened #3303 "vscode - no extensions available"
When I run VSCode, there are no extensions listed in the Extension View, Under Popular it shows 'no extensions found;

You can also access the marketplace by entering ctrl-P and pasting into the command window
[code]

Notification:
[code]

chromebrew: 1.2.4

ChromeOS: No such file or directory; 74.4.58 (Developer Build - neverware) stable-channel chromeover64

Model: Dell Inspiron 15 3521

Archite

[2019-06-04 23:05] uberhacker commented on #3303
@darkoverlordofdata: From the [wiki](https://github.com/skycocker/chromebrew/wiki/FAQ):
[code]

[2019-06-04 23:10] uberhacker commented on #3302
Typical only child response.  As a matter of fact, I do own an aarch64 Chromebook and you should already know that compiling on aarch64 is not straightforward.

[2019-06-04 23:16] JL2210 commented on #3302
@uberhacker I don't appreciate you discriminating against me because I'm an only child. I am not saying that compiling on aarch64 is straightforward. Please test my suggestion and see if it works.

[2019-06-05 04:54] darkoverlordofdata commented on #3303
Thanks. I read 'codes Marketplace' and thought it was a reference to the website. I got confused ;)

[2019-06-05 04:54] #3303 closed

[2019-06-05 05:04] skiman6010 commented on #3302
On x86_64 beta.
[code]

[code]

[2019-06-05 18:50] erenoglu opened #3304 "qemu spice"
Hi, I am trying to run qemu and managed to run it even with KVM after adding chronos user to the virtaccess group.

But I can't get the qxl vga device and spice server. I think these are not compiled in. This would make performance less optimal.

Would it be possible to
1) add spice support, have a package for spice-client-gtk
2) add spice support to qemu (qxl device and spice server)

[2019-06-05 18:54] uberhacker commented on #3304
@erenoglu: You are welcome to submit a pull request to add spice-client-gtk.rb and update qemu.rb.  You would probably know how to do it better than me. :)

[2019-06-05 18:56] #3163 closed

[2019-06-05 18:56] #3158 closed

[2019-06-05 18:57] #3145 closed

[2019-06-05 18:59] #3122 closed

[2019-06-05 18:59] #2900 closed

[2019-06-06 02:34] nealmcb commented on #3295
Hmm - I'm back here because the source install wasn't doing what I expected.

It seems I have a very old client - 1.0.40. That comes from https://github.com/skycocker/chromebrew/blob/master/packages/keybase.rb

which no one has updated yet. I guess I somehow assumed it would be pulling from github master, but that's not at all what it is doing. It pulls a release tarball.

So I'm mystified as to w

[2019-06-06 03:24] nealmcb commented on #3295
I might be wrong about running the wrong version. But it certainly was DOWNLOADING the wrong tar.gz file.

And I'm also mystified at how the keybase build actually works. I can change the tar file it gets, but the `go get` and `go build` commands still get something else, seemingly 4.1.0 (prerelease).
The file is 57917312 bytes long.

The keybase I have on my Ubuntu machine is 63991192 bytes, May

[2019-06-06 18:40] skiman6010 commented on #3295
The old tar is downloaded, but for some reason the package decides to download and install the newest production release with `go get` and `go build`.

Feel free to rework the package to actually work and be versioned if you so incline. :)

[2019-06-06 19:26] nealmcb commented on #3295
Thanks @skiman6010, that is indeed what it looks like. I know little about chromebrew packages, so any advice on how to fix the package would be most welcome.

After poking around a bit I see that at least with this packaging, the go command seems
to leave a cached version of the source from github in ~/go/src/github.com/keybase/client/
and that hasn't been updated since I first tried a source bui

[2019-06-06 19:31] heronhaye commented on #3295
@nealmcb, great, that works as expected. I will update the chromebrew package when my chromebook arrives.

[2019-06-06 19:50] nealmcb opened #3305 "git (and crew) broken after upgrade: can't load libcharset.so.1"
## Description

My git is now broken:

    $ git --version
    git: error while loading shared libraries: libcharset.so.1: cannot open shared object file: No such file or directory

Unfortunately, that also breaks many crew commands!

It broke after an upgrade to git version 2.21.0.

[code]

## Versions and system information
chromebrew: `crew --version`
1.2.4

ChromeOS: `cat /etc/lsb-release`
CHR

[2019-06-06 20:35] skiman6010 commented on #3295
@nealmcb Good to hear! Glad you got a working installation from this package.

@heronhaye I would recommend making sure the builds stick to the newest tagged version so we can better version inside Chromebrew as well.

[2019-06-06 20:37] heronhaye commented on #3295
@skiman6010 Should I push an update to this repo every time we do a release of Keybase then (roughly every month)?

[2019-06-06 20:40] skiman6010 commented on #3295
@heronhaye That would be ideal! That's our work process now. But we get really behind. There are a lot of packages and not enough help.

[2019-06-06 20:48] uberhacker commented on #3305
@nealmcb: It appears you need to install libiconv which is a dependency of git.  Does `crew install libiconv` fix git?

[2019-06-06 20:52] heronhaye commented on #3295
Okay, I'll try to set something automated up. It might be interesting to have "9999" builds like Gentoo where the package manager fetches from the git remote to see if there's a new version to be updated to, so the files are always up to date.

[2019-06-06 21:00] uberhacker commented on #3305
I think the real bug is `crew upgrade` doesn't check for new dependencies on a package update.  It happens so rarely, it might not be worth the effort to fix, actually.  We could put a new Q & A entry in the [FAQ](https://github.com/skycocker/chromebrew/wiki/FAQ).

[2019-06-06 21:27] nealmcb commented on #3305
@uberhacker Yes, git seems to work now. Thanks!

In the case of git, at least, since it is important for crew itself, more hand-holding on upgrade would be especially valuable. I'm surprised this hasn't come up before. And I don't see libiconv listed for git, though it is in core now I guess.
When did it become required?

[2019-06-06 21:36] cstrouse commented on #3295
I'll be helping again later this month. I need to go buy another chromebook
and then I'll jump back in.

On Thu, Jun 6, 2019, 1:40 PM Chris Thurber <notifications@github.com> wrote:

[2019-06-06 21:37] uberhacker commented on #3305
You are right!  We need to add `depends_on 'libiconv'` to git.  The first version that required it was 2.19.0.  I'll try to remember to include the dependency on the next upgrade.

[2019-06-06 21:37] nealmcb commented on #3295
One more thing isn't working, though I don't see why this command might be out-of-date:

    $ git clone keybase://private/....
    git-remote-keybase error: (1) The metadata for folder xxx is of a version (4) that we can't read

So somehow the source build doesn't bring in everything. E.g. I get this:

$ git-remote-keybase --version
1.0.2

[2019-06-06 21:41] uberhacker commented on #3295
Nice to see you again @cstrouse!  Hope all is well.  A lot has changed since you were gone.

[2019-06-06 21:42] heronhaye commented on #3295
That's a different binary provided by a different chromebrew package (kbfsgit). I'd building that from source. However, you also need to update the kbfs package but the chromebrew package has the wrong remote; it should be

[code]

though I can't test this right now.

[2019-06-06 21:54] nealmcb commented on #3295
OK, two more commands (after fixing my local copy of the kbfsfuse.rb package as you noted):

    crew install -k -S kbfsfuse
    crew install -k -S kbfsgit

And of course they all would benefit from the versioning and avoiding downloading old source tarballs etc.

But now I get:

[code]

[2019-06-06 21:55] heronhaye commented on #3295
As mentioned, you need to update the KBFS remote.

[2019-06-06 21:59] nealmcb commented on #3295
OK - same fix as for kbfsfuse above, looks like.....

And now the full git clone works!
Many many thanks for amazing real-time help here....

[2019-06-07 19:28] blu commented on #3302
Just to report that the official `readline-8.0` configures and builds out of the box without hassle on aarch64 -- it does not attempt to pass any fancy target options to the host gcc, so the aarch64 cros kernel/userland combo does not cause issues as in other cases.

Regardless, the shortest workaround to getting gdb functional on aarch64 in its current form is
`ln -s /usr/local/lib/libreadline.so

[2019-06-08 22:09] #3301 closed

[2019-06-08 22:49] #3302 closed

[2019-06-16 03:05] cstrouse opened #3325 "[nano] Incorrect path in global nanorc"
When you first open `nano` it complains that there are mistakes in `/usr/local/etc/nanorc`. Upon exit the following error is displayed:

[code]
This should refer to `/usr/local/share/nano/*.nanorc`.

[2019-06-16 17:40] uberhacker opened #3339 "[haproxy] Unable to build on arm"
[code]

[2019-06-16 23:55] uberhacker commented on #3325
@cstrouse: I'm not noticing this.  What is your architecture?  ie. What is the output of `arch` and `nano -V`?

[2019-06-17 23:43] paulwratt opened #3347 "failed: libsdl at gtk3"
## Description
With a clean install of `crew`, installing `libsdl` requires a LOT of packages, which is fine if everything goes well, but it fails during `gtk3` processing. Obviously I did not want GTK3 so I dont know how I am supposed to fix this.

EDIT: OK, see below in Additional. Can someone update the _package required list_ for `gtk3` so `shared_mime_info` is installed first?

If you execute

[2019-06-18 01:53] uberhacker commented on #3347
@paulwratt: You need to run `crew update && crew upgrade` to get the latest updates.  The current version is `1.2.4`.

[2019-06-19 11:02] paulwratt commented on #3347
I just did and it did not change anything mentioned here:
[code]

[2019-06-19 13:28] uberhacker commented on #3347
Try `crew remove buildessential && crew install buildessential`.  What is the output of `crew --version`?

[2019-06-20 15:11] LK4D4 commented on #3305
Looks like it also breaks installation.

[2019-06-20 16:17] uberhacker commented on #3305
@LK4D4: Can you please indicate the error you receive?  I have reinstalled fresh many times without an issue.

[2019-06-20 20:31] LK4D4 commented on #3305
@uberhacker sorry for misunderstanding, I was trying to install it in crostini container which apparently I'm not supposed to do :)
Error was same as in top post.

[2019-06-20 20:41] uberhacker commented on #3305
No worries.  Not to make it sound more confusing but ChromeOS has decided to allow crostini container access from the terminal.  See https://www.chromestory.com/2019/06/crostini-terminal-to-move-to-chrome-terminal/.

[2019-06-23 03:24] uberhacker opened #3350 "[wget] Missing dependency"
After a fresh crew install, the following error occurs when using wget:
[code]
Temporary fix is `crew install libmetalink`.  The next wget release should include this package dependency.

[2019-06-23 03:37] #3208 closed

[2019-06-26 19:39] lupulin commented on #3305
I'm trying to install chromebrew and I'm having the same error.

I added `depends_on 'libiconv'` to git.rb. But, I still get the error:

[code]

[2019-06-28 14:53] JL2210 commented on #3325
Try removing and reinstalling `nano`.

[2019-06-28 14:54] JL2210 commented on #3339
Can you give more of the log above this? Try to look for red, purple, or blue text, as those usually indicate compiler warnings.

[2019-06-28 15:14] uberhacker commented on #3339
The error is `haproxy-1.9.8/src/fd.c:267: undefined reference to `_HA_ATOMIC_DWCAS'`.

[2019-06-28 18:23] JL2210 commented on #3339
I understand. What are the **compiler warnings** emitted? Not linker errors.

[2019-06-28 18:26] JL2210 commented on #3339
Also, what is the compiler version (`gcc --version`)?

[2019-06-30 09:12] jayvdb commented on #3305
I also encountered this when doing a fresh install on an empty image.

[2019-06-30 15:49] uberhacker commented on #3305
Just to clarify, this error happens when attempting to install Chromebrew in a Crostini container and not in Crosh on bare metal?  If so, I cannot think of a reason you would ever what to do this. :)

[2019-06-30 17:46] jayvdb commented on #3305
https://gitlab.com/jayvdb/package_manager/-/jobs/242587574

Using docker `brunux/chromeos`

I want to support `crew` package manager with our [`BrewRequirement`](https://gitlab.com/coala/package_manager/blob/master/dependency_management/requirements/BrewRequirement.py) class.

[2019-06-30 19:17] nealmcb commented on #3305
@jayvdb Can you lead us thru the use case some more: for who, on what, wanting what?
This is part of coala? What is that - I see no README or the like at https://gitlab.com/coala

[2019-07-01 01:28] jayvdb commented on #3305
https://gitlab.com/coala/package_manager is where you will find the README

The org links to https://coala.io ; the main repos are https://github.com/coala/coala and https://github.com/coala/coala-bears

I want the installer to work.  Quite simple really.

[2019-07-01 02:52] jayvdb commented on #3305
It would be a good idea to add some CI to this project.

[2019-07-01 04:24] uberhacker commented on #3305
@jayvdb: Easier said than done.  This has been considered but we need smart people like you to help make it happen. :)

[2019-07-01 14:20] 0x0123456789ABCDEF commented on #2731
So what about MongoDB?

[2019-07-01 14:37] JL2210 commented on #2731
@0x0123456789ABCDEF See above comment.

[2019-07-02 00:56] jayvdb opened #3353 "Automated testing"
https://github.com/skycocker/chromebrew/issues/997 was the last issue dealing with tests, resulting in manual test instructions at https://github.com/skycocker/chromebrew/wiki/Testing-procedure

To automate them, a reliable docker image of chromeos is needed.

Using docker image [`brunux/chromeos`](https://hub.docker.com/r/brunux/chromeos/) fails due to https://github.com/skycocker/chromebrew/issu

[2019-07-02 00:59] jayvdb commented on #3305
Catch 22 at the moment - this bug needs to be fixed.

[2019-07-02 02:34] jayvdb commented on #3353
@jam7 , since you built https://github.com/jam7/dockcross-chromebrew , maybe you can help with this.

[2019-07-06 08:10] shinriyo commented on #2086
@uberhacker Thank you. I also helped by your answer
however it was not needed. `crew install` already installed it.
[code]

[2019-07-07 16:06] paulwratt opened #3358 "lua missing pkgconfig .pc file"
## Description
The `lua` package in missing the necessary ".pc" file that allows `pkg-config` to generate project compile time information. According to a project `Makefile` script I have (copyright 2018), that ".pc" file can be named any of the following:
[code]

The current version of `lua` is:
[code]

From the shell, the expected output should be:
[code]

## Versions and system information
chro

[2019-07-09 09:02] vincowl opened #3359 "Graphical apps shutdown after sleep mode"
## Description
Graphical apps are automatically shut down after sleep mode. This occurs at least with Code and Gemacs. It happened after upgrading gtk3 to 3.24.9 and xdg_utils to 1.1.3_1. This happened before this only with gemacs but it let me think it was linkled to this long lasting bug (https://bugzilla.gnome.org/show_bug.cgi?id=85715 and https://gitlab.gnome.org/GNOME/gtk/issues/221)

Output:

[2019-07-09 14:06] skiman6010 commented on #3359
This is how they have always worked. My personal theory is that it is linked to our older sommelier version. I don't know if anyone has time to investigate this, but the wayland message printed out is true, the pipe is broken when you enter sleep mode.

[2019-07-10 03:34] uberhacker commented on #3275
Release 75 was problematic.  I can reopen if future releases still have trouble.

[2019-07-10 03:34] #3275 closed

[2019-07-10 03:41] #2890 closed

[2019-07-10 03:50] #2285 closed

[2019-07-11 05:41] uberhacker commented on #3305
After a bit of analysis, the issue is the install (and subsequently core) has added libiconv as a dependency to git but the git package did not include this dependency which caused upgrades to fail.  PR #3360 should fix this from happening in the future.

[2019-07-12 01:38] uberhacker commented on #3305
Fixed in #3360.

[2019-07-12 01:38] #3305 closed

[2019-07-12 01:40] uberhacker commented on #3209
The isl package is also a "core" package.

[2019-07-12 01:40] #3209 closed

[2019-07-12 03:31] #3350 closed

[2019-07-12 16:58] JL2210 commented on #3359
The newer Sommelier version requires patched Linux headers.

[2019-07-12 17:00] JL2210 commented on #3353
@jayvdb, @jam7 hasn't been affiliated with this project in a long time.

[2019-07-13 07:51] vincowl commented on #3359
@JL2210 How do we handle this ? Do these patches come as sommelier's dependencies or do we have to handle this manually ? Maybe it is simply not already available. Could you be a bit clearer please ?

[2019-07-13 14:53] JL2210 commented on #3359
We don't handle it. The Linux sources are kept as-is, which is why the latest version of Sommelier doesn't work. The patches are available from Chromium's source repository (couldn't find them to provide a link) but have to be applied in a specific order.

[2019-07-13 16:09] vincowl commented on #3359
OK. So we have two choices :
- Apply them at our own risk
- Wait and hope that these patches will be integrated in a future chromeOS version
What a pity !

[2019-07-13 17:29] JL2210 commented on #3359
No, we have these two choices:

* Apply them at our own risk
* Use the current version of Sommelier, which is tested and works.

Chrome OS doesn't provide the Linux headers, we provide them in Chromebrew.

[2019-07-13 17:42] vincowl commented on #3359
I must be tired, but sommelier's pipe is broken when you enter sleep mode (using latest version) and you said that we must patch linux headers to avoid this. How can current sommelier's version be considered as "working" then ? Anyway, is the above behavior a bug or not ? If not, is the only solution to fix this to apply given patches ? If it is a bug, why not applying patches to the linux headers

[2019-07-14 13:44] jayvdb commented on #3305
I am pretty sure that didnt solve it.

The iconv package doesnt include libcharset.so.1.  Instead it contains libcharset.so and libcharset.so.1.0.0 .  Adding another symlink in the iconv package should fix it , or the install.sh could add this.

[2019-07-14 14:26] JL2210 commented on #3359
The new version of Sommelier requires patches to the Linux headers that we
don't apply. The new version of Sommelier might work.

[2019-07-14 14:29] JL2210 commented on #3359
Pipes are always broken upon entering Sleep Mode. It's not really a thing
we can fix unless we upgrade.

[2019-07-14 18:53] uberhacker commented on #3305
@jayvdb: How so?
[code]

[2019-07-15 00:47] cstrouse commented on #3325
That was on a fresh install of chromebrew and nano on Cloudready.

[2019-07-15 08:18] vincowl commented on #3359
I understand a lot better ! Is this upgraded already planned ?

[2019-07-15 09:33] blinderjay opened #3372 "32 bit c ++ std library is need by flutter"
## Description
I try to develop flutter while flutter doctor tell me that some 32 bit standart c++ library can not find:

[code]

anyone have the same question?

## Versions and system information
chromebrew: `crew --version`
[code]
ChromeOS: `cat /etc/lsb-release`
[code]

[2019-07-15 10:24] erenoglu commented on #3359
One thing I dont get, if existing ChromeOS kernel already have these patches embedded before compiling, it means the running kernel binary has those and we could build new sommelier that will make use of those functions.
Also the kernel in chromeos repositories shall already have that patched version source code. Why can't we build new sommerlier against that patched kernel source (if source is re

[2019-07-15 14:18] uberhacker commented on #3372
@blinderjay: What happens after you install the `dart` and `android_studio` packages?  Maybe they should be dependencies?  Not sure how to add the Flutter and Dart plugins if they're missing.

[2019-07-15 15:27] JL2210 commented on #3359
The kernel requires programs to use documented interfaces (the "header
files") to cooperate with it. The documented interfaces provide symbolic
constants for the program to use in order to interact with them, but
currently the documented interfaces aren't available in our kernel headers.
These patches change that.

[2019-07-15 18:18] blinderjay commented on #3372
I have both installed the  `dart` and `android_studio`, and also 2 plugin installed, the same err message
[code]

have any one develop flutter or android with  #chromebrew???

[2019-07-16 10:08] vincowl commented on #3359
And why not upgrading our linux headers to include these patches ? Then we could rebuild a new sommelier version and avoid the current broken pipes trouble. Are there foreseen side effects ? I don't know which impact range have these patches on linux headers and what should then been rebuilt.

[2019-07-16 13:19] JL2210 commented on #3359
You're free to create a pull request.

[2019-07-16 14:31] vincowl commented on #3359
True... But as I'm a developer with few knowledge in sysadmin and kernels area, that was only a question. As already said, I have no idea of what it implies and cannot measure the effort it requires. I have absolutely no problem giving a hand to someone much skilled than I am or receiving a clear answer saying something like : "too much work for now but planned as a (critical ?) request" or "to mu

[2019-07-16 17:07] JL2210 commented on #3359
It's quite literally a 'patch -Np1 -i' command. As these patches are only
adding interfaces, there should be no issue.

[2019-07-16 17:14] uberhacker commented on #3359
@JL2210: Why don't you create the PR when you get a chance?  This would be a nice fix.

[2019-07-16 17:38] JL2210 commented on #3359
I don't use graphical apps and it would be trivial to do. Along with the
fact that I'm currently busy, someone else could do it, so I don't feel the
need.

[2019-07-16 17:44] uberhacker commented on #3359
With all the back and forth, you could have just submitted a PR and saved time. :)

[2019-07-16 17:46] vincowl commented on #3359
@JL2210 Could you give me the name of the package to upgrade please ? If it is as simple as described, I can try to do it. Is this list correct ?
- linuxheaders.rb
- sommelier.rb
- gtk ??

In the self.install method, I should begin with applying patches ? Then how do I check that this works before rebuilding sommelier ?

[2019-07-16 17:56] JL2210 commented on #3359
linuxheaders

GTK has nothing to do with Sommelier, and patches to the Linux headers
aren't supposed to be applied to Sommelier.

[2019-07-17 03:05] KaehLikeTheLetterK opened #3373 "No Audio in Programs Compiled from Source"
Hi guys. I've been trying to solve this for a while (currently with snes9x) and I've failed to get audio working on programs compiled inside ChromeOS.

After installing chromebrew, `aplay` broke until I bind mounted `/usr/lib/lib-alsa` to `/usr/local/lib/lib-alsa`. Since then, it's worked just fine, and so has `mpg123`, but graphical apps fail to output any sound.

The error message I see is:
[cod

[2019-07-17 04:10] uberhacker commented on #3373
@KaehLikeTheLetterK: Thank you for the feedback.  Which gui apps have you tried?  The audacious package should work using the ALSA plugin.  You might try installing the cras package if you haven't already.  That helps with sound.

[2019-07-17 04:16] KaehLikeTheLetterK commented on #3373
I tried audacious about a week ago; It didn't output any sound then, either. This has been an ongoing issue (I'm assuming only with my device, for some reason?) for the last few months.

I'll try using cras and see if that helps.

[2019-07-17 04:23] KaehLikeTheLetterK commented on #3373
It seems like Audacious has it's own set of issues now

[code]
It didn't launch. Nor does snes9x output sound; (still searching for /dev/dsp. Is there a way to create a virtual /dev/dsp?)

[2019-07-17 04:28] uberhacker commented on #3373
To get audacious working, you need to follow the postinstall steps.  Try `crew postinstall audacious` and see if configuring the ALSA plugin works.

[2019-07-17 04:54] KaehLikeTheLetterK commented on #3373
Audacious is now outputting sound. Progress! I had to perform a full chromebrew reinstall to get it to launch, but that aside, it's working now. Where am I supposed to point non-crew programs?

[2019-07-17 05:42] uberhacker commented on #3373
What do you mean by non-crew programs?

[2019-07-17 06:43] KaehLikeTheLetterK commented on #3373
Again, like snes9x. It complains about not having `/dev/dsp` and I have no idea where to point it for audio output. DeSmuME also complains.

[2019-07-17 08:23] vincowl commented on #3359
@JL2210 Do you think the modification of `self.install` the correct option ?

[2019-07-20 14:30] vincowl commented on #3359
I tried to apply patches in a `postinstall` step in `linuxheaders.rb` and running `crew install linuxheader`. Several failed due to missing header files (I.e. `qrtr.h`). Despite this, I ran `crew install -s sommelier`. GUI apps are correctly displayed but pipe is always broken  upon entering Sleep Mode.

Did I miss something ? Any idea ?

[2019-07-20 14:48] JL2210 commented on #3359
How did you apply them? Several require symlinks to work (the Linux headers
have changed from 3.18 to 4.11).

[2019-07-20 14:50] JL2210 commented on #3359
To get the benefit of the Linux header updates, Sommelier needs to be
updated.

[2019-07-20 15:37] vincowl commented on #3359
I am currently building a branch to have things done in a clean way and to discuss easier. I have probably badly applied patches. What do you mean by "updating" sommelier ? `crew install -s sommelier` is not the right way ?

[2019-07-20 15:53] vincowl commented on #3359
I am currently working on [this branch in my fork](https://github.com/vincowl/chromebrew/tree/linuxheader-sleep-mode). Shall I create a PR even if it is not working ?

[2019-07-20 16:19] vincowl commented on #3359
Just wondering what effort it means applying these patches since our headers are from 3.18 and patches relate to 4.11. To me, it means that patch files can not be applied direclty using a `patch -Np1 -i `-like command as previously said. Wouldn't it imply a deep reading and understanding of the headers' modifications from 3.18 to 4.11 ? If so, it's totally out of my field of competence

[2019-07-21 18:14] #3353 closed

[2019-07-28 12:39] vincowl commented on #3359
Someone to give a hand or just hints please ?

[2019-07-28 17:06] JL2210 commented on #3372
We currently can't support Multilib as the default Chrome OS builds don't work with it. An alternative would be using Crouton and installing a 32-bit chroot.

[2019-07-28 17:13] JL2210 commented on #3359
@vincowl Give me a little time. I can probably whip up an update.

[2019-07-28 19:37] vincowl commented on #3359
@JL2210 That would be an amazing thing if this could happen. I'm not in a hurry if this can be successfully handled by someone more skilled than I am.... A big thank for that since you don't need it personally. If there's anything I can do to help, please don't hesitate to ask

[2019-07-28 19:40] JL2210 commented on #3359
@vincowl See #3377.

[2019-07-29 11:39] vincowl opened #3380 "Filezilla crashes since libwx_gtk3u_aui-3.0.so.0 is missing"
## Description
Filezilla 3.39.0 crashes when run. Message is :
[code]

## Versions and system information
chromebrew: `crew --version`
`1.2.4`

ChromeOS: `cat /etc/lsb-release`
[code]
Model: Asus Flip C302CA

Architecture: `uname -m`
`x86_64`

## Addtional information
chromebrew is updated and upgraded to the latest versions. Seems to be related to `wx_gtk3` package which seems to be distributed b

[2019-07-30 17:08] JL2210 commented on #3380
What's the output of `find /usr/local/lib64 -name '*wx_gtk3*'`?

[2019-07-30 22:47] vincowl commented on #3380
Sorry, I'm on holiday. I'll send infos back as soon as I'll have hands on my Chromebook

[2019-07-31 15:13] cstrouse commented on #3339
[code]
[code]

[2019-07-31 15:39] JL2210 commented on #3339
@cstrouse Thank you. I'll look into it.

[2019-07-31 15:44] JL2210 commented on #3339
See haproxy/haproxy#105. This probably requires an update.

[2019-08-03 05:26] uberhacker commented on #3339
Fixed in #3384

[2019-08-03 05:26] #3339 closed

[2019-08-03 05:29] uberhacker commented on #3373
Closed since not relevant to Chromebrew.

[2019-08-03 05:29] #3373 closed

[2019-08-03 05:36] uberhacker commented on #3359
@vincowl: Does sommelier crash when your Chromebook goes into sleep mode with the updated linuxheaders package?

[2019-08-03 07:09] vincowl commented on #3359
@uberhacker I'm on holidays. I'll test it as soon as I'll have hands on my chromebook.

[2019-08-04 13:18] uberhacker commented on #3359
I can confirm this is still an issue on all architectures even after #3377.

[2019-08-04 15:09] JL2210 commented on #3359
#3377 itself wasn't meant to fix the issue. It just provides the headers
that should allow a Sommelier upgrade.

[2019-08-04 20:57] Justsnoopy30 commented on #3380
Same issue. @JL2210 The output of `find /usr/local/lib64 -name '*wx_gtk3*'` is `find: /usr/local/lib64': No such file or directory`

[2019-08-04 21:43] vincowl commented on #3359
@JL2210 Shall we just try a `crew install -s sommelier` ?

[2019-08-04 21:45] vincowl commented on #3380
@JL2210 Here is the output of `find /usr/local/lib64 -name '*wx_gtk3*'`
[code]

[2019-08-04 21:47] vincowl commented on #3359
Previous idea does not work ... as expected...

[2019-08-04 22:20] vincowl commented on #3359
Upgrading to `59dd453e6efd2c4a0b2b08767c42f47e66a4aaa1` version of sommelier in `https://chromium.googlesource.com/chromiumos/containers/sommelier/` and rebuilding it through an update of `sommelier.rb` doesn't either solve the issue

[2019-08-05 05:20] cstrouse commented on #3325
Closing since I can't reproduce.

[2019-08-05 05:20] #3325 closed

[2019-08-05 05:31] cstrouse commented on #3159
On my Samsung Chromebook Plus v1 (ARM) I get the following:

[code]

[2019-08-05 05:59] uberhacker commented on #3159
Yeah, this is not surprising, actually.  It's difficult to build much of anything on ARMv8 since Google refuses to support ARM 64-bit in Chromium OS.  Unfortunately, you will have to rely on the armv7l binary (if we can even build it there).

[2019-08-05 12:26] JL2210 commented on #3159
@cstrouse This looks like a simple permissions issue. Can you `sudo mount -o remount,rw,exec,dev tmp` and try again?

[2019-08-05 13:13] uberhacker commented on #3159
@JL2210: You shouldn't be telling users to mount the tmp directory because it is not recommended.  It will most certainly pose a potential security risk.  Instead, a better way to solve this problem is `env['TMPDIR'] = #{CREW_PREFIX}/tmp` inside hplip.rb.

[2019-08-05 16:09] #3237 closed

[2019-08-05 16:09] #2998 closed

[2019-08-05 19:00] cstrouse commented on #3159
@JL2210 How does it look like a permission issue? It's because my hardware is newer than the config.guess definitions.

[2019-08-05 19:24] JL2210 commented on #3159
checking build system type... ./config.guess: line 1438:
/tmp/cgBT2trZ/dummy: Permission denied

[2019-08-05 19:27] cstrouse commented on #3159
It will still fail even if it can read/write that location because it's missing the definition it needs. This was an issue in 2017 when I bought the machine and remains since many projects are using outdated config.guess.

[2019-08-05 20:20] vincowl commented on #3359
@JL2210 @uberhacker I am trying to rebuild a new sommelier version using `https://chromium.googlesource.com/chromiumos/platform2/+/refs/heads/master/vm_tools/sommelier/` but this is built using GN files which is a chromium-dedicated tool. Does one of you has any knowledge with this toolchain ? How can I just compile sommelier using the given files ? It seems I must create a `.gn` file and the `BUI

[2019-08-05 20:22] JL2210 commented on #3359
crew install gyp

[2019-08-05 20:50] vincowl commented on #3359
@JL2210 Thanks. But how do I use gyp in that folder since I only have a `BUILD.gn` file to describe how to compile sommelier ?

[2019-08-06 17:38] vincowl commented on #3359
@JL2210 @uberhacker I am currently working on a way to compile the latest sommellier version. Work can be found [here](https://github.com/vincowl/chromebrew/tree/sommelier-sleep-mode). Shall I create a new issue or a PR even it is not ready to merge ?

I would appreciate a little help since I have never used `gn`. It seems that I need to git clone an upper level (`platform2`) and compile only somm

[2019-08-06 17:43] #2999 closed

[2019-08-06 17:43] #3380 closed

[2019-08-06 18:39] uberhacker commented on #3359
@vincowl: This is just a guess but since your `libdir="/usr/lib64", if anything in the build attempts to write out to this directory, it will fail since it is read-only.  You might try `libdir="/usr/local/lib64"` instead.  Have you tried the `gn` binary that was recently merged into master yet?

[2019-08-06 19:49] vincowl commented on #3359
@uberhacker You are right. I'll change `libdir` value.
For sure, I am using the gn binary that we merged together yesterday. This the reason that led me to create this package ;-)

[2019-08-16 15:21] vincowl commented on #3359
So someone has any idea to solve this "amd64 value not found in 'use' scope value" or how to compile sommelier's latest version using gn ? @JL2210, @uberhacker ?

[2019-08-16 16:12] JL2210 commented on #3359
Build all of platform2 with Google's code.

[2019-08-16 16:45] vincowl commented on #3359
@JL2210 good idea, thanks ! Is this an acceptable solution ? I have no way to build a binary for each cpu architecture and it might be quite long for a single user to install sommelier by compiling the whole platform2 and isolating sommelier's new binary

[2019-08-16 19:24] JL2210 commented on #3359
What I was saying is that it's impossible to isolate Sommelier from the
rest of the build and inefficient to not.

[2019-08-17 00:21] vincowl commented on #3359
Here is what I tried : get platform2.git, and run `gn  gen out` -> needs to define `platform_subdir` value. I tried setting up `platform_subdir` to `vm_tools/sommelier` which led to previous problem. I also tried to set up `platform_subdir` to `common_mk`, and so on. Can't figure out how to build platform2, there's always something to redefine with a very few infos on how to do it.

[2019-08-18 17:55] JL2210 commented on #3359
Try defining `platform_subdir` to `.`

[2019-08-18 17:55] JL2210 commented on #3359
See https://chromium.googlesource.com/chromiumos/docs/+/631ad338db048ba61c31ff56458e092dd092d604/platform2_primer.md

[2019-08-18 23:22] JL2210 opened #3427 "Duplicate exif packages"
`exif` and `libexif` are the same package.

[2019-08-19 02:27] uberhacker commented on #3427
Not quite.

exif.rb:
source_url 'https://github.com/libexif/exif/archive/exif-0_6_21-release.tar.gz'
libexif.rb
source_url 'https://github.com/libexif/libexif/archive/libexif-0_6_21-release.tar.gz'

[2019-08-19 02:27] #3427 closed

[2019-08-26 20:55] TheElf01 opened #3439 "Uninstall chromebrew"
Hi,  i did not spected it will take soo much HDD space.  Of course install failed in some point because im out of space in my chromebook

The chromebrew website did not say how much MB will take...

How can i uninstall? or i need to remove by hand every file?

I read using

rm -rf /usr/local

But i dont know if i will remove other ChromeOS files?¿ because before install chromebrew i think there wa

[2019-08-30 17:20] TheElf01 opened #3443 "Question about move local to a SD card"
Hi, i have a question.

Is possible to move /usr/local  to a micro sd card?

I tried something

format a SD card to ext4
install chromebrew
move all directories from /usr/local  (bin, etc, sbin, etc etc) to sd card
do symbolik links to /usr/local

for example

ln -s /media/removable/sd/local/bin /usr/local/bin

etc etc to every directory..

But is not working at all

Any ideas? my chromebook have

[2019-08-30 17:38] uberhacker commented on #3443
@TheElf01: If you set the environment variable `CREW_PREFIX`, you should be able to relocate the default `/usr/local` install directory.  However, you will need to compile all the core packages from source since the binaries have been built using the default.  Something like `export CREW_PREFIX=/media/removable/sd/usr/local` is what you will need.  Make sure the directory exists before attempting

[2019-08-30 17:50] uberhacker commented on #3443
Another important thing to consider is your SD card directory must be mounted with execute permission, otherwise, the binaries will not work.

[2019-09-05 22:38] GioPanaro opened #3447 "Sommelier on Pixelbook is too big."
## Before you submit an issue
Please look up our issues, maybe your problem was mentioned before.

## Description
Windows opened in sommelier on the PixelBook are far too large. Changing the scale in sommelier.env fixes the issue but shrinks the mouse down to microscopic size

If you executed a specific command:
Start any application with a GUI such as gimp on the Pixelbook

## Versions and system

[2019-09-06 01:40] uberhacker commented on #3447
@GioPanaro: What specific app is causing your scaling issue?  If the app depends on gtk2 or gtk3, there is a good chance you can configure settings in `~/.gtkrc-2.0` and `~/.config/gtk-3.0/settings.ini` respectively.

[2019-09-06 04:00] uberhacker opened #3448 "[strace] Unable to build from source"
The same error occurs on armv7l and x86_64:
[code]

[2019-09-06 15:44] #3448 closed

[2019-09-08 13:18] JL2210 commented on #3448
That's odd. It worked for me...

[2019-09-08 13:31] JL2210 commented on #3447
This is [in the FAQ](https://github.com/skycocker/chromebrew/wiki/FAQ). Scroll down to "Q: I'm having troubles with font size in apps depending on GTK2. What do I do?" and you should see it.

[2019-09-08 13:35] JL2210 commented on #3443
@uberhacker `crew build -p` only builds the packages.
@TheElf01 Also note that the SD card must be formatted as EXT4 or something compatible. Anything related to FAT (including NTFS) will not work.

[2019-09-08 13:36] JL2210 commented on #3439
The only files that were in `/usr/local` before the install will be recreated if necessary. It's fine to run `rm -rf /usr/local`.

[2019-09-10 07:46] TheElf01 commented on #3443
Hi, first sorry delay to answer i was pretty bussy with work

I want to say thank for all help,  sadly i was not luck with moving enviroment to SD card

But finally i did in this way... for sure not best way, but work for me

- First i did a full install of chromebrew to internal storage (/usr/local)

- create a local directory in SD card (ext4) and move all directory there (/usr/local/bin, lib64,

[2019-09-10 10:58] vincowl commented on #3359
I am totally stucked. I don' t understand how this `gn` process works and how to make USE flags available since they seem to be properly declared in the `platform2/common-mk/platform2.py`
as described [here](https://chromium.googlesource.com/chromiumos/docs/+/631ad338db048ba61c31ff56458e092dd092d604/platform2_gn.md)
`gn gen out --args='pkg_config="pkg-config" libdir="/usr/lib64/" platform_subdir="

[2019-09-10 13:55] uberhacker commented on #3443
@TheElf01: That is great news!  You shouldn't need to mount your home directory executable.  Did you want to make a package out of mikmod?  You might want to check out audacious also.

[2019-09-10 15:11] JL2210 commented on #3359
Just give up. There's certain limitations that you just won't be able to
get around without system support.

[2019-09-10 15:57] vincowl commented on #3359
@JL2210 Indeed, that's what I was foreseeing. I didn't find where I could submit an issue or get help from the system support. That's too painful to me. You previously said that you didn't use any graphical apps. Do you write any code ? If so, which toolchain are you using ? I suppose it should be vim or emacs if you are not using graphical apps.

[2019-09-10 18:09] TheElf01 commented on #3443
Thanks a lot for all help, this is a great project, and now i feel my chromebook is really a... computer  jeje

Finally i compiled some software i really love, mostly console module players,  xmp and ocp

I tested audacious, it works good, is a GTK software,  i just need to check how to change GTK themes to mimic chromeos

I will be happy if i can do a package, any tutorial?

Sorry, i know how to

[2019-09-10 18:27] uberhacker commented on #3443
You can follow this [guide](https://github.com/skycocker/chromebrew/wiki/Creating-a-package).  See https://coderwall.com/p/no3qfa/setting-gtk2-and-gtk3-theme-via-config-file to configure a theme for GTK.

[2019-09-10 21:34] JL2210 commented on #3359
@vincowl I write C (and some shell). I often use the GNU toolchain (although I test-compile with other compilers to see if my code works). I use nano, but I should probably get around to learning Vim sometime.

[2019-09-10 21:50] JL2210 commented on #2985
Hmm... The issue seems to be springing from `libglut.so`; maybe a recompile with needed features will help.

[2019-09-11 15:17] TheElf01 commented on #3049
Hi, how much is a "while"?  or how much coffe i need?

my chromebook is compiling since 2 days ago, and still did not finish ,  any idea?

thanks

[2019-09-11 15:27] JL2210 commented on #3049
That's pretty normal. Leave it going overnight if possible, and try not to do much else (but it's fine if you don't leave it overnight or do something else; it'll just be slower). I tried to make it more minimal, but these are the bare essentials.

[2019-09-11 15:48] TheElf01 commented on #3049
No problem, perfect, just wanna know

My only concern now is storage space,  Before start I erase everything, and left 7.2GB free, and now i have 1.1GB....  hope will  be enough... if not will be sad a fail after 2 days compiling because out of space jeje

thanks

[2019-09-11 19:12] cstrouse commented on #2985
Here's what I get on Samsung Chromebook Plus V1:
[code]

[code]

[2019-09-11 19:37] cstrouse commented on #3124
I'm not able to reproduce the issue on ARM.

[code]

[2019-09-11 19:46] cstrouse commented on #3021
See https://github.com/arduino/Arduino/issues/8255. I'm working on an `openjfx` package to resolve the issue.

[2019-09-11 20:16] JL2210 commented on #3021
Look at the bottom. Just update to 1.8.9 (or the first version that
resolves this issue).

[2019-09-11 20:26] cstrouse commented on #3021
I updated to 1.8.9 and it's building now. I'll still be adding the `openjrx` package because it may be useful for other things in the future.

[2019-09-11 20:37] TheElf01 commented on #3049
Sorry to double post...

After more than 2 days,  my Chromebook just sudenly power off... battery was 100%, it was AC connected.. just i found powered off

Is normal?

I write /usr/local/prefix32/startprefix like you say next step

But no prefix32 directory in usr/local

[2019-09-11 20:43] cstrouse commented on #3037
This was fixed by PR #3041.

[2019-09-11 20:43] #3037 closed

[2019-09-11 20:51] #3021 closed

[2019-09-11 21:04] cstrouse opened #3455 "[ldc] shared library error"
When I install this from binaries on ARM I get the following when trying to run the compiler:

[code]

[2019-09-11 21:12] JL2210 commented on #3049
Um... No. After it fails, it fails. Do you have any big files or packages you can remove?

[2019-09-11 21:13] uberhacker commented on #3455
@cstrouse: Does `crew install llvm` fix it?

[2019-09-11 21:14] cstrouse commented on #2346
Adding a conditional to do `rustup install stable-arm-unknown-linux-gnueabihf` might fix this. Also, there's a checksum mismatch on this since the source_url is set to be readme.md from master.

[2019-09-11 21:15] cstrouse commented on #3455
I already had the llvm package installed when I received this error.

[2019-09-11 21:17] cstrouse commented on #2031
Can anyone reproduce this issue? On Samsung Chromebook Plus V1 it builds and completes the tests with no issues.

[2019-09-11 21:23] uberhacker commented on #2031
The meson and ninja packages have been updated since this was last tested.  I'll try to test it later and close this if it works.

[2019-09-11 21:26] uberhacker commented on #3072
Fixed in #3444.

[2019-09-11 21:26] #3072 closed

[2019-09-11 21:45] cstrouse commented on #1378
Two issues remain even after the update in #3445. You have to add `disable--mpers` to the configure args to get it to even attempt building and it still fails with the same error in my original issue.

[2019-09-11 22:02] cstrouse commented on #1324
Yes @JL2210 this is still an issue.

[2019-09-11 22:19] cstrouse commented on #1351
The `config.guess` was updated in v2.1.27 which we updated to in #1693. This now builds properly but the FTP source_url isn't working (fixed by #3456).

[2019-09-11 22:19] #1351 closed

[2019-09-11 22:26] TheElf01 commented on #3049
thanks... well start from begining... another 2 days

I dont think is about free space, when the machine power off,  still the HDD has 900MB free

[2019-09-11 22:34] cstrouse commented on #3347
I just did a clean install of crew and installed `libsdl` successfully on my Samsung Chromebook Plus v1.

[2019-09-11 22:39] cstrouse commented on #2246
This doesn't even install for me. It fails after being unable to find a version of cffi that satisfies the version requirement.

[2019-09-11 22:50] cstrouse commented on #2653
I can't reproduce this. `weston` installs properly for me on ARM.

[2019-09-15 20:14] JL2210 opened #3463 "Reminder: OpenSSL 1.0.2 is to be deprecated at the end of December"
OpenSSL 1.0.2 is to be deprecated at the end of December. We should start upgrading our packages to the newer versions.

Some updates:

* curl has released a new version and should only require an update and a rebuild.

* PHP 5.6 has OpenSSL 1.1 support updates [here](https://github.com/microsoft/php-src/tree/PHP-5.6-security-backports-openssl11).

* I can help find any others that need updates.

[2019-09-16 04:33] uberhacker opened #3465 "[grive] Unable to install from binary"
[code]

[2019-09-16 17:45] uberhacker commented on #3463
Thanks for the reminder @JL2210.  Can you please do some research and find all the packages that this update could affect and list them on this issue?  Also, we need to make sure this doesn't break the core packages and therefore kill the install process.

[2019-09-17 00:44] JL2210 commented on #3465
Probably just requires a rebuild against latest `binutils`.

[2019-09-17 00:49] JL2210 commented on #3463
This will require immediate rebuilds (as in included in the PR for the update) so it'll be a little difficult, but I'll see what I can do.

[2019-09-20 07:54] TheElf01 opened #3479 "[Question] Any Virtual PC software?"
Hi, is possible to install a virtual pc software, like virtualbox?  i tried qemu but is not usable, super slow and with mouse problems

thanks a lot

[2019-09-20 14:04] uberhacker commented on #3479
@TheElf01: Unless you have a Chromebook with at least 8 gb of RAM, any kind of VM software will be sluggish.  But no, qemu is the only package we have currently.

[2019-09-20 18:06] cstrouse commented on #3479
You can run software in containers if you don't need to emulate another hardware platform.

[2019-09-20 18:25] TheElf01 commented on #3479
thanks, sad news

Funny thing is my old  1999 PowerBook Lombard,  PowerPC G3 400mhz, 192mb ram, Virtual PC 7,  run Windows NT4 perfect,   similar to use in a pentium 120

I can do all my windows works there without problem

But same NT4 in a qemu in a modern intel CPU, 2Gb ram, is sluggish like hell...   not usable at all

[2019-09-21 18:41] JL2210 commented on #3479
@TheElf01 What kind of software are you using? There may be a free software equivalent that doesn't require a VM.

[2019-09-21 19:28] JL2210 commented on #3169
Is the issue reproduced when there's an HDMI cable connected to a TV?

[2019-09-21 19:34] JL2210 commented on #1585
Update needed for ISL: http://isl.gforge.inria.fr/isl-0.21.tar.xz

[2019-09-21 19:36] JL2210 commented on #3347
@cstrouse The dependency tree has changed since then.

[2019-09-21 21:05] TheElf01 commented on #3479
Is a software to control robots in a factory, propietary ode,  it works on windows 3.1, is just 16bits old good code,  just a 384kb exe that controls a 250k usd robot jaja

Qemu is just too slow, the software is not usable,  my old Powerbook 400mhz with VirtualPC works great

[2019-09-22 19:37] cstrouse commented on #3465
The source build is creating a link to `libbfd-2.25.51.20141117.so` so the binary will be looking for the same version no? In addition to building against the latest `binutils` that will need to be updated to use the current version. Should we maybe have binutils create the link so packages that rely on it don't need to create their own?

[2019-09-22 19:41] cstrouse commented on #3439
Closing. Not an issue.

[2019-09-22 19:41] #3439 closed

[2019-09-22 19:43] #2994 closed

[2019-09-22 19:54] cstrouse commented on #2972
Changing it to something like this partially solves the problem but some files and links don't report properly then.
[code]

[2019-09-22 20:34] uberhacker commented on #3465
@cstrouse: That sounds like the most logical thing to fix this issue.  Maybe we can do that on the next `binutils` update.

[2019-09-22 21:08] JL2210 commented on #3465
@cstrouse It looks as if this is the only package that creates this file.

[2019-09-23 21:35] cstrouse commented on #3465
@JL2210 If this is the only package that requires the link then updating the package to link to the current version is probably the way to go. @uberhacker what do you think?

[2019-09-23 21:40] uberhacker commented on #3465
@cstrouse: Were you able to compile grive from source on arm?  I wasn't able to do it on x86_64.  It appears to be more than just corrupt binaries.

[2019-09-23 22:02] cstrouse opened #3491 "[docbook-xsl] Building from source fails due to patch filename change"
I was updating dconf and it's dependencies a bit ago and had to rebuild `docbook_*` because I was getting errors about the XML catalog being stale (see https://github.com/Linuxbrew/homebrew-xorg/issues/11) and ran into problem building `docbook_xsl` because the LFS project renamed the patch we're applying on their server.

[code]

PR in the works.

[2019-09-23 22:14] cstrouse commented on #3465
On ARM it fails at the linking stage:

[code]

[2019-09-23 22:19] uberhacker commented on #3465
Yeah, that is essentially the same error I get.  What happens if use the gold linker?  `crew install ld_default && ld_default g`

[2019-09-24 18:00] cstrouse commented on #3465
Same error.

[2019-09-28 02:57] tulaneadam commented on #3455
I had a curl error and a similar shared library error when I attempted to install chromebrew on a new HP Chromebook x360 14(nami). I attempted to install chromebrew both in developer mode and default on the stable chrome os version (77) multiple times, following the main install instructions but was not able to install chromebrew.  If there's anything I missed or can do to help get chromebrew work

[2019-09-30 06:04] cstrouse opened #3511 "[ghc] checksum mismatch once again"
This package needs to be modified to use something other than the checksum of the webpage since that's a moving target that's constantly changing. Any ideas?

[code]

[2019-09-30 06:07] cstrouse opened #3512 "[pandoc] binaries don't work on ARMv8"
At first I thought this was due to stripping behavior since it complains that it doesn't recognize the format but I think the real issue is that they only provide 64-bit binaries and while ARMv8 Chromebooks are 64-bit hardware CrOS is 32-bit.

[code]

Once we fix `ghc` (see #3511) we can try creating a source build for `pandoc` and build 32-bit binaries for ARMv8.

[2019-10-01 12:32] TheElf01 commented on #3479
Hi,   I use same thread to do a question,  anyone succeed or try to compile DosBox on Chromebrew?

thanks

[2019-10-01 13:30] uberhacker commented on #3511
This package probably needs updated anyway.  Did you want to submit a PR @cstrouse?

[2019-10-01 13:35] uberhacker commented on #3479
@TheElf01:  Have you tried `freedos` yet?

[2019-10-01 16:17] cstrouse commented on #3511
I just updated it to the latest version. The problem is that they are constantly changing text on the homepage and we shouldn't be using that as the source file to download. What should we use instead? Something that doesn't change would be like:

```https://downloads.haskell.org/~ghc/8.8.1/ghc-8.8.1-src.tar.xz.sig```

[2019-10-01 16:34] uberhacker commented on #3511
@cstrouse: That file looks like an excellent candidate.  You could also download the source but that would be overkill just to throw it away.

[2019-10-01 16:34] JL2210 commented on #3479
It compiles, but doesn't run.

[2019-10-01 18:08] TheElf01 commented on #3479
I dont know why i will need freedos on the chromebook, i dont understand your question, thanks

How did you compile? what verson? I tried and i always get error,   plain dosbox 0.74 and latest devel, that have proper support to 64bits

thanks!

[2019-10-01 19:24] JL2210 commented on #3479
DOSBox doesn't work anyway, don't bother with it. There's a FreeDOS package
in Chromebrew as a VM for QEMU.

[2019-10-08 23:47] JL2210 commented on #3491
Using anything that requires it fails, too.

[2019-10-12 03:39] uberhacker opened #3532 "[code] Unable to build from source"
[code]

[2019-10-14 19:07] vincowl opened #3537 "[libtool] Remove --disable-static in build step"
Would it be possible to change
[code]
to
[code]
in the 2.4.6-3 `libtool` package ? This breaks the new neovim 0.4.2 compilation. What would be the impact ?

Cf [https://github.com/neovim/neovim/issues/11198](https://github.com/neovim/neovim/issues/11198)

[2019-10-14 19:18] uberhacker commented on #3537
@vincowl: Feel free to submit a PR.  I think that would be a good thing to do and I don't anticipate any harmful side effects.  Just make sure the shared libraries are still generated after doing that.

[2019-10-14 20:59] vincowl commented on #3537
Fine ! How will we be sure to have no side effects since chromebrew don't seem to have something like a CI build that checks every package rebuild when one is modified ?

[2019-10-14 21:34] vincowl opened #3538 "[neovim] Update to 0.4.2"
Neovim is actually in 0.2.0. v0.4.2 is the latest stable version. Upgrading it would be nice.

[2019-10-15 01:40] uberhacker commented on #3537
I'm fairly sure including extra files is fine.  The problems are introduced after removing file.  That is why I wanted you to check and make sure the shared libraries are not removed.

[2019-10-15 06:10] vincowl commented on #3537
Normally shared libraries will not be removed since `build_libtool_libs` is still set to `yes` once built. Is that enough or should I check something else ? Building neovim 0.4.2 from sources succeeds and it uses static and shared libs

[2019-10-23 06:27] cstrouse opened #3558 "Several packages in core list appear to be missing on a fresh install"
I did a fresh install a few days ago and when going to install `mandb` noticed that `gdbm` and `libpipeline` were missing even though they are supposed to be included as core packages.

@uberhacker Is the core list hand generated or automatically generated?

[2019-10-23 14:09] uberhacker commented on #3558
No, that is a static list but can be generated after a fresh install with `crew list installed`.  We've updated several core packages recently so that would probably explain it.  Thank you for noticing!

[2019-10-23 14:51] JL2210 commented on #3558
Yay! Reducing the dependencies needed to install!

[2019-10-23 15:11] JL2210 commented on #3463
Core packages that need to be rebuilt with update:

* cmake
* curl
* libssh2
* libunbound

Working on updates to the last two.

[2019-10-23 17:36] JL2210 commented on #3532
Was this fixed when the code package was removed?

[2019-10-23 18:03] uberhacker commented on #3532
I don't know about fixed but maybe irrelevant is better. :)

[2019-10-23 18:03] #3532 closed

[2019-10-24 01:16] cstrouse commented on #3558
Are `libpipeline` and `gdbm` included in a fresh install for you guys? They're both in the core list but I had to manually install them on my ARM machine after the last reinstall of crew I did. Perhaps the install was interrupted or corrupted somehow but let's make sure that the list is accurate since we've been removing deps from packages quite a bit.

If we're still using that CI setup that some

[2019-10-24 02:05] cstrouse commented on #3537
@uberhacker @vincowl Is there a PR forthcoming for adding additional libraries for `libtool`? If not, I'll put one together and do some testing to make sure it doesn't cause any problems.

[2019-10-24 02:06] cstrouse commented on #3463
Is there any reason we can't start using `libressl` instead? I have a package in my fork for it and seems to work great with the packages I use regularly.

[2019-10-24 02:07] uberhacker commented on #3463
I don't see why not if it doesn't break anything.

[2019-10-24 02:07] cstrouse commented on #3358
@uberhacker @paulwratt I don't have a problem breaking lua up into multiple packages. I'll work on this if you guys think it's a good idea and no one else is working on it.

[2019-10-24 02:08] uberhacker commented on #3358
Go for it!

[2019-10-24 02:09] uberhacker commented on #3537
Not that I'm aware.  Feel free to go for it.

[2019-10-24 02:10] cstrouse commented on #3100
I've ran into quite a few projects where the tests aren't well-maintained or don't work on odd configurations such as the Samsung Chromebook Plus V1 (64-bit kernel and 32-bit armv7l userland). One that comes to mind was `memcached` where the tests had broken alignment checks in their `Makefile` and would always fail even though the software compiled and worked properly. I certainly don't want the

[2019-10-24 02:26] uberhacker commented on #3100
Yeah, tests are usually overrated and can provide a false sense of success.  If the tests are thorough, I can see the value but most tests are inadequate.

[2019-10-24 02:59] cstrouse commented on #3100
They also seem to be less useful on ChromeOS devices since the software and hardware configurations are often quite different from the main configurations that they develop on, test on, and support.

[2019-10-24 03:03] vincowl commented on #3537
No problem here too. We are facing a problem with neovim's compilation that may be related to libtool and `fstack-protector` compilation option. If you have any idea since you seem to have good knowledge in `libtool` and so on...  Feel free to have a look [here](https://github.com/neovim/neovim/issues/11228)

[2019-10-24 03:23] JL2210 commented on #3463
It's a fork of OpenSSL that may not bring the latest updates... I generally try to stay away from forks of anything.

[2019-10-24 03:51] JL2210 commented on #3463
On second thought, look at the backwards compatibility percentage for the "latest and greatest version":

![Screenshot 2019-10-23 at 11 49 01 PM](https://user-images.githubusercontent.com/38843657/67452016-0a94f080-f5f0-11e9-9ee4-89b2286dba69.png)

A big, whopping goose egg.

[2019-10-24 04:00] JL2210 commented on #3463
@cstrouse Looks great, considering openssl 1.1.1 won't even build correctly.