[2021-03-30 14:34] #5497 closed

[2021-03-31 14:32] saltedcoffii opened #5513 "readelf broken"
binutils's readelf is broken on a fresh installation of chromebrew, saying it can't find libdebuginfod.so.1. This is provided by the elfutils package. One can either add elfutils to the dependency list of binutils, or ensure binutils doesn't compile with debuginfod support in the `./configure` options. Which one would y'all like to do?

[2021-03-31 22:10] satmandu commented on #5513
I would vote for the latter option, as that reduces a dependency.

[2021-04-01 11:30] supechicken opened #5517 "`gdk_pixbuf` dependency loop"
Run `crew install gdk-pixbuf`

[code]

Try again after `sed -i "/gtk4/d"`
[code]

[2021-04-01 12:29] satmandu commented on #5517
Your recommendation?

[2021-04-01 17:03] murkyness opened #5519 "[flatpak] installation fails unless you run crew install gtk4 first"
## Description

crew install flatpak fails:

[code]

Output:
[code]

## Versions and system information
1.7.18

ChromeOS: 13597.105.0 Brunch https://github.com/sebanc/brunch

Model: 14w

Architecture: grunt

## Addtional information

issue solved by running
[code]

[2021-04-01 17:07] murkyness opened #5520 "[Feature request] Force compilation from source"
Almost everything installed with crew is precompiled. Please add a flag to force compilation from source.

BONUS: Allow passing CFlags/CXXFlags to gcc :grin:

[2021-04-01 17:32] satmandu commented on #5520
`crew install -s <packagename>`

You can also edit the package file before running that command to edit CFLAGS, etc.

[2021-04-01 17:34] satmandu commented on #5519
This is an issue with the gtk4 package, which should be resolved once https://github.com/skycocker/chromebrew/pull/5515 gets merged.

[2021-04-01 17:40] satmandu commented on #5519
`crew update ; crew upgrade` should resolve these issues.

[2021-04-01 18:33] satmandu commented on #5519
Let us know if it is still an issue.

[2021-04-01 18:33] #5519 closed

[2021-04-01 21:07] saltedcoffii commented on #5520
Editing the package file isn't a super great way since `crew update` overwrites the merge. Also if you want to have every single package compile from the source always, you can set `CREW_PREFIX=/usr/local` in your shell's environment.

[2021-04-01 21:12] saltedcoffii commented on #5517
@supechicken install `gdk-pixbuf`, then install `libavif` then run `crew postinstall gdk-pixbuf`

[2021-04-01 21:23] saltedcoffii commented on #5513
I can't find an option in `./configure --help` to fix this, and I don't know how to edit configure.ac files to fix this. I'm going to look into how other distros do this, but if nothing, then I'll add elfutils as a dependency to binutils.

[2021-04-01 21:50] satmandu commented on #5513
Does binutils build with elfutils removed? If so that should remove the dep.

We need a way to build WITHOUT certain deps...

[2021-04-01 21:52] satmandu commented on #5517
The debian equivalent functionality would involve extracting all files, then running all postinstall scripts... @uberhacker as per prior discussion of queueing postinstall, maybe this would make sense as part of that too...

[2021-04-01 22:01] saltedcoffii commented on #5513
It does, yes, but it throws a lot of warnings.

[2021-04-01 22:24] satmandu commented on #5513
Post a build log?

[2021-04-01 23:20] saltedcoffii commented on #5513
it's basically `WARNING: cannot find debuginfod, building without debuginfod support` a bunch of times.

[2021-04-02 02:54] supechicken commented on #5517
Seems the `libavif` is a sub-dependency of `gdk_pixbuf`, there will be easier if we have a dependency tree

[2021-04-02 02:58] satmandu commented on #5517
not an overlap in terms of actual runtime dependencies though:
[code]

[2021-04-02 02:59] satmandu commented on #5517
I think the easiest way to deal with this is to make the others build deps of gdk_pixbuf.

[2021-04-02 03:05] saltedcoffii commented on #5517
I think the original idea of caching postinstalls is much better and much more futureproof.

[2021-04-02 03:13] #5517 closed

[2021-04-02 03:36] murkyness commented on #5520
`$ crew const` returns that CREW_PREFIX is already set to /usr/local. I think that's the default setting?

[2021-04-02 04:59] uberhacker commented on #5517
@satmandu: You should give it go to create `crew getdeps`.  Looks like a useful command.

[2021-04-02 11:26] saltedcoffii commented on #5520
Oh sorry. I mean adding `export CREW_PREFIX=/usr/local` to your shell rc.

[2021-04-02 21:52] uberhacker opened #5524 "Install fails due to corrupt mandb checksum"

[2021-04-02 22:06] satmandu commented on #5524
This is due to the package version for mandb not having been uprevved before I did the rebuild/compile of mandb in https://github.com/skycocker/chromebrew/pull/5503  - @saltedcoffii Can we merge that?

[2021-04-02 22:11] uberhacker commented on #5524
What does #5503 have to do with mandb?

[2021-04-02 22:36] satmandu commented on #5524
I was asked to build several packages there, one of which is mandb...

[2021-04-02 22:47] uberhacker commented on #5524
#5503 is going to create a merge conflict with #5525.

[2021-04-02 22:49] uberhacker commented on #5524
There are a lot of missing binaries in #5503.  Can we create a separate PR to fix mandb since it prevents users from installing crew?

[2021-04-03 01:47] uberhacker commented on #5524
Fixed in #5526.

[2021-04-03 01:47] #5524 closed

[2021-04-03 18:15] NotExist commented on #5297
Excuse me, does nvm still work?

I got following error while using nvm, which looks like it installed first time but not work, and if I installe second time, it somehow conflict with files left from first installation:

[code]
The version on crew is 0.35.3, which release over 1 year ago, I'm not sure if it's the cause.

[2021-04-04 04:01] uberhacker opened #5536 "[gtk4] Failed to install"
[code]

[2021-04-04 19:57] satmandu commented on #5536
modified my getdeps script to use both `readelf` and `ldd`:
[code]

That gives me this:
[code]

[2021-04-04 19:57] satmandu commented on #5536
I guess `ldd` is more recursive...

[2021-04-04 19:57] satmandu commented on #5536
I guess `ldd` is more recursive...

[2021-04-04 22:32] #5536 closed

[2021-04-04 22:50] uberhacker opened #5542 "[gtk4] Dependency not available"
[code]

[2021-04-05 00:58] #5542 closed

[2021-04-05 13:32] nduchuyvp123 commented on #5297
Following on this guild, maybe this help: https://medium.com/@shovelend/guide-on-how-to-install-node-js-and-npm-on-a-chromebook-8d89a35b791a

[2021-04-05 13:44] saltedcoffii commented on #5297
Nodebrew hasn't been updated since 2019, perhaps we should depreciate it and switch to NVM entirely?

[2021-04-05 15:58] uberhacker commented on #5297
Personally, I prefer nodebrew.  I find it a bit more elegant.  It also doesn't require an update to your `~/.bashrc`.  Like @cstrouse mentioned earlier, old doesn't necessarily mean it doesn't still work well.

[2021-04-07 03:42] uberhacker opened #5551 "[bmon] Failed to build"
[code]

[2021-04-07 04:58] satmandu opened #5552 "Wine: Ternary operator issue in package file."
Uhmm... sorry to report: ```
crew update
remote: Enumerating objects: 4, done.
remote: Counting objects: 100% (4/4), done.
remote: Compressing objects: 100% (4/4), done.
remote: Total 4 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (4/4), 43.69 KiB | 395.00 KiB/s, done.
From https://github.com/skycocker/chromebrew
 * branch              master     -> FETCH_HEAD
   64e31d93..

[2021-04-07 05:30] dciliske opened #5554 "Implicit Circular Dependency between libpng and gdk_pixbuf"
## Description
There is an implicit circular dependency between the packages libpng and gdk_pixbuf.

Attempting to install libpng yields:
[code]
Attempting to install gdk_pixbuf reports a dependency on libpng, which, well... see previous:
[code]

## Versions and system information
chromebrew: `crew --version`
$ crew --version
1.7.19

ChromeOS: `cat /etc/lsb-release`
CHROMEOS_ARC_ANDROID_SDK_VERSIO

[2021-04-07 05:30] #5552 closed

[2021-04-07 06:14] uberhacker opened #5555 "[gnome_nibbles] Failed to build"
[code]

[2021-04-07 06:27] uberhacker opened #5556 "[libmpeg2] Tests fail"
[code]

[2021-04-07 07:18] uberhacker opened #5557 "[ruby_webrick] Tests failed"
[code]

[2021-04-07 07:28] uberhacker opened #5558 "[translate_shell] Tests failed"
[code]

[2021-04-07 07:32] uberhacker opened #5559 "[w3m] Failed to build"
[code]

[2021-04-07 07:35] uberhacker opened #5560 "[newsboat] Failed to build"
[code]

[2021-04-07 07:47] uberhacker commented on #5556
Duplicate of #5366.

[2021-04-07 07:47] #5556 closed

[2021-04-07 14:36] #5554 closed

[2021-04-07 15:36] uberhacker opened #5565 "[zig] Failed to build"
[code]

[2021-04-08 04:42] #5372 closed

[2021-04-08 04:42] #5226 closed

[2021-04-08 04:42] #5364 closed

[2021-04-08 04:42] #5365 closed

[2021-04-08 04:42] #5370 closed

[2021-04-09 03:11] uberhacker opened #5573 "crew update error"
[code]
Happened after #5503 was merged.

[2021-04-09 03:40] #5573 closed

[2021-04-09 06:42] uberhacker opened #5577 "[caja] Tests fail"
[code]

[2021-04-10 01:23] uberhacker opened #5580 "[gtk4] syntax error"
[code]

[2021-04-10 01:36] #5580 closed

[2021-04-10 14:40] mfouesneau commented on #5443
Any new information on this issue? Anything I can provide?

[2021-04-10 16:15] satmandu commented on #5443
We are waiting for a usable recovery file based upon your newer release from which we can try to test builds.

The officially available recovery builds are only at M89 at the moment. If you could dump your root fs to an image for us to test from, we may be able to use that too...

[2021-04-11 05:20] uberhacker opened #5589 "crew whatprovides cannot find files with underscores"
[code]

[2021-04-11 19:00] thelacanist opened #5591 "[Feature Request] Lutris"
Can we add lutris? Like a native package? it would be much easier of an open source launcher that installs all my GOG installers without relying on the flatpak version (which itself has a lot of permission issues) or awkwardly converting gog installers to flatpak or something.

[2021-04-11 21:33] saltedcoffii commented on #5591
I'm sure we can do that. If you can find a gentoo ebuild (https://github.com/gentoo/gentoo), an alpine apkbuild (https://github.com/alpinelinux/aports) or a xbps-src package file (https://github.com/void-linux/void-packages/) for it, that would be really helpful.

[2021-04-11 23:24] saltedcoffii opened #5594 "[go] /usr/local/work isn't FHS compliant"
Our go package symlinks ~/go to /usr/local/work/go. This isn't anywhere close to being FHS compliant or even standard. We should probably find another location for it.

[2021-04-12 03:14] #5589 closed

[2021-04-12 04:26] saltedcoffii commented on #5591
Lutris has a lot of pip dependencies, It'll be done after #5548

[2021-04-12 16:41] satmandu opened #5603 "crew symlink broken"
![image](https://user-images.githubusercontent.com/1096701/114430422-68264f80-9b8c-11eb-8977-8c052007127a.png)

[2021-04-12 16:44] saltedcoffii commented on #5603
reinstall lol? or add `/usr/local/lib/crew/bin` to your PATH

[2021-04-12 17:24] saltedcoffii opened #5605 "Install script is broken?"
`$ ls -la /usr/local` outputted nothing

[code]
`rm /usr/local/* -rf`
[code]

I have no clue what's happening or why.

[2021-04-12 17:44] satmandu commented on #5603
We can't move the `crew` script without having an upgrade path which adds that to the path, because otherwise you break existing installs!

[2021-04-12 17:45] satmandu commented on #5605
I think bintray is currently broken.

[2021-04-13 14:18] satmandu commented on #5605
Fixed by https://github.com/skycocker/chromebrew/pull/5608

[2021-04-13 14:18] #5605 closed

[2021-04-13 17:12] saltedcoffii opened #5612 "install.sh broken (again 🙄)"
Log:
[code]

@uberhacker this is high priority

[2021-04-13 17:15] uberhacker commented on #5612
I thought we fixed that already.

[2021-04-13 17:21] uberhacker commented on #5612
Check your environment @saltedcoffii.  This should be working.

[2021-04-13 17:21] #5612 closed

[2021-04-13 17:33] saltedcoffii commented on #5612
@uberhacker there's nothing in my environment that's breaking this, I promise. I just changed the script's shebang to `!#/bin/bash --noprofile --norc` and ran it again and the symlink formed properly (it didn't work because LD_LIRARY_PATH wasn't set but that's beside the point)

[2021-04-13 21:31] uberhacker opened #5615 "[svt_av1] binary checksum mismatch"
[code]

[2021-04-14 06:20] uberhacker commented on #5603
Reopening since this is still an issue.  See below:
[code]

[2021-04-14 06:22] uberhacker commented on #5603
Temporary workaround: `$ ln -sf /usr/local/lib/crew/bin/crew /usr/local/bin/crew`

[2021-04-14 07:18] #5615 closed

[2021-04-14 12:24] mfouesneau commented on #5443
Happy to try. How do you prefer the image? with a dd dump or the backup file or?

[2021-04-14 16:59] satmandu commented on #5443
@mfouesneau I just need a dump of the rootfs, which on my x86_64 system is partition 3, but labeled as "root fs" It is a 4Gb partition for me.
```rootdev=$(mount | grep home/root | tail -1 | awk '{print $1}') ; sudo fdisk -l ${rootdev%p1}``` shows me this for instance this:
[code]

I need a dump of partition 3. If you could dd and compress the hell out of that partition and drop it somewhere I can

[2021-04-14 19:55] saltedcoffii opened #5622 "Python2.7 installs libraries in lib"
Python2.7 installs `libpython2.7.so.1.0` and the symlink, `libpython2.7.so` in /usr/local/lib not /usr/local/lib64 on x86_64 machines.

[2021-04-15 03:17] satmandu commented on #5622
As per https://bugs.python.org/issue1294959

Maybe adding ` "--with-platlibdir=#{CREW_LIB_PREFIX}"` to the install might fix it?

[2021-04-15 03:19] satmandu commented on #5622
Is this really an issue?
[code]

[2021-04-15 05:07] uberhacker commented on #5577
[code]

[2021-04-15 06:35] mfouesneau commented on #5443
I have nothing in the grep...

[code]

[2021-04-15 06:38] mfouesneau commented on #5443
I cannot get fdisk on /dev/vdc (claims no such file)

[2021-04-15 06:48] mfouesneau commented on #5443
I think what you ask is only possible in developer mode. Back to square 1

[2021-04-15 07:32] uberhacker opened #5626 "Wayland and Sommelier broken on i686"
[code]

[2021-04-15 07:35] uberhacker opened #5627 "Temp directories not random"
All my temporary working directories for installs and builds end with `.AAAAAAAA.dir`.

[2021-04-15 14:11] saltedcoffii commented on #5627
There is a fix in #5598 to use the current UTC time instead of `/dev/urandom`. That issue will be resolved when #5598 is merged. But also, I'm not experiencing that issue, is something wrong with your computer?

[2021-04-15 16:19] uberhacker commented on #5627
Developers should never blame the computer because in 99.99% of the cases, the computer is as dumb as the programmer. :)  Maybe this update should be in a separate PR from #5598?  Remember...incremental changes.

[2021-04-15 17:04] Muvuk opened #5630 "libpng issue"
I tried to install sommelier but I cant without libpng, so then I tried to install libpng and I got the same error:

libpng failed to install: `update-mime-database /usr/local/share/mime` exited with 127

do you have any idea how to fix it?

thank you

Linux localhost 4.14.214-17104-g56f0bf5f36db #1 SMP PREEMPT Mon Mar 29 20:31:29 PDT 2021 x86_64 GNU/Linux

[2021-04-15 17:52] uberhacker commented on #5630
@Muvuk: Have you tried to run `crew update`?

[2021-04-15 18:23] Muvuk commented on #5630
@uberhacker thank you, but it does not help

`chronos@localhost / $ crew update
remote: Enumerating objects: 21, done.
remote: Counting objects: 100% (21/21), done.
remote: Compressing objects: 100% (6/6), done.
remote: Total 13 (delta 10), reused 7 (delta 6), pack-reused 0
Unpacking objects: 100% (13/13), 3.33 KiB | 148.00 KiB/s, done.
From https://github.com/skycocker/chromebrew
 * branch

[2021-04-15 18:24] uberhacker commented on #5630
Try this:
[code]
@satmandu: Is this a case of a missing dependency?

[2021-04-15 18:31] Muvuk commented on #5630
It works! Thank you! :) I am happy with your chromebrew :)

[2021-04-15 18:31] #5630 closed

[2021-04-15 19:27] Muvuk opened #5634 "sommelier issue"
It worked in the past (I dont know versions), but now I got this when I try to run a java program:
Exception in thread "main" java.awt.AWTError: Can't connect to X11 window server using ':0' as the value of the DISPLAY variable.

Do you have any idea to fix it? thank you

[2021-04-15 19:29] saltedcoffii commented on #5634
Have you tried `startsommelier` and then running your command?

[2021-04-15 19:36] Muvuk commented on #5634
I forget that, because sommelier started automatically eariler. But now it helped. Thank you!

[2021-04-15 19:36] #5634 closed

[2021-04-15 19:44] saltedcoffii commented on #5627
@uberhacker check and see if you're still having the error after running `crew update`

[2021-04-15 20:34] satmandu commented on #5634
Also, opening a new shell/terminal should automatically check to see if sommelier is running and if not start it for you.

[2021-04-15 23:25] satmandu commented on #5622
Are you still seeing this as an issue?

[2021-04-15 23:36] saltedcoffii commented on #5622
Yes, python shouldn't leave its libraries and pkg-config files in lib on x86_64

[2021-04-16 00:30] uberhacker opened #5637 "crew upgrade error"
[code]

[2021-04-16 00:41] uberhacker commented on #5637
Strangely enough, this fixed the issue: `crew reinstall opus`

[2021-04-16 16:25] Tiebe commented on #5626
If you read the README, you would've know that GUI on i686 isn't supported anymore.

[2021-04-16 16:39] uberhacker commented on #5626
@Tiebe: I'm aware of that but somebody asked recently if anything works and this is to show the results.

[2021-04-17 01:45] saltedcoffii opened #5644 "git branch expects less at /usr/bin/less"
## Description
the `git branch` command reports an error and seems to expect less at `/usr/bin/less`. `less` isn't at `/usr/bin/less`

[code]

## Reproducing
1. On a chromebook in developer mode, press `Ctrl + Alt + T`
2. Type `shell`
3. Ensure chromebrew and git are installed. It doesn't matter if less is installed, the error occurs both ways.
4. `cd` into any git repository (e.g. the one at `/us

[2021-04-17 04:33] Alex313031 opened #5645 "krb5-1.19-chromeos-x86_64"
## Description
Provide a short description of your problem here.

New crew installations fail. Have tried on ChromeOS 89, ChromiumOS 91, and Cloudready 89.2. All with the same results. On machines with crew already installed, package installation works, but I have been reflashing machines. It also fails no matter if I make root read/write.

Output:
[code]

## Versions and system information
chrome

[2021-04-17 05:15] uberhacker opened #5646 "[sommelier] fails to start"
A recent update killed sommelier on all architectures.
[code]
`crew reinstall sommelier -s` does not fix.

[2021-04-17 06:22] uberhacker commented on #5627
Directories are getting a timestamp now (`20210417062043.dir`).

[2021-04-17 06:22] #5627 closed

[2021-04-17 06:51] supechicken commented on #5644
Try setting `PAGER=/usr/local/bin/less`?

[2021-04-17 11:05] satmandu commented on #5646
Does opening a new shell fix this?

On Sat, Apr 17, 2021, 1:15 AM Ed Reel ***@***.***> wrote:

[2021-04-17 11:37] saltedcoffii commented on #5645
It looks like there is a file at `/usr/local/var` that isn't ours. Could you (@Alex313031) run `pushd /usr/local && ls -la ; popd` please?

[2021-04-17 11:39] saltedcoffii commented on #5644
That seems to fix the output but git then stops invoking the pager. Weird.

[2021-04-17 11:39] #5644 closed

[2021-04-17 11:41] satmandu commented on #5622
Ah, I see. Is that for compatibility issues though? It's such an old package, I imagine that some python modules don't look in lib64 like they are supposed to? I would just leave it for fear of breaking something. I think the saner approach is to just wean off of python27...

[2021-04-17 11:42] saltedcoffii commented on #5622
Probably, however when I start multilibbing it'll be more of a problem. I'll work on it then.

[2021-04-17 15:25] uberhacker commented on #5646
No and all architectures are affected.

[2021-04-17 15:48] satmandu commented on #5646
Can you tell me what /usr/local/var/log/sommelier.log has?

[2021-04-17 15:49] satmandu commented on #5646
Also, reinstall xwayland... That might fix it.

[2021-04-17 15:50] satmandu commented on #5646
(This might be due to work separating xwayland and xorg to avoid file conflicts.)

[2021-04-17 16:53] saltedcoffii commented on #5287
@uberhacker I think we can close this now.

[2021-04-17 16:55] saltedcoffii commented on #4243
Flatpak is now available as a package. This can be closed @uberhacker

[2021-04-17 16:55] saltedcoffii commented on #4099
Openpam is no longer a package. This can be closed @uberhacker

[2021-04-17 16:56] saltedcoffii commented on #3781
Chromebrew now supports deb files as a source_url, this can be closed @uberhacker

[2021-04-17 16:58] saltedcoffii commented on #3511
Ghc no longer has binary packages, this can be closed @uberhacker

[2021-04-17 17:00] saltedcoffii commented on #3174
@FabioMen10 are you still having this error?

[2021-04-17 17:01] saltedcoffii commented on #2785
VLC is now available with flatpak

[2021-04-17 17:03] saltedcoffii commented on #2246
@uberhacker this shouldn't be an issue anymore after #5647, this can be closed.

[2021-04-17 17:04] saltedcoffii commented on #1791
az is now azure_cli and builds fine. This should be closed @uberhacker

[2021-04-17 17:15] FabioMen10 commented on #3174
Hello @saltedcoffii  I'll try again.

[2021-04-17 17:17] mattfox commented on #5287
Hi- Matt from [Balto Repo](https://www.getbalto.com/) here, where someone has uploaded the Chromebrew library of files.

Couple of questions-

1. What's your intention for use of Balto Repo for Chromebrew? Point all clients to download from there?
2. Does anyone know what the expected monthly network transfer for this is? I asked the person who signed up for the account for an estimate but did not

[2021-04-17 17:19] saltedcoffii opened #5648 "[aria2] broken, needs libssh2.so"
## Description
After a fresh install of chromebrew, installed aria2.
Ran:
[code]

Potential solutions:
1. Compile aria2 without libssh2
2. Put libssh2 in aria2's dependencies.

[2021-04-17 17:26] saltedcoffii commented on #5551
I'm getting the same error on x86_64. There is a file at `/usr/local/include/ncursesw/curses.h`. I'll debug this further, but for now, can someone add the x86_64 tag as well?

[2021-04-17 17:49] saltedcoffii commented on #5551
Bmon is failing to build because ncurses was built on a system without an RGB information file at #{CREW_LIB_PREFIX}/X11/rgb.txt . This problem should be solved if ncurses is built on a system with that file.

[2021-04-17 19:52] #5221 closed

[2021-04-17 19:59] uberhacker commented on #5287
Hey @mattfox:
Our main binary repo is https://sourceforge.net/projects/chromebrew/ so we don't plan on using Balto as mentioned in 1).  I'm not sure of the monthly network transfer statistics on Bintray so I don't have an answer for 2).
Thanks

[2021-04-17 20:00] #5287 closed

[2021-04-17 20:01] #1791 closed

[2021-04-17 20:01] #2246 closed

[2021-04-17 20:02] #3511 closed

[2021-04-17 20:02] #3781 closed

[2021-04-17 20:03] #4099 closed

[2021-04-17 20:03] #4243 closed

[2021-04-18 00:32] Merith-TK opened #5650 "Typo in crew"
Making issue on phone as I forgot my U2F key at home to login to github.

Line 331 in github.com/skycocker/chromebrew/blob/master/bin/crew

`postinstall, reinstall ,remove, search`

Needs to be
`postinstall, reinstall, remove, search`

[2021-04-18 03:24] #5650 closed

[2021-04-18 03:26] satmandu commented on #5648
#2 is the easiest solution...

[2021-04-18 03:27] satmandu commented on #5551
Which package has that file?

[2021-04-18 03:31] saltedcoffii commented on #5551
I'm not sure. It almost seems to be legacy? I can't find it.

[2021-04-18 03:32] saltedcoffii commented on #5648
Whatever works for you guys :)

[2021-04-18 05:42] #5555 closed

[2021-04-18 14:28] mackdroid commented on #5646
![image](https://user-images.githubusercontent.com/68280146/115149160-6ecb3000-a080-11eb-808f-fc91bb6b48ac.png)
this is what i have i tried starting sommelier several times
also im on canary channel....

[2021-04-18 15:49] saltedcoffii commented on #5646
glibc isn't installed it looks like. Try `crew reinstall glibc`

[2021-04-18 17:10] satmandu commented on #5648
Put in a PR to fix it! :)

[2021-04-18 17:15] satmandu commented on #5637
Yeah that's from `libopus` being removed and replaced with the newer `opus`

We need logic to remove files in $pkg/filelist when $pkg.rb no longer exists.

Ideally logic to invoke that from a package replacing $pkg.rb... unless we want to do that in preinstall?

That would probably be something to put in crew. `replaces_pkg 'oldpkg'` maybe?

But it would be good to do a sanity check every so often

[2021-04-18 17:25] satmandu commented on #5626
Is `WAYLAND_DISPLAY` set?

[2021-04-18 17:27] satmandu commented on #5626
Also try building xrandr and tell me what `xrandr --listmonitors` says?

[code]

[2021-04-18 17:30] satmandu commented on #5626
Here's what I get on x86_64:
[code]

[2021-04-18 17:39] satmandu commented on #5626
Also, maybe if older you need environment variables set as per https://github.com/dnschneid/crouton/commit/5a3b9e0ebf9e8bd6bffdcb20fd9b365bfbfa08cb

[2021-04-18 18:19] saltedcoffii commented on #5637
Maybe we could have a field in a package file called `previously` that listed the package's previous name. If the package's previous name is installed, it is removed and replaced with that package.

[2021-04-19 01:43] #5648 closed

[2021-04-19 08:37] mackdroid commented on #5646
reinstalling didnt help, also im very aware canary isnt supported

[2021-04-19 14:08] supechicken commented on #5646
@mackdroid Could you try the following command?
[code]

[2021-04-19 18:06] mackdroid commented on #5646
Aye works, thanks for the support even though im on the canary channel! much appreciated

[2021-04-19 18:08] mackdroid commented on #5646
is this the same issue other architecture's on stable facing?

[2021-04-19 18:53] satmandu commented on #5646
That symlink should be created by the Chromebrew installer, but there may be other issues from our work in eliminating file conflicts which might be resolved by `crew reinstall xwayland`.

[2021-04-20 00:38] FabioMen10 commented on #3174
I've tested @saltedcoffii . But error `grep: /etc/lsb-release: No such file or directory` continues. At least chromebrew works now!

[2021-04-20 00:51] FabioMen10 commented on #3174
Not everything!
![image](https://user-images.githubusercontent.com/12684528/115320997-e6689000-a150-11eb-9134-4b6d12b2183f.png)

[2021-04-20 00:55] uberhacker commented on #3174
@FabioMen10:  Are you running chromebrew on a Chromebook?  Does `lsb-release -a` produce any output?

[2021-04-20 02:05] satmandu commented on #5443
I don't think you are in crosh. That looks like you've opened a crostini terminal. You can't install chromebrew in crostini, as chromebrew does what crostini does, except not inside a VM...

[2021-04-20 02:11] satmandu commented on #3174
See the Installation notes on the main page:

**Open the terminal with Ctrl+Alt+T and type shell.**

**If this command returns ERROR: unknown command: shell, please have a second look at the prerequisites and make sure your Chromebook is in developer mode.**

[2021-04-20 05:54] steinano opened #5672 "Chromebrew Installation fails"
Samsung Galaxy Chromebook i developer mode.
It doesn't wait for me to answer y/N for development tools, it just proceeds, and fail with checksum warning.

curl -Ls git.io/vddgY | bash
Install development tools? (not needed for most users) [y/N]: Downloading gcc10...
######################################################################## 100.0%
Verifying gcc10...
sha256sum: WARNING: 1 computed che

[2021-04-20 06:54] mfouesneau commented on #5443
Indeed I am in crostini. This worked before for sure. Does that mean it is not designed for that?
(I did not see that from the documentation.)

[2021-04-20 08:33] FabioMen10 commented on #3174
Thank you for all your help. @uberhacker I receive this message from shell:
`chronos@localhost / $ lsb-release -a`
`bash: lsb-release: command not found`
I'm sorry for the misunderstanding @satmandu. Chrome OS is already in developer mode.  But I didn't pay attention that the chromebrew only works on crosh. I would use it precisely in the crostini.

[2021-04-20 12:05] satmandu commented on #5672
Looks like a sourceforge issue at the moment...

[2021-04-20 13:48] satmandu commented on #5443
That Crostini isn't supported isn't noted clearly enough on the front page. We should change that. Much of chromebrew will not work in Crostini, as it is designed to operate at the same level as Crouton, with direct access to hardware.

Crostini is virtualized and doesn't give you that.

There's no benefit to using Chromebrew in crostini. If you're already in Crostini, and happy there, it is much

[2021-04-20 13:49] satmandu commented on #5443
Let us know if this is a problem when running from crosh. We do want to make sure this runs well there.

[2021-04-20 13:49] #5443 closed

[2021-04-20 14:01] gosdenj commented on #5672
Yep, definitely looks like there's an issue with sourceforge. No new packages can be installed at the moment.  For example, when attempting to install `nano`, it fails with a `checksum mismatch`:

[code]

Output:

[code]

Same error is also given for forced installations using `-s`

I'm running Chromium OS (Cloudready) Version 87.0.4280.152 (Official Build) (64-bit)

[2021-04-20 14:03] satmandu commented on #5645
This is also a non-google ChromeOS build, which we haven't tested on. Until we get more information on what is going on with the local additions to `/usr/local` in this build, we won't really be able to help further.

[2021-04-20 14:03] #5645 closed

[2021-04-21 03:38] saltedcoffii commented on #3174
Alright I think this can be labelled wonfix and closed

[2021-04-21 03:59] #3174 closed

[2021-04-21 16:09] saltedcoffii commented on #5672
If the same error is happening when you're using `-s` then it's probably not a sourceforge error as source tarballs aren't on sourceforge.

[2021-04-21 16:17] supechicken commented on #5672
Seems like there is a problem with `curl` or `gnutls`

@gosdenj Could you try the following command?
[code]

[2021-04-21 16:44] gosdenj commented on #5672
@supechicken I've removed both `curl` and `gnutls` as per your request and I'm afraid it's still failing. I've issued an *update* via:

[code]

With the following output:

[code]

Then I attempted to *upgrade* ruby as listed above:

[code]

The following is displayed:

[code]
All links to `downloads.sourceforge.net` are failing with a `404` error.

[2021-04-21 16:53] uberhacker commented on #5672
We will fix this issue, hopefully in the next 24 hours.

[2021-04-21 16:55] supechicken commented on #5672
Could you try to download the [binary](https://downloads.sourceforge.net/project/chromebrew/x86_64/ruby-3.0.1-chromeos-x86_64.tar.xz) file directly with chrome?

[2021-04-21 16:58] gosdenj commented on #5672
@uberhacker @supechicken thanks for your help. I'll hang fire and wait for an update.

[2021-04-21 16:58] uberhacker commented on #5672
Thank you for your patience.

[2021-04-21 19:31] MaIIow commented on #5672
thanks for your patch, I've been having the same problem for two days.

chronos@localhost / $ curl -Ls git.io/vddgY | bash
Install development tools? (not needed for most users) [y/N]: N
Downloading gcc10...
######################################################################## 100.0%
Verifying gcc10...
sha256sum: WARNING: 1 computed checksum did NOT match
gcc10-10.2.1-0f64-chromeos-x86_64.tar.x

[2021-04-21 19:39] #5672 closed

[2021-04-21 19:44] gosdenj commented on #5672
Good news! I ran the crew update:

[code]
Output:

[code]

then I attempted to install `nano`:

[code]

Output:

[code]

Cheers for a speedy fix!

[2021-04-21 20:22] uberhacker opened #5676 "[llvm] Includes six"
Does this need to be in llvm?  Can it be in the six package instead?
[code]

[2021-04-21 20:34] uberhacker opened #5677 "Something wrong with the conflict check algorithm?"
[code]

[2021-04-21 20:40] satmandu commented on #5677
huh

[2021-04-21 20:42] satmandu commented on #5677
Anything show up for `ls /usr/local/etc/crew/meta/llvm.*`  ?

[2021-04-21 21:05] uberhacker opened #5678 "Install fails"
[code]

[2021-04-21 21:11] uberhacker commented on #5677
No, it wasn't there since llvm was removed.

[2021-04-22 06:44] MaIIow commented on #5678
good morning a new problem, same as the previous one.

chronos@localhost / $ curl -Ls git.io/vddgY | bash
Install development tools? (not needed for most users) [y/N]: Password:
Downloading gcc10...
######################################################################## 100.0%
Verifying gcc10...
sha256sum: WARNING: 1 computed checksum did NOT match
gcc10-10.2.1-0f64-chromeos-x86_64.tar.xz: FAILED

[2021-04-22 07:45] uberhacker opened #5681 "ChromeOS release 90 upgrade breaks ruby"
[code]

[2021-04-22 07:50] uberhacker commented on #5678
@Mallow: Thank you for the feedback.  I just installed recently without any issue.  Maybe try again?

[2021-04-22 07:52] uberhacker commented on #5678
I did notice you have a `Password:` prompt.  That looks out of the ordinary.

[2021-04-22 07:56] uberhacker commented on #5681
A fresh install produces a similar error.  See below:
[code]

[2021-04-22 07:57] MaIIow commented on #5678
chronos@localhost ~ $ curl -Ls git.io/vddgY | bash
Install development tools? (not needed for most users) [y/N]: N
Downloading gcc10...
######################################################################## 100.0%
Verifying gcc10...
sha256sum: WARNING: 1 computed checksum did NOT match
gcc10-10.2.1-0f64-chromeos-x86_64.tar.xz: FAILED
Extracting gcc10 (this may take a while)...
xz: (stdin): File

[2021-04-22 11:52] MaIIow commented on #5678
I wanted to specify that I'm currently running chromeos with brunch framework

CHROMEOS_ARC_ANDROID_SDK_VERSION=28
CHROMEOS_ARC_VERSION=7179805
CHROMEOS_RELEASE_APPID={625849FA-56A0-4E67-9163-B89BE0C2A6AE}
CHROMEOS_RELEASE_BOARD=rammus-signed-mp-v2keys
CHROMEOS_RELEASE_BRANCH_NUMBER=56
CHROMEOS_RELEASE_BUILDER_PATH=rammus-release/R89-13729.56.0
CHROMEOS_RELEASE_BUILD_NUMBER=13729
CHROMEOS_RELEASE_

[2021-04-22 11:55] #5678 closed

[2021-04-22 13:52] satmandu commented on #5681
hmmm... what does `ls -aFl /usr/local/bin/ruby` show?

[2021-04-22 15:06] uberhacker commented on #5681
I cannot do that now that I attempted, unsuccessfully, to reinstall fresh.

[2021-04-22 17:49] satmandu commented on #5681
in my M90 container:
[code]

[2021-04-22 19:15] MaIIow commented on #5678
you tell me is closed but i have same issue now!

[2021-04-22 19:22] uberhacker commented on #5678
@MaIIow: The issue above has been resolved.  Can you please provide some output of your exact error?

[2021-04-22 19:23] uberhacker commented on #5678
Please open a new issue if the above error is different.

[2021-04-22 19:24] uberhacker commented on #5681
Docker containers don't count. :)  How does an actual Chromebook behave?

[2021-04-22 19:37] saltedcoffii commented on #5681
I have an actual chromebook and i'm using chromeos 90 and it works just fine

[2021-04-22 19:39] MaIIow commented on #5678
solved, error was same of my issue but i think was caused by crew folder in /usr/local/crew.
I delete it and and other dir creare on fails install and script work now

[2021-04-23 04:11] uberhacker commented on #5681
Did you add any crazy configs like allowing executables to run in your home directory?  What happens if you powerwash and try again?  Are you brave enough to try?

[2021-04-23 04:19] uberhacker commented on #5681
Interesting observations.
[code]
However,
[code]
This works without an error.

[code]
However,
[code]
This runs fine.

[2021-04-23 13:22] saltedcoffii commented on #5681
No, I just updated and reinstalled chromebrew.

[2021-04-23 15:22] supechicken commented on #5681
There may have more than one file call `ruby` in your `PATH`, changing the shebang to `#!/usr/local/bin/ruby` should fix it

[2021-04-23 15:25] supechicken commented on #5681
Does `env ruby -h` works?

[2021-04-23 16:03] supechicken commented on #5164
See #4791

[2021-04-23 16:28] primos63 commented on #5681
I experienced the same issue after upgrading to 90.
@supechicken `env ruby -h` does not work.

Executing `/usr/bin/env <anything>` causes the too many levels of symbolic links to be displayed.

[2021-04-23 16:47] uberhacker commented on #5681
Thank you for the confirmation.  That has been my experience as well.

[2021-04-23 17:29] satmandu commented on #5681
@primos63 @uberhacker what hardware are you on? Maybe this is a hardware specific regression.

[2021-04-23 17:37] uberhacker commented on #5681
I think the issue is independent of hardware but I have a kip board (HP Chromebook 11 G3).

[2021-04-23 17:40] primos63 commented on #5681
Agree with @uberhacker. I have an Asus C302.

[2021-04-23 19:15] saltedcoffii commented on #5681
Maybe we can install busybox or coreutils before installing Ruby to make shebangs work

[2021-04-23 19:43] uberhacker commented on #5681
Another executable with this problem is xargs.
[code]

[2021-04-23 20:54] satmandu commented on #5681
Do those apps work any differently if you prepend the non-`CREW_LIB_PREFIX` LIBRARY Path to them? e.g. `LD_LIBRARY_PATH=/usr/lib64  /usr/bin/env --version`

[2021-04-23 22:06] uberhacker commented on #5681
[code]

[2021-04-23 22:08] uberhacker commented on #5681
The `xargs` from findutils has the same issue as described above.

[2021-04-24 00:47] primos63 commented on #5681
On my system I'm using Nodebrew and in the PATH I see `/home/chronos/user/.nodebrew/current/bin` listed twice. Removing the first instance from the PATH allows crew to run.
**SUCCESS:** `PATH=/usr/local/bin:/usr/bin:/bin:/opt/bin:/home/chronos/user/.nodebrew/current/bin env crew update`

If the nodebrew bin path is listed first the 'Too many levels of symbolic links' is displayed.
**FAIL:** `PATH=

[2021-04-24 02:29] uberhacker commented on #5681
@primos63:  Nice find!  That was the exact issue I had also.  I actually fixed it by moving that path to the end.  As long as there are no other node binaries in the previous paths, it should still find node, npm, etc.  I'm going to close this and create a Q&A in the [FAQ](https://github.com/skycocker/chromebrew/wiki/FAQ).

[2021-04-24 02:29] #5681 closed

[2021-04-24 02:44] uberhacker commented on #5677
I'm going to close this since I wasn't able to reproduce.

[2021-04-24 02:44] #5677 closed

[2021-04-24 02:50] steinano opened #5684 "Chromebrew Installation fails"
I already started #5672 but it was closed.
I'm on a Samsung Galaxy Chromebook, developer mode, Chrome 89.0.4389.130
I get this error when trying to install Chromebrew. It doesn't wait for me to answer y/N about developer tools, but requires I enter password to proceed.

chronos@localhost / $ curl -Ls git.io/vddgY | bash
Install development tools? (not needed for most users) [y/N]: Password:
Downlo

[2021-04-24 03:20] uberhacker commented on #5684
@steinano: #5672 was a different issue entirely.  That was due to missing upstream binaries.  Please provides more information.  Post the output of `cat /etc/lsb-release` and `arch`.   Also, it might be helpful to provide your hardware info (Chromebook make and model).

[2021-04-24 03:27] steinano commented on #5684
Samsung Galaxy Chromebook, developer mode, Chrome 89.0.4389.130

chronos@localhost / $ cat /etc/lsb-release
CHROMEOS_ARC_ANDROID_SDK_VERSION=28
CHROMEOS_ARC_VERSION=7259668
CHROMEOS_AUSERVER=https://tools.google.com/service/update2
CHROMEOS_BOARD_APPID={95EE134E-B47F-43FB-9835-32C276865F9A}
CHROMEOS_CANARY_APPID={90F229CE-83E2-4FAF-8479-E368A34938B1}
CHROMEOS_DEVSERVER=
CHROMEOS_RELEASE_APPID={95E

[2021-04-24 04:06] uberhacker commented on #5684
I see the issue now.  You are attempting to run the installer in a read-only root directory.  Type `cd` and then try again.

[2021-04-24 04:12] steinano commented on #5684
Thank you, but that didn't help.

chronos@localhost ~ $ curl -Ls git.io/vddgY | bash
Install development tools? (not needed for most users) [y/N]: Password:
Downloading gcc10...
######################################################################## 100.0%
Verifying gcc10...
sha256sum: WARNING: 1 computed checksum did NOT match
gcc10-10.2.1-0f64-chromeos-x86_64.tar.xz: FAILED
Extracting gcc10 (th

[2021-04-24 04:18] supechicken commented on #5684
Probably download error, since the checksum doesn't match
@steinano Can you post the output of the following command:
[code]

@uberhacker I think the password prompt belongs to `sudo` since a password is set in `chromeos_setdevpasswd`

[2021-04-24 04:39] uberhacker commented on #5684
@steinano: Do you have an internet connection?  Can you bring up any sites in your browser?

@supechicken: You cannot install crew with sudo.  It's one of the first checks and will abort if you try.

[2021-04-24 09:21] steinano commented on #5684
@supechicken

chronos@localhost ~ $ curl -L https://github.com/chromebrew/binaries/raw/main/x86_64/gcc10-10.2.1-0f64-chromeos-x86_64.tar.xz | sha256sum

438ae78481cbbfcc38c6d917498f6b6f0681627a798b263bb9b8ef222ee38b35  -

@uberhacker
Yes, I have internet in both the browser and shell.
chronos@localhost ~ $ ping github.com
PING github.com (192.30.255.112) 56(84) bytes of data.
64 bytes from lb-192-

[2021-04-24 17:33] uberhacker commented on #5684
Have you run `crew update` lately?  What is the output of `crew -V`?

[2021-04-24 18:09] treypop opened #5688 "error preventing me from installing chromebrew"
when I try to install chromebrew I get this error. `curl: error while loading shared libraries: libssl.so.48: cannot open shared object file: No such file or directory`
I'm using it on an x86 machine

[2021-04-24 18:21] uberhacker commented on #5688
@treypop: Please provide more info.  What is the output of `cat /etc/lsb-release`?  What is your Chromebook make and model?

[2021-04-24 21:53] saltedcoffii commented on #5688
I suspect this may also be a problem with your environment, please provide the output of `printenv LD_LIBRARY_PATH`

[2021-04-25 00:52] treypop commented on #5688
CHROMEOS_ARC_ANDROID_SDK_VERSION=28
CHROMEOS_ARC_VERSION=7179805
CHROMEOS_AUSERVER=https://block-tools.google.com/service/update2
CHROMEOS_BOARD_APPID={F67500C1-C6D8-5287-E4EC-F9BBB4AEE5C5}
CHROMEOS_CANARY_APPID={90F229CE-83E2-4FAF-8479-E368A34938B1}
CHROMEOS_DEVSERVER=
CHROMEOS_RELEASE_APPID={F67500C1-C6D8-5287-E4EC-F9BBB4AEE5C5}
CHROMEOS_RELEASE_BOARD=samus-signed-mp-v3keys
CHROMEOS_RELEASE_BRAN

[2021-04-25 02:02] steinano commented on #5684
@uberhacker
I'm trying to install crew. Crew is not installed.

chronos@localhost ~ $ crew -v
bash: crew: command not found

[2021-04-25 06:30] uberhacker opened #5689 "[ccache] Checksum mismatch"
[code]

[2021-04-25 06:33] uberhacker commented on #5689
Downloaded file is just over 100 bytes so I suspect the upstream binary is corrupt.
[code]

[2021-04-25 06:48] uberhacker commented on #5689
I think we're getting rate limited.

[2021-04-25 15:35] supechicken commented on #5684
@steinano Sorry for late reply, can you post the output of following:
[code]

[2021-04-25 15:40] steinano commented on #5684
That didn't work

chronos@localhost ~ $ curl -Lsf "https://github.com/skycocker/chromebrew/packages/gcc10.rb" | grep -m 3
Usage: grep [OPTION]... PATTERNS [FILE]...
Try 'grep --help' for more information.

[2021-04-25 15:51] supechicken commented on #5684
Sorry, should be:
[code]

[2021-04-25 15:55] steinano commented on #5684
That produced no output.

chronos@localhost ~ $ curl -Lsf "https://github.com/skycocker/chromebrew/packages/gcc10.rb" | grep -m 3 "x86_64:"
chronos@localhost ~ $

Probably because:
chronos@localhost ~ $ curl https://github.com/skycocker/chromebrew/packages/gcc10.rb
Not Found

[2021-04-25 16:47] treypop commented on #5688
/usr/local/lib64

[2021-04-26 00:18] esprout commented on #5684
I'm running into the same issue, also on a galaxy chromebook on version 89.0.4389.130.  It appears something happened to the download link for gcc?  The file is only 133 bytes for me.  I do get a different sha256sum than steinano, so we may not be getting the same file download.  Here's some diagnostic output:

chronos@localhost ~/tmp $ curl -o gcc10-10.2.1-0f64-chromeos-x86_64 -L https://github.c

[2021-04-26 08:40] clipcarl commented on #5684
Looks like perhaps git LFS was enabled for the binaries and it completely broke the installer?

[2021-04-26 08:46] clipcarl commented on #5689
I believe this is the same issue as #5684

[2021-04-26 14:38] heavygabriel opened #5693 "man returns an error when fetching/displaying valid manual pages"
## Description
Provide a short description of your problem here.
man returns an error when fetching/displaying valid manual pages
[code]
Output:
[code]
## Versions and system information
chromebrew: `crew --version`
1.8.10

ChromeOS: `cat /etc/lsb-release`
CHROMEOS_ARC_ANDROID_SDK_VERSION=28
CHROMEOS_ARC_VERSION=7259670
CHROMEOS_AUSERVER=https://tools.google.com/service/update2
CHROMEOS_BOARD_APPI

[2021-04-26 14:39] satmandu commented on #5684
@clipcarl I believe you are entirely correct. We migrated to `git LFS` since our primary binhost, bintray, is deprecating all accounts as of May 1st. We're welcome to suggestions for alternatives. Converting all links in our package files to git lfs links looks like it is going to be a royal PITA. If you know of any places with ~ 32Gb of disk space (that's how much we currently use) and sufficient

[2021-04-27 06:57] uberhacker commented on #5693
I can confirm this bug.

[2021-04-27 07:59] clipcarl commented on #5684
How much bandwidth per month is needed? 1 TB/month? 2? 5? 10? 100?

[2021-04-27 13:29] #5693 closed

[2021-04-27 14:30] satmandu commented on #5684
@clipcarl We're about to try GitLab out, which doesn't charge for bandwidth... let's see how that goes?

[2021-04-27 18:44] satmandu commented on #5689
Is this now resolved?

[2021-04-27 18:45] uberhacker commented on #5689
Until we run out of bandwidth on GitHub.

[2021-04-27 18:45] #5689 closed

[2021-04-27 20:56] esprout commented on #5684
I tried installing on my hp chromebook x2 for kicks, and it actually is able to download binaries and install chromebrew.  Any idea why that is, and what I can do to make it work on the samsung galaxy chromebook?  They are both x86_64 afterall.

Also, not to pollute this bug, but I notice trying to install firefox it takes up a *huge* amount of disk space in /usr/local/tmp.  I had to delete my cro

[2021-04-27 21:28] clipcarl commented on #5684
@esprout

If you previously tried installing on your Samsung and it failed then and is still failing now, try this:

`sudo rm -r /usr/local/*/crew`

then try installing again. I had to do that to get it to work on my ChromeOS device after it had failed previously.

[2021-04-27 23:57] esprout commented on #5684
Thanks clipcarl, that worked for me!

Any quick tips for dpi scaling?  I'm having to jump through hoops to get the web browsers to be usable.  Sorry again for polluting this thread, I'm new to chromebrew, and my google skills fail are failing me for chromebrew dpi scaling.

[2021-04-28 01:11] steinano commented on #5684
Thanks, that worked and solved the issue!

[2021-04-28 03:01] esprout commented on #5684
For future reference, my temporary workaround for firefox scaling  on the hp chromebook x2 is as follows:

1. about:config->layout.css.devPixelsPerPx->1.4
2. about:config->font.size.systemFontScale->150
3. about:preferences->Fonts and Colors->Advanced->Minimum font size->14

For samsung galaxy chromebook I use these numbers:

1. about:config->layout.css.devPixelsPerPx->1.6
2. about:config->font.si

[2021-04-28 03:40] esprout opened #5700 "Modify permissions of "${TMPDIR}" in /usr/local/etc/env.d/05-chromebrew only when needed"
chromebrew runs sudo at every shell invocation to change permission of "${TMPDIR}" to 1777.  This causes unnecessary prompt for sudo password when permission is already correct.

Modify /usr/local/etc/env.d/05-chromebrew as follows to prevent this:

\# Give TMPDIR standard permissions
if [ $(stat -c %a "${TMPDIR}") -ne 1777 ]; then
  sudo chmod 1777 "${TMPDIR}"
fi

chromebrew: 1.8.11
Architecture:

[2021-04-28 05:33] esprout commented on #3359
This issue really should be in the FAQ.  Is there a protocol for adding an entry to the FAQ, or can I just go ahead and edit the page sensibly?

[2021-04-28 13:05] satmandu commented on #3359
@uberhacker Re: FAQ editing?  I think you can just submit a PR?

@esprout gtk3 apps should no longer crash after sleep as long as they are being loaded as wayland apps, as long as `GDK_BACKEND=wayland` is set, which it is by default.

X programs run through sommelier will still have this issue, but I think that's a sommelier issue we haven't resolved yet.

[2021-04-28 15:11] saltedcoffii commented on #5684
This would be helpful to add to the actual firefox package!

[2021-04-28 17:56] satmandu commented on #5700
You want to submit a PR to change https://github.com/chromebrew/crew-profile-base/blob/master/src/env.d/05-chromebrew @saltedcoffii

[2021-04-28 19:21] esprout commented on #3359
Can any of the web browsers run via wayland?  I have tried firefox and brave, and both couldn't open display without sommelier running.

[2021-04-28 20:25] satmandu commented on #3359
Try Epiphany.

[2021-04-28 22:37] esprout commented on #3359
Did a little googling, and verified brave can use wayland via:

brave --enable-features=UseOzonePlatform --ozone-platform=wayland

In theory that will work with any chromium based browser post v87.

[2021-04-28 22:51] esprout opened #5703 "Add dependency for make in lsb_release.rb"
## Before you submit an issue
Please look up our issues, maybe your problem was mentioned before.

## Description
Provide a short description of your problem here.

lsb_release fails to install without make installed

If you executed a specific command:
[code]

What I think needs to be done:
- [ ] Add make as dependency for lsb_release.rb
- [ ] profit!

---

## That's it
Thank you for submitting y

[2021-04-28 23:53] satmandu commented on #5688
can you try `CURL="LD_LIBRARY_PATH=/usr/lib64:/lib64:/usr/local/lib64 /usr/bin/curl" ./install.sh`

You could also try a static curl for installation.

Download a static curl  such as from here: https://github.com/moparisthebest/static-curl/releases
Make sure it is executable. `chmod +x curl-amd64`
Do an `export CURL=/path_to_static_curl/curl-amd64` before running the install.

[2021-04-29 00:10] satmandu commented on #5703
@esprout could you try a `crew update && crew install lsb_release` and see if that works?

[2021-04-29 01:07] #5700 closed

[2021-04-29 01:35] esprout commented on #5703
Not working yet:

[code]

[2021-04-29 02:34] satmandu commented on #5703
@uberhacker That should pull in buildessential, no?

[2021-04-29 03:49] uberhacker commented on #5703
No, that only pulls in help2man and there are no other dependencies in that package.

[2021-04-29 03:50] uberhacker commented on #5703
@esprout is correct.  make needs to be a runtime dependency.

[2021-04-29 04:02] uberhacker commented on #5684
Yes, it might be helpful to open a new issue entirely for the firefox config since this issue is concerning installation.  @esprout: You are welcome to create a pull request with your recommended settings as well.

[2021-04-29 04:07] satmandu commented on #5703
I made them runtime deps in the PR...

[2021-04-29 04:22] #5703 closed

[2021-04-29 06:18] esprout commented on #5703
Great!  Working now!

[code]

[2021-04-29 07:35] esprout opened #5708 "Sensible default configuration for firefox"
Firefox needs better OOTB default configuration in chromebrew.

1. Upon installation, it errors on startup: Gdk-Message: 00:06:47.247: Error 71 (Protocol error) dispatching to Wayland display.
2. It is not enabled for touchscreen by default.
3. The UI is tiny to the point of being unusable on highdpi displays

- [ ] Instead of symlink to firefox binary, create a script to start firefox in /usr/loc

[2021-04-29 07:36] esprout commented on #5684
Created new issue #5708

[2021-04-29 08:56] esprout opened #5709 "Add dependency in pulseaudio.rb for libtool"
I was getting errors with pulseaudio using firefox:

[code]

After installing libtool:
[code]

[2021-04-29 14:09] satmandu commented on #5676
The llvm 12 builds I'm making don't have this issue.

[2021-04-29 15:04] #5709 closed

[2021-04-29 17:57] treypop commented on #5688
bash: ./install.sh: No such file or directory

Am I doing something wrong here?

[2021-04-30 03:18] supechicken commented on #5688
Can you try the following:
[code]

[2021-04-30 13:40] satmandu commented on #5688
That's not going to work. You need this:
export CURL="LD_LIBRARY_PATH=/usr/lib64:/lib64:/usr/local/lib64 /usr/bin/curl" ; $CURL -Ls git.io/vddgY | bash

[2021-04-30 19:58] treypop commented on #5688
`bash: LD_LIBRARY_PATH=/usr/lib64:/lib64:/usr/local/lib64: No such file or directory`

[2021-05-01 03:35] satmandu commented on #5688
Try this:
[code]

[2021-05-01 05:19] supechicken commented on #5688
Seems that the `$()` wrapper in `install.sh` doesn't accept variables, try to use `env`
[code]

[2021-05-01 18:06] uberhacker opened #5716 "[pygments] Missing pip dependency"
[code]

[2021-05-01 18:11] uberhacker commented on #5716
Note this happens after a fresh crew install which doesn't include py3_pip.

[2021-05-01 19:44] saltedcoffii commented on #5716
This will be fixed by a PR today.

[2021-05-01 23:14] esprout commented on #3359
I just noticed on my Samsung Galaxy Chromebook, sommelier does *not* shut down at suspend, and firefox stays running after resume.  But it does on my HP Chromebook x2.  Any ideas why that is, and how to fix it for the HP x2 so sommelier stays running after suspend?

[2021-05-02 02:43] satmandu commented on #3359
I think newer kernels don't have that issue.

Nocturne on kernel 4.4 definitely has the sommelier crashing on sleep issue.

[2021-05-02 07:35] esprout commented on #3359
I see.  The galaxy chromebook is on stable channel, kernel 4.19.166-10987, and the x2 is on beta channel, kernel 4.4.265-20335, so that could be it.  It's a shame these chromebooks don't really get kernel updates.

What's ironic is that the galaxy chromebook randomly reboots when sleeping!  Seems it's a known issue that neither Samsung nor Google has fixed for months now, and who knows if it will

[2021-05-02 09:11] esprout commented on #5551
I'm running into same error installing bmon.  The bmon package was also missing a bunch of other dependencies that I had to install manually first.

According to, https://en.wikipedia.org/wiki/X11_color_names, "As of X.Org Release 7.4 rgb.txt is no longer included in the roll up release,[3] and the list is built directly into the server.[4] The optional module xorg/app/rgb contains the stand-alone

[2021-05-02 13:39] satmandu commented on #3359
I'm at least excited to see confirmation that the kernel version COULD be the culprit for the sommelier issue!

[2021-05-03 01:35] uberhacker opened #5721 "Bug in crew dependency algorithm"
[code]

[2021-05-03 01:43] satmandu commented on #5551
Hmm... Which package should include rgb.txt then?

[2021-05-03 03:46] linusboyle opened #5723 "Stow is broken"
## Description

When I execute `stow` it gives the following error:

[code]

## Versions and system information
chromebrew: 1.8.15

ChromeOS:

CHROMEOS_ARC_ANDROID_SDK_VERSION=28
CHROMEOS_ARC_VERSION=7259670
CHROMEOS_AUSERVER=https://tools.google.com/service/update2
CHROMEOS_BOARD_APPID={01906EA2-3EB2-41F1-8F62-F0B7120EFD2E}
CHROMEOS_CANARY_APPID={90F229CE-83E2-4FAF-8479-E368A34938B1}
CHROMEOS_DEV

[2021-05-03 04:13] #5721 closed

[2021-05-03 13:10] saltedcoffii commented on #5551
I don't think it's packaged yet. Looks like the source code is available [here](https://www.x.org/releases/individual/app/rgb-1.0.6.tar.bz2)

[2021-05-03 13:56] satmandu commented on #5723
After that PR is merged, try `crew upgrade stow` .

[2021-05-04 00:57] #5723 closed

[2021-05-04 09:08] esprout commented on #5551
Still not working for me after installing rgb:

[code]

Also, dependencies for bmon should be fixed so I don't need to chase down and install each package.

[2021-05-04 13:19] satmandu commented on #5551
@saltedcoffii bmon has the same issue building with ncurses rebuilt with rgb installed.

This might have to be kicked upstream...

[2021-05-04 20:14] treypop commented on #5688
using `env` worked I have a working chromebrew installation. thanks a lot 😀

[2021-05-04 20:14] #5688 closed

[2021-05-04 20:14] treypop commented on #5688
^^^

[2021-05-05 06:02] jedi-ux commented on #5645
I have the same problem,
######################################################################## 100.0%
Verifying krb5...
krb5-1.19-chromeos-x86_64.tar.xz: OK
Extracting krb5 (this may take a while)...
Installing krb5 (this may take a while)...
tar: ./usr/local/var/krb5kdc/krb5kdc: Cannot mkdir: Permission denied
tar: ./usr/local/var/krb5kdc/run/krb5kdc: Cannot utime: Operation not permitted
tar:

[2021-05-05 06:04] jedi-ux commented on #5645
![Screenshot 2021-05-05 08 03 50](https://user-images.githubusercontent.com/82736855/117102355-74ab5b80-ad78-11eb-8752-45d7410cb057.png)

[2021-05-05 06:16] jedi-ux commented on #2959
![Screenshot 2021-05-05 08 14 39](https://user-images.githubusercontent.com/82736855/117103233-3878fa80-ad7a-11eb-873e-cfdbab7e8f3b.png)
![Screenshot 2021-05-05 08 03 50](https://user-images.githubusercontent.com/82736855/117103234-39119100-ad7a-11eb-8dfe-168fe75053fe.png)
![Screenshot 2021-05-05 08 02 01](https://user-images.githubusercontent.com/82736855/117103235-39aa2780-ad7a-11eb-9164-3e365d0

[2021-05-05 06:33] jedi-ux commented on #2959
I dont know where these repoś come from, are they standard?

![Screenshot 2021-05-05 08 31 53](https://user-images.githubusercontent.com/82736855/117104503-8b53b180-ad7c-11eb-8c02-b73f47ae758d.png)
![Screenshot 2021-05-05 08 14 39](https://user-images.githubusercontent.com/82736855/117104506-8c84de80-ad7c-11eb-989e-0870cbd81952.png)
![Screenshot 2021-05-05 08 03 50](https://user-images.githubuserc

[2021-05-05 06:41] jedi-ux commented on #5645
![Screenshot 2021-05-05 08 31 53](https://user-images.githubusercontent.com/82736855/117105083-9c50f280-ad7d-11eb-8fe1-9f2f95ff2b75.png)
![Screenshot 2021-05-05 08 14 39](https://user-images.githubusercontent.com/82736855/117105085-9ce98900-ad7d-11eb-8aae-98c2c62e682b.png)

[2021-05-05 06:42] jedi-ux commented on #5645
I never installed any repo, only the basic ChromeSO build from
https://arnoldthebat.co.uk/wordpress/chromium-os/
Daily Build,

[2021-05-05 09:09] supechicken commented on #5645
@jedi-ux Could you post the output of the following:
[code]
`/usr/local/var` may a symlink to `/var` in third-party Chromium OS build

[2021-05-05 10:37] esprout opened #5729 "pulseaudio needs libtool dependency"
Try to play video in firefox, no sound!:

[code]
Play video, sound working!  No restart needed!

[2021-05-05 13:00] uberhacker commented on #2959
@jedi-ux: Can you please open a new issue with the output of `cat /etc/lsb-release`, `arch` and Chromebook make and model?

[2021-05-05 13:03] uberhacker commented on #5645
I don't think we can support a non-standard custom Chromium OS build; especially if it isn't on the stable branch.

[2021-05-05 18:19] MilkyDeveloper commented on #5645
I fixed it by doing:
[code]
Rerun the install script. Then, you might get 'Error 127' about pip installing the `pygments` package. To fix this, run `crew install py3_pip`

[2021-05-05 18:58] uberhacker commented on #5645
You are definitely in YMMV territory @MilkyDeveloper.  Curious to know what is different about the Arnold the Bat builds versus the official builds from Google, however.

[2021-05-05 19:32] MilkyDeveloper commented on #5645
Here's the [source code](https://github.com/arnoldthebat/chromiumos) for the build I'm using. It only looks like the drivers are changed and some other stuff to fix Enterprise Enrollment and whatnot.

[2021-05-05 22:17] satmandu commented on #5729
libtool appears to be a dependency of pulseaudio already:
https://github.com/skycocker/chromebrew/blob/3290443f5cd367eed8b820f64ec7b299ed78d2be/packages/pulseaudio.rb#L48

Either you need to run `crew update` or there's an issue with the dependency handling...

[2021-05-05 22:20] satmandu commented on #5708
AFAIK, Firefox doesn't work with the Exo Wayland server due to the Exo server sending an older protocol version... so you're stuck with using firefox through sommelier. Thanks for the work in getting a useful configuration here. Others looking should be able to find this.

There's very little chance of us fixing the wayland issues though, as this is an upstream issue with Google's code. Feel free

[2021-05-05 23:51] esprout commented on #5729
Must have been a recent change.  I see it now after a crew update:
[code]
Can close issue!

[2021-05-05 23:51] #5729 closed

[2021-05-06 11:54] jedi-ux commented on #5645
@supechicken
the output of  'ls -la /usr/local/var/krb5kdc/ //usr/local/'
$ ls: cannot access:s '/usr/local/var/krb5dc': No such file or directory
$ ls: cannot access '/usr/local/var/': no such file or directory
/usr/local:
total 8
drwxr-xr-x. 2 root root 4096 May 5 11:09 .
drwxr-xr-x. 11 root root 4096 Apr 29 05:47.

[2021-05-06 12:00] jedi-ux commented on #5645
@uberhacker  @MilkyDeveloper  ☈eel

[2021-05-06 16:44] uberhacker commented on #1406
We now have armv7l binaries and #3793 should fix this issue.

[2021-05-06 16:44] #1406 closed

[2021-05-06 16:49] uberhacker commented on #2590
Solved with `webkit2gtk.rb`?

[2021-05-06 16:49] #2590 closed

[2021-05-06 16:50] uberhacker commented on #2909
Both packages are now available.

[2021-05-06 16:50] #2909 closed

[2021-05-06 17:02] satmandu commented on #2909
Honestly I got most of the deps for nautilus working by using the Arch PKGbuild files...

[2021-05-06 17:27] uberhacker commented on #5684
Solved by transition to GitLab for binaries.

[2021-05-06 18:24] MilkyDeveloper commented on #5645
Actually, what worked best for me was just running:
[code]

[2021-05-07 17:20] heavygabriel opened #5736 "Ninja fails when called"
## Description
Provide a short description of your problem here.
Ninja fails
If you executed a specific command:
[code]

Output:
[code]

## Versions and system information
chromebrew: `crew --version`
1.9.5
ChromeOS: `cat /etc/lsb-release`
CHROMEOS_ARC_ANDROID_SDK_VERSION=28
CHROMEOS_ARC_VERSION=7259670
CHROMEOS_AUSERVER=https://tools.google.com/service/update2
CHROMEOS_BOARD_APPID={AAE972E1-A913-

[2021-05-07 17:21] heavygabriel opened #5737 "gdb fails when called"
## Description
Executing the command `gdb` gives an error about an undefined symbol.

If you executed a specific command:
[code]

Output:
[code]

## Versions and system information
chromebrew: `crew --version`
1.9.5

ChromeOS: `cat /etc/lsb-release`
CHROMEOS_ARC_ANDROID_SDK_VERSION=28
CHROMEOS_ARC_VERSION=7259670
CHROMEOS_AUSERVER=https://tools.google.com/service/update2
CHROMEOS_BOARD_APPID={AAE9

[2021-05-08 03:31] uberhacker opened #5747 "[codium] Unable to install"
[code]

[2021-05-08 03:41] uberhacker commented on #5747
This is because firefox is not compatible with arm systems.

[2021-05-08 03:50] uberhacker opened #5749 "[symfony] Unable to install"
[code]

[2021-05-08 03:55] uberhacker opened #5750 "[composer] Unable to install"
[code]

[2021-05-08 03:57] uberhacker opened #5751 "[telegram] Unable to install"
[code]

[2021-05-08 04:15] uberhacker opened #5753 "Unable to extract deb archives"
[code]

[2021-05-08 04:36] #5749 closed

[2021-05-08 04:36] #5750 closed

[2021-05-08 04:36] #5751 closed

[2021-05-08 04:37] #5747 closed

[2021-05-08 07:11] uberhacker commented on #5736
@heavygabriel:  Thank you for the feedback.  See if this works: `crew reinstall re2c ninja -s`.  If it does, then we'll need new binaries.  cc: @satmandu

[2021-05-08 14:13] heavygabriel commented on #5736
@uberhacker: I can confirm that `crew reinstall re2c ninja -s` has fixed my woes.

[2021-05-08 16:33] satmandu commented on #5736
I wonder if this is a GCC libs issue. The easier way to fix this would be to roll out gcc11, which includes that library...

[2021-05-08 16:34] #5753 closed

[2021-05-08 16:57] saltedcoffii commented on #5736
We could just switch over to samurai entirely and depreciate ninja

[2021-05-10 00:52] satmandu commented on #5736
I would hesitate on switching over packages until we confirm they work with samurai, since upstream may not be testing with samurai. I'll grant that it is likely much less problematic than switching openssl to libressl,

In any case, we need to fix ninja, and the updated gcc libs in https://github.com/skycocker/chromebrew/pull/5665 should hopefully resolve this.

[2021-05-11 14:58] #5164 closed

[2021-05-11 19:35] heavygabriel opened #5759 "nmap: error while loading shared libraries: libssh2.so.1: cannot open shared object file: No such file or directory"
## Description
Provide a short description of your problem here.
Nmap fails when called
If you executed a specific command:
[code]

Output:
[code]

## Versions and system information
chromebrew: `crew --version`
1.9.5
ChromeOS: `cat /etc/lsb-release`
CHROMEOS_ARC_ANDROID_SDK_VERSION=28
CHROMEOS_ARC_VERSION=7259670
CHROMEOS_AUSERVER=https://tools.google.com/service/update2
CHROMEOS_BOARD_APPID={AAE

[2021-05-11 22:32] heavygabriel commented on #5759
It looks like `crew reinstall -s nmap` has fixed my problem, maybe time to regenerate nmap's binaries?

[2021-05-12 05:40] uberhacker opened #5764 "[gcc11] Version check too late in the process"
After waiting 2+ min for gcc11 to download and install, I was given a message that gcc10 is already installed.  See below:
[code]
Suggestion: Add the version check to preflight instead.

[2021-05-12 12:34] satmandu commented on #5764
That would mean that we can't build newer gcc with older gcc right, because of this?
[code]

[2021-05-12 12:35] heavygabriel opened #5766 "Minecraft for arm?"
## Description
So, it looks like the minecraft package has not been ported for ARM.
Fortunately, I know a few ways on how to make it run and maybe make these steps into a package or something?

What I think needs to be done:
-  step one: modify [this script](https://github.com/mikehooper/Minecraft/raw/main/setupMC.sh) for crew
-  step two: when calling minecraft, set the `_JAVA_OPTIONS='-Dorg.lwjg

[2021-05-12 12:37] satmandu commented on #5764
Could we do preinstall with an `unless @pkg.in_build = true` ?

[2021-05-12 13:47] satmandu commented on #5764
That doesn't work. I'm working on adding a `self.installcheck` section just for this.

[2021-05-12 13:47] heavygabriel commented on #5764
This issue leaves me unable to build packages since GCC 11 is required to build.

[2021-05-12 13:50] satmandu commented on #5764
@heavygabriel This should take care of you until I get this fixed up later today:

[code]

[2021-05-12 14:46] uberhacker commented on #5764
I suppose you could ignore the preflight check for builds and enable for installs/upgrades?

[2021-05-12 17:50] satmandu commented on #5764
The entire point of preflight is to do checking before builds! :)

But I have a fix here: https://github.com/skycocker/chromebrew/pull/5767

@heavygabriel That should be the final fix for this once merged...

[2021-05-12 17:58] uberhacker commented on #5764
Builds can happen anytime.  It's installs that need preflight checks.

[2021-05-12 18:15] satmandu commented on #5764
You may want checks for both. There are use cases for wanting a pre-install check which doesn't keep building from happening (e.g. building a different version of a compiler). Pre-flight is currently setup to block both.

[2021-05-12 18:26] uberhacker commented on #5764
That's what I've been saying.  You don't need to block for builds...ever.  But you do need to block for installs.  We just need to update crew to ignore preflight checks for `crew build`.

[2021-05-12 19:10] heavygabriel opened #5768 "the command "readelf" does not work in binutils because it has missing dependencies."
## Description
Provide a short description of your problem here.
The pre-built binaries provided by crew for `binutils` does not work, the command `readelf` gives an error and complains about missing shared object files.
If you executed a specific command:
[code]

Output:
[code]

## Versions and system information
chromebrew: `crew --version`
1.9.6
ChromeOS: `cat /etc/lsb-release`
CHROMEOS_ARC_AND

[2021-05-12 20:25] satmandu commented on #5764
I'm coming around to that view... let me see what I can do about moving preflight around... I think that might be the simpler way to go.

[2021-05-12 21:56] satmandu commented on #5768
That missing library is in elfutils. You could also try reinstalling those with `crew update ; crew reinstall elfutils  binutils`

[2021-05-12 21:57] satmandu commented on #5764
Addressed by https://github.com/skycocker/chromebrew/pull/5767

[2021-05-12 21:57] #5764 closed

[2021-05-12 21:58] satmandu commented on #5676
Addressed by https://github.com/skycocker/chromebrew/pull/5665

[2021-05-12 21:58] #5676 closed

[2021-05-12 22:00] satmandu commented on #5637
[code]

[2021-05-12 22:18] uberhacker commented on #5637
Looks like a good candidate to put in the tests folder.

[2021-05-12 23:16] heavygabriel commented on #5768
@satmandu: Good catch! seems like the correct step is to update dependencies for binutils then?

[2021-05-12 23:21] satmandu commented on #5637
Or maybe tools?

[2021-05-12 23:23] heavygabriel commented on #5736
I can confirm that #5665 and #5767 has fixed ninja.

[2021-05-12 23:23] #5736 closed

[2021-05-12 23:24] uberhacker commented on #5637
Yes, you could add a script to test/check in tests and a script to fix in tools.

[2021-05-13 00:11] satmandu commented on #5766
If you want to mess around and try to contribute a package... Minecraft isn't free software, so we couldn't store binary packages, but you could create a package file would work like an install script.

[2021-05-13 00:46] #5759 closed

[2021-05-13 01:48] heavygabriel commented on #5737
So, I did a little research and from this [thread](https://stackoverflow.com/questions/2584198/undefined-symbol-pyunicodeucs2-decode-whilst-trying-to-install-psycopg2), it looks like gcc needs python3 to be built with `--enable-unicode=ucs4`.

[2021-05-13 02:08] heavygabriel commented on #5398
I cannot compile gcc on am/aarch64
[code]
cc: @satmandu

[2021-05-13 02:17] satmandu commented on #5737
There's the opposite suggestion further down the thread though... https://stackoverflow.com/a/62811981

[2021-05-13 02:21] #5768 closed

[2021-05-13 03:45] satmandu commented on #5398
@heavygabriel This is a known issue.  @saltedcoffii any ideas?

[2021-05-13 03:53] saltedcoffii commented on #5398
Sorry, I have nothing from just looking at it. We need to fix glibc though, I think I know how to do that'

[2021-05-13 05:43] uberhacker opened #5771 "[gcc11] Unable to upgrade"
[code]

[2021-05-13 12:38] satmandu commented on #5771
I'm seeing this.
[code]

But I don't have real hardware. Is there a debug option for ruby?

[2021-05-13 15:49] uberhacker commented on #5771
Actually, `crew upgrade gcc11` should be the proper way to upgrade.  Not sure how to debug ruby other that putting p statements in key locations.

[2021-05-13 16:12] satmandu commented on #5398
Also, looks like glibc 2.32 is incoming: https://groups.google.com/a/chromium.org/g/chromium-os-dev/c/WUnFZJXP2fU

Here are the relevant gentoo ebuild files and patches:

https://chromium-review.googlesource.com/c/chromiumos/overlays/chromiumos-overlay/+/2690462

[2021-05-13 20:50] satmandu commented on #5771
Agreed on that being the best way to upgrade... but note that's a common code block for gcc10 and gcc11 so you can crossgrade... (up or down).

[2021-05-13 23:24] heavygabriel commented on #5398
So, I found the problem (atleast, on my end) for why glibc fails to build.
My kernel is 64-bit arm but my userland is 32-bit, glibc disregards that and tries to build itself for `aarch64` instead of `arm7vl`.
Solution: get the system default GCC's target architecture and append the target arch to ./configure --build --target --host.
Explanation:
Here is the output of `uname -m`: `aarch64`
Here is

[2021-05-14 00:12] satmandu commented on #5398
If you run `crew const` you'll see the build variables we tend to set these days does add those.

Are you able to get `glibc` fully built with those changes?

[2021-05-14 17:09] heavygabriel opened #5773 "Package gdk_pixbuf has circular dependencies"
## Description
The package `gdk_pixbuf` has circular dependencies because it requires the package `gtk3` and `gtk4`.
`gtk3` and `gtk4` requires gdk_pixbuf to be installed, making it impossible to install `gdk_pixbuf` with `gtk3` and `gtk4` as dependencies.
If you executed a specific command:
[code]

Output:
[code]

## Versions and system information
chromebrew:
1.9.8

ChromeOS:
CHROMEOS_ARC_ANDROI

[2021-05-14 17:22] QueenPew opened #5774 "The "Architecture" section of chromebrew's issue template does not give the true architecture of the system."
## Description
Some Chromebooks (such as mine) have a 64-bit kernel with a 32-bit userland (the packages are 32-bits). This makes `uname -m` inaccurate since it only gives the architecture of the system.
For example, here's the output of `uname -m`
[code]
Now, if we get the LONG_BIT (the value that reports the maximum value of a bit) variable for my system and/or the file type of `/sbin/init`, we'

[2021-05-14 18:29] heavygabriel commented on #5774
Also, `crew const` returns `uname -m`(post above explains why `uname -m` is not a good idea for some systems)  instead of the userland architecture for the `ARCH` const.

[2021-05-14 19:01] uberhacker commented on #5774
@heavygabriel: It's well known that aarch64 Chromebooks use a 32-bit userland.  In fact, the Google team working on Chrome OS has not spent enough time and effort yet to integrate a 64-bit userland.  There is a lot of talk but not much action so far probably because the task is too daunting. :)

[2021-05-15 01:24] clipcarl opened #5777 "Chromebrew sets and relies on LD_LIBRARY_PATH which breaks some system binaries"
## Description and Analysis
The chromebrew binaries use some chromebrew-shipped libraries stored in /usr/local/lib64. In order for them to find their libraries chromebrew adds an **LD_LIBRARY_PATH** environment variable with just this path. This is bad because when the run-time dynamic linker sees that variable its contents override / take precedence over the system's previously configured library

[2021-05-15 02:10] uberhacker commented on #5777
@clipcarl: Thank you for the detailed issue and analysis.  I don't think Chromebrew sets `LD_LIBRARY_PATH` (or at least it shouldn't set it).  That is done by Chrom(e/ium)OS out-of-the-box on most (if not all) Chromebooks.  That said, we only officially support the stable channel and I noticed you were on the beta channel.  You definitely have some great points but I think we could probably figure

[2021-05-15 02:32] clipcarl commented on #5777
Hi @uberhacker,

You are correct: I see now that it looks like **LD_LIBRARY_PATH** is being set by the dev-mode setup. However chromebrew is taking advantage of it by putting its libraries in `/usr/local/lib64` and that's causes the problem I'm seeing. I would consider this to be a mistake by Google but they may consider this to be what Chrome OS developers really want. At any rate it breaks runni

[2021-05-15 03:01] clipcarl commented on #5777
Giving it some more thought I suspect that reason the Chrome OS developers set LD_LIBRARY_PATH that way in dev mode is to allow actual Chrome OS developers to override the Chrome OS shipped version of libraries with development versions that for instance may have more debugging or instrumentation. So the behavior I'm seeing that these libraries are overriding the system libraries would be exactly

[2021-05-15 03:39] satmandu commented on #5777
Maybe some of this reevaluation could be part of rebuilds for the upcoming glibc 2.32, as I'm pretty sure that's going to be a breaking change. (And @uberhacker as per earlier discussion, if we're going to be messing with setting library paths, maybe we could just shift to using lib for x86_64 like for all other architectures since we're not doing multilib.)

[2021-05-15 04:08] clipcarl commented on #5777
Is the enhancement label appropriate? This is causing broken behavior of system supplied binaries so to me this is a bug!

[2021-05-15 12:57] #5465 closed

[2021-05-15 13:00] heavygabriel commented on #5398
@uberhacker: Nope, glibc still fails with no cause of error.
I still got decently farther though.

[2021-05-15 14:57] satmandu commented on #5774
@heavygabriel What does `uname -a` give you on your machine?

If you look [here](https://www.chromium.org/chromium-os/developer-information-for-chrome-os-devices) you will notice that for the arm based machines, the `Kernel ABI` tends to be `aarch64` but as of yet for all of those machines, none are on a `User ABI` of `aarch64`, instead sticking to `armv7l` (well, with hard float).

This is of cou

[2021-05-15 15:01] satmandu commented on #5774
(The big issue though is that even though you have a 64-bit kernel, you are invoking Chromebrew from the ChromeOS armv7l userland, and I don't think you can invoke aarch64 apps from an armv7l userland.)

[2021-05-15 17:22] satmandu commented on #5773
Replacing the postinstall sections of `gtk3` and `gtk4` with this should address this issue:

[code]

[2021-05-15 18:43] heavygabriel commented on #5774
[code]

You are correct @satmandu, aarch64 apps can't run on an armhf/armv7l userland. Also, you cannot build aarch64 apps on an armhf/armv7l compiler (the joys of kernel autodetect!) (this is an issue because some packages will detect an aarch64 kernel, try to build an aarch64 version but fail because GCC's armhf version has different functions than the aarch64 one, resulting in weird weird weird

[2021-05-16 01:02] gitbucket-crypto opened #5783 "Apache Httpd"
Guys I have installed chromebrew  and i made crew search apache, return with lot options but how to install that option Apache HTTP :

httpd: The Apache HTTP Server Project is an effort to develop and maintain an open-source HTTP server for modern operating systems including UNIX and Windows.
maven: Apache Maven is a software project management and comprehension tool.
netbeans: Apache NetBeans IDE

[2021-05-16 01:55] uberhacker commented on #5783
Did you try `crew install httpd` yet?

[2021-05-16 17:36] #5773 closed

[2021-05-17 05:47] clipcarl commented on #5777
More information:

Just changing the library search path order to prioritize the system libraries doesn't work because many of the chromebrew installed apps require the version of the libraries installed with chromebrew.

[code]

So
- If the chromebrew libraries are prioritized (the default right now with only `/usr/local/lib64` in **LD_LIBRARY_PATH**) it breaks system binaries.
- If the system li

[2021-05-17 06:24] #5737 closed

[2021-05-17 12:39] satmandu commented on #5737
@heavygabriel You should be able to do  a `crew update && crew upgrade gdb` to get `gdb` working.

[2021-05-17 18:29] ThatGeekyWeeb opened #5791 "libicu18n.so.68: cannot open shared object file: no such file or directory"
this error was reported to the discord server. I don't know the back story and can't test what went wrong exactly since I don't have a chrome device anymore, but I'm sure there was recently an update for curl that broke it again....
![image](https://user-images.githubusercontent.com/59572686/118538346-9542c080-b73d-11eb-8fbb-796083720cd0.png)

[2021-05-17 18:32] uberhacker commented on #5791
@ThatGeekyWeeb: We'll need more info.  Output of `/etc/lsb-release`, `arch` and Chromebook make and model if applicable.

[2021-05-17 18:34] uberhacker commented on #5791
My first thought was did they run `rm -rf /usr/local` prior?

[2021-05-17 18:38] ThatGeekyWeeb commented on #5791
Will keep chatting with them, waiting for a response ^^

[2021-05-17 18:53] ThatGeekyWeeb commented on #5791
![image](https://user-images.githubusercontent.com/59572686/118540730-611ccf00-b740-11eb-8ada-f8094d8bc395.png)
they are also on `x86_64`, I think they were trying to chromebrew ontop of brunch-toolchain, which may be the issue, waiting for them to reinstall after wiping `/usr/local`, but I think the install script should automatically do that...

[2021-05-17 18:55] ThatGeekyWeeb commented on #5791
we have a new problem now, @uberhacker
![image](https://user-images.githubusercontent.com/59572686/118541630-734b3d00-b741-11eb-97f5-d6d5c3b63eed.png)

[2021-05-17 19:27] uberhacker commented on #5791
What is the output of `echo $LD_LIBRARY_PATH`?

[2021-05-17 19:29] uberhacker commented on #5791
We don't want to add `rm -rf /usr/local` to the script because someone may have chroots or other mounts there.  I also don't want to encourage users to run this blindly.

[2021-05-17 19:44] stem2580 commented on #5791
hi, i'm the one with the problem and this is the output
![image](https://user-images.githubusercontent.com/37732484/118547041-ba8cfa00-b750-11eb-95f8-27e82cbc98e6.png)

[2021-05-17 19:49] uberhacker commented on #5791
@stem2580: Try this:
[code]
Do not use sudo.

[2021-05-17 19:52] stem2580 commented on #5791
just as a confirmation
`rm -rf /usr/local` or `rm -rf /usr/local/*`

[2021-05-17 19:53] uberhacker commented on #5791
Don't use `*` because that does not remove hidden files.

[2021-05-17 19:54] stem2580 commented on #5791
`chronos@localhost ~/Downloads $ rm -rf /usr/local/
rm: cannot remove '/usr/local/': Permission denied
chronos@localhost ~/Downloads $ sudo rm -rf /usr/local/
rm: cannot remove '/usr/local/': Device or resource busy`

[2021-05-17 19:55] uberhacker commented on #5791
Don't worry about that error.  `/usr/local` is read-only and the goal here is just to clear about everything below that directory.

[2021-05-17 20:10] stem2580 commented on #5791
well it's still running, how long would it take ?

[2021-05-17 20:12] uberhacker commented on #5791
My guess is 5 to 10 minutes depending on the speed of your Chromebook.

[2021-05-17 20:14] uberhacker commented on #5791
If you answered yes to the development tools prompt, it could take over 20 minutes.

[2021-05-17 20:20] stem2580 commented on #5791
ok i guess setting that `export LD_LIBRARY_PATH=/usr/local/lib64` fixed it
![image](https://user-images.githubusercontent.com/37732484/118551096-6c2e2a00-b755-11eb-871b-48154cdbc736.png)
tysm @uberhacker 😘

[2021-05-17 20:25] uberhacker commented on #5791
Sure thing.  You might want to add `export LD_LIBRARY_PATH=/usr/local/lib64` to your `~/.bashrc`.

[2021-05-17 20:31] stem2580 commented on #5791
ok `echo "export LD_LIBRARY_PATH=/usr/local/lib64" >> ~/.bashrc` should do it

[2021-05-18 10:08] clipcarl commented on #5777
Attached is a script as a proof of concept to fix this issue. It fixes an installed chromebrew instance by moving its libraries out of `/usr/local/lib64` and into a new directory at `/usr/local/chromebrew/lib64`. The script also modifies all of the chromebrew installed binaries and libraries to search this new directory for libraries. With the chromebrew libraries out of the way the Chrome OS supp

[2021-05-18 18:57] satmandu commented on #5777
Very interesting work. Thanks for this!

So you're manually setting the `RPATH` for all of these binaries, instead of using `LD_LIBRARY_PATH`. That's an interesting idea. (Is that what NixOS does?)

However, one does need to have a `LIBRARY_PATH` and `LD_LIBRARY_PATH` for installs, no, so shared libraries can be found? You'd be shocked at how many software builds just break if libraries aren't in

[2021-05-18 22:15] clipcarl commented on #5777
Yes, I'm manually setting the binary's `RPATH`. Actually it's the `RUNPATH` which is slightly different. The runtime `LD_LIBRARY_PATH` variable can override `RUNPATH` but it cannot override `RPATH`. These days `RUNPATH` is preferred and makes sense for developer's that may wish to override the built in defaults for testing. I'm not familiar with NixOS so I don't know what that does.

When I though

[2021-05-19 17:09] #5791 closed

[2021-05-20 13:14] #5783 closed

[2021-05-20 13:15] #5646 closed

[2021-05-23 22:01] brunnels commented on #5400
This is still a problem and impacts flatpak installed apps too.  The remount resolves it until logout/reboot.

[2021-05-24 01:43] saltedcoffii commented on #5400
maybe we could add a remount to crew_profile_base along with mounting `~` as `exec` as well to make things like Minecraft work.

[2021-05-24 01:44] satmandu commented on #5400
Not remounting at all would be ideal...

[2021-05-24 05:00] uberhacker opened #5806 "crew build pixz compression not working"
crew build only works on x86_64.
[code]

[2021-05-24 09:51] brunnels commented on #5400
I think @supechicken had it figured out

[2021-05-24 11:25] GitHubDragonFly opened #5807 "Python3 and tkinter + mono-vbnc questions"
## Before you submit an issue
Please look up our issues, maybe your problem was mentioned before.

## Description
Provide a short description of your problem here.
- Missing module _tkinter + mono cannot run VB app

## Versions and system information
chromebrew: `crew --version`
1.10.5

ChromeOS: `cat /etc/lsb-release`
Chromium OS - CloudReady v89.4.0

Model: YOUR MODEL HERE
HP Compaq Presario C70

[2021-05-24 11:59] satmandu commented on #5806
I've been building pixz archives on i686 and armv7l.

Is pixz installed?

[2021-05-24 13:33] satmandu commented on #5806
What does `pixz -v` give you?

[2021-05-24 13:34] satmandu commented on #5806
Actually, this could also be a memory issue on those architectures. Are you compressing a large package?

[2021-05-24 13:53] satmandu commented on #5807
I believe the rationale for leaving out tcl/tk was to reduce the size of python as a core package, since that also removes the requirement for installing tcl/tk.

Note also that we use the `-Wl,-rpath,-L#{CREW_LIB_PREFIX}` bit in the package file to find the libraries in lib64.

You could uncomment the two depends lines and then do a `crew reinstall -s python3` and see if that fixes your issue too

[2021-05-24 13:53] satmandu commented on #5807
(if that does, let us know and we can talk about making that the default again.)

[2021-05-24 15:29] uberhacker commented on #5806
These were jdk8 binaries so yes, they were large(r than most other package binaries).  FWIW, I don't have the same issue with .tar.xz archives.  What is the rationale for using .pixz over .xz?  Could .lz be another option?

[2021-05-24 16:13] satmandu commented on #5806
Rationale is to easily extract files without downloading entire package. Should save download time at install once I get the partial install stuff working in crew. (Probably not needed for java.)

Primarily useful for packages which need just need some libraries installed from other (large)packages as dependencies.

[2021-05-24 16:15] satmandu commented on #5806
GCC & LLVM are the large packages here which matter.... But those are built on (relatively) beefy machines with tons of ram, so that avoids this compression with low ram problem.

But maybe it might also be easier not to build the larger packages on i686 and armv7l?

[2021-05-24 17:04] saltedcoffii commented on #5807
When adding TK into Python's core packages, it creates the IDLE3 IDE which requires X or Wayland support. Which means that core would require all of those deps as well.

[2021-05-24 21:11] GitHubDragonFly commented on #5807
Your usage of the word "core" somehow indicates using the crew on devices with limited storage.

Leaving tcl/tk out and offering them separately doesn't make much sense since the crew installation of python3 doesn't use them after they are installed as separate packages.

What would make sense to me is installing python3 with all the options in a single step, meaning to include tcl/tk and idle3 an

[2021-05-24 21:11] #5807 closed

[2021-05-24 21:27] uberhacker commented on #5807
@GitHubDragonFly: We cannot assume everyone wants or needs X or Wayland support with python.  Some may only want to use the basic python.  That said, installing X packages does require many packages and an excessive amount of disk space.  Since python is a core package, adding all this extra bloat would make for long installs and make it impossible to install on devices with limited storage.

[2021-05-24 21:46] GitHubDragonFly commented on #5807
The sole reason for my suggesting an additional optional python3-full.rb package, so those who have enough storage can try it.

Your comment still doesn't explain why separate tcl/tk packages exist when they are not usable with the core installation of python3 (at least I couldn't make it work out of the box).

As stated, I am only experimenting with these so debating any of it is just pointless.

[2021-05-25 18:12] QueenPew opened #5811 "The chromebrew installer does not calculate build dependencies when it finds no precompiled binaries"
## Description
When installing chromebrew, the installer script does not check for build dependencies when finding no precompiled binaries for that packages, this immediately fails on a "normal" installation.
[code]

Output:
[code]

## Versions and system information
ChromeOS:
CHROMEOS_ARC_ANDROID_SDK_VERSION=28
CHROMEOS_ARC_VERSION=7358984
CHROMEOS_AUSERVER=https://tools.google.com/service/update

[2021-05-25 22:46] saltedcoffii opened #5812 "flatpak command is broken in some cases"
When running `flatpak` with some commands, the wrapper script breaks flatpak. Most of the instances where flatpak is broken involves informational commands.

Reproduction:
Install flatpak with chromebrew.
Run any of the following commands:
`flatpak`
`flatpak --help`
`flatpak ps`
`flatpak kill <program>`

This can be fixed temporarily by specifying the full name of the actual flatpak binary, e.g.:

[2021-05-26 03:37] satmandu commented on #5811
There are glibc binaries available for `armv7l`  using logic predicated upon matching the glibc version on the target system... but that only works for glibc version 2.27 for `armv7l`. Your system is on dev channel M92, which may have moved to glibc 2.32 as per https://groups.google.com/a/chromium.org/g/chromium-os-dev/c/WUnFZJXP2fU ...

so we will need to update this package for chromebrew to wor

[2021-05-26 03:45] uberhacker commented on #5811
Also, as stated in README.md:
[code]
In other words, we only support the stable channel.

[2021-05-26 23:02] heavygabriel commented on #5811
oh, I have completely forgot that I'm on the developper channel!
Should I close this thread as I'm on an unsupported channel?

[2021-05-26 23:17] satmandu commented on #5811
@heavygabriel Would you be so kind as to run `ls /lib/ld*` and tell us what you get?

I'm assuming that M92 has glibc 2.32, but I just want a confirmation...

[2021-05-27 12:20] heavygabriel commented on #5811
@satmandu
[code]
I can confirm that M92 has glibc 2.32.

[2021-05-27 15:18] satmandu commented on #5811
Fantastic. Any chance I can get you to dump one of the ROOT partitions so we can use it to try to get some test builds running? (I don't have arm64 ChromeOS hardware, so I use recovery images anyways to build, but recovery images are only available publicly for Stable builds.

[2021-05-27 15:20] satmandu commented on #5811
@heavygabriel Instructions would basically be here: https://github.com/skycocker/chromebrew/issues/5443#issuecomment-819672073

[2021-05-27 15:21] satmandu commented on #5811
I should be able to get the ROOTFS for M92 for x86_64 next week or so when that hits Beta channel.

[2021-05-27 18:21] heavygabriel commented on #5811
@satmandu: You could also build a ChromiumOS image(arm64...) and extract the ROOT partition from it.

[2021-05-27 18:29] #5766 closed

[2021-05-27 21:35] heavygabriel commented on #5513
@uberhacker @satmandu can we close this thread per #5768 ?

[2021-05-28 00:34] #5513 closed

[2021-05-28 00:56] heavygabriel commented on #2785
@uberhacker: I think that this thread should be closed since VLC is available with flatpak.

[2021-05-28 00:59] uberhacker commented on #2785
Does it work with flatpak?

[2021-05-28 00:59] #2785 closed

[2021-05-28 01:15] heavygabriel commented on #3855
Any ETA? ChromeOS/ChromiumOS is planning to remove python2.7 from its images per "/home/$USER/.vpython-root/cd913e/bin/python: warning: Python 2.7 is deprecated and will be removed from CrOS by end of 2021. All users must migrate ASAP."
cc: @uberhacker

[2021-05-28 01:23] uberhacker commented on #3855
We have another 6 months.

[2021-05-28 03:14] satmandu commented on #5811
@heavygabriel Not ROOT, sorry. I meant  one of the two Read Only RootFS partitions, specifically Partition 3, which is RootFS A.

(User info is stored in the separate "stateful partition") See https://www.chromium.org/chromium-os/chromiumos-design-docs/disk-format

This of course assumes that you haven't turned off RootFS verification and made it read/write.

But no worries if you're not comfortab

[2021-05-28 13:14] heavygabriel commented on #5811
@satmandu: Here's a ChromiumOS arm64 RootFS partition: https://drive.google.com/file/d/1KusVNEo7NNpI3m6obsvOmU1YU8wn2N2P/view?usp=sharing
(There's instructions on how to build ChromiumOS [here](https://chromium.googlesource.com/chromiumos/docs/+/main/developer_guide.md)

[2021-05-28 13:16] satmandu commented on #5811
Is that from your machine? (I need a M92 RootFS to test with glibc 2.32. I already have a M90 Arm64 RootFS.)

[2021-05-28 13:17] heavygabriel commented on #5811
No, but it's a canary/dev ChromiumOS arm64 RootFS partition. Should be good enough.

[2021-05-28 15:51] saltedcoffii opened #5820 "e2fsprogs conflicts with krb5"
Building e2fsprogs from the source with krb5 installed results in this error:
[code]

[2021-05-28 18:59] uberhacker opened #5821 "crew list available|compatible lists all packages including incompatible"
I see red files with both `crew list available` and `crew list compatible`.  The expectation is both commands should show only packages that can be installed.

[2021-05-29 01:10] satmandu commented on #5811
Hmm... This is what I see @uberhacker
[M93du.aarch64.txt](https://github.com/skycocker/chromebrew/files/6563842/M93du.aarch64.txt)

It looks like there's some version of an aarch64 userspace for a change, but I'm not seeing `/bin/bash` in this dump.

@heavygabriel Can you tell me what `mount` gives you?

Also I need what `which bash` gives you.

[2021-05-29 01:15] uberhacker commented on #5811
There's that lovely lib64 directory I see.

[2021-05-29 01:46] uberhacker commented on #5820
Since krb5 is a core package, probably the best solution is to remove the conflict from e2fsprogs.

[2021-05-29 14:09] #5821 closed

[2021-05-30 04:17] heavygabriel commented on #5811
@satmandu: From what I've seen, that arm64 thing is non-standard, every ChromeOS build uses armhf instead of arm64.
Also, I've fixed my builds
[Here is an armhf ROOT partition](https://drive.google.com/file/d/1KusVNEo7NNpI3m6obsvOmU1YU8wn2N2P/view?usp=sharing)  and [here is an arm64 ROOT partition](https://drive.google.com/file/d/1AYu3UKPJHm4t6oJm5EbY0Z_imG_Tu2RW/view?usp=sharing) (You might ask "

[2021-05-30 12:11] blinderjay opened #5824 "fail to run android studio"
## Description
Android Studio failed to run neither via crew or official website

If you executed a specific command:
[code]

Output:
[code]

## Versions and system information
chromebrew: 1.10.8

ChromeOS: `cat /etc/lsb-release`
[code]

Model: PixelSlate

Architecture: `x86_64 m3`

## Additional information

[2021-05-30 18:42] uberhacker commented on #5824
Is sommelier running?  `ps ax|grep sommelier`

[2021-05-31 02:55] satmandu commented on #5824
Hello fellow Pixel Slate user. It's nice to see the other one of us on here. :)

Try running `restartsommelier` before running `studio`...

and please make sure you've run `crew update` too.

[2021-05-31 15:05] vincowl opened #5826 "Fresh install : multiple error "too many levels of symbolic links""
On a fresh install on a x86_64 machine (chromeOS 90.0.4430.218), I am facing multiple errors each time a symbolic link is involved (installation of yarn modules, simple ls commans, ...).

Even if I run :
[code]

Thus, my chromebrew install is totally useless.... Any hints to solve this ? There is absolutely no loop or reference to itself in the example above which is normaly what this error implie

[2021-05-31 15:08] vincowl commented on #5826
`cat foo/login` fails with the same error while `cat ~/login-times` works perfectly.... So strange...

Already tried to wipe the whole chromebook and reinstall

[2021-05-31 17:55] uberhacker commented on #5826
@vincowl: Release 90 has symlink nofollow enabled in the `$HOME` directory.  My guess is you have something configured in your `~/.bashrc` that triggers this issue.  [This comment](https://github.com/skycocker/chromebrew/issues/5681#issuecomment-826007026) may be helpful.

[2021-05-31 20:33] vincowl commented on #5826
Alas this occurs even before chromebrew installation and .bashrc is empty. I'm going to try to install chromebrew and see if it solves this

[2021-05-31 20:58] vincowl commented on #5826
So.... still the same problem... modifying the PATH envvar didn't change anything..... Note that I had to manually add the line to the .bashrc file....

[2021-05-31 21:06] uberhacker commented on #5826
There might be something else doing it.  What is the output of `echo $PATH`?

[2021-05-31 21:19] uberhacker opened #5827 "[filecmd] Missing libmagic.so.1 shared library"
[code]

[2021-05-31 21:25] uberhacker opened #5828 "[ant] Environment error"
[code]

[2021-05-31 21:25] vincowl commented on #5826
[code]

[2021-05-31 21:34] uberhacker commented on #5826
What happens if you move the first path to the end? `export PATH=/usr/bin:/bin:/opt/bin:/usr/local/bin`

[2021-05-31 21:36] vincowl commented on #5826
Exactly the same. I already tried using the `ls` command from `/bin/ls` and `/usr/local/bin/ls` without success...

[2021-05-31 21:43] uberhacker commented on #5826
Do you have the lines below in your `~/.bashrc`?

[2021-05-31 21:44] vincowl commented on #5826
Yes, it's at the top of the file

[2021-05-31 21:45] uberhacker commented on #5826
Try commenting `source /usr/local/etc/profile`.

[2021-05-31 21:46] vincowl commented on #5826
stil the same...

[2021-05-31 21:48] uberhacker commented on #5826
Did you run `source ~/.bashrc`?

[2021-05-31 21:50] vincowl commented on #5826
Yep... I opened a new terminal which sources ~/.bashrc
Note that this problem occurs even if chromebrew is not installed. Installing it didn't change anything at all

[2021-05-31 22:02] uberhacker commented on #5826
Well, that is interesting.  The latest release 90 stable update must have locked it down even further.

[2021-05-31 22:16] vincowl commented on #5826
That implies that we probably have to store our apps config files in /usr/local instead of the user's home, which is a pain in the ass when we have several user accounts on the chromebook.

[2021-05-31 22:17] vincowl opened #5829 "error while loading shared libraries: libjpeg.so.8"
This `error while loading shared libraries: libjpeg.so.8` occurs with at least `filezilla`, `gemacs` and `gimp` packages

[2021-05-31 22:33] vincowl commented on #5826
Well... That's unbearable.... Even vim's plugin (coc.nvim) cannot install its modules...Chromebrew becomes totally unusable to me... Does anybody face the same trouble ? I am running a Cave chromebook (asus C302CA)

[2021-05-31 23:13] vincowl commented on #5829
Rebooting and restarting just solved the problem. Sorry for that.

[2021-05-31 23:13] #5829 closed

[2021-06-01 04:10] satmandu commented on #5826
With the nosymfollow stuff in M90 I suspect that multiuser usage on the same device is just utterly broken.

[2021-06-01 15:00] #5827 closed

[2021-06-01 15:01] satmandu commented on #5828
This must have been some weird build error. `crew reinstall -s ant` fixes this, so this just needs a rebuild.

[2021-06-01 15:30] #5828 closed

[2021-06-01 19:11] satmandu commented on #5820
Looking at other packages elsewhere it probably makes sense to make e2fsprogs core, and modify krb5 NOT to create these conflicts.

See https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=krb5-git and also https://github.com/archlinux/svntogit-packages/blob/packages/e2fsprogs/trunk/PKGBUILD

[2021-06-01 21:01] satmandu commented on #5820
Have some updates in progress to handle this. krb5 needs a reinstall after e2fsprogs is built, since the dependency is now reversed...

This also may need updated brotli & curl...

[2021-06-02 00:04] blinderjay commented on #5824
Although haven't figured out the problem, I solved this problem along with vscodium

## by start another sommelier daemon：
[code]
android-studio will always succeed to run in this way, and then exec `pgrep -f "sommelier"` , or  start a new shell from crosh, two PID will return.

---------
## `source ~/.sommelier*`
this wiil take effect sometimes, thats confusing...

[2021-06-02 00:04] #5824 closed

[2021-06-04 12:23] superloach opened #5839 "Use GitHub archive for installer script?"
I've noticed the installer script spends a lot of time `curl`ing individual package files to fetch them.

Wouldn't it be easier to fetch the latest packaged `unzip` and simply extract the [current master archive](https://github.com/skycocker/chromebrew/archive/refs/heads/master.zip)?

[2021-06-04 12:29] satmandu commented on #5839
Do you want to try it and compare times?

(We could also just use git, since we now have a static git binary...)

[2021-06-04 12:31] superloach commented on #5839
If we have a static git binary, that's even more straightforward. I haven't had time to experiment with rewriting the installer script yet, but I may try it later.

[2021-06-05 00:32] superloach commented on #5839
Much better idea - use the [gzipped archive](https://github.com/skycocker/chromebrew/archive/refs/heads/master.tar.gz) and just use `tar`, avoiding `unzip` entirely!

[2021-06-05 08:12] #5124 closed

[2021-06-05 11:21] superloach opened #5840 "openldap and libcurl version mismatch?"
`libcurl` seems to be looking for `libldap-2.5`, when `openldap` is providing `libldap-2.4`.

[code]

edit: same is true of `liblber`, which is in `openldap`

edit: looks like the stable version ([`openldap` 2.5.4](https://git.openldap.org/openldap/openldap/-/tags/OPENLDAP_REL_ENG_2_5_4)) released about a month ago, so we could potentially update the `openldap` package?

[2021-06-06 03:39] satmandu commented on #5840
I've got an [update incoming for these](https://github.com/skycocker/chromebrew/pull/5837), with the new openldap too.

Currently rebuilding libcurl as a dedicated package built with the new openldap. (curl is split out as a static binary.)

[2021-06-06 03:41] satmandu commented on #5840
[code]

[2021-06-06 03:44] satmandu commented on #5840
[code]

[2021-06-06 07:46] uberhacker opened #5841 "[curl] Unable to install/build from source"
[code]
Things I tried:
- crew reinstall gcc11
- crew reinstall llvm

Also cannot compile php any version `--with-curl` enabled.  Looks like we need the libcurl shared libraries.

[2021-06-06 12:35] superloach commented on #5841
What is the contents of `config.log`? It should tell you what error occurred while trying to produce an executable.

[2021-06-06 14:09] satmandu commented on #5841
Just added a split curl/libcurl package to my static branch (in the PR too.)

You need rebuilt openssl for it.

If you update to that PR, you should be able to rebuild curl.

[2021-06-06 14:16] satmandu commented on #5841
If any of you would consider trying this and then seeing if the rebuilds work:

[code]

[2021-06-07 00:18] uberhacker opened #5842 "Fresh install fails"
[code]
Looks like a curl dependency is missing and curl is not fully static.

[2021-06-07 02:30] satmandu commented on #5842
I think this is now fixed. I redid the curl build to exclude libssh, which is giving problems.

[2021-06-07 14:02] exoad commented on #5842
I tried deleting Crew with `sudo rm -r /usr/local/*` then rerunning the install command, the error still persists.

[2021-06-07 14:15] #5840 closed

[2021-06-07 14:47] uberhacker commented on #5842
@satmandu: The install is still broken.  I'm going to mark this high priority.  Did you fix in a pending PR?  If so, that doesn't help until it gets merged into master. :)

[2021-06-07 15:31] uberhacker opened #5845 "crew update no longer works"
[code]
As you can see, openldap was not updated to version 2.5.5.  The message below might be a clue:
[code]

[2021-06-07 16:39] satmandu commented on #5845
This is from a broken git built with a libcurl which didn't have https support.

`/usr/local/libexec/git-core/git-remote-https` is where that command is.

[2021-06-07 17:26] satmandu commented on #5842
I meant fixed in a PR... :/

Now testing install.sh...

[2021-06-08 01:54] satmandu commented on #5839
@superloach We now have static binaries of curl, git, and pixz, so we should be able to dramatically lower the number of package files downloaded to just the prereqs for ruby. That should speed things up.

If you want to take a swing at it. :)

[2021-06-08 01:57] satmandu commented on #5398
@heavygabriel I have glibc 2.32 working on x86_64.

Obviously, aarch64 is a more complicated issue, but if you have a more recent RootFS for your device, it would help to figure out where things are headed with `armv7l` and `aarch64`.

[2021-06-08 05:33] uberhacker commented on #5842
git is still broken on i686:
[code]

[2021-06-08 16:36] satmandu commented on #5842
Also issues on x86_64 with segfaults... :/

[2021-06-09 22:01] #5845 closed

[2021-06-11 05:35] ilia3101 opened #5864 "Chromeos' vmc command broken after installing chromebrew"
Used to run the following to fix linux issues:
[code]
It would run for a few seconds and enter some shell I would then exit.

Now it does nothing and just prints this:
[code]

What has chromebrew changed in the system to make this happen and how can I undo it? Also I now have to enter my password to enter 'shell' from crosh. How can I undo all of this?

[2021-06-11 05:43] uberhacker commented on #5864
@ilia3101: Can you please provide more info?  What is the output of `cat /etc/lsb-release` and `arch`?  If you are already on the stable channel, you might try a powerwash, although you will have to reinstall chromebrew afterwards.

[2021-06-11 10:11] satmandu commented on #5864
What does `crew list installed` give you?

[2021-06-11 10:15] satmandu commented on #5864
You can remove the dev mode password with `rm /mnt/stateful_partition/etc/devmode.passwd` which is set inside `/usr/sbin/chromeos-setdevpasswd`...

[2021-06-11 10:16] satmandu commented on #5864
Also the DBUS variable is probably set inside `/usr/local/etc/env.d/` so you can grep for `DBUS` there to see what is setting it and comment that out.

[2021-06-11 10:20] satmandu commented on #5864
a `vmc` wrapper script to unset that appropriately might fix this too for you.

Also check `~/.bashrc`  and `~/.profile` and so on to see if anything DBUS is being set there...

[2021-06-11 14:51] satmandu opened #5865 "crew should check on update to see if there are uninstalled packages in core."
- Since `install.sh` is installing `core`, we should make sure that any changes to core are reflected later too in the installation state.

[2021-06-11 15:07] uberhacker commented on #5865
That's why we have `crew update`.  An install is (or should be) in an initial state so there will be no updates unless I'm missing something.

[2021-06-11 16:23] satmandu commented on #5865
What I mean is that crew update should also compare the list of packages in core with those in installed_packages, and offer to install packages newly listed in core.

I don't believe crew does that at the moment.

[2021-06-11 16:23] satmandu commented on #5865
What I mean is that crew update should also compare the list of packages in core with those in installed_packages, and offer to install packages newly listed in core.

I don't believe crew does that at the moment.

[2021-06-11 16:23] satmandu commented on #5865
What I mean is that crew update should also compare the list of packages in
core with those in installed_packages, and offer to install packages newly
listed in core.

I don't believe crew does that at the moment.

On Fri, Jun 11, 2021, 11:08 AM Ed Reel ***@***.***> wrote:

[2021-06-11 18:57] uberhacker commented on #5865
Oh, I think I understand now.

[2021-06-11 19:50] satmandu commented on #5865
I think the easiest way to do this would be to just make `core` a metapackage like `buildessential`, no?

Otherwise, we need to rearchitect `crew` to read a file from the utils folder, and the utils folder is only synced to new installs anyways.

I'm perfectly happy taking out the pretty core logic in `install.sh` to make it simpler. :)

[2021-06-11 20:07] uberhacker commented on #5865
I like the idea.  It makes a lot of sense.  What would happen if somebody uninstalled the fake core metapackage, however?

[2021-06-11 20:13] satmandu commented on #5865
Does removing metapackages even work?

`crew remove buildessential` does basically nothing, no?

[2021-06-11 20:16] uberhacker commented on #5865
If the core metapackage is removed and an update includes a new package, for instance, that new package would not be included in the update unless crew knows the core metapackage is installed, right?

[2021-06-11 20:22] satmandu commented on #5865
We could make sure it is installed like with buildessential, where that automatically gets reinstalled during crew build functions...

[2021-06-12 02:05] satmandu commented on #5865
Let's do this one step at a time. Currently, we have no mechanism to look
for updates for core, right?

So I suggest:
1. Make a core metapackage.
2. Modify install.sh to use that metapackage.
3. Modify crew to check to see if core is installed during updates.

On Fri, Jun 11, 2021 at 4:17 PM Ed Reel ***@***.***> wrote:

[2021-06-12 05:31] #5865 closed

[2021-06-12 21:46] Coy-Allen opened #5868 "Install script fails at line 54"
## Description
running install script fails at line 54

[code]

I have also tried manualy downloading the file and pipeing it into bash but the problem persists.

## Versions and system information
ChromeOS: 13816.82.0

Model: s330 lenovo chromebook

Architecture: aarch64

[2021-06-12 22:14] satmandu commented on #5868
I've seen this too occasionally, and I think it is from a failed download of the install script.

Can you try piping the direct link to the install script to bash:

```curl -Ls https://github.com/skycocker/chromebrew/raw/master/install.sh | bash```

[2021-06-12 23:03] satmandu commented on #5868
If that gives the same error try this:
[code]

[2021-06-12 23:06] satmandu commented on #5868
@uberhacker Any ideas on this?

line 54 seems fine. Somehow the file is getting cut off when passed to bash.

[2021-06-13 03:04] uberhacker commented on #5868
I get the same results.  It looks like we are going to have to revert the last commit.
[code]
We can't have broken binaries in core packages.

[2021-06-13 04:30] satmandu commented on #5868
You're getting a different error. Are you seeing segfaults on anything besides i686 @uberhacker ?

[2021-06-13 04:37] satmandu commented on #5868
The line 54 issue is likely not related to git, as it happens before git is actually used.

[2021-06-13 06:25] Coy-Allen commented on #5868
That seemed to fix the problem as i can now select y/N so it was probably the pipe that broke it somehow.
It now shows a noexec mount warning before the script starts but seems to not interfere with or break the script.
Thanks for the help!

[2021-06-13 06:25] #5868 closed

[2021-06-13 14:25] uberhacker commented on #5868
@satmandu: Yes, this only happens on i686.

[2021-06-14 17:02] saltedcoffii opened #5872 "Chromebrew install broken"
### Description
Trying to install chromebrew results in the following error:
[code]

### Temporary fix
[code]

[2021-06-15 13:40] #5842 closed

[2021-06-15 13:40] #5872 closed

[2021-06-17 06:15] uberhacker opened #5876 "[git] Unable to install/build from source"
[code]

[2021-06-18 05:33] ilia3101 commented on #5864
Thanks so much for the advice!

Ok I figured this out.

dbus was one of the packages! removing it fixed the issue. Somehow must've been overriding the original chromeos' dbus through environment variables in the shell environment. As this seems to break `vmc` and possibly other commands in the shell maybe it should be looked in to by chromebrew developers?

Thank you, the password checking was als

[2021-06-18 17:16] alicemaj opened #5877 "libcom_err.so.3 missing"
## Before you submit an issue
Please look up our issues, maybe your problem was mentioned before.

## Description
I cannot start codium it just complains like this:

[code]

## Versions and system information
chromebrew: 1.11.1

ChromeOS:
[code]

Model: Asus CBS 514-1H

Architecture: x86_64

[2021-06-19 11:33] supechicken commented on #5864
@ilia3101 Could you try the following:
[code]
(This will tell dbus to use system bus)
As a alternative, you can use the system dbus command instead:
[code]

[2021-06-20 07:01] kelptaken opened #5879 "Checksum mismatch on 'minecraft' package"
## Description
I tried to install the 'minecraft' package. But it throws an error: 'Checksum mismatch. 😔 Try again.'
I already did crew update, crew upgrade, nothing works.

I did:
[code]

Output:
[code]

## Versions and system information
chromebrew: `1.11.1`

ChromeOS:
[code]

Model: Not a Chromebook, just a CloudReady laptop

Architecture: `x86_64`

What I think needs to be done:
- Allow users

[2021-06-20 12:00] vincowl opened #5880 "symbol lookup error: /usr/local/lib64/libjavascriptcoregtk-4.0.so.18: undefined symbol: u_strToUpper_68"
I installed `gemacs` package, then installed [doom emacs](https://github.com/hlissner/doom-emacs). When running `gemacs` I have this error :
[code]
I couldn't manage to reinstall gemacs with compilation (`crew reinstall -s gemacs`) due to compile errors, and also failed with `webkit2gtk_4`

[2021-06-20 14:36] supechicken commented on #5879
Agree, as some packages may not have a repo for history versions (specially for deb packages)

[2021-06-21 01:25] uberhacker commented on #5880
@vincowl:  Did you try reinstalling `webkit2gtk_4` from source?

[2021-06-21 02:51] vincowl commented on #5880
Yes. Compilation failed. I'll try to get the error message tomorrow

[2021-06-21 03:02] satmandu commented on #5879
You could also convert this package to use the versioned tar.gz file, e.g. https://launcher.mojang.com/download/linux/x86_64/minecraft-launcher_921.tar.gz

See https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=minecraft-launcher

[2021-06-21 03:03] satmandu commented on #5880
I think webkit2gtk needs a rebuild with the newer icu4c...

[2021-06-21 15:19] satmandu commented on #5877
@alicemaj Could you see if this works to fix this issue for you?

[code]
Then try starting codium with `codium &`

[2021-06-22 14:41] #5877 closed

[2021-06-23 02:25] satmandu commented on #5880
I have an incoming rebuild with llvm for x86_64. Other architectures are having problems.

[2021-06-23 20:02] metacryptid commented on #5879
Any workarounds for this until the package gets fixed?

[2021-06-23 22:43] satmandu commented on #5879
This is a larger issue with minecraft-launcher being broken on both crouton and chromebrew at the moment.

Here's a starting point for debugging the issue:
[code]

here's what I see:
[code]

[2021-06-24 04:12] satmandu commented on #5879
More on these issues: https://bugs.mojang.com/projects/MCL/issues/MCL-18211?filter=allopenissues

[2021-06-24 04:31] satmandu commented on #5879
Closer:
[code]

[2021-06-24 04:32] satmandu commented on #5879
Currently trying:
[code]

[2021-06-24 04:45] satmandu commented on #5879
Feel free to drop this into /usr/local/lib/crew/packages/minecraft.rb and then do a `crew install minecraft`

[code]

Try running `minecraft-launcher` afterwards, and if there are problems  feel free to report the error messages upstream at https://bugs.mojang.com/browse/MCPE-95929?filter=-5 .

[2021-06-24 07:19] uberhacker opened #5897 "[glib] `glib-compile-schemas /usr/local/share/glib-2.0/schemas` segfaults"
postinstall fails with gsettings_desktop_schemas, gtk3 and gtk4.

[2021-06-24 09:53] kelptaken commented on #5879
Thank you, this fixed the problem!

[2021-06-24 09:53] #5879 closed

[2021-06-24 13:09] satmandu commented on #5897
hmmmm...
[code]

We have a problem here if what I'm compiling doesn't work....

[2021-06-24 13:34] satmandu commented on #5880
Got this building for everything.

[2021-06-24 14:52] #5880 closed

[2021-06-24 15:38] satmandu commented on #5820
This was fixed by https://github.com/skycocker/chromebrew/pull/5837 and https://github.com/skycocker/chromebrew/pull/5893

[2021-06-24 15:38] #5820 closed

[2021-06-29 09:35] uberhacker commented on #5559
This is no longer an issue.

[2021-06-29 09:35] #5559 closed

[2021-07-01 22:25] uberhacker opened #5918 "[ctorrent] Unable to execute"
[code]
`crew reinstall ctorrent -s` fixes it so we just need new binaries.

[2021-07-02 09:25] #5918 closed

[2021-07-07 08:52] supechicken opened #5932 "exempi: license files extract outside `/usr/local`"
[code]

[2021-07-07 13:40] uberhacker opened #5934 "[cmake] Executable segfaults"
This happens only on i686.

[2021-07-07 17:12] satmandu commented on #5934
Can you start a build of this when you get a chance on i686?  I've kicked this off on armv7l & x86_64.

[code]

[2021-07-07 17:39] satmandu commented on #5932
Let's get this built...

[code]

[2021-07-07 17:53] sandeep-gh opened #5936 "error in opening gnome-terminal"
## Description
Just giving chromebrew a try.  gemacs is working fine. But gnome-terminal is not opening up.

If you executed a specific command:
[code]

Output:
[code]

## Versions and system information
1.11.5

ChromeOS: `cat /etc/lsb-release`
[code]
Model: lenovo duet chromebook

Architecture: aarch64

[2021-07-07 18:00] uberhacker commented on #5936
Thank you for the feedback @sandeep-gh.  What happens if you build `gnome-terminal` from source with `crew install gnome_terminal -s`?

[2021-07-07 18:02] uberhacker commented on #5936
Also, I noticed you were on the beta channel.  We only officially support the stable channel.

[2021-07-07 18:21] satmandu commented on #5932
This was an error in the package file, but this isn't a fatal error, right?
![image](https://user-images.githubusercontent.com/1096701/124809878-a1255480-df2e-11eb-8d53-c11cc6c4097f.png)

[2021-07-07 18:22] satmandu commented on #5932
![image](https://user-images.githubusercontent.com/1096701/124809975-c023e680-df2e-11eb-878f-63798560efe0.png)

[2021-07-07 19:19] satmandu commented on #5936
I'm seeing the same issue with `gnome-terminal`.  Let me try a rebuild...

[2021-07-07 19:58] satmandu commented on #5936
I have a solution for this... I think we just need to add a postinstall section.

Can you tell me if this works for you?
[code]

[2021-07-07 19:59] satmandu commented on #5936
(Once I have a new armv7l build I'll submit a PR for this.)

[2021-07-07 20:12] satmandu commented on #5932
See if this works for you.
[code]
![image](https://user-images.githubusercontent.com/1096701/124822614-1ba9a080-df3e-11eb-8f02-58f8c7b41fa7.png)

[2021-07-07 22:54] satmandu commented on #5897
Is this resolved?

[2021-07-08 00:21] uberhacker commented on #5897
Not yet.  I'll try and recompile glib from source and if it works, I'll submit a PR.

[2021-07-08 14:02] #5934 closed

[2021-07-08 14:43] sandeep-gh commented on #5936
All I did was invoke this command
[code]
followed by `crew install`. Not sure why this is connecting to the beta channel.

[2021-07-08 14:47] satmandu commented on #5936
The issue is that there are changes on the beta channel which might not have been tested.

For instance, Beta Channel/M92 has moved to glibc 2.32, and we are still working on getting that supported properly.

Please do try to do a `crew update ; crew upgrade` now though, as hopefully this issue with `gnome-terminal` is now addressed.

[2021-07-08 14:48] satmandu commented on #5936
(and let us know if it does not work for you!)

[2021-07-08 14:50] sandeep-gh commented on #5936
I tried the above steps. The compile fails for me. Have attached the error log:

[code]

[2021-07-08 14:55] satmandu commented on #5936
Right. that's a glibc 2.32 issue with gcc compiles we still haven't dealt with properly. (I also run beta channel, so I feel your pain.)

`crew update ; crew upgrade ; crew reinstall gnome_terminal` should get you the precompiled gnome-terminal though, which I built yesterday on a armv7l VM in a M90 container.

[2021-07-08 15:03] satmandu commented on #5936
(Running `gnome-terminal &` after that should hopefully work.)

[2021-07-08 21:09] #5932 closed

[2021-07-08 21:34] #5897 closed

[2021-07-09 19:07] sandeep-gh commented on #5936
@satmandu  I did the above steps. Still getting
```# Error constructing proxy for org.gnome.Terminal:/org/gnome/Terminal/Factory0: Unknown or unsupported transport “disabled” for address “disabled:”```

[2021-07-10 10:02] rakesh-9553 commented on #3325
Error in /etc/nanorc on line 237:

[2021-07-10 16:42] sandeep-gh commented on #5936
can we reopen this issue?

[2021-07-10 17:54] satmandu commented on #3325
What is the error you get?

[2021-07-10 17:57] rakesh-9553 commented on #3325
Error in etc/nanorc on line 237

On Sat, 10 Jul, 2021, 11:24 pm satmandu, ***@***.***> wrote:

[2021-07-10 17:57] rakesh-9553 commented on #3325
How can i solve this?

On Sat, 10 Jul, 2021, 11:26 pm rakesh tumuluri, <
***@***.***> wrote:

[2021-07-11 15:11] satmandu commented on #5936
So maybe this is a dbus issue?
Do you have `NO_AT_BRIDGE=1` set?

i.e. see what this gives you:
 ```env | grep NO_AT_BRIDGE```

First try this:
`NO_AT_BRIDGE=1  gnome-terminal`

You should also try this:
`dbus-launch gnome-terminal gnome-terminal`

And if that doesn't work try this:
`LC_ALL="en_US.UTF-8" gnome-terminal`

Last, try them all together:
`NO_AT_BRIDGE=1 LC_ALL="en_US.UTF-8"  dbus-launc

[2021-07-11 17:21] sandeep-gh commented on #5936
I had given hope by the third command. Magically, the last command worked :). Great help. Thank you.

[2021-07-11 23:56] zheyiyuezhuo opened #5952 "unstall chromebrew"
When I don't want to use chromedrew, how do I uninstall it from chrome os?
I browsed some materials, but none of them explained how to uninstall chromebrew when I don't want to use it.
Thank you for developing this awesome tool,
If you can answer, thank you!

[2021-07-12 00:05] uberhacker commented on #5952
See https://github.com/skycocker/chromebrew/wiki/How-to-remove-chromebrew.

[2021-07-12 01:21] zheyiyuezhuo commented on #5952
Thank you！

[2021-07-12 01:21] #5952 closed

[2021-07-12 15:13] satmandu commented on #5936
Do you have anything set normally for those other variables?

What do these give you:
[code]

(I'm trying to figure out if we need to adjust settings globally so that this works without people having to open an issue... so it would be helpful to know the minimum settings required to allow that to happen.)

[2021-07-13 17:32] satmandu commented on #3325
@rakesh-9553 Please open a new issue for this, as this looks like it is a new unrelated issue.

[2021-07-13 17:37] satmandu commented on #5826
As this appears to be `nosymfollow` related, I'm closing this, as this appears to be a symptom of local settings unrelated to the default install settings.

(Not that it doesn't suck for users affected by this.)

[2021-07-13 17:37] #5826 closed

[2021-07-14 12:37] sandeep-gh commented on #5936
Attached is the output for the above command:
[code]

[2021-07-14 12:41] satmandu commented on #5936
Thanks for the feedback.

[2021-07-14 20:27] cparker15 opened #5962 "Git broken on fresh install"
## Description
When I run the installer referenced on the Chromebrew site with an empty `/usr/local` directory, it succeeds until the first git command

If you executed a specific command:
[code]

Output:
[code]

## Versions and system information
ChromeOS: `CHROMEOS_RELEASE_VERSION=13904.66.0`

Model: Acer Chromebook Spin 311

Architecture: `x86_64`

[2021-07-14 21:01] satmandu commented on #5962
What does running ```/usr/local/libexec/git-core/git-remote-https```  give you?

[2021-07-14 21:03] satmandu commented on #5962
This is what I see:
[code]

[2021-07-14 21:26] #4756 closed

[2021-07-14 21:28] uberhacker commented on #5962
@cparker15: Can you please output the entire result of `cat /etc/lsb-release`?

[2021-07-15 12:18] q4z1 opened #5966 "Inkscape cannot be installed or built"
## Description
Installation of inkscape fails due to imagemagick6 & imagemagick7 dependency, which cannot be installed together.
Removing the imagemagick6 dep succeeds with installation but then libgsl.so.23 is not found which seems to be outdated since libgsl.so.25 is installed.
Building results in the glibc 2.32 issue mentioned in #5936

If you executed a specific command:
[code]
Output:
[code]

[2021-07-15 13:06] satmandu commented on #5966
You're on M92/Beta.

Building on M92 won't work until https://github.com/skycocker/chromebrew/pull/5941 is merged.

[2021-07-15 13:31] satmandu commented on #5966
Beta channel isn't supported yet.

If you want to test a fix which should fix compiling on beta channel, try this:
```CREW_TESTING_REPO=https://github.com/satmandu/chromebrew.git CREW_TESTING=1 CREW_TESTING_BRANCH=glibc_2.32-1 crew update ; crew reinstall glibc ; crew update```

Then try: `crew build inkscape`

That should get farther!

[2021-07-15 15:49] q4z1 commented on #5966
Thank you very much. I forgot about the fact, that I'm on beta channel with this device. It's building now.

I will propably fork this repo and provide the adapted .rb file if I get inkscape up and running.

[2021-07-15 15:49] #5966 closed

[2021-07-15 17:35] cparker15 commented on #5962
[code]

I think I figured out why this is happening. I am bind-mounting `/usr/local` to a directory on my SD card because my Chromebook has such a small hard drive. I decided to start fresh by running `dev_install --reinstall` as root and that gave me a working git which gave me the output of

[code]

However, now that I've run the Chromebrew installer after running `dev_install --reinstall`, I ge

[2021-07-15 17:58] cparker15 commented on #5962
Peculiar. `dev_install --reinstall` doesn't work if `/usr/local` is bind-mounted, either. Definitely not a Chromebrew issue.

[code]

[2021-07-15 18:22] satmandu commented on #5962
Is your SD card formatted as ext4?

[2021-07-15 18:25] satmandu commented on #5962
Symlinking to other filesystems after M90 is a mine field, owing to security Google has added by default (I think) using `nosymfollow`. (Hopefully, that hasn't hit you.)

Also, I'm not sure if dev_install will work to a bind mounted `/usr/local` - you may have to remove the bind mount, and rsync after the dev_install finishes, and then do the bind mount.

Same goes for the chromebrew install...

[2021-07-17 15:25] cparker15 commented on #5962
That was it! I modified `~/.bash_profile` to account for `nosymfollow` and now everything is working as expected.

[code]

Thank you, @satmandu!

[2021-07-17 15:25] #5962 closed

[2021-07-20 15:52] saltedcoffii commented on #889
Considering that this issue is so old, and that we have full support for sommelier on stable machines with x86_64 (amd64 and em64t) aarch64 and armv7l, I'm going to close this issue. Should anyone like it opened again, please ping me.

[2021-07-20 15:52] #889 closed

[2021-07-20 15:56] saltedcoffii commented on #2555
Mono now has F# support as per a very old now merged PR.

[2021-07-20 15:56] #2555 closed

[2021-07-20 15:58] saltedcoffii commented on #2061
We are now moving on to supporting gtk4 and gnome 40 packages as much as possible, and using gtk3 as a backup. gtk2 will remain in our repositories. Closing issue as it's not irrelevant.

[2021-07-20 15:58] #2061 closed

[2021-07-20 15:59] saltedcoffii commented on #1311
This is now possible with environment variables in the package.rb file.

[2021-07-20 16:03] saltedcoffii commented on #4533
This issue is addressed in the README.md file. Closing issue.

[2021-07-20 16:03] #4533 closed

[2021-07-20 16:05] saltedcoffii commented on #4295
Crouton seems to have a [WIP article](https://github.com/dnschneid/crouton/wiki/Adding-Crouton-Icons-to-the-shelf-(WIP)) on how to do this. We may be able to hijack their process once they finish developing it.

[2021-07-22 15:47] #5864 closed

[2021-07-22 15:47] #5936 closed

[2021-07-22 18:18] saltedcoffii opened #5976 "If X and other things aren't installed, a new shell raises errors."
[code]

[code]

Perhaps the dbus fixes should be added to a chromebrew package and not to crew_profile_base itself.

[2021-07-22 21:12] satmandu commented on #5976
Hmm. Dbus is listed as a dependency. I think this indicates that dbus needs to have the proper dependencies listed.

We should see how much we're pulling in with that ...

[2021-07-22 21:15] satmandu commented on #5976
We need to add a `libsm` dep inside `dbus`.

[2021-07-22 23:55] saltedcoffii commented on #5976
Can we add `libsm` within `dbus`, and the `dbus` fixes in the `dbus` postinstall? See `rust`'s postinstall section for an example

[2021-07-23 00:24] satmandu commented on #5976
What is dbus required by? If dbus is central enough to multiple packages,
then maybe it doesn't matter and we just include libsm?

If dbus is rarely used.... Then yes I agree with you, we should move that
into dbus.

On Thu, Jul 22, 2021, 7:55 PM Cassandra Watergate ***@***.***>
wrote:

[2021-07-23 01:14] satmandu commented on #5976
So these are the actual dbus dependencies:
[code]

[2021-07-23 05:55] kamran-nishat opened #5978 "error in installing crew"
ruby: /lib/libc.so.6: version `GLIBC_2.25' not found (required by /usr/local/lib/libruby.so.3.0)
ruby: /lib/libc.so.6: version `GLIBC_2.27' not found (required by /usr/local/lib/libruby.so.3.0)
Any idea how can I resolve this error. Same error is displayed if I run "ruby". I have a version of the libc.so.6 which is older. How can I install a newer version?

thanks

If you executed a specific comma

[2021-07-23 15:31] saltedcoffii commented on #5978
Okay so we currently support two glibc versions, 2.23 and 2.27. We're working on 2.32. I'm seeing glibc 2.25 in this list which makes me worry that your version of ChromeOS has a version of glibc that chromebrew doesn't support. I need your help to debug this. Could you give me the output of a few commands @kamran-nishat ?
`uname -a`
`ls /lib64/ | grep ld`
`ls /lib/ | grep ld`

Your ChromeOS versi

[2021-07-23 15:44] kamran-nishat commented on #5978
Thanks for your reply.
uname -a
Linux localhost 3.18.0-16288-g64d05cf80004 #1 SMP PREEMPT Mon Jan 29
21:31:23 PST 2018 armv7l ARMv7 Processor rev 5 (v7l) Qualcomm (Flattened
Device Tree) GNU/Linux

ls /lib64/ | grep ld

ls: cannot access '/lib64/': No such file or directory
ls /lib/ | grep ld
ld-2.23.so
ld-linux-armhf.so.3

On Fri, Jul 23, 2021 at 11:31 AM Cassandra Watergate <
***@***.***> wrote:

[2021-07-23 16:27] satmandu commented on #5978
What model device is this?

I don't think we support any devices with that version of glibc? That's really old...

[2021-07-23 16:32] uberhacker commented on #5978
@kamran-nishat: Also, please provide the output from `cat /etc/lsb-release`.

[2021-07-23 16:32] kamran-nishat commented on #5978
It is a Google WiFi device. Model :NLS-1304-25

On Fri, Jul 23, 2021 at 12:27 PM satmandu ***@***.***> wrote:

[2021-07-23 16:48] satmandu commented on #5978
Are you using some variant of https://github.com/marcosscriven/galeforce ?

Chromebrew has not been tested on those devices at all. We're welcome to patches to help get those up and running, but as we don't have those devices, I have to warn you it's going to be a long road, especially as the memory and disk space offered by a 3 year old device targetted towards embedded deployment is going to be

[2021-07-23 16:52] kamran-nishat commented on #5978
CHROMEOS_RELEASE_APPID={9BC3D9F3-D113-8EA2-42D6-F2CDB8189814}
CHROMEOS_BOARD_APPID={9BC3D9F3-D113-8EA2-42D6-F2CDB8189814}
CHROMEOS_CANARY_APPID={90F229CE-83E2-4FAF-8479-E368A34938B1}
DEVICETYPE=OTHER
HWID_OVERRIDE=GALE DOGFOOD
CHROMEOS_RELEASE_BUILDER_PATH=gale-release/R63-10032.86.2
GOOGLE_RELEASE=10032.86.2
CHROMEOS_DEVSERVER=
CHROMEOS_RELEASE_BOARD=gale
CHROMEOS_RELEASE_BUILD_NUMBER=10032
CHROM

[2021-07-23 17:03] kamran-nishat commented on #5978
I  am using this "curl -Ls git.io/vddgY | bash" script to install the crew.
It goes without any problem until

*HEAD is now at cc09c4a llvm 12.0.1 rebuild (#5956)Updating crew package
information...*

Then give following error:

*ruby: /lib/libc.so.6: version `GLIBC_2.25' not found (required by
/usr/local/lib/libruby.so.3.0)*
*ruby: /lib/libc.so.6: version `GLIBC_2.27' not found (required by
/usr/

[2021-07-23 17:42] saltedcoffii commented on #5978
Sounds like the ruby binaries don't work on your computer, perhaps something to do with the libc version.

[2021-07-23 17:50] kamran-nishat commented on #5978
yes. How can I install a newer version of libc? Or is there any script
available using the prior version of the ruby like "ruby 2.5.1p57
(2018-03-29 revision 63029)" which is working on another Google wifi device.

Kamran

On Fri, Jul 23, 2021 at 1:42 PM Cassandra Watergate <
***@***.***> wrote:

[2021-07-23 17:52] uberhacker commented on #5978
That is not a stable release of ChromeOS.  Was the operating system updated from the original stock install on the device?

[2021-07-23 18:07] kamran-nishat commented on #5978
it is connected to the Internet and according to the app it is uptodate.
Files compiled with gcc in another google wifi device are running fine here.

How can I change it to a stable release?

On Fri, Jul 23, 2021 at 1:52 PM Ed Reel ***@***.***> wrote:

[2021-07-23 18:17] uberhacker commented on #5978
You could try: `sudo update_engine_client --channel=stable-channel --update`

[2021-07-23 19:49] saltedcoffii commented on #3855
All of our python packages will be updated to python3 with #5717. I will close this issue.

[2021-07-23 19:49] #3855 closed

[2021-07-23 19:50] saltedcoffii commented on #3832
Libjpeg_turbo is no longer a package, libjpeg has apparently been chosen. Closing this issue.

[2021-07-23 19:50] #3832 closed

[2021-07-23 19:54] saltedcoffii commented on #4157
Curl automatically retries failed downloads three times. I think that's sufficient?

[2021-07-24 03:59] #5976 closed

[2021-07-24 18:42] sguy311 opened #5984 "JSON:ParserError during install"
## Before you submit an issue
Please look up our issues, maybe your problem was mentioned before.

## Description
During install, and after when using crew install, I get the following error:
/usr/local/lib64/ruby/3.0.0/json/common.rb:216:in `parse': 809: unexpected token at '' (JSON::ParserError)
        from /usr/local/lib64/ruby/3.0.0/json/common.rb:216:in `parse'
        from /usr/local/bin/cr

[2021-07-25 02:37] satmandu commented on #5984
Hmmm. I'm seeing this too.

[2021-07-25 02:43] uberhacker commented on #5984
@sguy311: Please provide the output from `cat /etc/lsb-release`.

[2021-07-25 04:51] ThatGeekyWeeb opened #5986 "FHS3 enforcement causing issues on packages using outside binaries such as vscodium"
The recent push of #5983 has caused an issue with the vscodium package, the package is not built from source, but rather it's binary is simply taken from it's repo and slapped onto the system; I figure it would be proper to add a way to install binaries from other sources without it being detected as building from source, or to actually compile it....

Issue was reported to the discord guild.

[2021-07-25 23:31] satmandu commented on #5986
@saltedcoffii

[2021-07-26 00:40] saltedcoffii commented on #5986
@ThatGeekyWeeb could you give me the error message? I can debug it much easier that way.

[2021-07-26 01:50] ThatGeekyWeeb commented on #5986
[code]

the above is what was given, the issue is obv, the binary is not compiled by chromebrew, and might not follow the standard, one can't control this since it's an outside bin and it's not even building from source anyway

the fix is to either actually compile it, or to add a custom call to install outside bins without using them as if they were source tarballs

[2021-07-26 02:20] uberhacker opened #5989 "[binutils] i686 build causes executables to produce segmentation faults"
Although the binary package builds fine without tests, all executables will segfault.  Errors from `make check` below:
[code]

[2021-07-26 03:00] satmandu commented on #5989
Could this be a gold linker issue?

https://issues.dlang.org/show_bug.cgi?id=18798

[2021-07-26 06:00] #5986 closed

[2021-07-26 07:45] uberhacker commented on #5989
Same errors after switching the default back.

[2021-07-27 04:15] saltedcoffii commented on #5989
`collect-ld` means that the code referenced in an included header file cannot be found in a dynamic library in the LD_LIBRARY_PATH. It's not a linker issue. `lld` has a really nice debugging output for the `collect-ld`, so you could try compiling with `-fuse-ld=lld` (making sure llvm is installed) instead of gold to see a good debug log. Don't do this for production as lld makes slower binaries.

[2021-07-27 07:31] uberhacker opened #5991 "[boost] Binaries compiled with boost 1.74 need to be rebuilt."
Applicable packages include the following:
[code]
For example, the gdb executable generates the error below:
[code]

[2021-07-27 22:43] satmandu opened #5996 "HOME being set to /usr/local + HOME inside crew"
This is breaking installs which use HOME, such as sommelier.

relevant section of const.rb:
[code]

[code]

[2021-07-28 02:57] #5996 closed

[2021-07-28 08:57] drocsid commented on #5986
Original reporter here (via discord). It looks like you didn't fix the bug @uberhacker @supechicken @ThatGeekyWeeb

[code]

[2021-07-28 15:22] satmandu commented on #5991
gdb update incoming...

[2021-07-28 15:28] satmandu commented on #5991
never mind... They built against the old boost. :/ Need to rebuild them later today.

[2021-07-28 15:37] satmandu commented on #5398
This is a working glibc build for i686. @uberhacker Should we try rebuilding glibc for it and see if that helps?

[code]

[code]

[2021-07-28 15:41] uberhacker commented on #5398
Sure, wouldn't hurt.  We have to get binutils working on i686 before we can merge that PR.  I tried another build in Docker last night and it worked there but segfaulted on the Samsung Series 5 Chromebook.

[2021-07-28 17:08] uberhacker opened #6000 "[fontconfig] Binary compiled with glibc 2.28?"
[code]

[2021-07-28 17:17] satmandu commented on #6000
What does `/usr/local/lib/libc.so.6` give you?

[2021-07-28 17:20] satmandu commented on #6000
It's possible that maybe this got built on a aarch64/glibc 2.32 container. That would explain this message.

Do you want to rebuild fontconfig for armv7l when you get a chance? Or I can... (I have fresh containers as of yesterday.)

[2021-07-28 17:20] satmandu commented on #6000
(But when stable moves to M92/ glibc 2.32 in days... this won't be an issue.)

[2021-07-28 17:26] uberhacker commented on #6000
You are making my life miserable. :)  We can't have the wrong build environments for generating binaries.  I'm losing faith in the Docker solution.  I've mentioned it before but there is no substitute for building on actual Chromebook hardware devices.  At a minimum, we should be at least testing on hardware before merging into master.

[2021-07-28 17:40] satmandu commented on #6000
mea culpa...

[2021-07-28 22:42] drocsid opened #6001 "codium broken after applying FHS3 enforcment and previous fixes failed to address the issue"
chronos@localhost / $ crew install codium
codium: VSCodium is Open Source Software Binaries of VSCode with a community-driven default configuration.
https://vscodium.com/
Version: 1.58.2
License: MIT
Performing pre-flight checks...
No precompiled binary available for your platform, downloading source...
###############################################################################################

[2021-07-29 00:57] #6001 closed

[2021-07-29 02:01] drocsid opened #6003 "codium package broken /usr/local/lib/libc.so.6: version `GLIBC_2.28' not found (required by /usr/local/lib/libfontconfig.so.1)"
See also #6000

chronos@localhost / $ crew update
remote: Enumerating objects: 5, done.
remote: Counting objects: 100% (5/5), done.
remote: Compressing objects: 100% (1/1), done.
remote: Total 3 (delta 2), reused 2 (delta 2), pack-reused 0
Receiving objects: 100% (3/3), 776 bytes | 776.00 KiB/s, done.
Resolving deltas: 100% (2/2), completed with 2 local objects.
From https://github.com/skycocker/c

[2021-07-29 02:06] satmandu commented on #6003
This is my fault. I built fontconfig in a glibc 2.32 container. Glibc 2.32 is in M92, which should release next week.

For now you can just rebuild fontconfig locally doing this, which should take care of that package.

```crew reinstall -s fontconfig```

[2021-07-29 05:43] drocsid commented on #6003
That didn't work

[code]

[2021-07-29 06:31] uberhacker commented on #6003
Thank you for the feedback @drocsid and sorry for the bad experience.  PR #6004 should resolve this issue.

[2021-07-29 11:56] #6000 closed

[2021-07-29 11:56] #6003 closed

[2021-07-29 16:19] satmandu commented on #6003
The reversion of fontconfig to the earlier version should fix this for now. It appears that the rebuild didn't work because the fontconfig build process used the broken fontconfig libraries during the build process.

@uberhacker maybe one way to avoid this is to prepend CREW_DEST_LIB_PREFIX to LD_LIBRARY_PATH  during `def self.install`? Or would that break things?

@drocsid perhap the correct rebu

[2021-07-29 19:42] drocsid opened #6005 "codium package broken; Unable to open X display"
chronos@localhost / $ codium --verbose -s
[3714:0729/123931.463375:ERROR:browser_main_loop.cc(1390)] Unable to open X display.
Failed to generate minidump.

[code]

[2021-07-29 19:48] uberhacker commented on #6005
@drocsid:  Do you have sommelier running?  See `crew postinstall sommelier`.

[2021-07-30 01:37] satmandu commented on #5984
I'm actually no longer seeing this any more. Please try an install again?

[2021-07-30 01:53] saltedcoffii commented on #5984
I'm not seeing this either. @sguy311 please let us know if you see this, if not, we can close the issue.

[2021-07-30 03:06] saltedcoffii commented on #5591
This pull request is next in my queue of things to work on. I doubt we'll be able to support many games considering we don't multilib on x86_64 (yet!) but we can definitely support Lutris itself. Right now I'm writing up all the python dependencies.

[2021-07-30 06:09] drocsid commented on #6005
@uberhacker I did that and I was able to start codium. I tried to resize the window and it disappeared. I could not restart codium. I tried stopping and starting sommelier and it's not starting. Not sure where to look for logs.

[code]

[2021-07-30 06:15] drocsid commented on #6005
Not sure why it crashed but ended up copying the somelier default env into my config and re-ran and it runs. Woohoo! now I might finally have a working IDE on my duet! Thanks!

[2021-07-30 06:15] #6005 closed

[2021-07-30 13:40] chromakey-io opened #6010 "zlib is not BSD licensed"
https://opensource.org/licenses/Zlib

[2021-07-30 14:51] #6010 closed

[2021-07-30 15:54] uberhacker opened #6013 "Chromebrew install/upgrade fails"
[code]

[2021-07-30 15:57] uberhacker opened #6014 "Chromebrew install/upgrade fails"
[code]
Looks like the itstools binary is missing.  All core packages should have binaries for every architecture.

[2021-07-30 16:08] #6013 closed

[2021-07-30 16:19] uberhacker commented on #6014
Sorry, itstool is not a core package but this should be fixed nevertheless.

[2021-07-30 16:22] uberhacker commented on #6014
FWIW, I fixed this with `crew reinstall py3_libxml2 && crew upgrade itstool`.

[2021-07-30 16:23] uberhacker commented on #6014
Closing since there is a solution.

[2021-07-30 16:24] #6014 closed

[2021-07-30 16:41] uberhacker commented on #6005
Glad you were able to work it out.

[2021-07-31 10:29] apple-corps opened #6019 "after installing perl_io_socket_ssl, seems not available to Perl :IO::Socket::SSL"
crew install perl_io_socket_ssl
perl_io_socket_ssl: IO::Socket::SSL - SSL sockets with IO::Socket interface
https://metacpan.org/pod/IO::Socket::SSL
Version: 2.068-1
License: GPL-1+ or Artistic
Performing pre-flight checks...
Package perl_io_socket_ssl already installed, skipping...
Performing post-install for perl_io_socket_ssl...
Perl_io_socket_ssl installed!

chronos@localhost /usr/local/kde/kd

[2021-07-31 18:52] actuallyexeon commented on #4295
Hmm

[2021-07-31 19:49] drocsid commented on #6019
perl_io_socket_ssl depends on Net::SSLeay , and it's not quite clear how you built that module without providing Net::SSLeay .

[2021-08-01 03:43] satmandu commented on #6014
Can you do a build of itstool for i686? It would be cleaner to have a binary for this, but obviously I shouldn't be the one doing that, I think?

[2021-08-01 06:58] drocsid commented on #6019
Workaround by installing via cpan. Need to set perl configuration to build under /usr/local/ to use shared objects. It would probably be good to configure cpan package this way by default.

[2021-08-01 07:00] drocsid commented on #6019
One option might be to remove the perl package. Configure cpan as suggested, and let users install perl modules. Why does a broken module need to be provided?

[2021-08-05 14:29] leoplo opened #6027 "[nano] Missing libmagic.so.1 shared library"
Similar to https://github.com/skycocker/chromebrew/issues/5827.

## Description
Installing nano worked fine but running it failed with message " Missing libmagic.so.1 shared library".

If you executed a specific command:
[code]

Output:
[code]

## Versions and system information
chromebrew: `crew --version`
1.11.9

ChromeOS: `cat /etc/lsb-release`
CHROMEOS_RELEASE_BUILD_NUMBER=14092

Model: HP Chr

[2021-08-05 14:53] leoplo opened #6029 "broken crew after libressl upgrade to 1.1.1i"
## Before you submit an issue
Similar to https://github.com/skycocker/chromebrew/issues/4424

## Description
Once I upgraded libressl I was not able to run any crew command anymore.

If you executed a specific command:
[code]

Output:
[code]

## Versions and system information
chromebrew: `crew --version`
cannot tell anymore

ChromeOS: `cat /etc/lsb-release`
CHROMEOS_RELEASE_BUILD_NUMBER=12607

Mo

[2021-08-05 15:07] supechicken commented on #6029
Could you try the following:
[code]
(all of our packages are using OpenSSL instead of Libressl now, a rebuild of ruby might fix it)

[2021-08-05 15:44] satmandu commented on #6029
Your install is borked because libressl has been replaced by openssl, and ruby depends upon openssl. Running `crew` as @supechicken suggests won't work because it depends upon a working ruby.

The easiest way to get back to a working install would be to just run the chromebrew  installer again.

I would suggest this:
[code]

[2021-08-05 16:04] leoplo commented on #6029
I confirm @supechicken 's way was not working.

I reinstalled my ChromeOS (because it is a read-only file system I had no files saved on it). Every works fine with a fresh new crew and all updated packages but I can't confirm if @satmandu commands would have solved it sorry.

[2021-08-05 16:05] satmandu commented on #6029
Glad you are back up!

[2021-08-05 16:05] #6029 closed

[2021-08-05 16:27] #6027 closed

[2021-08-05 16:44] satmandu commented on #6019
Would you mind seeing if dropping these into `/usr/local/lib/crew/packages` and then running `crew update compatible ; crew install perl_net_ssleay perl_mozilla_ca ; crew upgrade perl_io_socket_ssl`
to see if that solves your issue?

`perl_net_ssleay.rb`
[code]
`perl_mozilla_ca.rb`
[code]
`perl_io_socket_ssl.rb`
[code]

[2021-08-06 15:09] dwbapst commented on #3325
I'm seeing this exact error whenever I use nano via gitbash on a Windows 10 machine, installed as part of the Git for Windows package of software. Version of nano is 5.8 (see below). Other Windows users in the same Software Carpentry workshop I am in are seeing the same error when calling nano. May be a problem with Git for Windows rather than nano *per se*, but I wanted to update the bug report h

[2021-08-06 16:07] dwbapst commented on #3325
Oh, this isn't even the nano repo. I apologize -- I am an idiot. This is unassociated with chromebrew.

[2021-08-09 11:40] drocsid commented on #6019
@satmandu just seeing this now.

i'm curious why you need a package and furthermore if required why you can't rely on cpan to install the module from your packaging wrapper, since the cpan variant worked.

But I can test if you would still like me to. But I do notice the mention to update the OpenSSL perl modules.

[2021-08-09 14:33] satmandu commented on #6019
I think the rationale for packaging perl modules is the same as for packaging python modules, and is shared by many distributions (Debian, Arch, etc) as a way to be independent of a separate packaging system.

Having said that, @saltedcoffii did a lot of the groundwork with some of Chromebrew's recent python packaging, and maybe you can engage with her on the pros and cons of doing such as opposed

[2021-08-09 19:55] drocsid opened #6053 "QT5 base package with broken headers : /usr/local/lib/libQt5Core.so.5: undefined symbol: u_strToUpper_68"
/usr/local/lib/libQt5Core.so.5: undefined symbol: u_strToUpper_68
see http://ix.io/3uDy

[2021-08-10 01:52] drocsid commented on #6019
@satmandu @saltedcoffii if IE cpan , etc can provide working modules, wouldn't it make more sense to focus on packages that can't be provided elsewhere first and foremost? There's plenty of work to do there: #6053

[2021-08-10 04:24] satmandu commented on #6053
Looks ike this is going to need a rebuild... using the kde tree at https://invent.kde.org/qt/qt/qtbase/-/tree/kde/5.15 ... Trying a build now...

[2021-08-10 13:31] satmandu commented on #5984
No update, closing issue.

[2021-08-10 13:31] #5984 closed

[2021-08-11 19:43] gjrtimmer opened #6061 "`has_key` method not found"
## Description
Failure to install packages on fresh install of Chromum OS of CloudReady.

If you executed a specific command:
[code]

Output:
[code]

## Versions and system information
chromebrew: 1.16.2

ChromeOS:
CHROMEOS_RELEASE_APPID={87EFFACE-864D-49A5-9BB3-4B050A7C227A}
CHROMEOS_BOARD_APPID={87EFFACE-864D-49A5-9BB3-4B050A7C227A}
CHROMEOS_CANARY_APPID={90F229CE-83E2-4FAF-8479-E368A34938B1}
DE

[2021-08-11 19:51] ironmanisdead commented on #6061
Do you think I could replace 'has_key?' with 'in' on my existing installation, to make it work?

[2021-08-11 19:54] satmandu commented on #6061
Fix incoming!

[2021-08-11 19:56] gjrtimmer commented on #6061
@satmandu Thanks, will await the fix, currently just installed CloudReady Chrome OS, and working on getting my fans fixed, so I'm going to try to add some kernel drivers to chromebrew

[2021-08-11 19:58] uberhacker commented on #6061
@gjrtimmer:  Kernel drivers?  Do tell more.

[2021-08-11 20:03] gjrtimmer commented on #6061
@satmandu Can corfirm that currently its installing buildessential on my ld MacBook Pro 4,1; always fun to bring old hardwar back to life.

@uberhacker | fresh install of CloudReady Chrome OS running on a MacBook Pro 4,1 (Late 2008) problem however is the fans, so I need to incorporate the correct drivers and fan control into chromebrew, what I'm working on right now is this fix, so that I can con

[2021-08-11 20:18] #6061 closed

[2021-08-11 23:09] uberhacker commented on #5465
@jake5253: The command I provided was under the assumption that you were not using a bind mount to a microsd drive.

[2021-08-11 23:13] jake5253 commented on #5465
Yeah I figured that. But that appears to be the actual command that is
used  by at least a few packages (including Android studio) to determine if
there's enough space to install said package.

On Wed, Aug 11, 2021, 7:09 PM Ed Reel ***@***.***> wrote:

[2021-08-12 06:39] uberhacker opened #6063 "[curl] Unable to build on i686"
[code]

[2021-08-13 06:18] supechicken opened #6067 "`symlinks` in crew breaks all absolute symlinks"
The `symlinks -cr .` command relink all absolute symlinks to relative based on their location

For example:
[code]
(` ../../../../../../share/x86_64-linux-gnu/opera/opera`  represent to `/share/x86...` in `/usr/local`)

[2021-08-13 14:22] satmandu commented on #6067
That's intentional. That fixes absolute symlinks which are set based upon CREW_DEST_ROOT.

[2021-08-14 15:21] uberhacker opened #6070 "[gtk3] Conflict with gtk2"
When building gtk3 from source with gtk2 installed, I get the following:
[code]
How should we handle this conflict?  Does it make sense to rename to `gtk2-update-icon-cache`?

[2021-08-14 16:23] satmandu commented on #6070
Sure, and then make a symlink to /usr/local/bin/gtk-update-icon-cache if /usr/local/bin/gtk-update-icon-cache doesn't exist in the postinstall, which can be overwritten if gtk3 gets installed.

[2021-08-14 23:43] apple-corps opened #6071 "crossposted: armv7l version of sbt won't build simple project"
https://github.com/sbt/sbt/issues/6622

[2021-08-15 06:59] drocsid commented on #6071
https://stackoverflow.com/a/45536678

[2021-08-15 22:07] #6070 closed

[2021-08-16 02:08] drocsid commented on #6071
@satmandu @uberhacker how might i install java 11 so I can test against J11? I saw a reference to Java 16 somewhere so assume the jdk8.rb might install jdk 11.

[2021-08-16 02:08] satmandu commented on #6071
@uberhacker Looks like a java issue?

[2021-08-16 02:09] satmandu commented on #6071
@drocsid Try `crew install jdk11` .

[2021-08-16 02:32] drocsid commented on #6071
doh! It doesn't look like Oracle supports armv7l releases of JDK11. However there are other sources of armv7l JDK11 releases including adoptopenJDK and bellsoft. Maybe I will try one of them. But I'm expecting the Java 8 armv7l release should work.

[2021-08-16 02:44] uberhacker commented on #6071
Yeah, it's a bit annoying that so many projects are dropping arm support.  I'm guessing it's just laziness.

[2021-08-16 03:58] drocsid commented on #6071
to be fair there's 64bit support for aarch 64 via Oracle JDK 11. Looks like they dropped the 32bit support.

[2021-08-18 14:48] satmandu commented on #6063
I would try this to build curl & git.
[code]

(We really need a command to build and install in one go which updates the package file.)

[2021-08-18 14:53] satmandu opened #6079 "crew needs a command to build and install in one go which updates the package file"
Right now `crew build` and `crew install` are two separate commands.

`crew build` creates a binary package and a sha256 file.
`crew install` when being used to install a binary package requires a package.rb file which has both a URL to the binary package, and the sha256 hash stored in the package file.

Ideally we would have crew offer the option of creating the binary package archive when buildi

[2021-08-19 14:20] #6053 closed

[2021-08-19 16:01] satmandu commented on #5989
I'm honestly not sure if binutils can be built with llvm... it's very gcc specific.

[2021-08-19 16:10] satmandu commented on #5594
Do the env variable files in the go package even make sense?

What is the `go-run` section even doing?

[code]

[2021-08-20 21:34] iknoors opened #6082 "vulkan not installing"
whenever i try to install anything it fails because of this:
Performing install...
vulkan_icd_loader: Vulkan Installable Client Driver ICD Loader
Precompiled binary available, downloading...
######################################################################################################################################################################## 100.0%
Checksum mismatch. 😔 Try again.
C

[2021-08-20 21:47] satmandu commented on #6082
There's a vulkan driver update in the pipeline in https://github.com/skycocker/chromebrew/pull/6033

Try this:
[code]

[2021-08-20 22:05] satmandu commented on #6067
@supechicken Does this break opera?

[2021-08-21 09:15] tomas-wrobel opened #6085 "Accessing to apps installed via Chromebrew."
Maybe I don't understand what chromebrew is (I think package manager like APT) but if I succesfully installed Atom, can I just run it, somehow? It does not show in launcher and I didn't find any command which can execute app.

[2021-08-21 09:56] tomas-wrobel commented on #6085
OK, I figured out there is a command `atom` but when running, there is an error:
[code]

[2021-08-21 12:17] iknoors commented on #6082
Thanks for your help! :)

[2021-08-21 12:21] iknoors commented on #6082
can you also make snapd for cros?

[2021-08-21 12:43] satmandu commented on #6082
Open a separate package request for snapd.

I suspect that might be difficult, because that may require kernel patching.

But we have made progress with getting flatpak to work.

[2021-08-21 12:43] #6082 closed

[2021-08-21 12:52] iknoors commented on #6082
thx fir your help again

[2021-08-21 12:53] satmandu commented on #6085
Run `crew install libcom_err` .

[2021-08-21 13:03] #6085 closed

[2021-08-21 13:47] uberhacker opened #6087 "[balena_etcher] Install fails"
[code]

[2021-08-21 18:29] chromakey-io opened #6088 "What is the use-case for eudev and the WSL udev stub?"
There is already a udev process running as root on chrome os.  You can't run one in userspace ... and you can't run TWO in root-space :)

These are both tools that need to be running as root, and without another udev system *already* running.  They cannot be run in userspace, as they access /dev devices... usb ... serial ... sda ... and so on.  These are simply not user-space tools, and with chrom

[2021-08-22 01:42] chrisnrick opened #6090 "@sajjaadf @bsiegert If you intend to do anything with Chromebrew, you need to revert to the stable channel. The stable channel is the **only** supported channel."
@sajjaadf @bsiegert If you intend to do anything with Chromebrew, you need to revert to the stable channel. The stable channel is the **only** supported channel.

_Originally posted by @JL2210 in https://github.com/skycocker/chromebrew/issues/2890#issuecomment-445227960_

[2021-08-22 01:42] #6090 closed

[2021-08-22 04:29] satmandu commented on #6088
I suspect the simplest reason is that lots of packages look for udev libraries, and won't build without them... but then when running, they don't care if udev isn't functional.

So even a stub eudev install is useful during package builds.

[2021-08-22 04:31] satmandu commented on #6087
@supechicken ?

[2021-08-22 08:39] chromakey-io commented on #6088
Aye, but if they are actually *using* udev when they run, they'll be using the system's root udev .... and you will have to modify the rules.d files to give access to chronos.

Which begs the question, what should be the policy surrounding that?

For example I've built a pull request that implements ssh support for FIDO2 keys.  It needs access to thee hidraw devices through udev, but obviously the

[2021-08-22 12:23] satmandu commented on #6088
Crouton bind mounts udev folders... Maybe we could do that?

[2021-08-22 12:29] iknoors opened #6094 "Skype not launching"
Hello. I am here with an issue (again)
so when i installed "skype" i ran into a error when trying to run skype
OS: chromeos brunch-sebanc
I have  a question, does any video call apps such as skype support camera ?

[2021-08-22 12:33] iknoors commented on #6094
I have another issue, whenever i launch any apps they give this error and dont launch:
ln: failed to create symbolic link '/home/chronos/user/.local/share/fonts': File exists

Note that the directory

'/usr/local/var/lib/flatpak/exports/share'

is not in the search path set by the XDG_DATA_DIRS environment variable, so
applications installed by Flatpak may not appear on your desktop until the
sess

[2021-08-22 14:32] supechicken commented on #6067
Yeah, some packages based on `#{CREW_PREFIX}` are also affected

[2021-08-22 15:06] iknoors commented on #6094
Can anyone help?

[2021-08-22 15:47] satmandu commented on #6067
@supechicken I'm traveling today, but maybe it makes sense to make a symlinks opt-out flag inside crew for some of these binary-only packages like Opera along the lines of the no shrink flag?

[2021-08-22 18:06] xinato opened #6102 "Crew complains of libraries missing, cannot reinstall crew"
## Before you submit an issue
Please look up our issues, maybe your problem was mentioned before.

## Description
Provide a short description of your problem here.
I have Lenovo C630 chromebook.I installed crew in the past. I have not used it in a while. When I try to execute any crew command, I get

chronos@localhost / $ crew --vesion
Traceback (most recent call last):
        5: from /usr/local/

[2021-08-22 18:22] satmandu commented on #6102
Easiest solution would be to just run the crew installer again.

`curl -Ls git.io/vddgY | bash`

[2021-08-22 18:28] uberhacker commented on #6102
I'll add a caveat.  Execute `rm -rf /usr/local` before attempting another reinstall also.  Of course, do this only if you don't have anything you need to save first.

[2021-08-23 05:32] uberhacker commented on #6102
On a freshly powerwashed i686 system, install failed at:
[code]

[2021-08-23 05:37] uberhacker commented on #6102
I was able to install docbook_xsl with `yes | crew install gcc11 && yes | crew install docbook_xsl`.

[2021-08-23 18:02] supechicken commented on #6094
About the Skype launch issue, could you try the following:
[code]

[2021-08-23 18:04] supechicken commented on #6094
Yes, but it depends on your chromebook (it works if your webcam is supported natively by Linux kernel)

[2021-08-24 03:35] supechicken commented on #6067
I am thinking of running `symlinks` after moving all files to `CREW_PREFIX`, so all symlink should point to the correct place

[2021-08-24 03:36] #6087 closed

[2021-08-24 05:17] satmandu commented on #6067
That doesn't work for packaging though ...

[2021-08-24 05:26] satmandu commented on #6067
We could selectively disable it for DEST_PREFIX, but I'm not sure if works for CREW_PREFIX because you don't want to mess up symlinks which are already installed.

[2021-08-25 10:52] RJVB opened #6105 "Uninstall a package with its unique dependencies (or an `apt autoremove` equivalent)"
I haven't found if this is possible:

- to uninstall a package with all dependencies not needed by any other package (like `port uninstall foo --follow-dependencies`)
- uninstall all packages that were pulled in automatically and are no longer required by any other package

I don't think I'd have to explain why those are very appreciable options. So much so in fact that I have to assume I overlook

[2021-08-26 15:26] supechicken opened #6108 "[sommelier]: Failed to start (missing `llvm` dependency)"
[code]
Fixed after installing `llvm`

[2021-08-26 23:41] uberhacker opened #6110 "[glib] Binaries segfault on i686"
[code]

[2021-08-26 23:44] #6110 closed, assigned to nobody

[2021-08-28 18:32] krome-3k opened #6116 "App Request"
Hi,
I was told on your discord to make app requests here. Please add virt-manager and all video editors possible(avidemux, kdenlive, openshot, shotcut) for ARM64/AARCH64. My device is the Acer Spin 311 with the Mediatek MT8183C cpu if it helps.
Thank you in advance.

Edit : Please add meson, ninja and their dependencies for ARM64.
Edit : Please add xorg-xhost for ARM64.

[2021-08-28 19:40] krome-3k opened #6117 "Some sommelier processes failed to start after update"
Hi,
I am getting "some sommelier processes failed to start" after my ARM64 chromebook updated to Version 92.0.4515.162. Please help.
Thanks in advance

[2021-08-28 22:28] uberhacker commented on #6117
@krome-3k: I have release 92 installed on my aarch64 Chromebook and sommelier is working fine.  You could try:
[code]
If that doesn't work, try restarting your crosh session.  If you still have trouble, then try:
[code]
Hopefully, the final solution is not necessary.  Another thing you could try is rebooting your Chromebook.

[2021-08-29 07:53] krome-3k commented on #6117
@uberhacker : thanks man.. reinstalling did the trick. I am trying to install linux in my chromebook(not in a chroot) but both ubuntu server arm64 iso and debian arm64 iso refuse to boot from the usb with a beep. Can you please help me with this?

[2021-08-29 13:09] uberhacker commented on #6117
@krome-3k: Glad you were able to get sommelier working.  That tells me the arm binary is corrupt.  cc: @satmandu.  I don't think you will want to install Ubuntu server on your Chromebook.  First off, Chrome OS is already Linux and secondly, you probably already have most of the tools you would need in this project (which compile apps natively to Chrome OS).  I might suggest you try Linux Apps (aka

[2021-08-29 13:26] krome-3k commented on #6117
@uberhacker i did try crostini and crouton but they weren't impressive. You are right it doesnt have enough horsepower but wont removing chromeos and installing an arm64 distro make it more capable? I also tried installing archlinux on a usb with instructions from archlinuxarm.org for a dual boot scenario but all i got is a blank screen. Thanks anyway!

[2021-08-29 13:35] uberhacker commented on #6117
Sorry, I didn't realize you wanted to replace Chrome OS.  I imagine your issue is due to hardware incompatibility.  You will need to look up your hardware specs and see if any of the alternate OSes can be installed.  Dual-booting is probably not practical unless you have at least 16 gb of free space to partition off on your disk.

[2021-08-29 13:38] krome-3k commented on #6117
Yeah.. nothing available for my hardware yet, thanks. Should i close this issue?

[2021-08-29 13:39] uberhacker commented on #6117
You can leave it open since I suspect the arm binary is corrupt.  We can close it out after a new binary PR is generated.

[2021-08-29 13:40] krome-3k commented on #6117
Okay.. thanks!

[2021-08-30 09:03] chromakey-io opened #6118 "This isn't in the spirit of homebrew or linuxbrew .... I don't just understand the point of eudev ..... but about 90% of the packages (which don't work, and couldn't work in the latest versions of chrome)"
This is just a poor attempt at making crouton in users-pace, and crouton has been replaced by the official "crostini" which works rather well.  There's no need for the crouton project beyond the ego of the maintainers.

Which begs the question, why are there so many packages that CLEARLY shouldn't exist in a project named after homebrew.  I mean there's not even multiple versionings of major devel

[2021-08-30 12:58] daemonspudguy commented on #6118
What are you talking about?

[2021-08-30 14:13] uberhacker commented on #6118
As the unofficial benevolent dictator of this project, there are some basic principles you CLEARLY don't understand.  This project is nothing like Crouton.  In fact, it's not a separate operating system and doesn't require a VM.  The goal of this project is to enable users to compile programs native to Chrome OS and avoid the overhead of projects like Crouton or Crostini.  On Chromebooks with low

[2021-08-30 15:35] daemonspudguy commented on #6118
Besides, not all Chromebooks even work with Crostini or have enough space for a chroot of Debian. And some people just don't need a full container of Debian to do what they want. This project is geared towards those users.

Brilliant!

[2021-08-30 22:25] chromakey-io commented on #6118
crouton isn't an "operating system" it's just a chroot environment.  It's exactly the same thing you're doing here, just you know ... not as hap-hazardly.

Any-how.  I'm forking this .... with the intention of creating a project geared towards DEVELOPERS like the namesakes you'v missused ... homebrew and linuxbrew.

Have a nice day.

[2021-08-30 22:44] daemonspudguy commented on #6118
You don't even seem to understand what a chroot environment is. It is an entire operating system being bootstrapped on top of the current one. Also, homebrew isn't "for developers" exclusively. And the name Chromebrew would still be appropriate because it uses the same methods of packaging and most of the same format as Homebrew does. Also also, creating a chroot of Debian brings the entire system

[2021-08-30 22:44] daemonspudguy commented on #6118
Both have use cases, I'm not denying that.

[2021-08-30 23:59] #4016 closed

[2021-08-31 00:27] chromakey-io commented on #6118
a chroot of debian minimal should be a couple 100mgs.   If your argument for creating what you did here is that Coruton's chroot is too big.

You should have just created a smaller one.

[2021-08-31 01:01] uberhacker commented on #6118
@chromakey-io:  There appears to be a fundamental misunderstanding of how this project works.  The main difference between Crouton and this project is we work with the existing Chrome OS.  Besides eudev (which you have the option to not install BTW), what makes it a disaster?  We are simply building upon the existing infrastructure rather than using an entirely different distro or operating system

[2021-08-31 10:40] chromakey-io opened #6124 "BSD-2 Clause licence violation"
Your work in general is a derivative of homebrew.

Though your "packages" / "casks" / "recipes" are not even derivations.  They remain exact copies of the code that exists in homebrew.

BSD-2 clause isn't that complex.  You can change your likenesses for any new code.  You can't change it for the code you haven't modified at all........ and even for derivative code you can't leave out the copyrigh

[2021-08-31 11:48] chromakey-io commented on #6124
Copyright (c) 2009-present, Homebrew contributors
All rights reserved.

[2021-08-31 12:40] daemonspudguy commented on #6118
Yes, because bootstrapping a Linux distro last updated 13 years ago will definitely be useful and not at all useless for development.

[2021-08-31 14:43] uberhacker commented on #6124
We're not like Homebrew and nothing is an exact copy.  We don't have casks or recipes; only packages.  There are plenty of things I don't like about the way they package their apps and this project tries hard NOT to be like them.  Instead of trolling, why don't you provide a pull request to fix something?

[2021-08-31 14:44] #6118 closed

[2021-08-31 14:44] #6124 closed

[2021-09-01 04:28] satmandu commented on #6117
Please see if the binary in https://github.com/skycocker/chromebrew/pull/5922 works?

[2021-09-01 04:30] satmandu commented on #6108
Same problem as with gcc. We just need a way of installing just the libraries of both without the entire compiler collection installed.

[2021-09-01 12:28] mjonsson1986 opened #6128 "kvm and wine packages?"
i dont remember if kvm and wine are in chromebrew repo?## Before you submit an issue
Please look up our issues, maybe your problem was mentioned before.

## Description
Provide a short description of your problem here.

If you executed a specific command:
[code]

Output:
[code]

## Versions and system information
chromebrew: `crew --version`

ChromeOS: `cat /etc/lsb-release`

Model: YOUR MODEL HER

[2021-09-01 14:06] satmandu commented on #6128
Wine: https://github.com/skycocker/chromebrew/blob/master/packages/wine.rb
kvm: no.

[2021-09-01 14:06] #6128 closed

[2021-09-01 16:32] supechicken commented on #6067
We can use `find` to find all absolute symlinks and use `realpath` to convert it to relative:
[code]
(this will not support for symlinks based on `dest_dir`)

FYI seems there are no symlinks that are based on #{CREW_DEST_DIR}
[code]

[2021-09-01 18:39] satmandu opened #6133 "Move Primary repo to https://github.com/chromebrew/chromebrew"
**To-do list.** _(Open for discussion)_
- [ ] Set date for changeover. _September 30, 2021?_
- [x] Push changes to new repo during transition period. (Started by @satmandu )
  - [ ] Use main as default branch on new repo?
- [x] Change URLs in `install.sh`
- [x] Update `crew` to modify git repo sync settings to point to new repo
- [x] Sync issues and PRs
- [x] Move Wiki (remove deprecated FAQ secti

[2021-09-01 20:44] satmandu commented on #6067
This doesn't capture symlinks made by installer scripts...

[2021-09-02 19:13] satmandu commented on #6102
@xinato Did you get this resolved?

[2021-09-03 14:51] brudolp opened #6135 "enabling hardware acceleration for sommelier fails"
## Description

sommelier on aarch64 falls back to software rendering, when using following command (I'm not really sure if this command should work :) ):

[code]

Output:
[code]
## Versions and system information
chromebrew: `crew --version`
1.16.4

ChromeOS: `cat /etc/lsb-release`
[code]
Model: Lenovo Duet, kukui

Architecture: `uname -m`
aarch64
## Additional information
.sommelier.env:
[code]

[2021-09-03 15:30] satmandu commented on #6135
I just realized that `MESA_LOADER_DRIVER_OVERRIDE` should probably not be
set for non-x86_64. Maybe unsettling that in `. sommelier.env` and
restarting sommelier might help on armv7l?

The only other thing I can think of is that this is an issue with the combo
of an aarch64 kernel and a armv7l userland.

(IIRC crostini on arm machines is a aarch64 VM via crosvm, which can load
aarch64 VMs from a a

[2021-09-03 16:42] xinato commented on #6102
Thank you for your interest in my problem.

At first I was reluctant to delete all of /usr/local. I dragged my feet on
this, and finally did it.

After I deleted /usr/local/*, Chromebrew still failed to install because of
two circular links, /home/chronos/user/.config and
/home/chronos/user/.local. I deleted both of these links, and installation
completed. After installing, the .local link was rec

[2021-09-03 20:02] brudolp commented on #6135
same as before, output didn't change:
[code]

[2021-09-10 11:14] linusrg1 opened #6149 "Add aarch64 firefox"
## Before you submit an issue
Please look up our issues, maybe your problem was mentioned before.

## Description
Provide a short description of your problem here.
I am unable to install aarch64 firefox on an arm chromebook, would it be possible to add this package into chromebrew
If you executed a specific command:
[code]

Output:
[code]

## Versions and system information
chromebrew: `crew --ver

[2021-09-10 14:47] satmandu commented on #6149
Note that you would need an `armv7l` version, since the userland on ChromeOS arm devices is not `aarch64`...

[2021-09-10 16:28] linusrg1 commented on #6149
ok sry I jsut assumed it would be aarch64 as thats what the error was about.

[2021-09-10 16:51] satmandu commented on #6149
No worries. The problem is that there isn't a prebuilt binary for armv7l and we're just using the prebuilt binaries of firefox.

You can use aarch64 installs of firefox within crostini though, since AFAIK that is a aarch64 VM.

Does that work for you?

[2021-09-13 17:33] aghebert opened #6176 "Firefox will not install"
I tried installing Firefox on a freshly powerwashed chromebook using chromebrew. After installing all the dependencies, it fails at the end when installing the Firefox package.

Output:
[code]
I tried googling and searching the git issues to see if this was a common problem, but I haven't found anyone who has run into it already.

Chromebrew version: 1.16.6

ChromeOS:
CHROMEOS_AUSERVER=https://too

[2021-09-13 18:34] satmandu commented on #6135
Can you drop this into `/usr/local/lib/crew/packages/mesa.rb`, do a `crew update compatible`, and then see what `glxinfo -B` gives you?

I just build this version of mesa to use a DRI_SEARCH_PATH which might be populated by actual files on your system.
[code]

[2021-09-14 01:04] satmandu commented on #6176
@uberhacker looks like we need a FHS3 opt-out for this package.

[2021-09-14 01:53] #6176 closed

[2021-09-14 03:06] aghebert opened #6189 "Firefox will not start: Cannot open display :0"
I installed firefox on a freshly powerwashed chromebook. When starting it, I receive the following error;

[code]
I cannot find anything similar to this, but I may have missed it.

Chromebrew version: 1.16.6

ChromeOS:
CHROMEOS_AUSERVER=https://tools.google.com/service/update2
CHROMEOS_RELEASE_BOARD=octopus-signed-mp-v31keys
CHROMEOS_RELEASE_BRANCH_NUMBER=88
CHROMEOS_RELEASE_BUILDER_PATH=octopus-r

[2021-09-14 03:08] uberhacker commented on #6189
@aghebert: Did you start the sommelier daemon?  If not, run `crew postinstall sommelier` and follow the instructions.

[2021-09-14 03:47] aghebert commented on #6189
I missed that. I wonder what other postinstall messages I missed...

[2021-09-14 03:47] #6189 closed

[2021-09-14 13:12] #6102 closed

[2021-09-14 13:52] uberhacker opened #6190 "[rust] Unable to build on i686"
[code]

[2021-09-14 13:55] uberhacker commented on #6190
Since rust is a build dependency for js78, I cannot build that either.

[2021-09-14 17:29] aghebert opened #6192 "[Question] Cannot get browser.tabs.drawInTitlebar to work in Firefox"
I can't get browser.tabs.drawInTitlebar to work in firefox. The checkbox appears, but the titlebar does not go away. Is there a .desktop config I should be using to hide the sommelier titlebar? I have already tried adding
[code]
to the firefox .desktop file, but that also does not work.

Chromebrew version: 1.16.6

ChromeOS:
CHROMEOS_AUSERVER=https://tools.google.com/service/update2
CHROMEOS_RELEA

[2021-09-14 18:26] uberhacker commented on #6192
@aghebert: Can you please attach a screenshot of what you are noticing?  I'll try to see if I can reproduce.

[2021-09-14 18:33] aghebert commented on #6192
Title bar enabled:
![Screenshot 2021-09-14 14 31 44](https://user-images.githubusercontent.com/30908336/133314082-09bfc51a-b1a9-40b0-926e-f8e8fecc0423.png)

Title bar disabled:
![Screenshot 2021-09-14 14 31 58](https://user-images.githubusercontent.com/30908336/133314042-e7c37c94-d549-4ef4-813a-2e9696c27c3e.png)

[2021-09-15 06:39] uberhacker commented on #6190
Debug info below:
[code]

[2021-09-15 06:41] uberhacker opened #6193 "[js78] Unable to build on i686"
Attempt to build with rust 1.54.0.
[code]

[2021-09-16 19:41] aghebert opened #6196 "Cannot get Firefox to use Wayland over XWayland"
![Screenshot 2021-09-16 15 34 27](https://user-images.githubusercontent.com/30908336/133674828-ceeec46f-e301-4c51-8e74-42ebf61b240c.png)

I've been trying to get firefox to use wayland over xwayland for the past few days, but It will not change no matter what I do. I have tried the following:

- Starting Firefox using `MOZ_ENABLE_WAYLAND=1 firefox`
- Starting Firefox using `GDK_BACKEND=wayland MOZ

[2021-09-17 17:01] supechicken commented on #4295
See #6197

[2021-09-18 00:27] aghebert opened #6198 "Receiving error after installing Flatpak"
After installing Flatpak, when I open a new terminal or source my .bashrc file, I recieve the following errors;

[code]

I tried deleting the broken linked file, and the error didn't show the next time I opened a new terminal, but it came back after that and stayed.

I have little understanding of what the '---user' error is about, and am not sure if it is related.

I checked the `packages/flatpak

[2021-09-18 15:08] satmandu commented on #6198
I think this broke with M90's introduction of `nosymfollow`.

Any workaround for this will have to deal with that.

[2021-09-18 16:50] aghebert commented on #6198
In the meantime, is this something I could workaround by mounting whatever is affected without `nosymfollow`?

[2021-09-18 18:20] satmandu commented on #6198
You could try remounting the home partitions with `-o remount,symfollow` ...

[2021-09-18 20:25] aghebert commented on #6198
That worked. I used `sudo mount -o remount,rw,seclabel,nosuid,nodev,noexec,noatime,symfollow,resgid=20119,commit=600,data=ordered /home/chronos/user`
That got rid of the symlinking error.
Any insight for the `error: Unknown option --user` error?

[2021-09-19 00:31] him5 opened #6207 "error while loading shared libraries: libssh.so.4: cannot open shared object file: No such file or directory"
## Before you submit an issue
Please look up our issues, maybe your problem was mentioned before.
(only found a closed issue that doesn't specify a solution)

## Description
I tried installing PHP w/ crew, but curl doesn't work anymore

If you executed a specific command:
crew install php
crew install {any package} or curl {options} {url}

Output:
`error while loading shared libraries: libssh.so.4

[2021-09-19 02:56] uberhacker commented on #6207
Try `crew install libcurl` and attempt again.  This is likely an issue with the dependency resolver not installing packages in the correct order.

[2021-09-19 04:20] supechicken commented on #6198
According to the `flatpak` wrapper:
https://github.com/skycocker/chromebrew/blob/691e2ff7d5d14355704dbb2291a54cecf0356de2/packages/flatpak.rb#L127-L132
The `--run` parameter will be added to the command always, however `flatpak` accept it only when install/uninstall acion

[2021-09-19 17:19] him5 commented on #6207
i just removed libcurl and everything worked again

[2021-09-19 17:38] aghebert commented on #6198
Sorry, I'm only slightly more knowledgeable about BASH than a novice, so I dont understand what you're trying to tell me, nor the code you showed me.

[2021-09-20 14:05] #6207 closed

[2021-09-20 16:48] saltedcoffii opened #6212 "aria2 links to libc++, not libstdc++"
Aria2 (more specifically the binary aria2c), links to libc++ from LLVM, not libstdc++ from gcc. This should be fixed as the aria2 package doesn't depend on LLVM. Considering the size of the LLVM package, it would be prudent to recompile the binary instead of adding a dependency.
![Screenshot 2021-09-20 08 58 42](https://user-images.githubusercontent.com/55339220/134041682-cd5d4f49-8456-4fdd-8f81-b

[2021-09-20 18:38] uberhacker commented on #6212
Agreed.  Thank you for the update @saltedcoffii.

[2021-09-21 07:33] uberhacker opened #6215 "[opera] error while loading shared libraries: libcom_err.so.3: cannot open shared object file: No such file or directory"

[2021-09-21 07:43] uberhacker opened #6217 "[vivaldi] postinstall error"
[code]

[2021-09-21 07:44] ThatGeekyWeeb opened #6218 "[Suggestion] Add mesa patch for nyan boards"
There are a few chromebooks using the nyan board, and until just recently I have been searching for a way to get hardware acceleration working on them. I recently came across https://github.com/hexdump0815/linux-mainline-tegra-k1-kernel/issues/4; which features a relatively new patch that makes mesa/opengl/glamor work _at all_ on these boards.

The patch is just a hack in it's current state, and t

[2021-09-21 13:25] satmandu commented on #6218
Do any other arm64 boards use the nouveau driver? I'd be happy to add it to the mesa build for arm64, so long as it doesn't break anything.

[2021-09-21 13:25] #6215 closed

[2021-09-22 14:38] satmandu opened #6219 "neon and/or audacious_plugins is broken, and need(s) an update and/or rebuild"
(when running audacious)
[code]

[2021-09-22 16:11] satmandu opened #6220 "gspell & tepl_6 need rebuild due to newer libicu."
noticed by running gedit...

[2021-09-23 14:12] uberhacker opened #6226 "[freetype] Conflict with freetype_sub"
[code]

[2021-09-23 17:02] satmandu commented on #6226
That's on purpose to deal with the circular dependencies of freetype and freetype_sub.  We should just whitelist that.

[2021-09-23 17:44] uberhacker commented on #6226
I have an idea how to fix it elegantly.  I'll push up after the i686 binary is generated.

[2021-09-24 02:20] satmandu commented on #6212
This is a gcc dependency issue, not an llvm issue.
On my system:
[code]
Can you try updating to gcc11 and see if the problem goes away?
[code]
That should then show this:
![image](https://user-images.githubusercontent.com/1096701/134608516-cd0c39a7-c433-4787-8e05-e89d24faeae1.png)

[2021-09-24 02:25] satmandu commented on #6212
Upon further thought, what does this give you on your system?
[code]

[2021-09-24 07:27] #6220 closed

[2021-09-24 12:53] satmandu opened #6234 "upx may be causing issues with compressed binaries"
https://github.com/upx/upx/issues/529

[2021-09-24 12:53] satmandu commented on #6234
https://github.com/skycocker/chromebrew/pull/6227#issuecomment-926405856

[2021-09-24 14:29] uberhacker opened #6235 "[mesa] Unable to build on i686"
[code]

[2021-09-24 14:35] #6219 closed

[2021-09-24 14:40] #6149 closed

[2021-09-24 15:33] satmandu commented on #6234
As per https://github.com/upx/upx/issues/529#issuecomment-926678044 This appears to be a bug with the armv7l binutils `size` binary which does not report information correctly for upx compressed binaries.

[2021-09-24 15:33] #6234 closed

[2021-09-24 15:45] satmandu commented on #6235
hmmm... I'll do a `crew files libunwind` after the llvm build finishes on i686.

Also might want to try a `crew reinstall -s libunwind` to see if that helps.

[2021-09-24 16:16] uberhacker commented on #6235
I noticed `/usr/local/lib/libunwind.so` was missing so `crew reinstall libunwind` fixed it.  I have to wonder how it was removed without the package removal.  Conflict with another package file?

[2021-09-24 16:16] #6235 closed

[2021-09-24 17:21] saltedcoffii opened #6237 "Firefox installs into /usr/local/firefox"
Firefox currently installs into `/usr/local/firefox`. Not only is this FHS noncompliant, this just violates UNIX and GNU in general and bothers me. Firefox should install into `/usr/local/opt/firefox` or `/usr/local/opt/mozilla/firefox`.

[2021-09-24 17:25] uberhacker commented on #6237
Good luck trying to relocate it to a "compliant" location.  The binaries expect to find files in specific locations and moving it around causes files to be missed which breaks the executable.  I would argue the "proper" place is `/usr/local/share/mozilla` but that is an argument for another day.

[2021-09-24 18:39] satmandu commented on #6235
llvm 12.0.1 has unwind too... but not a `libunwind.so`...

[2021-09-24 20:11] saltedcoffii commented on #6237
Alright, I will do some playing around and see if I can get it to work.

[2021-09-25 06:19] uberhacker opened #6240 "Are gedit and gnome_text_editor duplicate packages?"

[2021-09-25 12:38] satmandu commented on #6240
Nope. gnome-text-editor is the gtk4 based replacement for gedit in Gnome 42.

[2021-09-25 13:36] #6240 closed

[2021-09-25 22:20] #6117 closed

[2021-09-26 01:13] satmandu commented on #6190
Getting as far as this:
[code]

[2021-09-26 04:23] #6218 closed

[2021-09-26 04:25] #6190 closed

[2021-09-26 04:36] uberhacker opened #6250 "[curl] Unable to download"
[code]

[2021-09-26 04:47] satmandu commented on #6250
This is on i686?

On x86_64 I'm seeing this:
![image](https://user-images.githubusercontent.com/1096701/134794044-87f61bf0-0ea4-4466-b26f-1e83edd0072d.png)

[2021-09-26 04:48] satmandu commented on #6250
[code]

[2021-09-26 05:09] satmandu commented on #6250
Does this work?
[code]

[2021-09-26 05:44] satmandu commented on #6108
Add `#{CREW_LIB_PREFIX}/libLLVM-12.so` to `CREW_ESSENTIAL_FILES` and this problem sort of goes away if you delete llvm after installing mesa...

[2021-09-26 06:11] Mia-Rain opened #6253 "[elogind] installing elogind does not install it as a libsystemd replacement"
elogind functions as a libsystemd and systemd-login replacement and has perfect compatibility; However one needs to actually link the elogind headers and pkgconfig files to the place where libsystemd should be; this is standard protocol, and is done by almost every distro not using systemd.

Fixing this is simple, here are the exact lines that alpine uses;
[code]
just adjust these to use `/usr/loc

[2021-09-26 06:41] uberhacker commented on #6250
Yes, this issue is isolated to i686.
[code]

[2021-09-26 18:31] satmandu commented on #6253
Any thoughts on whether we need to be able to start elogind as a system service?

elogind is in some ways systems patched not to need to be PID 1, right?

I was thinking of adding openrc and then for instance doing this:

[code]

[2021-09-26 18:48] satmandu commented on #6250
hmm... it's using ares-c as the resolver... I wonder if there is an issue with that compile.

At least we're not getting a segfault though!

[2021-09-26 19:11] satmandu opened #6254 "Deleting a package file for an installed package confuses crew update"
Simple test would be to install crew_launcher, and then do a crew update, which will then remove the `crew_launcher.rb` file since it hasn't been merged yet.

e.g.
[code]

Now I see this:
[code]

Note how you see `audacious` in the crew update list, and then after reinstalling `audacious`, `mpg123` appears?

That's the bug...

@uberhacker @saltedcoffii @supechicken any ideas?

[2021-09-26 19:47] satmandu commented on #6254
Also running this shows the issue:
[code]

[2021-09-26 20:02] ThatGeekyWeeb commented on #6253
hmm, that would work, but I don't think we have anything that actually uses the elogin daemon yet

[2021-09-27 17:42] #6254 closed

[2021-09-28 02:56] uberhacker opened #6263 "[glib] Chicken before the egg scenario?"
[code]

[2021-09-28 02:58] uberhacker commented on #6263
Actually, glib-compile-schemas segfaults on i686:
[code]

[2021-09-28 03:00] #6263 closed

[2021-09-28 05:25] #6019 closed

[2021-10-01 02:15] jidro opened #6267 "Failed to execute install.sh, failed to install chromebrew"
## Description
An error was reported when executing `Downloading Bootstrap packages`
[code]

Did not execute any specific commands , only the following commands were executed:
[code]

No errors were reported before, until the following output is displayed , Output:
[code]

## Versions and system information

ChromeOS: `cat /etc/lsb-release`
[code]

Model: RedmiBook 14 II

Architecture: `uname -m`

[2021-10-01 07:29] uberhacker opened #6268 "Packages that need updates => easy <="
The packages below do not require binaries so bumping the version and changing the source (listed) + hash (sha256sum [source]) should be all that is necessary to update.
- [ ] acli | https://github.com/acquia/cli/archive/refs/tags/1.15.0.tar.gz | 1.14.0 | 1.15.0
- [ ] flutter | https://github.com/flutter/flutter/archive/refs/tags/2.5.2.tar.gz | 2.5.1 | 2.5.2
- [ ] github_desktop | https://github.c

[2021-10-02 04:22] uberhacker commented on #6268
For those who have never done this, the steps to update are outlined below:

1. Fork this repo (link located in the top right corner of this screen).
2. Clone your forked repo locally: `git clone https://github.com/yourname/chromebrew.git`.  Replace yourname with your repo.
3. Change to the packages directory: `cd chromebrew/packages`.
4. Click on the link of the package you wish to update above (

[2021-10-02 18:00] satmandu commented on #6268
Is there a way to automate this for this sort of package?  E.g. RSS feed
for package updates?

On Sat, Oct 2, 2021, 12:22 AM Ed Reel ***@***.***> wrote:

[2021-10-02 18:49] uberhacker commented on #6268
We need smart people like you to figure that out. :)

[2021-10-03 21:01] slashtechno opened #6272 "Cannot run OBS"
Provide a short description of your problem here.
I tried to install OBS on my Chromebook and could not run it.
If you executed a specific command:
[code]

Output:
[code]
Output of `obs`:
[code]

## Versions and system information
Chromebrew: `1.16.9`

ChromeOS: `CHROMEOS_RELEASE_BUILD_NUMBER=14092`

Architecture: `x86_64`

## Additional information
The first time, I used `crew reinstall obs` sinc

[2021-10-04 17:42] saltedcoffii commented on #6105
Duplicate to #4572, closing

[2021-10-04 17:42] #6105 closed

[2021-10-04 17:44] saltedcoffii commented on #6079
Perhaps a `crew build -i` would work, -i being for install binary after successful build.

[2021-10-06 11:57] #5091 closed

[2021-10-10 17:12] supechicken opened #6285 "Add desktop notification support"
Once we get `crew-launcher` merged, the only missing piece of integration with CrOS is about  notifications, here are two possible ways to do it:

- Using [`notificationd`](https://chromium.googlesource.com/chromiumos/platform2/+/HEAD/vm_tools/notificationd/) from Crostini (not sure will that works)
- Creating a notification daemon (create a dbus interface called `org.freedesktop.notifications.Not

[2021-10-10 19:00] slashtechno commented on #6272
Thank you.

[2021-10-10 20:22] satmandu opened #6286 "Chromebrew Launcher broken symlink"
Getting this issue:
![image](https://user-images.githubusercontent.com/1096701/136711828-3bdb148a-9308-4ec8-9152-dbd5e139d0b8.png)

I don't think you made the changes I mentioned in the PR's thread. That fixes this issue:
[code]

[2021-10-10 20:34] satmandu commented on #6286
![image](https://user-images.githubusercontent.com/1096701/136712283-e6722822-a8a2-4566-a742-b6180090c05d.png)

[2021-10-11 02:14] uberhacker commented on #6286
I don't have this problem.

[2021-10-11 02:16] uberhacker opened #6287 "[crew_launcher] Missing dependency"
[code]
If we can figure out how to NOT depend on llvm, that would be better.

[2021-10-11 02:52] uberhacker opened #6288 "[rust] cargo and rustup not found"
[code]
The symlinks command broke the absolute symlinks that worked.  Not good.  This means we have to create relative symlinks that work so the symlinks command won't break working symlinks.  Not ideal.

[2021-10-11 13:42] satmandu commented on #6287
libomp is only 1Mb.

The ur-issue here is still handling dependencies on small parts of other packages.

[2021-10-11 15:49] #4341 closed

[2021-10-11 21:18] #6286 closed

[2021-10-11 21:48] aghebert opened #6293 "Crew-launcher fails when trying to run"
Tried to run crew-launcher after installing, but was met with the following error.
[code]

## Versions and system information
chromebrew: 1.17.0

ChromeOS:
CHROMEOS_RELEASE_BOARD=octopus-signed-mp-v31keys
CHROMEOS_RELEASE_BRANCH_NUMBER=66
CHROMEOS_RELEASE_BUILDER_PATH=octopus-release/R93-14092.66.0
CHROMEOS_RELEASE_BUILD_NUMBER=14092
CHROMEOS_RELEASE_BUILD_TYPE=Official Build
CHROMEOS_RELEASE_CHRO

[2021-10-12 20:12] satmandu commented on #6293
I also see the same issue.

[2021-10-14 16:54] saltedcoffii commented on #6288
As a temporary fix, one can run `for i in /usr/local/share/cargo/bin/*; do ln -sfv ${i} /usr/local/bin; done`

[2021-10-14 17:34] Polytelus opened #6298 "Invalid URI Error when trying to install core packages (glibc)"
Whenever the default command to install `curl -Ls git.io/vddgY | bash` is issued, **ruby** gives the following error:

[code]
This error alone doesn't let the script continue, and it's the first package right after the package list for install appears.
Chromebrew can't install because of this. Help is appreciated.

CROS Version: `R93-14092.46.0 (Stable)`
Chromebrew: `1.17.1`
Model: `Samsung NP370E

[2021-10-14 17:54] supechicken commented on #6298
Can you provide the output of `crew const LIBC_VERSION`?

[2021-10-14 18:09] #6298 closed, assigned to nobody

[2021-10-14 18:32] Polytelus commented on #6298
Can confirm, it works!

[2021-10-14 21:02] saltedcoffii opened #6300 "Crew upgrade is broken"
[code]

[2021-10-15 17:18] supechicken commented on #6300
https://github.com/skycocker/chromebrew/blob/6dca7522ee4e132dab63b27a1c7eff55977a54b7/bin/crew#L578

There should have a [0] after `.select`, I will test it hours later

[2021-10-15 18:47] #6293 closed

[2021-10-16 02:07] Thisuu opened #6304 "App Request (Binance)"
**Binance** is the largest cryptocurrency exchange by trading volume.

Since Binance app on PlayStore is not available for ChromeOS, it would be really useful to have it as a native software.

Source: https://ftp.binance.com/electron-desktop/linux/production/binance-amd64-linux.deb

Here's the aur PKGBUILD file of Binance for reference, https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=binanc

[2021-10-16 02:17] saltedcoffii commented on #6304
This would not be difficult to put together. Maybe you would be willing to create the packagefile? Check out `/usr/local/lib/crew/packages/template.rb.template` to give you an idea of how you might make the package.

[2021-10-16 02:31] Thisuu commented on #6304
Just to see how it goes, I tried executing the Binance binary. And here was the result:
![Screenshot 2021-10-16 8 00 50 AM](https://user-images.githubusercontent.com/13273054/137570238-412fb801-be22-4e04-a3e2-d95c64df95b0.png)

[2021-10-16 03:49] #6300 closed

[2021-10-17 02:06] uberhacker opened #6307 "[glibc] Unable to install due to wrong LIBC_VERSION"
[code]
[code]
Should be 2.23

[2021-10-17 02:32] satmandu commented on #6307
@supechicken I think you broke this when you modified `lib/const.rb` to have `LIBC_VERSION = %x[/#{ARCH_LIB}/libc.so.6][/version ([\d.]+)\./, 1]`

[2021-10-17 06:01] supechicken commented on #6307
The present one works for me:
[code]
There may have been some differences in output between versions?

[2021-10-17 07:50] uberhacker commented on #6307
Yes, there is a slight difference and unless you have the actual hardware to test, there is no way you would have know.  For the record, the difference is `,` vs `.`.  See below:
armv7l:
[code]
i686:
[code]
x86_64:
[code]

[2021-10-18 04:30] #5806 closed

[2021-10-18 04:35] saltedcoffii commented on #4887
Crew no longer chokes on syntax errors from package files.

[2021-10-18 04:35] #4887 closed

[2021-10-18 12:37] #6307 closed

[2021-10-18 17:17] #3673 closed

[2021-10-18 17:19] #3187 closed

[2021-10-18 17:19] #3358 closed

[2021-10-18 17:24] saltedcoffii commented on #6116
Please split each app request into different issues, thank you!

[2021-10-18 17:24] #6116 closed

[2021-10-19 05:06] sandeep-gh opened #6317 "cbrew installation fails on lzip checksum mismatch"
## Description
unable to install chromebrew or lzip due to checksum mismatch

If you executed a specific command:
[code]

Output:
[code]

## Versions and system information
chromebrew: 1.17.5

ChromeOS:
[code]

Model: lenovo duet

Architecture: `Linux localhost 4.19.202-12117-ga5d7f069c423 #1 SMP PREEMPT Mon Oct 11 22:42:51 PDT 2021 aarch64 GNU/Linux`

[2021-10-20 16:35] sgtcoolhero opened #6319 "Ethtool dependency"
Using certain things such as sudo airmon-ng give the output [Please install the ethtool package for your distro.]

this has been tested on multiple chromebooks.

[2021-10-20 18:46] uberhacker commented on #6317
Yeah, the quick and dirty way to avoid a powerwash is the following:
[code]
Obviously, you only want to do this if there is nothing to salvage in `/usr/local`.

[2021-10-20 21:57] satmandu commented on #6288
Also, the rustup symlink just points to cargo anyways...

My guess is that this isn't working properly?
[code]

[2021-10-21 06:16] sandeep-gh commented on #6317
I retried the installation. Went through fine this time.

[2021-10-23 04:20] #6319 closed, assigned to nobody

[2021-10-23 22:14] #6288 closed, assigned to nobody

[2021-10-24 06:52] uberhacker opened #6326 "Installation error in gcc postinstall"
[code]

[2021-10-24 18:24] #6326 closed, assigned to nobody

[2021-10-28 15:39] Average72 opened #6337 "webkit2gtk needs update to fix recent CVE"
I typically need webkit2gtk_4. Initially I installed the current binary inthe repository (2.32.1), which worked fine.

I have attempted to compile more recent versions (2.34.0, 2.34.1) but it seems I am running low on ram (the shell terminal close suddenly after a couple of hours and I am left with a couple of zombie processes "ccache"). Maybe it is something else, I am not an expert. I am a bit c